- if taxon.children.length != 0
  %ul
    - taxon.children.each do |child|
      %li{id: "#{child.id}", rel: "taxon"}
        %a{href: "#"}= child.name
        - if child.children.length > 0
          = render partial: 'taxon', locals: { taxon: child }
