.row
  %input.four.columns.alpha{type: 'button', value: 'Save Changes', 'ng-click' => 'update()'}
  %input.four.columns.alpha{type: 'button', value: 'Reset Stock to Defaults', 'ng-click' => 'resetStock()'}
  .twelve.columns.omega
    = render 'spree/admin/shared/status_message'
