- content_for :html_title do
  = t("admin.variant_overrides.index.title")

- content_for :page_title do
  %h1.page-title= t("admin.variant_overrides.index.title")
  %a.with-tip{ 'data-powertip' => "#{t("admin.variant_overrides.index.description")}" }=t('admin.whats_this')

= render partial: 'spree/admin/shared/product_sub_menu'
