.row
  .two.columns.alpha
    =t :hub
  .four.columns
    %select.select2.fullwidth#hub_id{ 'ng-model' => 'hub_id', name: 'hub_id', 'ng-options' => 'hub.id as hub.name for hub in hubs' }
  .ten.columns.omega
    %input{ type: 'button', value: t(:go), 'ng-click' => 'selectHub()' }
