%div.sixteen.columns.alpha.omega#loading{ ng: { cloak: true, if: 'hub_id && products.length == 0 && RequestMonitor.loading' } }
  %img.spinner{ src: "/assets/spinning-circles.svg" }
  %h1= t('.loading_inventory')
