%div.sixteen.columns.alpha.omega#loading{ ng: { cloak: true, if: 'hub_id && products.length == 0 && RequestMonitor.loading' } }
  = render partial: "components/admin_spinner"
  %h1
    = t('.loading_inventory')
