%table#new-products{ ng: { show: 'views.new.visible && filteredProducts.length > 0' } }
  %col.producer{ width: "20%" }
  %col.product{ width: "20%" }
  %col.variant{ width: "30%" }
  %col.add{ width: "15%" }
  %col.hide{ width: "15%" }
  %thead
    %tr
      %th.producer Producer
      %th.product Product
      %th.variant Variant
      %th.add Add
      %th.hide Hide
  %tbody{ bindonce: true, ng: { repeat: 'product in filteredProducts | limitTo:productLimit' } }
    %tr{ id: "v_{{variant.id}}", ng: { repeat: 'variant in product.variants | inventoryVariants:hub.id:views' } }
      %td.producer{ bo: { bind: 'producersByID[product.producer_id].name'} }
      %td.product{ bo: { bind: 'product.name'} }
      %td.variant
        %span{ bo: { bind: 'variant.display_name || ""'} }
        .variant-override-unit{ bo: { bind: 'variant.unit_to_display'} }
      %td.add
        %button.fullwidth.icon-plus{ ng: { click: "setVisibility(hub.id,variant.id,true)" } }
          = t(:add)
      %td.hide
        %button.fullwidth.hide.icon-remove{ ng: { click: "setVisibility(hub.id,variant.id,false)" } }
          = t(:hide)
