%hr.divider.sixteen.columns.alpha.omega{ ng: { show: 'newProducts.length > 0 && addingNewVariants != false' } }

%alert-row{ message: "There are {{ newProducts.length }} new products available to add to your inventory.",
  button: { text: 'Review Now', action: "addingNewVariants = true" },
  close: "addingNewVariants = false",
  ng: { show: 'newProducts.length > 0 && addingNewVariants == undefined' } }

%div{ ng: { show: 'newProducts.length > 0 && addingNewVariants' } }
  .sixteen.columns.alpha.omega.margin-bottom-20
    .two-thirds.column.alpha.text-normal
      Add products to your inventory by clicking 'Add', or hide them from view by clicking 'Ignore'. Don't worry, you can always change your mind later.
    .one-third.column.omega
      %button.fullwidth{ type: 'button', ng: { click: 'addingNewVariants = false' } }
        %i.icon-chevron-left
        Back to my inventory
    -# .one-third.column
    -#   %button.text-big.fullwidth{ type: 'button', ng: { click: 'setVisibility(hub.id,variantIDs(filteredNewProducts),true)' } }
    -#     %i.icon-plus
    -#     Add All ({{filteredNewProducts.length}})
    -# .one-third.column.omega
    -#   %button.text-big.fullwidth{ type: 'button', ng: { click: 'setVisibility(hub.id,variantIDs(filteredNewProducts),false)' } }
    -#     %i.icon-remove
    -#     Ignore All ({{filteredNewProducts.length}})

  %h2#no_results{ ng: { show: 'filteredNewProducts.length == 0' } }
    No new products match the filters provided.

  %table#new-variants{ ng: { show: 'filteredNewProducts.length > 0' } }
    %col.producer{ width: "20%" }
    %col.product{ width: "20%" }
    %col.variant{ width: "40%" }
    %col.add{ width: "10%" }
    %col.ignore{ width: "10%" }
    %thead
      %tr
        %th.producer Producer
        %th.product Product
        %th.variant Variant
        %th.add Add
        %th.ignore Ignore
    %tbody{ bindonce: true, ng: { repeat: 'product in filteredNewProducts = (newProducts = (products | hubPermissions:hubPermissions:hub.id | newInventoryProducts:hub.id) | attrFilter:{producer_id:producerFilter} | filter:query) | limitTo:productLimit' } }
      %tr{ id: "nv_{{variant.id}}", ng: { repeat: 'variant in product.variants | newInventoryVariants:hub.id'} }
        %td.producer{ bo: { bind: 'producersByID[product.producer_id].name'} }
        %td.product{ bo: { bind: 'product.name'} }
        %td.variant
          %span{ bo: { bind: 'variant.display_name || ""'} }
          .variant-override-unit{ bo: { bind: 'variant.unit_to_display'} }
        %td.add
          %input.fullwidth{ :type => 'button', value: "Add", ng: { click: "setVisibility(hub.id,variant.id,true)" } }
        %td.ignore
          %input.fullwidth{ :type => 'button', value: "Ignore", ng: { click: "setVisibility(hub.id,variant.id,false)" } }

  .sixteen.columns.alpha.omega.text-center{ ng: {show: 'productLimit < filteredNewProducts.length'}}
    %input{ type: 'button', value: 'Show More', ng: { click: 'productLimit = productLimit + 10' } }
    or
    %input{ type: 'button', value: "Show All ({{ filteredNewProducts.length - productLimit }} More)", ng: { click: 'productLimit = filteredNewProducts.length' } }
