%table.index.bulk{ ng: {show: 'hub'}}
  %thead
    %tr
      %th Producer
      %th Product
      %th Price
      %th On hand
  %tbody{bindonce: true, ng: {repeat: 'product in products | hubPermissions:hubPermissions:hub.id | attrFilter:{producer_id:producerFilter} | filter:query' } }
    = render 'admin/variant_overrides/products_product'
    = render 'admin/variant_overrides/products_variants'
