.text-center
  %input{ type: 'button', value: 'Show More', ng: { click: 'productLimit = productLimit + 10' } }
  or
  %input{ type: 'button', value: "Show All ({{ filteredProducts.length - productLimit }}  More)", ng: { click: 'productLimit = filteredProducts.length' } }
