= render 'admin/variant_overrides/header'
= render 'admin/variant_overrides/data'

%div{ ng: { app: 'admin.variantOverrides', controller: 'AdminVariantOverridesCtrl', init: 'initialise()' } }
  = render 'admin/variant_overrides/filters'

  %form{ name: 'variant_overrides_form' }
    %save-bar{ save: "update()", form: "variant_overrides_form" }
    = render 'admin/variant_overrides/products'
