.content{ "darker-background" => true }
  .row.footer-pad
    .small-12.columns{ "data-controller": "login-modal" }
      %strong
        = t '.require_customer_login'
      %p
      - if spree_current_user.nil?
        %p
          = t('.require_login_link_html', login: ('<a data-action="click->login-modal#call">' + t('.login') + '</a>').html_safe)
        %p
          = t('.require_login_2_html', contact: link_to(t('.contact'), '#contact'), enterprise: current_distributor.name)
      - else
        = t('.require_customer_html', contact: link_to(t('.contact'), '#contact'), enterprise: current_distributor.name)
