.pagination{ 'ng-show' => 'enterprises[exchange.enterprise_id].last_page_loaded < enterprises[exchange.enterprise_id].num_of_pages && !productsLoading()'}
  .button{ 'ng-click' => 'loadMoreExchangeProducts(exchange)' }
    {{ 'js.admin.panels.exchange_products.load_more_variants' | t }}
  .button{ 'ng-click' => 'loadAllExchangeProducts(exchange)' }
    {{ 'js.admin.panels.exchange_products.load_all_variants' | t }}

.sixteen.columns.alpha#loading{ 'ng-show' => 'productsLoading()' }
  %br
  %i.spinner.fa.fa-spin.fa-circle-o-notch
  %h1
    {{ 'js.admin.panels.exchange_products.loading_variants' | t }}
