%fieldset.alpha.eleven.columns.no-border-bottom#gateway_fields
  %legend{ align: "center"}
    = t(:provider_settings)
  .preference-settings{ ng: { controller: "StripeController" } }
    = fields_for :payment_method, @payment_method do |payment_method_form|
      = payment_method_form.label :stripe_account_owner
      %br
      -# = payment_method_form.collection_select(:preferred_enterprise_id, @hubs, :id, :name, {:include_blank => true}, {:class => "select2 fullwidth"})
      %input.ofn-select2.fullwidth#payment_method_preferred_enterprise_id{ type: 'number',
        name: 'payment_method[preferred_enterprise_id]',
        data: 'shops', ng: { model: 'paymentMethod.preferred_enterprise_id' } }
