---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=378282246310005&card[exp_month]=12&card[exp_year]=2025&card[cvc]=314
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
<<<<<<< HEAD
      - '{"last_request_metrics":{"request_id":"req_WvheiVlIA3GAJn","request_duration_ms":1042}}'
      Stripe-Version:
      - '2023-10-16'
      X-Stripe-Client-User-Agent:
      - '{"bindings_version":"10.6.0","lang":"ruby","lang_version":"3.1.4 p223 (2023-03-30)","platform":"x86_64-linux","engine":"ruby","publisher":"stripe","uname":"Linux
        version 6.5.0-15-generic (buildd@bos03-amd64-040) (x86_64-linux-gnu-gcc-12
        (Ubuntu 12.3.0-1ubuntu1~22.04) 12.3.0, GNU ld (GNU Binutils for Ubuntu) 2.38)
        #15~22.04.1-Ubuntu SMP PREEMPT_DYNAMIC Fri Jan 12 18:54:30 UTC 2","hostname":"ff-LAT"}'
=======
      - '{"last_request_metrics":{"request_id":"req_53teNpwYJyF0SH","request_duration_ms":909}}'
      Stripe-Version:
      - '2023-10-16'
      X-Stripe-Client-User-Agent:
      - '{"bindings_version":"10.6.0","lang":"ruby","lang_version":"3.1.4 p223 (2023-03-30)","platform":"x86_64-darwin19","engine":"ruby","publisher":"stripe","uname":"Darwin
        MacBook-Pro.local 23.3.0 Darwin Kernel Version 23.3.0: Wed Dec 20 21:28:58
        PST 2023; root:xnu-10002.81.5~7/RELEASE_X86_64 x86_64","hostname":"MacBook-Pro.local"}'
>>>>>>> 97b18eeb8a (Filter out STRIPE_INSTANCE_SECRET_KEY from cassettes)
      Accept-Encoding:
      - gzip;q=1.0,deflate;q=0.6,identity;q=0.3
      Accept:
      - "*/*"
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Wed, 07 Feb 2024 16:28:45 GMT
=======
      - Tue, 06 Feb 2024 22:47:44 GMT
>>>>>>> 97b18eeb8a (Filter out STRIPE_INSTANCE_SECRET_KEY from cassettes)
      Content-Type:
      - application/json
      Content-Length:
      - '932'
      Connection:
      - keep-alive
      Access-Control-Allow-Credentials:
      - 'true'
      Access-Control-Allow-Methods:
      - GET,HEAD,PUT,PATCH,POST,DELETE
      Access-Control-Allow-Origin:
      - "*"
      Access-Control-Expose-Headers:
      - Request-Id, Stripe-Manage-Version, Stripe-Should-Retry, X-Stripe-External-Auth-Required,
        X-Stripe-Privileged-Session-Required
      Access-Control-Max-Age:
      - '300'
      Cache-Control:
      - no-cache, no-store
      Content-Security-Policy:
      - report-uri https://q.stripe.com/csp-report?p=v1%2Fpayment_methods; block-all-mixed-content;
        default-src 'none'; base-uri 'none'; form-action 'none'; frame-ancestors 'none';
        img-src 'self'; script-src 'self' 'report-sample'; style-src 'self'
      Idempotency-Key:
<<<<<<< HEAD
      - 151a99f0-159d-43fd-b5a6-e0d133d9743f
      Original-Request:
      - req_Xspq0ChIRGM9cV
      Request-Id:
      - req_Xspq0ChIRGM9cV
=======
      - b4905c52-497c-49a2-bfff-dd9516ae3cd1
      Original-Request:
      - req_pxkCEeiAsgMBDw
      Request-Id:
      - req_pxkCEeiAsgMBDw
>>>>>>> 97b18eeb8a (Filter out STRIPE_INSTANCE_SECRET_KEY from cassettes)
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      Vary:
      - Origin
      X-Stripe-Non-Api-Overhead-Duration-Ms:
<<<<<<< HEAD
      - '229.0'
=======
      - '242.0'
>>>>>>> 97b18eeb8a (Filter out STRIPE_INSTANCE_SECRET_KEY from cassettes)
      X-Stripe-Routing-Context-Priority-Tier:
      - api-testmode
      Strict-Transport-Security:
      - max-age=63072000; includeSubDomains; preload
    body:
      encoding: UTF-8
      string: |-
        {
<<<<<<< HEAD
          "id": "pm_1OhDzNKuuB1fWySnfw5SrR7D",
=======
          "id": "pm_1OgxQaKuuB1fWySn3IkdtOZy",
>>>>>>> 97b18eeb8a (Filter out STRIPE_INSTANCE_SECRET_KEY from cassettes)
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "amex",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "zYCOiuhqkk4w2g2M",
            "funding": "credit",
            "generated_from": null,
            "last4": "0005",
            "networks": {
              "available": [
                "amex"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": false
            },
            "wallet": null
          },
<<<<<<< HEAD
          "created": 1707323325,
=======
          "created": 1707259664,
>>>>>>> 97b18eeb8a (Filter out STRIPE_INSTANCE_SECRET_KEY from cassettes)
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
<<<<<<< HEAD
  recorded_at: Wed, 07 Feb 2024 16:28:45 GMT
=======
  recorded_at: Tue, 06 Feb 2024 22:47:44 GMT
>>>>>>> 97b18eeb8a (Filter out STRIPE_INSTANCE_SECRET_KEY from cassettes)
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
<<<<<<< HEAD
      string: amount=100&currency=eur&payment_method=pm_1OhDzNKuuB1fWySnfw5SrR7D&payment_method_types[0]=card&capture_method=manual
=======
      string: amount=100&currency=eur&payment_method=pm_1OgxQaKuuB1fWySn3IkdtOZy&payment_method_types[0]=card&capture_method=manual
>>>>>>> 97b18eeb8a (Filter out STRIPE_INSTANCE_SECRET_KEY from cassettes)
    headers:
      Authorizati[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3OhDzNKuuB1fWySn1O4S2vjJ/confirm
=======
  recorded_at: Tue, 06 Feb 2024 22:47:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3OgxQaKuuB1fWySn0ktCeyVp/confirm
>>>>>>> 97b18eeb8a (Filter out STRIPE_INSTANCE_SECRET_KEY from cassettes)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
<<<<<<< HEAD
      - '{"last_request_metrics":{"request_id":"req_AsaZRWOlEkMfXA","request_duration_ms":519}}'
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3OhDzNKuuB1fWySn1O4S2vjJ
=======
  recorded_at: Tue, 06 Feb 2024 22:47:45 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3OgxQaKuuB1fWySn0ktCeyVp
>>>>>>> 97b18eeb8a (Filter out STRIPE_INSTANCE_SECRET_KEY from cassettes)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
<<<<<<< HEAD
      - '{"last_request_metrics":{"request_id":"req_ZZgELBKmj6KS27","request_duration_ms":1146}}'
      Stri[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3OhDzNKuuB1fWySn1O4S2vjJ/capture
=======
  recorded_at: Tue, 06 Feb 2024 22:47:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3OgxQaKuuB1fWySn0ktCeyVp/capture
>>>>>>> 97b18eeb8a (Filter out STRIPE_INSTANCE_SECRET_KEY from cassettes)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
<<<<<<< HEAD
      - '{"last_request_metrics":{"request_id":"req_bY0WkMQYHOFjx0","request_duration_ms":311}}'
  [...]
[...]
