.row.links{'data-hook' => "cart_buttons"}
  %a.button.large.secondary{href: current_shop_products_path}
    = t :orders_edit_continue
  %a#checkout-link.button.large.primary.right{href: main_app.checkout_path}
    = t :orders_edit_checkout
