#info-dialog,
#confirm-dialog {
  .message {
    .text,
    .icon {
      position: relative;
      float: left;
      display: inline;
    }

    .text {
      padding-top: 10px;
      width: 80%;
      font-size: 1rem;
    }

    .icon {
      width: 20%;
      font-size: 4rem;
    }
  }

  &.error {
    .message {
      .icon {
        color: $color-warning;
      }
    }
  }

  &.info {
    .message {
      .icon {
        color: $spree-blue;
      }
    }
  }
}
