.pagination {
  text-align: center;
  margin: 2em 0 1em;
  padding: 10px 0;

  .page {
    padding: 5px 8px;
    text-align: center;
    display: inline-block;
    text-align: center;

    &.current {
      background-color: $color-2;
      border-radius: 3px;
      color: $color-1;
    }
  }

  button {
    margin: 0 0.35em;

    &.active {
      background-color: darken($spree-blue, 15%);
      cursor: default;
    }

    &.disabled {
      background-color: $color-btn-disabled-bg;
      cursor: default;
    }
  }
}
