// Loading throbber displayed when ajax request takes too long to complete
#progress {
  display: none;
  @include border-radius(0 0 4px 4px);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: $spree-blue;
  color: #ffffff;
  opacity: 0.8;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  .spinner {
    margin-right: 5px;
  }
}

// Loading message replacing a table when it's loading for example
#loading {
  text-align: center;
  padding: 2rem 0;
  color: $color-4;

  i {
    font-size: 2rem;
  }
  img.spinner {
    border: 0px;
    width: 100px;
    height: 100px;
  }
  h1 {
    margin-top: 20px;
    color: inherit;
  }
}
