// Loading throbber displayed when ajax request takes too long to complete
#progress {
  display: none;
  @include border-radius(0 0 4px 4px);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: $spree-blue;
  color: #FFFFFF;
  opacity: .8;
  font-size: 1rem;
  padding: .5rem 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  .spinner {
    margin-right: 5px;
  }
}
