#save-bar {
  position: fixed;
  width: 100%;
  z-index: 100;
  bottom: 0px;
  left: 0;
  padding: 8px 8px;
  font-weight: bold;
  background-color: $spree-light-blue;
  color: $spree-blue;

  .container {
    align-items: center;
  }

  .error-message {
    color: $red-500;
    width: 100%;
  }

  h5 {
    color: $spree-blue;

    &.error {
      color: $red-500;
    }
  }

  input {
    margin-right: 5px;
  }
}
