.reveal-modal.simple-modal {
  width: 300px;

  .close-reveal-modal {
    color: $modal-close-button-color;
    font-size: 23px;
    right: .45rem;
    top: .35rem;

    :hover {
      color: $modal-close-button-hover-color;
    }
  }

  label {
    margin-top: 20px;
  }
}
