.reveal-modal.simple-modal {
  width: 300px;

  .close-reveal-modal {
    color: $color-modal-close-btn;
    font-size: 23px;
    right: 0.45rem;
    top: 0.35rem;

    :hover {
      color: $color-modal-close-btn-hover;
    }
  }

  label {
    margin-top: 20px;
  }
}
