// textAngular wysiwyg
text-angular {
  .ta-editor {
    border: 1px solid $pale-blue;
    border-radius: 3px;
  }

  .ta-toolbar {
    border: 1px solid #cdd9e4;
    padding: 0.4em;
    margin-bottom: -1px;
    background-color: #f1f1f1;
    border-radius: 0.25em 0.25em 0 0;
  }
  .ta-scroll-window > .ta-bind {
    max-height: 400px;
    min-height: 100px;
    outline: none;
    p {
      margin-bottom: 1.5rem;
    }
  }
  .ta-scroll-window.form-control {
    min-height: 100px;
    box-shadow: none !important;
  }
  .btn-group {
    display: inline;
    margin-right: 8px;
    button {
      padding: 5px 10px !important; // Add `!important` to be more specific than the default button styles (app/webpacker/css/admin/components/buttons.scss)
      // Hope this (text-angular) will be removed soon in order to use trix editor
      margin-right: 0.25em;
    }
    button.active:not(:hover) {
      box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.3) inset;
      background-color: #4583bf;
    }
  }
  a {
    color: $spree-green;
  }
}
