.todolist {
  .todo {
    &.done {
      .title {
        color: #aaaaaa;

        a {
          color: #aaaaaa;
        }
      }

      i {
        color: #aaaaaa;
      }

      .steps {
        display: none;
      }
    }
  }
}
