---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=standard&country=AU&email=lettuce.producer%40example.com
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - d6c688c4-592b-49b1-9f36-da19a71734f3
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d6c688c4-592b-49b1-9f36-da19a71734f3
      Original-Request:
      - req_Pd688QDMfgVLje
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1SHydn3LxZ4L8SBw",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": null,
            "minority_owned_business_designation": null,
            "name": null,
            "product_description": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": null
          },
          "business_type": null,
          "capabilities": {},
          "charges_enabled": false,
          "controller": {
            "fees": {
              "payer": "account"
            },
            "is_controller": true,
            "losses": {
              "payments": "stripe"
            },
            "requirement_collection": "stripe",
            "stripe_dashboard": {
              "type": "full"
            },
            "type": "application"
          },
          "country": "AU",
          "created": 1760411472,
          "default_currency": "aud",
          "details_submitted": false,
          "email": "lettuce.producer@example.com",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1SHydn3LxZ4L8SBw/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "metadata": {},
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [],
            "eventually_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "past_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": null,
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": null,
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null,
              "hosted_payment_method_save": "offer"
            },
            "payments": {
              "statement_descriptor": null,
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": null,
            "ip": null,
            "user_agent": null
          },
          "type": "standard"
        }
  recorded_at: Tue, 14 Oct 2025 03:11:12 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_card_mastercard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - 2025-02-24.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SHydpKuuB1fWySnC8ycxZeo",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "mastercard",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "mastercard",
            "exp_month": 10,
            "exp_year": 2026,
            "fingerprint": "BL35fEFVcTTS5wpE",
            "funding": "credit",
            "generated_from": null,
            "last4": "4444",
            "networks": {
              "available": [
                "mastercard"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1760411473,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 14 Oct 2025 03:11:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=3600&currency=aud&payment_method=pm_card_mastercard&payment_method_types[0]=card&capture_method=automatic&confirm=true
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 594b8982-940b-4db6-8735-72ad6b4b8e71
      Stripe-Version:
      - 2025-02-24.acacia
      Stripe-Account:
      - acct_1SHydn3LxZ4L8SBw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 594b8982-940b-4db6-8735-72ad6b4b8e71
      Original-Request:
      - req_BFLMdkqVUvyHpr
      Stripe-Account:
      - acct_1SHydn3LxZ4L8SBw
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SHydp3LxZ4L8SBw1Y79S3fO",
          "object": "payment_intent",
          "amount": 3600,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 3600,
          "application": "<HIDDEN-STRIPE_CLIENT_ID>",
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "<HIDDEN-CLIENT-SECRET>",
          "confirmation_method": "automatic",
          "created": 1760411473,
          "currency": "aud",
          "customer": null,
          "description": null,
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SHydp3LxZ4L8SBw1YnTY61W",
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SHydp3LxZ4L8SBwK6AOUSGl",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 14 Oct 2025 03:11:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3SHydp3LxZ4L8SBw1Y79S3fO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - 2025-02-24.acacia
      Stripe-Account:
      - acct_1SHydn3LxZ4L8SBw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1SHydn3LxZ4L8SBw
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3SHydp3LxZ4L8SBw1Y79S3fO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1SHydn3LxZ4L8SBw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1SHydn3LxZ4L8SBw
      Stripe-Version:
      - '2020-08-27'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SHydp3LxZ4L8SBw1Y79S3fO",
          "object": "payment_intent",
          "amount": 3600,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 3600,
          "application": "<HIDDEN-STRIPE_CLIENT_ID>",
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [
              {
                "id": "ch_3SHydp3LxZ4L8SBw1YnTY61W",
                "object": "charge",
                "amount": 3600,
                "amount_captured": 3600,
                "amount_refunded": 0,
                "application": "<HIDDEN-STRIPE_CLIENT_ID>",
                "application_fee": null,
                "application_fee_amount": null,
                "balance_transaction": "txn_3SHydp3LxZ4L8SBw16CdJq0k",
                "billing_details": {
                  "address": {
                    "city": null,
                    "country": null,
                    "line1": null,
                    "line2": null,
                    "postal_code": null,
                    "state": null
                  },
                  "email": null,
                  "name": null,
                  "phone": null,
                  "tax_id": null
                },
                "calculated_statement_descriptor": "OFNOFNOFN",
                "captured": true,
                "created": 1760411473,
                "currency": "aud",
                "customer": null,
                "description": null,
                "destination": null,
                "dispute": null,
                "disputed": false,
                "failure_balance_transaction": null,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {},
                "invoice": null,
                "livemode": false,
                "metadata": {},
                "on_behalf_of": null,
                "order": null,
                "outcome": {
                  "advice_code": null,
                  "network_advice_code": null,
                  "network_decline_code": null,
                  "network_status": "approved_by_network",
                  "reason": null,
                  "risk_level": "normal",
                  "risk_score": 20,
                  "seller_message": "Payment complete.",
                  "type": "authorized"
                },
                "paid": true,
                "payment_intent": "pi_3SHydp3LxZ4L8SBw1Y79S3fO",
                "payment_method": "pm_1SHydp3LxZ4L8SBwK6AOUSGl",
                "payment_method_details": {
                  "card": {
                    "amount_authorized": 3600,
                    "authorization_code": "726663",
                    "brand": "mastercard",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": "pass"
                    },
                    "country": "US",
                    "exp_month": 10,
                    "exp_year": 2026,
                    "extended_authorization": {
                      "status": "disabled"
                    },
                    "fingerprint": "BL35fEFVcTTS5wpE",
                    "funding": "credit",
                    "incremental_authorization": {
                      "status": "unavailable"
                    },
                    "installments": null,
                    "last4": "4444",
                    "mandate": null,
                    "multicapture": {
                      "status": "unavailable"
                    },
                    "network": "mastercard",
                    "network_token": {
                      "used": false
                    },
                    "network_transaction_id": "MCCDYBMRQ1014",
                    "overcapture": {
                      "maximum_amount_capturable": 3600,
                      "status": "unavailable"
                    },
                    "regulated_status": "unregulated",
                    "three_d_secure": null,
                    "wallet": null
                  },
                  "type": "card"
                },
                "radar_options": {},
                "receipt_email": null,
                "receipt_number": null,
                "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xU0h5ZG4zTHhaNEw4U0J3KNf-tscGMgbZLq6tOCU6LBYmOZC2gxWsBTeAtB3C47eRosqDrq-IdsoG-Kglt7-bA0_g1PPCmmNvi-4_",
                "refunded": false,
                "refunds": {
                  "object": "list",
                  "data": [],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/charges/ch_3SHydp3LxZ4L8SBw1YnTY61W/refunds"
                },
                "review": null,
                "shipping": null,
                "source": null,
                "source_transfer": null,
                "statement_descriptor": null,
                "statement_descriptor_suffix": null,
                "status": "succeeded",
                "transfer_data": null,
                "transfer_group": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges?payment_intent=pi_3SHydp3LxZ4L8SBw1Y79S3fO"
          },
          "client_secret": "<HIDDEN-CLIENT-SECRET>",
          "confirmation_method": "automatic[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_3SHydp3LxZ4L8SBw1YnTY61W/refunds
    body:
      encoding: UTF-8
      string: amount=3600&expand[0]=charge
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1SHydn3LxZ4L8SBw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 397a6354-5feb-40c0-ac8d-9d184b56db67
      Original-Request:
      - req_qAWdOEvYKUek1i
      Stripe-Account:
      - acct_1SHydn3LxZ4L8SBw
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3SHydp3LxZ4L8SBw1VlvX59r",
          "object": "refund",
          "amount": 3600,
          "balance_transaction": "txn_3SHydp3LxZ4L8SBw1o5MGOEN",
          "charge": {
            "id": "ch_3SHydp3LxZ4L8SBw1YnTY61W",
            "object": "charge",
            "amount": 3600,
            "amount_captured": 3600,
            "amount_refunded": 3600,
            "application": "<HIDDEN-STRIPE_CLIENT_ID>",
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": "txn_3SHydp3LxZ4L8SBw16CdJq0k",
            "billing_details": {
              "address": {
                "city": null,
                "cou[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/accounts/acct_1SHydn3LxZ4L8SBw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - e335c431-2807-40ae-af54-91dd54268e69
      Stripe-Version:
      - 2025-02-24.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e335c431-2807-40ae-af54-91dd54268e69
      Stripe-Account:
      - acct_1SHydn3LxZ4L8SBw
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1SHydn3LxZ4L8SBw",
          "object": "account",
          "deleted": true
        }
  recorded_at: Tue, 14 Oct 2025 03:11:24 GMT
recorded_with: VCR 6.2.0
