// Overide app/webpacker/css/admin/shared/typography.scss

@mixin v2-link-color() {
  color: $v2-blue;
  border-color: $v2-blue;
  &:hover {
    color: $v2-blue-dark;
    border-color: $v2-blue-dark;
  }
}

a:not(.button) {
  @include v2-link-color();
}
