---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_card_visa_chargeDeclinedInsufficientFunds&payment_method_types[0]=card&capture_method=manual
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 7dc5c348-95c5-4be5-b7d0-2f35c269347e
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7dc5c348-95c5-4be5-b7d0-2f35c269347e
      Original-Request:
      - req_TiTmND0kbGeR2Y
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3TtzGMKuuB1fWySn0FRj8izu",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "<HIDDEN-CLIENT-SECRET>",
          "confirmation_method": "automatic",
          "created": 1784246662,
          "currency": "eur",
          "customer": null,
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1TtzGMKuuB1fWySnuOW7ccNh",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Fri, 17 Jul 2026 00:05:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3TtzGMKuuB1fWySn0FRj8izu/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - aa56e4bc-d244-4710-a307-c5587d838727
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - aa56e4bc-d244-4710-a307-c5587d838727
      Original-Request:
      - req_amLqMRT4a0u4VE
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "advice_code": "try_again_later",
            "charge": "ch_3TtzGMKuuB1fWySn0mOboNZv",
            "code": "card_declined",
            "decline_code": "insufficient_funds",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card has insufficient funds.",
            "network_advice_code": "02",
            "network_decline_code": "51",
            "payment_intent": {
              "id": "pi_3TtzGMKuuB1fWySn0FRj8izu",
              "object": "payment_intent",
              "amount": 100,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "manual",
              "client_secret": "<HIDDEN-CLIENT-SECRET>",
              "confirmation_method": "automatic",
              "created": 1784246662,
              "currency": "eur",
              "customer": null,
              "customer_account": null,
              "description": null,
              "excluded_payment_method_types": null,
              "last_payment_error": {
                "advice_code": "try_again_later",
                "charge": "ch_3TtzGMKuuB1fWySn0mOboNZv",
                "code": "card_declined",
                "decline_code": "insufficient_funds",
                "doc_url": "https://stripe.com/docs/error-codes/card-declined",
                "message": "Your card has insufficient funds.",
                "network_advice_code": "02",
                "network_decline_code": "51",
                "payment_method": {
                  "id": "pm_1TtzGMKuuB1fWySnuOW7ccNh",
                  "object": "payment_method",
                  "allow_redisplay": "unspecified",
                  "billing_details": {
                    "address": {
                      "city": null,
                      "country": null,
                      "line1": null,
                      "line2": null,
                      "postal_code": null,
                      "state": null
                    },
                    "email": null,
                    "name": null,
                    "phone": null,
                    "tax_id": null
                  },
                  "card": {
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": "pass"
                    },
                    "country": "US",
                    "display_brand": "visa",
                    "exp_month": 7,
                    "exp_year": 2027,
                    "fingerprint": "O0I0muUGQBJy3p73",
                    "funding": "credit",
                    "generated_from": null,
                    "last4": "9995",
                    "networks": {
                      "available": [
                        "visa"
                      ],
                      "preferred": null
                    },
                    "regulated_status": "unregulated",
                    "three_d_secure_usage": {
                      "supported": true
                    },
                    "wallet": null
                  },
                  "created": 1784246662,
                  "customer": null,
                  "customer_account": null,
                  "livemode": false,
                  "metadata": {},
                  "shared_payment_granted_token": null,
                  "type": "card"
                },
                "type": "card_error"
              },
              "latest_charge": "ch_3TtzGMKuuB1fWySn0mOboNZv",
              "livemode": false,
              "managed_payments": {
                "enabled": false
              },
              "metadata": {},
              "next_action": null,
              "on_behalf_of": null,
              "payment_method": null,
              "payment_method_configuration_details": null,
              "payment_method_options":[...]
