---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_card_chargeDeclinedProcessingError&payment_method_types[0]=card&capture_method=manual
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 50f2600e-2350-408b-8987-d4960217c63b
      Original-Request:
      - req_Ozbqhh8eUJOEbQ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SPm2zKuuB1fWySn2Vq2ASvB",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "<HIDDEN-CLIENT-SECRET>",
          "confirmation_method": "automatic",
          "created": 1762269685,
          "currency": "eur",
          "customer": null,
          "description": null,
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SPm2zKuuB1fWySnSgTDu2NI",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 04 Nov 2025 15:21:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SPm2zKuuB1fWySn2Vq2ASvB/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ee7e7694-6d83-445c-a9ed-436b54b45ec5
      Original-Request:
      - req_UppubEIdI4Dmt1
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "advice_code": "try_again_later",
            "charge": "ch_3SPm2zKuuB1fWySn2VANflfs",
            "code": "processing_error",
            "decline_code": "processing_error",
            "doc_url": "https://stripe.com/docs/error-codes/processing-error",
            "message": "An error occurred while processing your card. Try again in a little bit.",
            "network_decline_code": "06",
            "payment_intent": {
              "id": "pi_3SPm2zKuuB1fWySn2Vq2ASvB",
              "object": "payment_intent",
              "amount": 100,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "manual",
              "client_secret": "<HIDDEN-CLIENT-SECRET>",
              "confirmation_method": "automatic",
              "created": 1762269685,
              "currency": "eur",
              "customer": null,
              "description": null,
              "excluded_payment_method_types": null,
              "invoice": null,
              "last_payment_error": {
                "advice_code": "try_again_later",
                "charge": "ch_3SPm2zKuuB1fWySn2VANflfs",
                "code": "processing_error",
                "decline_code": "processing_error",
                "doc_url": "https://stripe.com/docs/error-codes/processing-error",
                "message": "An error occurred while processing your card. Try again in a little bit.",
                "network_decline_code": "06",
                "payment_method": {
                  "id": "pm_1SPm2zKuuB1fWySnSgTDu2NI",
                  "object": "payment_method",
                  "allow_redisplay": "unspecified",
                  "billing_details": {
                    "address": {
                      "city": null,
                      "country": null,
                      "line1": null,
                      "line2": null,
                      "postal_code": null,
                      "state": null
                    },
                    "email": null,
                    "name": null,
                    "phone": null,
                    "tax_id": null
                  },
                  "card": {
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": "pass"
                    },
                    "country": "US",
                    "display_brand": "visa",
                    "exp_month": 11,
                    "exp_year": 2026,
                    "fingerprint": "9HWWxe4EyniQy61z",
                    "funding": "credit",
                    "generated_from": null,
                    "last4": "0119",
                    "networks": {
                      "available": [
                        "visa"
                      ],
                      "preferred": null
                    },
                    "regulated_status": "unregulated",
                    "three_d_secure_usage": {
                      "supported": true
                    },
                    "wallet": null
                  },
                  "created": 1762269685,
                  "customer": null,
                  "livemode": false,
                  "metadata": {},
                  "type": "card"
                },
                "type": "card_error"
              },
              "latest_charge": "ch_3SPm2zKuuB1fWySn2VANflfs",
              "livemode": false,
              "metadata": {},
              "next_action": null,
              "on_behalf_of": null,
              "payment_method": null,
              "payment_method_configuration_details": null,
              "payment_method_options": {
                "card": {
                  "installments": null,
                 [...]
