---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=314
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a83a0728-acdd-4477-9f0d-c223454d315e
      Original-Request:
      - req_dLIBx78tPQC5HU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1OrhnZKuuB1fWySn5rM3Qvue",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "6E6tgVjx6U65iHFV",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1709821193,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Thu, 07 Mar 2024 14:19:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=aud&payment_method=pm_1OrhnZKuuB1fWySn5rM3Qvue&payment_method_types[0]=card&capture_method=manual
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '0710794b-cb55-4479-b691-7c43dee2670a'
      Original-Request:
      - req_n7ZDUktk6mLhWN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3OrhnaKuuB1fWySn2CzgbENy",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "pi_3OrhnaKuuB1fWySn2CzgbENy_secret_kJOM57jeYqprt6H7fnZA4H4kV",
          "confirmation_method": "automatic",
          "created": 1709821194,
          "currency": "aud",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1OrhnZKuuB1fWySn5rM3Qvue",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Thu, 07 Mar 2024 14:19:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3OrhnaKuuB1fWySn2CzgbENy/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
    [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3OrhnaKuuB1fWySn2CzgbENy/capture
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
    [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3OrhnaKuuB1fWySn2CzgbENy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-[...]
