@import "foundation/variables";
@import "foundation/components/global";

.search-result {
  min-height: 3em;

  .secondary-info {
    font-size: 0.8em;
    color: #b7b7b7;
  }

  a {
    &:link {
      color: #000;
    }
    &:visited {
      color: #000;
    }
    &:hover {
      color: $primary-color;
    }
  }
}