@import "foundation/variables";
@import "foundation/components/global";

.landing-page-row {
  padding-top: emCalc(40);
  padding-bottom: emCalc(30);

  #environment {
    font-size: 110%;
    font-weight: bold;
    padding: emCalc(5);
    border-radius: emCalc(5);
    background-color: #98ca45;
  }
}

.distributor-link-row {
  padding: emCalc(5) 0;
}

.with-bottom-border {
  border-bottom: 1px solid #d9d9d9;
}

.with-pin-bg {
  background-image: url('../pin_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 200px;
}

a.inactive {
  color: #6a6a6a;
}

.secondary {
  color: #6a6a6a;
}

.group-header {
  min-height: emCalc(55);
  vertical-align: top;
}

@media only screen and (max-width: 768px) {
  .hub_group.landing-page-row {
    padding-bottom: 0px;
    &.with-bottom-border {
      padding-top: 0px;
    }
    & > .columns {
      margin-bottom: 60px;
    }
  }
  .group-header {
    min-height: 0px;
  }
}
.top-bar-section ul li {
  float: left;
}
.top-bar-section .divider, .top-bar-section [role="separator"] {
  clear: none;
  width: 0px;
}
