---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2024&card[cvc]=314
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 656da8c5-2f61-4a0b-9723-04a20eeb7817
      Original-Request:
      - req_l20WnyaZdY3cli
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_1OXXNgKuuB1fWySnghrcwzpt",
          "object": "token",
          "card": {
            "id": "card_1OXXNgKuuB1fWySn79CFxTdv",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2024,
            "fingerprint": "6E6tgVjx6U65iHFV",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": "121.200.4.175",
          "created": 1705014588,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 11 Jan 2024 23:09:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=antwan%40gerlach.info&source=tok_1OXXNgKuuB1fWySnghrcwzpt
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 994d1dd4-cf26-4380-9963-472200ab2696
      Original-Request:
      - req_V7zKr1hXIFzzWp
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PMFtPjJnlMq8ML",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1705014589,
          "currency": null,
          "default_source": "card_1OXXNgKuuB1fWySn79CFxTdv",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "antwan@gerlach.info",
          "invoice_prefix": "1F7D7F5C",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Thu, 11 Jan 2024 23:09:49 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_PMFtPjJnlMq8ML/sources?limit=1&object=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "card_1OXXNgKuuB1fWySn79CFxTdv",
              "object": "card",
              "address_city": null,
              "address_country": null,
              "address_line1": null,
              "address_line1_check": null,
              "address_line2": null,
              "address_state": null,
              "address_zip": null,
              "address_zip_check": null,
              "brand": "Visa",
              "country": "US",
              "customer": "cus_PMFtPjJnlMq8ML",
              "cvc_check": "pass",
              "dynamic_last4": null,
              "exp_month": 9,
              "exp_year": 2024,
              "fingerprint": "6E6tgVjx6U65iHFV",
              "funding": "credit",
              "last4": "4242",
              "metadata": {},
              "name": null,
              "tokenization_method": null,
              "wallet": null
            }
          ],
          "has_more": false,
          "url": "/v1/customers/cus_PMFtPjJnlMq8ML/sources"
        }
  recorded_at: Thu, 11 Jan 2024 23:09:49 GMT
recorded_with: VCR 6.2.0
