---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2027&card[cvc]=314
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 53f48adc-01eb-46ba-bc36-8e1eedd05361
      Stripe-Version:
      - 2026-07-29.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 53f48adc-01eb-46ba-bc36-8e1eedd05361
      Original-Request:
      - req_18S0rfnihVEtWa
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-07-29.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1U2gkMKuuB1fWySnwqM2pn2D",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2027,
            "fingerprint": "6E6tgVjx6U65iHFV",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1786320438,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Mon, 10 Aug 2026 00:08:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: expand[0]=sources&email=sheryll%40jaskolski.name
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 477a7128-7f61-49f4-bab7-15adad6c8286
      Original-Request:
      - req_VXU91k6X0KPWno
      Stripe-Notice:
      - You are using an outdated API version (2020-08-27). We recommend upgrading
        to the latest API version, 2026-07-29.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_V2mIO8QcBg53oA",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1786320439,
          "currency": null,
          "customer_account": null,
          "default_currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "sheryll@jaskolski.name",
          "invoice_prefix": "GQ6I8DM3",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_V2mIO8QcBg53oA/sources"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 10 Aug 2026 00:08:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1U2gkMKuuB1fWySnwqM2pn2D/attach
    body:
      encoding: UTF-8
      string: customer=cus_V2mIO8QcBg53oA
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency[...]
