- if order_cycles_enabled?
  #distribution-selection.row

    - if current_order_cycle# && current_order_cycle.exchanges.to_enterprises(current_distributor).outgoing.any?
      = render partial: "order_cycles/orders_current"

    - elsif order_cycle_options.empty?
      = render partial: "order_cycles/orders_closed"

    - else
      = render partial: "order_cycles/orders_open"
