---
http_interactions:
- request:
    method: post
    uri: https://kc.cqcm.startinblox.com/realms/startinblox/protocol/openid-connect/token
    body:
      encoding: UTF-8
      string: client_id=https%3A%2F%2Fstaging.openfoodnetwork.org.uk%2F&client_secret=<HIDDEN-OPENID_APP_SECRET>&grant_type=client_credentials&scope=WriteEnterprise
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<HIDDEN-OPENID-TOKEN>","expires_in":300,"refresh_expires_in":0,"token_type":"Bearer","not-before-policy":0,"scope":"WriteEnterprise
        profile email"}'
  recorded_at: Fri, 19 Sep 2025 06:09:58 GMT
recorded_with: VCR 6.2.0
