.bundle
.rbenv-version
.byebug_history
.swp
*.swo
*.swp
.sass-cache
db/*.sqlite3
db/*.csv
log/*.log
log/*.log.lck
log/*.log.*
tmp/
.idea/*
\#*
.#*
*~
*.~lock.*
tags
.emacs.desktop
.DS_Store
*.sublime-project*
spec/javascripts/generated/*
db/development_structure.sql
db/test_structure.sql
db/staging_structure.sql
db/production_structure.sql
db/backup
app/public
public/system
public/stylesheets
public/images
public/spree
config/abr.yml
config/initializers/feature_toggle.rb
NERD_tree*
coverage
libpeerconnection.log
/config/application.yml
/config/newrelic.yml
node_modules
vendor/bundle/
coverage
/reports/
!/reports/README.md
bin/
