# Basically, ignore everythings expect app/webpacker/controllers/*.js and app/webpacker/packs/*.js

*.md
*.yml
*.yaml
*.json
*.html

babel.config.js
postcss.config.js

/app/webpacker/css/admin/
# Except v2
!/app/webpacker/css/admin/v2/**/*.scss
/app/webpacker/css/darkswarm/
/app/webpacker/css/mail/
/app/webpacker/css/shared/

/app/assets/
/config/
/coverage/
/engines/
/public/
/spec/
/tmp/
/vendor/
