# Ignore a lot of things, but we should enable where it can be helpful.

*.md
*.yml
*.yaml
*.json
*.html

# JS
# Enabled: app/webpacker/controllers/*.js and app/webpacker/packs/*.js
babel.config.js
postcss.config.js

# SCSS
# Enabled: most of admin
/app/webpacker/css/admin/globals/mixins.scss
/app/webpacker/css/admin/globals/variables.scss
/app/webpacker/css/admin/shared/
/app/webpacker/css/admin_v3/globals/variables.scss
/app/webpacker/css/darkswarm/
/app/webpacker/css/mail/
/app/webpacker/css/shared/

# More
/app/assets/
/config/
/coverage/
/engines/
/public/
/spec/
/tmp/
/vendor/
