%form.margin-bottom-50{ name: 'standing_order_form', ng: { app: 'admin.standingOrders', controller: 'StandingOrderController' } }
  %save-bar{ dirty: "standing_order_form.$dirty" }
    %input.red{ type: "submit", ng: { click: "save()", disabled: "!standing_order_form.$dirty", value: "'Save'" } }
    -# %input{ type: "button", ng: { value: "order_cycle_form.$dirty ? 'Cancel' : 'Close'", click: "cancel('#{main_app.admin_order_cycles_path}')" } }

  = render 'details'

  = render 'autocomplete'

  = render 'items'
