%script{ type: "text/ng-template", id: "admin/panels/standing_order_orders.html" }
  %form.margin-top-30{ name: 'standing_order_form', ng: { controller: 'OrdersPanelController' } }
    .row.standing-order-orders
      .fourteen.columns.offset-by-one
        %table
          %col{ style: 'width: 25%' }
          %col{ style: 'width: 30%' }
          %col{ style: 'width: 20%' }
          %col{ style: 'width: 15%' }
          %col{ style: 'width: 10%' }
          %thead
            %th= t('admin.standing_orders.orders.number')
            %th= t('admin.order_cycle')
            %th= t('admin.status_state')
            %th= t('total')
            %th.actions
          %tbody
            %tr.standing_order_order{ :id => "o_{{order.id}}", ng: { repeat: 'order in standingOrder.not_closed_standing_order_orders' } }
              %td
                %a{ ng: { href: "{{::order.edit_path}}", bind: '::order.number' }, target: '_blank' }
              %td
                %div{ ng: { bind: "::orderCycleName(order.order_cycle_id)" } }
                %div{ ng: { bind: "::orderCycleCloses(order.order_cycle_id)" } }
              %td.text-center
                %span.state{ ng: { class: "order.state", bind: 'stateText(order.state)' } }
              %td.text-center{ ng: { bind: 'order.total' } }
              %td.actions
                %a.cancel-order.icon-remove.no-text{ href: 'javascript:void(0)', ng: { hide: "order.state == 'canceled'", click: "cancelOrder(order)" }, 'ofn-with-tip' => t(:cancel_order) }
                %a.resume-order.icon-resume.no-text{ href: 'javascript:void(0)', ng: { show: "order.state == 'canceled'", click: "resumeOrder(order)" }, 'ofn-with-tip' => t(:resume_order) }
