-# = render :partial => 'spree/shared/error_messages', :locals => { :target => @enterprise }

- content_for :page_title do
  New Standing Order

-# - content_for :page_actions do
-#   %li= button_link_to "Back to standing orders list", main_app.admin_standing_orders_path, icon: 'icon-arrow-left'

= render 'data'
= render 'form'
