@import '../base/colors';

// Styling for login modal to style tabs
.reveal-modal.login-modal {
  border-bottom-color: $modal-background-color;
}

.login-modal {
  background: $modal-background-color;

  .tabs-content {
    background: $modal-content-background-color;
    padding-top: 10px;
  }

  .alert-box a {
    color: $modal-alert-link-color;
    text-decoration: underline;

    &:hover {
      color: $modal-alert-link-hover-color;
      text-decoration: underline;
    }
  }
}
