%table
  %thead
    %tr
      %th
      %th name
      %th category
      %th supplier
      %th on_hand
      %th price
      %th units
      %th unit_type
      %th variant_unit_name
  %tbody
    %tr
      %td 1
      %td Salad Bag
      %td Salads
      %td Sue's Salads
      %td 26
      %td 3.50
      %td 500
      %td g
      %td
    %tr
      %td 2
      %td Fruit Juice
      %td Drinks
      %td Country Juices
      %td 12
      %td 3.50
      %td 300
      %td ml
      %td
    %tr
      %td 3
      %td Potatoes
      %td Vegetables
      %td Fernwell Farm
      %td 67
      %td 4.20
      %td 1
      %td kg
      %td

    %tr
      %td 3
      %td Wholemeal Bread
      %td Baked goods
      %td Tim's Bakery
      %td 66
      %td 3.00
      %td 1
      %td
      %td loaf
