%table
  %thead
    %tr
      %th
      %th name
      %th category
      %th supplier
      %th on_hand
      %th price
      %th units
      %th unit_type
      %th display_name
  %tbody
    %tr
      %td 1
      %td Salad Bag
      %td Salads
      %td Sue's Salads
      %td 26
      %td 3.50
      %td 500
      %td g
      %td
    %tr
      %td 2
      %td Salad Bag
      %td Salads
      %td Sue's Salads
      %td 44
      %td 5.50
      %td 750
      %td g
      %td
    %tr
      %td 3
      %td Cake
      %td Baked goods
      %td Tim's Cakes
      %td 10
      %td 4
      %td 500
      %td g
      %td Banana and Walnut
    %tr
      %td 4
      %td Cake
      %td Baked goods
      %td Tim's Cakes
      %td 18
      %td 4
      %td 500
      %td g
      %td Carrot

