= turbo_stream.replace 'flashes' do
  = render partial: "shared/flashes", locals: { flashes: flash }
= turbo_stream.replace 'voucher-section' do
  = render partial: 'checkout/voucher_section', locals: { order: @order, voucher_adjustment: @order.voucher_adjustments.first }