%section#about{class: current_order_cycle ? nil : "active" }
  %p.title.avenir{"data-section-title" => ""}
    %a{href: "#about"} About Us 

  .content{"data-section-content" => ""}
    %img.about.right{src: @distributor.promo_image.url(:large)}
    %p= @distributor.long_description.andand.html_safe
    
    .panel
      = @distributor.distributor_info.andand.html_safe
