%section
  %p.title.avenir{"data-section-title" => ""}
    %a{href: "#producers"} Our Producers 
  .content{"data-section-content" => ""}
    %ul
      - for producer in @producers
        %li
          %a{"data-reveal-id" => "producer_details_#{producer.id}"}
            = producer.name
