---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2027&card[cvc]=314
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - f590a727-a044-437e-b591-5e394b441e98
      Stripe-Version:
      - 2026-05-27.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f590a727-a044-437e-b591-5e394b441e98
      Original-Request:
      - req_dS6w3QoCLnpoE1
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-05-27.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_1TlHajKuuB1fWySnDDc10kpG",
          "object": "token",
          "card": {
            "id": "card_1TlHaiKuuB1fWySnxJVr4QKo",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "email": null,
            "exp_month": 9,
            "exp_year": 2027,
            "fingerprint": "6E6tgVjx6U65iHFV",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "networks": {
              "preferred": null
            },
            "phone": null,
            "regulated_status": "unregulated",
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": "120.147.136.163",
          "created": 1782172165,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 22 Jun 2026 23:50:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=shila.franecki%40macejkovicbreitenberg.com&source=tok_1TlHajKuuB1fWySnDDc10kpG
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 2a2f4083-de8c-4ac8-b1d9-6a4b7b3ada9e
      Stripe-Version:
      - 2026-05-27.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2a2f4083-de8c-4ac8-b1d9-6a4b7b3ada9e
      Original-Request:
      - req_QJRM5KSwKSRZEH
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-05-27.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UknBziJSKUBt3X",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1782172165,
          "currency": null,
          "customer_account": null,
          "default_source": "card_1TlHaiKuuB1fWySnxJVr4QKo",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "shila.franecki@macejkovicbreitenberg.com",
          "invoice_prefix": "ZWPZUXA1",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 22 Jun 2026 23:50:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_UknBziJSKUBt3X/sources?limit=1&object=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - 2026-05-27.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-05-27.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "card_1TlHaiKuuB1fWySnxJVr4QKo",
              "object": "card",
              "address_city": null,
              "address_country": null,
              "address_line1": null,
              "address_line1_check": null,
              "address_line2": null,
              "address_state": null,
              "address_zip": null,
              "address_zip_check": null,
              "allow_redisplay": "unspecified",
              "brand": "Visa",
              "country": "US",
              "customer": "cus_UknBziJSKUBt3X",
              "cvc_check": "pass",
              "dynamic_last4": null,
              "email": null,
              "exp_month": 9,
              "exp_year": 2027,
              "fingerprint": "6E6tgVjx6U65iHFV",
              "funding": "credit",
              "last4": "4242",
              "metadata": {},
              "name": null,
              "phone": null,
              "regulated_status": "unregulated",
              "tokenization_method": null,
              "wallet": null
            }
          ],
          "has_more": false,
          "url": "/v1/customers/cus_UknBziJSKUBt3X/sources"
        }
  recorded_at: Mon, 22 Jun 2026 23:50:11 GMT
recorded_with: VCR 6.4.0
