.reveal-modal.product-image-upload {
  width: 300px;
  a.close-reveal-modal {
    font-size: 23px;
    color: #de6060;
    right: 0.45rem;
    top: 0.35rem;
    :hover {
      color: #bf4545;
    }
  }
  div.image-preview {
    //float: left;
  }
  label {
    margin-top: 20px;
  }
}
