- if @enterprise_fees.count > 0
  %table
    %tr
      %th Name
      %th Fee Type
      -# %th Calculator
      -# %th Calculator Values
    - @enterprise_fees.each do |enterprise_fee|
      %tr
        %td= enterprise_fee.name
        %td= enterprise_fee.fee_type
        -# %td= enterprise_fee.calculator.preferred_flat_percent
        -# %td= enterprise_fee.fee_type
  %br
  %div
    %a.button{ href: "#{main_app.admin_enterprise_fees_path}"}
      Manage Enterprise Fees
      %i.icon-arrow-right

- else
  %p.text-center
    You don't have any enterprise fees yet.

  %br
  .text-center
    %a.button{ href: "#{main_app.admin_enterprise_fees_path}"}
      Create One Now
      %i.icon-arrow-right
