= render 'admin/producer_properties/form', f: f

// :javascript
//   var properties = #{raw(@properties.to_json)};
//
//   $("#producer_properties input.autocomplete").live("keydown", function() {
//     already_auto_completed = $(this).is('ac_input');
//     if (!already_auto_completed) {
//       $(this).autocomplete({source: properties});
//       $(this).focus();
//     }
//   });
