.row
  .alpha.eleven.columns
    .three.columns.alpha
      = f.label "preferred_shopfront_message", t(:shopfront_message)
    .eight.columns.omega
      %text-angular{'ng-model' => 'Enterprise.preferred_shopfront_message', 'id' => 'enterprise_preferred_shopfront_message', 'name' => 'enterprise[preferred_shopfront_message]', 'class' => 'text-angular',
        'ta-toolbar' => "[['h1','h2','h3','h4','p'],['bold','italics','underline','clear'],['insertLink']]",
        'placeholder' => 'Tell customers about yourself. This information appears on your public profile.'}
