- if @stripe_account = @enterprise.stripe_account
  = t :stripe_account_connected
  = link_to 'Delete', main_app.admin_enterprise_stripe_account_path(@enterprise,@stripe_account), method: :delete
- else
  %a.stripe-connect{href: 'stripe_connect'}
    .span= t :connect_with_stripe
