- if @stripe_account = @enterprise.stripe_account
  .stripe-info
    .row
      = t('.stripe_account_connected')
    .row
      =link_to t('.disconnect'), main_app.admin_stripe_account_path(@stripe_account), method: :delete, class: 'button'
- else
  .row.stripe-info
    .six.columns.alpha
      -# Recommended info to impart (from Stripe Connect docs):
      -# indicate to the user what you’re responsible for and what they’ll be expected to do. It’s particularly important to communicate:
      -# That they’ll need to create and maintain their Stripe account.
      -# That they’ll need to handle chargebacks and all customer service issues.
      -# Who is responsible for paying the Stripe fees.
      -# What, if any, fees the platform charges.
      =t('.stripe_connect_info')
    .five.columns.omega.text-right
      %a.stripe-connect{ href: main_app.connect_admin_stripe_accounts_path(enterprise_id: @enterprise) }
        %span= t('.connect_with_stripe')
