
- if @stripe_account = @enterprise.stripe_account
  .stripe-info
    .row
      = t('.stripe_account_connected')
    .row

      =link_to t('.disconnect'), main_app.admin_stripe_account_path(@stripe_account), data: { method: :delete, "ujs-navigate": "false"}, class: 'button'
- else
  .row.stripe-info
    .six.columns.alpha
      =t('.stripe_connect_intro')
    .five.columns.omega.text-right
      %a.stripe-connect{ "data-controller": "help-modal-link", "data-action": "click->help-modal-link#open", "data-help-modal-link-target-value": "stripe_connect_confirm_modal" }
        %span= t('.connect_with_stripe')

  = render HelpModalComponent.new(id: "stripe_connect_confirm_modal", close_button: false) do
    = render 'admin/enterprises/form/stripe_connect/confirm_modal'
