.row 
  .eleven.columns.alpha.omega
    %div
      - rules = @enterprise.tag_rules.prioritised.reject(&:is_default)
      - if rules.empty?
        .no_tags
          = t('.no_tags_yet')
        = render 'admin/enterprises/form/tag_rules/default_rules', f: f
