.row
  .eleven.columns.alpha.omega
    %div{ "data-turbo": true }
      - rules = @enterprise.tag_rules.prioritised.reject(&:is_default)
      - if rules.empty?
        .no_tags
          = t('.no_tags_yet')

      = render 'admin/enterprises/form/tag_rules/default_rules', f: f

      #customer-tag-rule
        -# TODO both index can't overlap
        - customer_rule_index = 10
        - tag_groups(rules).each_with_index do |group, group_index|
          = render TagRuleGroupFormComponent.new(group:, index: group_index, customer_rule_index: )

      .add_tag
        %input.button{ type: 'button', value: t('.add_new_tag') }
