%accordion-heading
  .row
    .small-8.medium-10.columns
      %em
        %small
          {{ summary() | printArray }}
    .small-4.medium-2.columns.text-right
      %span.accordion-up
        %em
          %small Hide
        %i.ofn-i_053-point-up
      %span.accordion-down
        %em
          %small Expand
        %i.ofn-i_052-point-down
