%accordion-heading
  .row
    .small-8.medium-9.columns
      %em
        %small
          {{ summary() | printArray }}
    .small-4.medium-3.columns.text-right
      %span.accordion-up
        %em
          %small
            = t :checkout_hide
        %i.ofn-i_053-point-up
      %span.accordion-down
        %em
          %small
            = t :checkout_expand
        %i.ofn-i_052-point-down
