#checkout_login.row{"ng-show" => "!enabled"}
  .large-4.columns.text-center{"ng-controller" => "AuthenticationCtrl"}
    %button{"ng-click" => "open()"} Login

  .large-4.columns.text-center
    %button{"ng-click" => "enabled = true"} Checkout as guest
