%ul.shipping-type-selector.small-block-grid-2.medium-block-grid-4.large-block-grid-2
  %active-selector{"ng-repeat" => "(name, selector) in selectors"}
    %i{"ng-class" => "selector.icon"}
    {{ selector.translation_key | t | capitalize }}
