#panes
  #shops.pane
    .row
      .small-12.medium-6.medium-offset-3.columns.text-center
        %h2 Shopping, transformed.
        %br
        %p.text-big Food grows in cycles, farmers harvest in cycles, and we order food in cycles. If you find an order cycle closed, check back soon.

= render partial: "home/hubs"
= render partial: "shared/footer"
