#cart-container {
  padding: 25px;
  padding-bottom: 100px;
}

#update-cart {
  #errorExplanation {
    display: none;
  }
}

#cart-detail {
  width: 100%;
  display: block;
  overflow-x: auto;

  .cart-item-delete,
  .bought-item-delete {
    a {
      font-size: 1.125em;
    }
  }

  .out-of-stock {
    color: $clr-brick;
  }

  button,
  .button {
    margin: 0;
  }

  .toggle-bought {
    cursor: pointer;
  }

  .bought td {
    color: $med-grey;

    h5 {
      color: $med-grey;
    }

    .already-confirmed {
      float: right;
    }
  }

  .unit-price {
    color: $grey-500;
    font-size: $text-xs;
  }


  input {
    &.ng-invalid-stock,
    &.ng-invalid-number {
      border: 1px solid $clr-brick;
    }
  }
}

.item-thumb-image {
  display: none;

  @media screen and (min-width: 640px) {
    display: inline-block;
    float: left;
    padding-right: 0.5em;
    width: 36px;
    height: 36px;
  }
}

.links {
  .button {
    padding: 1.125rem 0 1.1875rem;
    width: 210px;
    font-size: 1.1em;

    @include breakpoint(mobile) {
      width: 100%;
    }
  }
}
