%fieldset.alpha.no-border-bottom{ ng: { show: "menu.selected.name=='about'" } }
  %legend {{menu.selected.label}}
  = f.field_container :long_description do
    %text-angular{'id' => 'enterprise_group_long_description', 'name' => 'enterprise_group[long_description]', 'class' => 'text-angular',
      'ta-toolbar' => "[['h1','h2','h3','h4','p'],['bold','italics','underline','clear'],['insertLink']]"}
      != @enterprise_group[:long_description]
