= render :partial => 'spree/shared/error_messages', :locals => { :target => @enterprise }

= form_for [main_app, :admin, @enterprise_group] do |f|
  = render :partial => 'form', :locals => { :f => f }
  = render :partial => 'spree/admin/shared/edit_resource_links'
