.row.date-range-filter
  .alpha.two.columns= label_tag nil, t(:date_range)
  .omega.fourteen.columns
    = f.text_field :completed_at_gt, :class => 'datetimepicker datepicker-from', :placeholder => t(:start)
    %span.range-divider
      %i.icon-arrow-right
    = f.text_field :completed_at_lt, :class => 'datetimepicker datepicker-to', :placeholder => t(:stop)
