- column_partials ||= {}
%table.report__table
  %thead
    %tr
      - @report.table_headers.each do |heading|
        %th= heading
  %tbody
    - @report.table_rows.each do |row|
      %tr
        - row.each_with_index do |cell_value, column_index|
          %td
            - partial = column_partials[column_index]
            - if partial
              = render partial, value: cell_value
            - else
              = cell_value
    - if @report.table_rows.empty?
      %tr
        %td{colspan: @report.table_headers.count}= t(:none)
