= render partial: 'shared/mailers/greeting_and_intro',
         locals: { greeting: t("mailers_shared.customer_greeting", name: @order.bill_address.firstname),
                   intro: t(".intro_html", distributor: @order.distributor.name),
                   enterprise_for_logo: @order.distributor }

= render 'signoff'
