---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=3056930009020004&card[exp_month]=12&card[exp_year]=2024&card[cvc]=314
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c58a6bb6-4c43-41ff-99a6-403525e83f2f
      Original-Request:
      - req_qQtW0TD2fJhOvx
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1OKmJNKuuB1fWySnXbtfpMzQ",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "diners",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "8CvV2XFCUY7eGw6O",
            "funding": "credit",
            "generated_from": null,
            "last4": "0004",
            "networks": {
              "available": [
                "diners"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": false
            },
            "wallet": null
          },
          "created": 1701973717,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Thu, 07 Dec 2023 18:28:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_1OKmJNKuuB1fWySnXbtfpMzQ&payment_method_types[0]=card&capture_method=manual
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5e1a80fe-3312-467c-bf5c-bb65e2fd9c7c
      Original-Request:
      - req_0Qn4ExUGRwyA0L
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3OKmJOKuuB1fWySn1EG3DBrp",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "pi_3OKmJOKuuB1fWySn1EG3DBrp_secret_fXwgDxjDOwTNY13tZL4zSWZp5",
          "confirmation_method": "automatic",
          "created": 1701973718,
          "currency": "eur",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1OKmJNKuuB1fWySnXbtfpMzQ",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Thu, 07 Dec 2023 18:28:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3OKmJOKuuB1fWySn1EG3DBrp/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7a3e02b2-afac-4cb0-[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3OKmJOKuuB1fWySn1EG3DBrp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3OKmJOKuuB1fWySn1EG3DBrp/capture
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 26ce7d16-e8ac-4128-[...]
[...]
