/ %script = Spree.api_key = raw(try_spree_current_user.try(:spree_api_key).to_s.inspect)

Hello
%div{ 'ng-app' => 'store', 'ng-controller' => 'CartCtrl', 'ng-init' => "loadCart(#{try_spree_current_user.andand.cart.andand.id});" }
  {{cart}} {{state}}
  %ul
    %li(ng-repeat="order in cart.orders")
      {{order.distributor}}
