---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000000000009995&card[exp_month]=12&card[exp_year]=2025&card[cvc]=314
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - efb26086-55ca-4fed-96f9-712e811983b5
      Original-Request:
      - req_JFuZ8mpCSSE39O
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-04-10'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1P8hQtKuuB1fWySnkWg8Yi12",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "O0I0muUGQBJy3p73",
            "funding": "credit",
            "generated_from": null,
            "last4": "9995",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1713871363,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 23 Apr 2024 11:22:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Apple+Customer&email=applecustomer%40example.com
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d6655148-6ed2-47b6-ba01-38b8bb4a198d
      Original-Request:
      - req_f8LoVSm6ehzIOQ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-04-10'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Pyekp6fXoSyo4f",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1713871364,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "applecustomer@example.com",
          "invoice_prefix": "B923F253",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Apple Customer",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 23 Apr 2024 11:22:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_1P8hQtKuuB1fWySnkWg8Yi12&payment_method_types[0]=card&capture_method=manual&customer=cus_Pyekp6fXoSyo4f&setup_future_usage=off_session
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d797d3c9-2865-44b3-bf91-76176a96bf24
      Original-Request:
      - req_7nTlJ3fHIjzIPN
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-04-10'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3P8hQuKuuB1fWySn2YcCudO4",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "<HIDDEN-CLIENT-SECRET>",
          "confirmation_method": "automatic",
          "created": 1713871364,
          "currency": "eur",
          "customer": "cus_Pyekp6fXoSyo4f",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1P8hQtKuuB1fWySnkWg8Yi12",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 23 Apr 2024 11:22:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3P8hQuKuuB1fWySn2YcCudO4/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f0b1f823-2b28-4b51-829e-030893bb1ce9
      Original-Request:
      - req_Ua7pnZevBRWYWv
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-04-10'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_3P8hQuKuuB1fWySn2WZGczKx",
            "code": "card_declined",
            "decline_code": "insufficient_funds",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card has insufficient funds.",
            "payment_intent": {
              "id": "pi_3P8hQuKuuB1fWySn2YcCudO4",
              "object": "payment_intent",
              "amount": 100,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {
                }
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,[...]
