.container#registration-about
  %ng-include{ src: "'registration/steps.html'" }
  .row
    .small-12.columns
      %header
        %h2 Nice one!
        %h5
          Now let's flesh out the details about
          %span{ ng: { class: "{brick: !enterprise.is_primary_producer, turquoise: enterprise.is_primary_producer}" } }
            {{ enterprise.name }}

  %form{ name: 'about', novalidate: true, ng: { controller: "RegistrationFormCtrl", submit: "update('images',about)" } }
    .row
      .small-12.columns
        .alert-box.info{ "ofn-inline-alert" => true, ng: { show: "visible" } }
          %h6 Success! {{ enterprise.name }} added to the Open Food Network 
          %span If you exit the wizard at any stage, login and go to admin to edit or update your enterprise details.
          %a.close{ ng: { click: "close()" } } &times;

      .small-12.large-8.columns
        .row
          .small-12.columns
            .field
              %label{ for: 'enterprise_description' } Short Description:
              %input.chunky{ id: 'enterprise_description', placeholder: "A short sentence describing your enterprise", ng: { model: 'enterprise.description' } }
        .row
          .small-12.columns
            .field
              %label{ for: 'enterprise_long_desc' } Long Description:
              %textarea.chunky{ id: 'enterprise_long_desc',  rows: 6, placeholder: "This is your opportunity to tell the story of your enterprise - what makes you different and wonderful? We'd suggest keeping your description to under 600 characters or 150 words.", ng: { model: 'enterprise.long_description' } }
              %small {{ enterprise.long_description.length }} characters / up to 600 recommended
      .small-12.large-4.columns
        .row
          .small-12.columns
            .field
              %label{ for: 'enterprise_abn' } ABN:
              %input.chunky{ id: 'enterprise_abn', placeholder: "eg. 99 123 456 789", ng: { model: 'enterprise.abn' } }
        .row
          .small-12.columns
            .field
              %label{ for: 'enterprise_acn' } ACN:
              %input.chunky{ id: 'enterprise_acn', placeholder: "eg. 123 456 789", ng: { model: 'enterprise.acn' } }

    .row.buttons.pad-top
      .small-12.columns
        %input.button.primary.right{ type: "submit", value: "Continue" }
        
