.container#registration-contact
  .header
    %h2 Greetings!
    %h5
      Who is responsible for managing
      %span.turquoise
        {{ enterprise.name }}?
  %ng-include{ src: "'registration/steps.html'" }
  %form{ name: 'contact', novalidate: true, ng: { controller: "RegistrationFormCtrl", submit: "selectIfValid('type',contact)" } }
    .row.content
      .small-12.medium-12.large-7.columns
        .row
          .small-12.columns.field
            %label{ for: 'enterprise_contact' } Primary Contact:
            %input.chunky.small-12.columns{ id: 'enterprise_contact', name: 'contact', required: true, placeholder: "Contact Name", ng: { model: 'enterprise.contact' } }
            %span.error.small-12.columns{ ng: { show: "contact.contact.$error.required && submitted" } }
              You need to enter a primary contact.
        .row
          .small-12.columns.field
            %label{ for: 'enterprise_email' } Email address:
            %input.chunky.small-12.columns{ id: 'enterprise_email', name: 'email', type: 'email', required: true, placeholder: "eg. charlie@thefarm.com", ng: { model: 'enterprise.email' } }
            %span.error.small-12.columns{ ng: { show: "(contact.email.$error.email || contact.email.$error.required) && submitted" } }
              You need to enter valid email address.
        .row
          .small-12.columns.field
            %label{ for: 'enterprise_phone' } Phone number:
            %input.chunky.small-12.columns{ id: 'enterprise_phone', name: 'phone', placeholder: "eg. (03) 1234 5678", ng: { model: 'enterprise.phone' } }
      .small-12.medium-12.large-5.hide-for-small-only
        / %h6
        /   Contact display
        /   %i.ofn-i_013-help.has-tip{ 'data-tooltip' => true, title: "Choose how you want to display your contact details on the Open Food Network."}
        / .row
        /   .small-12.columns
        /     %label.indent-checkbox
        /       %input{ type: 'checkbox', id: 'contact_name_profile', ng: { model: 'enterprise.name_in_profile' } } &nbsp; Display name in profile
        /   .small-12.columns
        /     %label.indent-checkbox
        /       %input{ type: 'checkbox', id: 'contact_email_profile', ng: { model: 'enterprise.email_in_profile' } } &nbsp; Display email in profile
        /   .small-12.columns
        /     %label.indent-checkbox
        /       %input{ type: 'checkbox', id: 'contact_phone_profile', ng: { model: 'enterprise.phone_in_profile' } } &nbsp; Display phone in profile

    .row.buttons
      .small-12.columns
        %input.button.secondary{ type: "button", value: "Back", ng: { click: "select('details')" } }
        &nbsp;
        %input.button.primary{ type: "submit", value: "Continue" }
