.container#registration-contact
  .header
    %h2 Last step to create your enterprise!
    %h5 Who is responsible for managing {{ enterprise.name }}?
  %ng-include{ src: "'registration/steps.html'" }
  .row.content
    .small-12.large-8.columns
      .row
        .small-12.columns
          %label{ for: 'enterprise_contact' } Primary Contact:
          %input.chunky.small-12.columns{ id: 'enterprise_contact', placeholder: "Contact Name", ng: { model: 'enterprise.contact' } }
      .row
        .small-12.columns
          %label{ for: 'enterprise_email' } Email address:
          %input.chunky.small-12.columns{ id: 'enterprise_email', placeholder: "eg. charlie@thefarm.com", ng: { model: 'enterprise.email' } }
      .row
        .small-12.columns
          %label{ for: 'enterprise_phone' } Phone number:
          %input.chunky.small-12.columns{ id: 'enterprise_phone', placeholder: "eg. (03) 1234 5678", ng: { model: 'enterprise.phone' } }
    .small-12.large-4.columns
      %h6
        Contact display
        %i.ofn-i_013-help.has-tip{ 'data-tooltip' => true, title: "Choose how you want to display your contact details on the Open Food Network."}
      .row
        .small-12.columns
          %label.indent-checkbox
            %input{ type: 'checkbox', id: 'contact_name_profile', ng: { model: 'enterprise.name_in_profile' } } &nbsp; Display name in profile
        .small-12.columns
          %label.indent-checkbox
            %input{ type: 'checkbox', id: 'contact_email_profile', ng: { model: 'enterprise.email_in_profile' } } &nbsp; Display email in profile
        .small-12.columns
          %label.indent-checkbox
            %input{ type: 'checkbox', id: 'contact_phone_profile', ng: { model: 'enterprise.phone_in_profile' } } &nbsp; Display phone in profile
  .row.buttons
    .small-12.columns
      %input.button.primary.left{ type: "button", value: "Back", ng: { click: "select('address')" } }
      %input.button.primary.right{ type: "button", value: "Continue", ng: { click: "create()" } }