.container#registration-details
  .row.header
    %h2 Let's Get Started
    %h5 Woot! First we need to know what sort of enterprise you are:
  %ng-include{ src: "'registration/steps.html'" }
  .row.content
    .small-12.columns
      .row
        .small-12.columns
          %label{ for: 'enterprise_name' } Enterprise Name:
          %input.chunky.small-12.columns{ id: 'enterprise_name', placeholder: "eg. Charlie's Awesome Farm", ng: { model: 'enterprise.name' } }
      .row#enterprise-types{ 'data-equalizer' => true }
        .small-12.columns
          %label Choose One:
        .medium-12.large-4.columns{ 'data-equalizer-watch' => true }
          %a.small-12.columns.panel#producer{ href: "#", ng: { click: "enterprise.is_distributor = false; enterprise.is_primary_producer = true", class: "{selected: (!enterprise.is_distributor && enterprise.is_primary_producer)}" } }
            .small-2.columns
              %i.ofn-i_036-producers
            .small-10.columns
              %h6 I'm A Producer
              %span{ style: 'font-size: 80%'} Producers are anyone making things to eat &amp; drink - whether you grow it, raise it, brew it, bake it, ferment it, milk it or mould it.

        .medium-12.large-4.columns{ 'data-equalizer-watch' => true }
          %a.small-12.columns.panel#hub{ href: "#", ng: { click: "enterprise.is_distributor = true; enterprise.is_primary_producer = false", class: "{selected: (enterprise.is_distributor && !enterprise.is_primary_producer)}" } }
            .small-2.columns
              %i.ofn-i_040-hub
            .small-10.columns
              %h6 I'm A Hub
              %span{ style: 'font-size: 80%'} Hubs are anyone connecting the producer to the eater. Hubs may be a co-op, and independent retailer, a buying group, a CSA box scheme, a farm-gate stall, a wholesaler, etc...

        .medium-12.large-4.columns{ 'data-equalizer-watch' => true }
          %a.small-12.columns.panel#both{ href: "#", ng: { click: "enterprise.is_distributor = true; enterprise.is_primary_producer = true", class: "{selected: (enterprise.is_distributor && enterprise.is_primary_producer)}" } }
            .small-2.columns
              %i.ofn-i_039-delivery
            .small-10.columns
              %h6 I'm Both
              %span{ style: 'font-size: 80%'} Hey there, Jack-of-all-trades! Not only do you produce yummy things to eat and/or drink, you also want to connect directly to those who love buying your products!
  .row.buttons
    .small-12.columns
      %input.button.primary.right{ type: "button", value: "Continue", ng: { click: "select('address')" } }
        
    