.container#registration-finished
  .row
    .small-12.columns.pad-top
      %header
        %h2 {{t('registration_finished_headline')}}
        .panel.callout
          %p
            {{t('registration_finished_thanks', {enterprise: enterprise.name})}}
          %p {{t('registration_finished_login')}}
  .row
    .small-12.columns.text-center
      %h4 
        {{t('registration_finished_activate', {enterprise: enterprise.name})}}

      %p{ "ng-bind-html" => "t('registration_finished_activate_instruction_html', {email: enterprise.email})"} 

      %a.button.primary{ type: "button", href: "/" } {{t('registration_finished_action')}} &gt;
