.container#registration-images{ 'nv-file-drop' => true, uploader: "imageUploader", options:"{ alias: imageStep }", ng: { controller: "EnterpriseImageCtrl" } }
  .header
    %h2 Thanks!
    %h5 Let's upload some pretty pictures so your profile looks great! :)
  %ng-include{ src: "'registration/steps.html'" }
  %form{ name: 'images', novalidate: true, ng: { controller: "RegistrationFormCtrl", submit: "select('social')" } }
    .row{ ng: { repeat: 'image_step in imageSteps', show: "imageStep == image_step" } }
      %ng-include{ src: "'registration/images/'+ image_step + '.html'" }

    .row.buttons.pad-top{ ng: { if: "imageStep == 'logo'" } }
      .small-12.columns
        %input.button.primary{ type: "button", value: "Back", ng: { click: "select('about')" } }
        &nbsp;
        %input.button.primary{ type: "button", value: "Continue", ng: { click: "imageSelect('promo')" } }

    .row.buttons.pad-top{ ng: { if: "imageStep == 'promo'" } }
      .small-12.columns
        %input.button.primary{ type: "button", value: "Back", ng: { click: "imageSelect('logo')" } }
        &nbsp;
        %input.button.primary{ type: "submit", value: "Continue" }
