.row
  .small-12.columns
    %header
      %h2 {{'registration_greeting' | t}}
      %h4
        %small
          %i.ofn-i_040-hub
        {{'registration_intro' | t}}
    .hide-for-large-up
      %hr
      %input.button.small.primary{ type: "button", value: "{{'registration_action' | t}}", ng: { click: "select('details')" } } 
    %hr 

.row{ 'data-equalizer' => true }
  .small-12.medium-12.large-6.columns.pad-top{ 'data-equalizer-watch' => true }
    %h5 {{'registration_checklist' | t}}:
    %ul.check-list
      %li 
        {{'registration_time' | t}}
      %li 
        {{'registration_enterprise_address' | t}}
      %li 
        {{'registration_contact_details' | t}}
      %li 
        {{'registration_logo' | t}}
      %li 
        {{'registration_promo_image' | t}}
      %li 
        {{'registration_about_us' | t}}

  .small-9.medium-8.large-5.columns.pad-top.end{ 'data-equalizer-watch' => true}
    %h5
      {{'registration_outcome_headline' | t}}
    %p{ "ng-bind-html" => "t('registration_outcome1_html')" }
    %p {{'registration_outcome2' | t}}
    %p {{'registration_outcome3' | t}}

.row.show-for-large-up
  .small-12.columns
    %hr
    %input.button.primary.right{ type: "button", value: "{{'registration_action' | t}}", ng: { click: "select('details')" } }
