.row
  .small-12.columns
    %header
      %h2 {{t('registration_greeting')}}
      %h4
        %small
          %i.ofn-i_040-hub
        {{t('registration_intro')}}
    .hide-for-large-up
      %hr
      %input.button.small.primary{ type: "button", value: "{{t('registration_action')}}", ng: { click: "select('details')" } } 
    %hr 

.row{ 'data-equalizer' => true }
  .small-12.medium-12.large-6.columns.pad-top{ 'data-equalizer-watch' => true }
    %h5 {{t('registration_checklist')}}:
    %ul.check-list
      %li 
        {{t('registration_time')}}
      %li 
        {{t('registration_enterprise_address')}}
      %li 
        {{t('registration_contact_details')}}
      %li 
        {{t('registration_logo')}}
      %li 
        {{t('registration_promo_image')}}
      %li 
        {{t('registration_about_us')}}

  .small-9.medium-8.large-5.columns.pad-top.end{ 'data-equalizer-watch' => true}
    %h5
      {{t('registration_outcome_headline')}}
    %p{ "ng-bind-html" => "t('registration_outcome1_html')" }
    %p {{t('registration_outcome2')}}
    %p {{t('registration_outcome3')}}

.row.show-for-large-up
  .small-12.columns
    %hr
    %input.button.primary.right{ type: "button", value: "{{t('registration_action')}}", ng: { click: "select('details')" } }
