%div
  .header
    %h2 Hi there!
    %h4 This wizard will step you through creating a profile
  .row
    .small-12.medium-3.large-2.columns.text-right.hide-for-small-only
      %img{:src => "/assets/potatoes.png"}
    .small-12.medium-9.large-10.columns
      %p 
        Your profile gives you an online presence on the 
        %strong Open Food Network, 
        allowing you to easily connect with potential customers or partners. You can always choose to update your info later, as well as choose to upgrade your Profile to and Online Store, where you can sell products, track orders and receive payments. Creating a profile takes about 5-10 minutes.
  .row{ 'data-equalizer' => true }
    .small-12.medium-6.large-6.columns.pad-top{ 'data-equalizer-watch' => true }
      %h5 You'll need the following:
      %ul.check-list
        %li 
          Your enterprise address and contact details
        %li 
          Your logo image
        %li 
          A pretty picture for your profile header
        %li 
          Some 'About Us' text

    .small-12.medium-6.large-6.columns{ 'data-equalizer-watch' => true}
      .highlight-box
        %h5 Your profile entitles you to:
        %ul.small-block-grid-1
          %li 
            %i.ofn-i_020-search
            A searchable listing
          %li 
            %i.ofn-i_040-hub
            A pin on the OFN map
  .row
    .small-12.columns
      %hr
      %input.button.primary{ type: "button", value: "Let's get started!", ng: { click: "select('details')" } }
  