.container#registration-social
  %ng-include{ src: "'registration/steps.html'" }

  .row
    .small-12.columns
      %header
        %h2 Almost there!
        %h5 How can people find {{ enterprise.name }} online?

  %form{ name: 'social', novalidate: true, ng: { controller: "RegistrationFormCtrl", submit: "update('finished',social)" } }
    .row.content
      .small-12.large-7.columns
        .row
          .small-12.columns
            %label{ for: 'enterprise_website' } Website:
            %input.chunky.small-12.columns{ id: 'enterprise_website', placeholder: "eg. openfoodnetwork.org.au", ng: { model: 'enterprise.website' } }
        .row
          .small-12.columns
            %label{ for: 'enterprise_facebook' } Facebook:
            %input.chunky.small-12.columns{ id: 'enterprise_facebook', placeholder: "eg. www.facebook.com/PageNameHere", ng: { model: 'enterprise.facebook' } }
        .row
          .small-12.columns
            %label{ for: 'enterprise_linkedin' } LinkedIn:
            %input.chunky.small-12.columns{ id: 'enterprise_linkedin', placeholder: "eg. www.linkedin.com/YourNameHere", ng: { model: 'enterprise.linkedin' } }
      .small-12.large-5.columns
        .row
          .small-12.columns
            %label{ for: 'enterprise_twitter' } Twitter:
            %input.chunky.small-12.columns{ id: 'enterprise_twitter', placeholder: "eg. @twitter_handle", ng: { model: 'enterprise.twitter' } }
        .row
          .small-12.columns
            %label{ for: 'enterprise_instagram' } Instagram:
            %input.chunky.small-12.columns{ id: 'enterprise_instagram', placeholder: "eg. @instagram_handle", ng: { model: 'enterprise.instagram' } }

    .row.buttons
      .small-12.columns
        %input.button.secondary{ type: "button", value: "Back", ng: { click: "select('images')" } }
        &nbsp;
        %input.button.primary{ type: "submit", value: "Continue" }
