---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=6200000000000005&card[exp_month]=12&card[exp_year]=2026&card[cvc]=314
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0b30b3b2-ee75-4242-bf61-545beb43b0d8
      Original-Request:
      - req_iMf53KczMVF8Gd
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SHxSaKuuB1fWySnsKQMXWnm",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "unionpay",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "CN",
            "display_brand": "union_pay",
            "exp_month": 12,
            "exp_year": 2026,
            "fingerprint": "Aq45rzUxvT6SiF1W",
            "funding": "credit",
            "generated_from": null,
            "last4": "0005",
            "networks": {
              "available": [
                "unionpay"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1760406932,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 14 Oct 2025 01:55:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Apple+Customer&email=applecustomer%40example.com
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b8debfd4-7388-4190-91d8-f6ea8bb269ab
      Original-Request:
      - req_STsg78HiYSBeJT
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TEQJY3ddy33Xa2",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1760406933,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "applecustomer@example.com",
          "invoice_prefix": "FVA4K2TJ",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Apple Customer",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 14 Oct 2025 01:55:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_1SHxSaKuuB1fWySnsKQMXWnm&payment_method_types[0]=card&capture_method=manual&customer=cus_TEQJY3ddy33Xa2&setup_future_usage=off_session
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a0860a73-a3d1-4f5f-938b-02d2e5fd4de0
      Original-Request:
      - req_wrI1Qhy4i0QCKM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SHxSbKuuB1fWySn0oGvRnQp",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "<HIDDEN-CLIENT-SECRET>",
          "confirmation_method": "automatic",
          "created": 1760406933,
          "currency": "eur",
          "customer": "cus_TEQJY3ddy33Xa2",
          "description": null,
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SHxSaKuuB1fWySnsKQMXWnm",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 14 Oct 2025 01:55:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SHxSbKuuB1fWySn0oGvRnQp/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 53da282[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3SHxSbKuuB1fWySn0oGvRnQp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2024-06-20'
    [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SHxSbKuuB1fWySn0oGvRnQp/capture
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9adbcdb[...]
[...]
