---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000000000000069&card[exp_month]=12&card[exp_year]=2026&card[cvc]=314
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 035c0318-eab4-45f4-9800-7223947fbb21
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 035c0318-eab4-45f4-9800-7223947fbb21
      Original-Request:
      - req_GafR7Sa8p9HH1Q
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SHyaYKuuB1fWySnXtqcHNVn",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2026,
            "fingerprint": "qpQikrTL7IyNA2rE",
            "funding": "credit",
            "generated_from": null,
            "last4": "0069",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1760411270,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 14 Oct 2025 03:07:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_1SHyaYKuuB1fWySnXtqcHNVn&payment_method_types[0]=card&capture_method=manual
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - d0554b8e-b72c-4c79-b5b6-92ec69f00c6c
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d0554b8e-b72c-4c79-b5b6-92ec69f00c6c
      Original-Request:
      - req_qWQpKadZYqm1TL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SHyaZKuuB1fWySn019ZflXn",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "<HIDDEN-CLIENT-SECRET>",
          "confirmation_method": "automatic",
          "created": 1760411271,
          "currency": "eur",
          "customer": null,
          "description": null,
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SHyaYKuuB1fWySnXtqcHNVn",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 14 Oct 2025 03:07:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SHyaZKuuB1fWySn019ZflXn/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 006c4652-b836-4946-bea3-83e4ad31e444
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 006c4652-b836-4946-bea3-83e4ad31e444
      Original-Request:
      - req_9KpfYwcarPIpVt
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "advice_code": "confirm_card_data",
            "charge": "ch_3SHyaZKuuB1fWySn08gBxgdS",
            "code": "expired_card",
            "decline_code": "expired_card",
            "doc_url": "https://stripe.com/docs/error-codes/expired-card",
            "message": "Your card has expired.",
            "network_advice_code": "03",
            "network_decline_code": "54",
            "param": "exp_month",
            "payment_intent": {
              "id": "pi_3SHyaZKuuB1fWySn019ZflXn",
              "object": "payment_intent",
              "amount": 100,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "c[...]
