
<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li>
      <%= button_link_to "New Distributor", new_distributor_path, :icon => 'add', :id => 'admin_new_distributor_link' %>
    </li>
  </ul>
  <br class="clear" />
</div>

<table class="index" id='listing_distributors'>
  <thead>
    <tr data-hook="distributors_header">
      <th>Name</th>
      <th>
        Description
      </th>
    </tr>
  </thead>
  <tbody>
    <% @distributors.each do |distributor| %>
      <tr >
        <td><%= link_to distributor.name, distributor_path(distributor) %></td>
        <td><%=distributor.description %></td>
      </tr>
    <% end %>
    <% if @distributors.empty? %>
      <tr><td colspan="2"><%= t(:none) %></td></tr>
    <% end %>
  </tbody>
</table>