ul.wizard-progress li {
  a {
    color: white;
  }

  background-color: $v2-dark-light-grey;
  &:before,
  &:after {
    background-color: $v2-dark-light-grey;
  }

  &.current {
    background-color: $v2-blue-light;
    &:before,
    &:after {
      background-color: $v2-blue-light;
    }
  }
}
