---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=2000&currency=usd&source=tok_visa&metadata[order_id]=6735
    headers:
      Authorization:
      - Bearer <HIDDEN API KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 761bfeb4-7ee1-4c81-bf0d-1f85cc0949c0
      Original-Request:
      - req_topki4SXaxGGwg
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2019-11-05'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3Lk9cXKuuB1fWySn0TI8AMrw",
          "object": "charge",
          "amount": 2000,
          "amount_captured": 2000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3Lk9cXKuuB1fWySn0Ko2bgNN",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "OFNOFNOFN",
          "captured": true,
          "created": 1663692509,
          "currency": "usd",
          "customer": null,
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "order_id": "6735"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 42,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1Lk9cXKuuB1fWySnABaPXBws",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": null
              },
              "country": "US",
              "exp_month": 9,
              "exp_year": 2023,
              "fingerprint": "6E6tgVjx6U65iHFV",
              "funding": "credit",
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "network": "visa",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xRmlxRXNLdXVCMWZXeVNuKN7dp5kGMgbN8weGDbs6LBZM2-baa3d6OcpNkyFBlD9ntXsZkBiC7cOLrRBSiMjTMmSYDpspP88klsk0",
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_3Lk9cXKuuB1fWySn0TI8AMrw/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1Lk9cXKuuB1fWySnABaPXBws",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2023,
            "fingerprint": "6E6tgVjx6U65iHFV",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 20 Sep 2022 16:48:30 GMT
recorded_with: VCR 6.1.0
