- if @report.present?
  %table#enterprise_fee_summary_report.report__table
    %thead
      %tr
        - @renderer.header.each do |heading|
          %th= heading

    %tbody
      - @renderer.data_rows.each do |row|
        %tr
          - row.each do |cell_value|
            %td= cell_value

      - if @renderer.data_rows.empty?
        %tr
          %td{colspan: @renderer.header.length}= t('.none')
- else
  %p.report__message
    = t(".select_and_search")
