@use "../modern-variables" as *;
@use "../branding" as b;

@mixin bulk-label {
  background-color: b.$white;
  border-radius: $radius;
  padding: 2px 10px;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}
