!!! XML
%urlset{xmlns: "http://www.sitemaps.org/schemas/sitemap/0.9"}
  - for page_url in @page_urls
    %url
      %loc= page_url
      %changefreq monthly

  - for enterprise in @enterprises
    %url
      %loc= enterprise_shop_url(enterprise)
      %lastmod= enterprise.updated_at.strftime('%Y-%m-%d')
      %changefreq weekly

  - for group in @groups
    %url
      %loc= group_url(group)
      %changefreq monthly
