---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=6205500000000000004&card[exp_month]=12&card[exp_year]=2024&card[cvc]=314
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ece5f5ca-94ae-485f-b50f-cb8adabdf8df
      Original-Request:
      - req_Wo2qnoErMuGcJk
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1OK0OxKuuB1fWySnzESkHW85",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "unionpay",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "F9o1vzLUnyEJBPXi",
            "funding": "debit",
            "generated_from": null,
            "last4": "0004",
            "networks": {
              "available": [
                "unionpay"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1701789551,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 05 Dec 2023 15:19:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_1OK0OxKuuB1fWySnzESkHW85&payment_method_types[0]=card&capture_method=manual
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3315bd46-3d67-465e-ab03-503feec78d86
      Original-Request:
      - req_KNDdQAdBM86x54
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3OK0OyKuuB1fWySn0R6JrFXQ",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "pi_3OK0OyKuuB1fWySn0R6JrFXQ_secret_HrcT6rjw8dm8YPLHpOwKACXDS",
          "confirmation_method": "automatic",
          "created": 1701789552,
          "currency": "eur",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1OK0OxKuuB1fWySnzESkHW85",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 05 Dec 2023 15:19:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3OK0OyKuuB1fWySn0R6JrFXQ/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - af79f075-1e7e-43b6-[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3OK0OyKuuB1fWySn0R6JrFXQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3OK0OyKuuB1fWySn0R6JrFXQ/capture
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a44878b0-2de2-4bac-[...]
[...]
