#banner-container
  .terms-of-service-banner.form-actions
    .column-left
      %p= t("admin.terms_of_service_have_been_updated_html", tos_link: link_to(t("admin.terms_of_service"), TermsOfServiceFile.current_url, target: "_blank"))
    .column-right
      = button_to admin_accept_terms_of_services_path, data: { turbo_method: :post }, form: { data: { turbo: true } } do
        = t("admin.accept_terms_of_service")
      
