#banner-container
  .terms-of-service-banner.form-actions
    .column-left
      %p= t("admin.terms_of_service_have_been_updated_html", tos_link: link_to(t("admin.terms_of_service"), TermsOfServiceFile.current_url, target: "_blank"))
    .column-right
      %button{ data: { reflex: "click->user#accept_terms_of_services" } }
        = t("admin.accept_terms_of_service")
      
