---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=6011111111111117&card[exp_month]=12&card[exp_year]=2025&card[cvc]=314
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_SECRET_TEST_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a94931ea-3eb0-4c49-98c2-73c72eac0850
      Original-Request:
      - req_nQl3ilRWAYub8x
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1ObAHQKuuB1fWySnURRcgyHa",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "discover",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "SJztPPlfyEUr9hdK",
            "funding": "credit",
            "generated_from": null,
            "last4": "1117",
            "networks": {
              "available": [
                "discover"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1705879100,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Sun, 21 Jan 2024 23:18:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_1ObAHQKuuB1fWySnURRcgyHa&payment_method_types[0]=card&capture_method=manual
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_SECRET_TEST_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9d409420-d5de-4f9d-b258-5ac187ad8667
      Original-Request:
      - req_J4CPxL04XMdalO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3ObAHRKuuB1fWySn00nneONE",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "pi_3ObAHRKuuB1fWySn00nneONE_secret_kzxbiAmhHAb3KI3qv6kh9uHhl",
          "confirmation_method": "automatic",
          "created": 1705879101,
          "currency": "eur",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1ObAHQKuuB1fWySnURRcgyHa",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Sun, 21 Jan 2024 23:18:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3ObAHRKuuB1fWySn00nneONE/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_SECRET_TEST_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
    [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3ObAHRKuuB1fWySn00nneONE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_SECRET_TEST_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3ObAHRKuuB1fWySn00nneONE/capture
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_SECRET_TEST_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
    [...]
[...]
