#products_page_form {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  grid-gap: 10px;
  margin-bottom: 10px;
  
  #filter_results {

  }
  #columns_selector {

  }
}

#products_table {
}
