.products-table {
  .products-table-form {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 10px;
    margin-bottom: 10px;
  }

  .products-table_table {
    box-shadow: 0 10px 10px -1px rgb(0 0 0 / 10%);
  }

  .products-table-form_pagination {
    position: relative;
    top: -15px;

    nav, .pagination {
      margin-top: 0;
      padding-top: 0;
    }
  }
}

.products-table.loading {
  .products-table-form_pagination, .products-table_table {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  .products-table_table {
    &:before {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50px 50px;
      background-image: url("../images/spinning-circles.svg");
    }
  }
}
