= component_controller do
  #products_page_form
    #filter_results
      %input.search{type: 'text', placeholder: 'Search', id: 'search_query'}
      %button.btn.btn-primary{type: 'submit'}
        Filter results

    #per-page_selector
      = render(SelectorComponent.new(title: "# per page", selected: @per_page_selected, items: @per_page, data: { key: key, reflex: "click->ProductsTableComponent#toggle_per_page" }))
    #columns_selector
      = render(SelectorComponent.new(title: "Columns", selected: @columns_selected, items: @columns, data: { key: key, reflex: "click->ProductsTableComponent#toggle_column" }))

  #products_table
    %table
      = render(ProductComponent.with_collection(@products, columns: @columns_selected))
