%div
  .margin-bottom-30
    %p
      {{ 'js.admin.modals.business_address_info.message' | t }}

  .text-center
    %input.button.red.icon-plus{ type: 'button', value: t('js.admin.modals.got_it'), ng: { click: 'close()' } }
