#invite-manager-modal{ng: {app: 'admin.enterprises', controller: 'enterpriseCtrl'}}

  .margin-bottom-30.text-center
    .text-big
      = t('js.admin.modals.invite_title')

  %p.alert-box.ok{ng: {show: 'invite_success'}}
    {{invite_success}}

  %p.alert-box.error{ng: {show: 'invite_errors'}}
    {{invite_errors}}

  %input#invite_email.fullwidth.margin-bottom-20{ng: {model: 'newUser'}}

  .margin-bottom-20.text-center
    %button.text-center.margin-top-10{ng: {show: '!invite_success', click: 'inviteManager()'}}
      = t('js.admin.modals.invite')
    %button.text-center.margin-top-10{ng: {show: 'invite_success', click: 'resetModal(); close()'}}
      = t('js.admin.modals.close')
