#tag-rule-help
  .margin-bottom-30.text-center
    .text-big
      {{ 'js.admin.modals.tag_rule_help.title' | t }}

  .margin-bottom-30
    .text-normal
      {{ 'js.admin.modals.tag_rule_help.overview' | t }}
    %p
      {{ 'js.admin.modals.tag_rule_help.overview_text' | t }}

  .margin-bottom-30
    .text-normal
      {{ 'js.admin.modals.tag_rule_help.by_default_rules' | t }}
    %p
      {{ 'js.admin.modals.tag_rule_help.by_default_rules_text' | t }}

  .margin-bottom-30
    .text-normal
      {{ 'js.admin.modals.tag_rule_help.customer_tagged_rules' | t }}
    %p
      {{ 'js.admin.modals.tag_rule_help.customer_tagged_rules_text' | t }}

  .text-center
    %input.button.red.icon-plus{ type: 'button', value: t('js.admin.modals.got_it'), ng: { click: 'close()' } }
