#tag-rule-help
  .margin-bottom-30.text-center
    .text-big Tag Rules

  .margin-bottom-30
    .text-normal Overview
    %p Tag rules provide a way to describe which items are visible or otherwise to which customers. Items can be Shipping Methods, Payment Methods, Products and Order Cycles.

  .margin-bottom-30
    .text-normal 'By Default...' Rules
    %p Default rules allow you to hide items so that they are not visible by default. This behaviour can then be overriden by non-default rules for customers with particular tags.

  .margin-bottom-30
    .text-normal 'Customers Tagged...' Rules
    %p By creating rules related to a specific customer tag, you can override the default behaviour (whether it be to show or to hide items) for customers with the specified tag.

  .text-center
    %input.button.red.icon-plus{ type: 'button', value: 'Got it', ng: { click: 'close()' } }
