%div
  .margin-bottom-30.text-center
    .text-big
      {{ 'js.admin.modals.terms_and_conditions_info.title' | t }}
  .margin-bottom-30
    %p
      {{ 'js.admin.modals.terms_and_conditions_info.message_1' | t }}
  .margin-bottom-30
    %p
      {{ 'js.admin.modals.terms_and_conditions_info.message_2' | t }}

  .text-center
    %input.button.red.icon-plus{ type: 'button', value: t('js.admin.modals.got_it'), ng: { click: 'close()' } }
