---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Apple+Customer&email=applecustomer%40example.com
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 8d68c3e6-08bc-411b-a9ef-05557109031a
      Stripe-Version:
      - 2025-08-27.basil
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8d68c3e6-08bc-411b-a9ef-05557109031a
      Original-Request:
      - req_SeAXfWIatJcXD8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-08-27.basil
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TZpB33VkBwl1qF",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1765342886,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "applecustomer@example.com",
          "invoice_prefix": "KMDRO4FH",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Apple Customer",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 10 Dec 2025 05:01:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_card_chargeDeclinedExpiredCard&payment_method_types[0]=card&capture_method=manual&customer=cus_TZpB33VkBwl1qF&setup_future_usage=off_session
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 11c2a6c0-f833-4ecf-afc4-0ab081d3317c
      Stripe-Version:
      - 2025-08-27.basil
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 11c2a6c0-f833-4ecf-afc4-0ab081d3317c
      Original-Request:
      - req_CMo3IC0Poex53c
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-08-27.basil
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3ScfWkKuuB1fWySn2lPP0MOt",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "<HIDDEN-CLIENT-SECRET>",
          "confirmation_method": "automatic",
          "created": 1765342886,
          "currency": "eur",
          "customer": "cus_TZpB33VkBwl1qF",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1ScfWkKuuB1fWySnmjVlvZ2v",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Wed, 10 Dec 2025 05:01:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3ScfWkKuuB1fWySn2lPP0MOt/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 83b5b887-1c74-4afc-889b-9391dc0fa63e
      Stripe-Version:
      - 2025-08-27.basil
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 83b5b887-1c74-4afc-889b-9391dc0fa63e
      Original-Request:
      - req_i59BYUL8GCK0ni
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-08-27.basil
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "advice_code": "confirm_card_data",
            "charge": "ch_3ScfWkKuuB1fWySn2N5br7yl",
            "code": "expired_card",
            "decline_code": "expired_card",
            "doc_url": "https://stripe.com/docs/error-codes/expired-card",
            "message": "Your card has expired.",
            "network_advice_code": "03",
            "network_decline_code": "54",
            "param": "exp_month",
            "payment_intent": {
              "id": "pi_3ScfWkKuuB1fWySn2lPP0MOt",
              "object": "payment_intent",
              "amount": 100,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "c[...]
