---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/card_1JBPhVG8x19R0F04ElQj9FQ4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9x7Au91q3BRmsPi1H2l6qvIf00lpLDKToD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-11-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_1JBPhVG8x19R0F04ElQj9FQ4",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": "a b",
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "exp_month": 11,
            "exp_year": 2022,
            "fingerprint": "TW1uWB5iH0CnfxaY",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1625860169,
          "customer": "cus_Jp3pmtUJoPmbhW",
          "livemode": false,
          "metadata": {
          },
          "type": "card"
        }
  recorded_at: Thu, 19 Aug 2021 22:52:17 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?email=ofn@example.com&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9x7Au91q3BRmsPi1H2l6qvIf00lpLDKToD
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1DzZw1G8x19R0F04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-11-08'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "cus_Jp3pmtUJoPmbhW",
              "object": "customer",
              "account_balance": 0,
              "address": null,
              "balance": 0,
              "created": 1625860174,
              "currency": null,
              "default_source": "card_1JBPhVG8x19R0F04ElQj9FQ4",
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "ofn@example.com",
              "invoice_prefix": "CC2F172A",
              "invoice_settings": {
                "custom_fields": null,
                "default_payment_method": null,
                "footer": null
              },
              "livemode": false,
              "metadata": {
              },
              "name": null,
              "next_invoice_sequence": 1,
              "phone": null,
              "preferred_locales": [

              ],
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_1JBPhVG8x19R0F04ElQj9FQ4",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_Jp3pmtUJoPmbhW",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 11,
                    "exp_year": 2022,
                    "fingerprint": "TW1uWB5iH0CnfxaY",
                    "funding": "credit",
                    "last4": "4242",
                    "metadata": {
                    },
                    "name": "a b",
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_Jp3pmtUJoPmbhW/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [

                ],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/customers/cus_Jp3pmtUJoPmbhW/subscriptions"
              },
              "tax_exempt": "none",
              "tax_ids": {
                "object": "list",
                "data": [

                ],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/customers/cus_Jp3pmtUJoPmbhW/tax_ids"
              },
              "tax_info": null,
              "tax_info_verification": null
            },
            {
              "id": "cus_JNlc6wrY5SfkcW",
              "object": "customer",
              "account_balance": 0,
              "address": null,
              "balance": 0,
              "created": 1619565199,
              "currency": null,
              "default_source": null,
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "ofn@example.com",
              "invoice_prefix": "9B38A30F[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_Jp3pmtUJoPmbhW&limit=100&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9x7Au91q3BRmsPi1H2l6qvIf00lpLDKToD
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1DzZw1G8x19R0F04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_JNlc6wrY5SfkcW&limit=100&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9x7Au91q3BRmsPi1H2l6qvIf00lpLDKToD
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1DzZw1G8x19R0F04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_InW32Mf3XXuE9S&limit=100&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9x7Au91q3BRmsPi1H2l6qvIf00lpLDKToD
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1DzZw1G8x19R0F04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_IaezzkFEXVHcZJ&limit=100&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9x7Au91q3BRmsPi1H2l6qvIf00lpLDKToD
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1DzZw1G8x19R0F04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_IHZck7bxYdh8aK&limit=100&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9x7Au91q3BRmsPi1H2l6qvIf00lpLDKToD
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1DzZw1G8x19R0F04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_IHZb1svWJrPbq2&limit=100&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9x7Au91q3BRmsPi1H2l6qvIf00lpLDKToD
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1DzZw1G8x19R0F04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_IHZZ1C8eCT0FXJ&limit=100&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9x7Au91q3BRmsPi1H2l6qvIf00lpLDKToD
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1DzZw1G8x19R0F04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_IHWUBvjc5AMyel&limit=100&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9x7Au91q3BRmsPi1H2l6qvIf00lpLDKToD
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1DzZw1G8x19R0F04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_IHW0Oq73s6023x&limit=100&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9x7Au91q3BRmsPi1H2l6qvIf00lpLDKToD
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1DzZw1G8x19R0F04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_IHVzJYldvvPgKr&limit=100&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9x7Au91q3BRmsPi1H2l6qvIf00lpLDKToD
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1DzZw1G8x19R0F04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_IHVyX8N19tv5BY&limit=100&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9x7Au91q3BRmsPi1H2l6qvIf00lpLDKToD
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1DzZw1G8x19R0F04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_IHVVgL1hKb73cF&limit=100&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9x7Au91q3BRmsPi1H2l6qvIf00lpLDKToD
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1DzZw1G8x19R0F04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_IHVQbtgCNdloHd&limit=100&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9x7Au91q3BRmsPi1H2l6qvIf00lpLDKToD
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1DzZw1G8x19R0F04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_IHVPCCLYamAzWY&limit=100&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9x7Au91q3BRmsPi1H2l6qvIf00lpLDKToD
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1DzZw1G8x19R0F04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_IHVOuNGzNoG3MX&limit=100&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9x7Au91q3BRmsPi1H2l6qvIf00lpLDKToD
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1DzZw1G8x19R0F04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_IHVOgoX24j7ko5&limit=100&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9x7Au91q3BRmsPi1H2l6qvIf00lpLDKToD
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1DzZw1G8x19R0F04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_IHUu70S0jA3Jxg&limit=100&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9x7Au91q3BRmsPi1H2l6qvIf00lpLDKToD
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1DzZw1G8x19R0F04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_IHTxnMzKeNi3Gu&limit=100&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9x7Au91q3BRmsPi1H2l6qvIf00lpLDKToD
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1DzZw1G8x19R0F04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods?customer=cus_IHTlBlKwJJSAiW&limit=100&type=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_9x7Au91q3BRmsPi1H2l6qvIf00lpLDKToD
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_1DzZw1G8x19R0F04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
[...]
