%ofn-carousel-container {
  position: relative;
}

%ofn-carousel-image {
  width: 100%;
  display: block;
  object-fit: cover;
}

%ofn-carousel-caption {
  margin: 0;
  padding: 0.75rem 1rem;
  background: rgb(255 255 255);
  color: $white;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 16px;
  border-radius: 8px 8px 0px 0px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 8px 12px 4px 12px;
  color: #444;
}

%ofn-carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
  border: none;
  background: rgb(255 255 255);
  color: $white;
  cursor: pointer;
}

%ofn-carousel-button-prev {
  left: 0.5rem;
  color: #444;
  font-weight: 400;
  padding: 0 2px 2px 1px;
}

%ofn-carousel-button-next {
  right: 0.5rem;
  color: #444;
  font-weight: 400;
  padding: 0 0px 2px 1px;
}

%ofn-carousel-pagination {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.5rem;
  z-index: 2;
  text-align: center;
}

.ofn-carousel {
  @extend %ofn-carousel-container;

  .swiper-slide {
    position: relative;
  }

  .ofn-carousel__image {
    @extend %ofn-carousel-image;
  }

  .ofn-carousel__caption {
    @extend %ofn-carousel-caption;
  }

  .ofn-carousel__button {
    @extend %ofn-carousel-button;
  }

  .ofn-carousel__button--prev {
    @extend %ofn-carousel-button-prev;
  }

  .ofn-carousel__button--next {
    @extend %ofn-carousel-button-next;
  }

  .ofn-carousel__pagination {
    @extend %ofn-carousel-pagination;
  }
}
