= admin_inject_shops

%div{ ng: { app: 'admin.customers', controller: 'customersCtrl' } }
  .row{ ng: { hide: "loaded()" } }
    .two.columns.alpha
      Hub
    .four.columns
      %select.select2.fullwidth#shop_id{ 'ng-model' => 'shop.id', name: 'shop_id', 'ng-options' => 'shop.id as shop.name for shop in shops' }
    .ten.columns.omega
      %input{ type: 'button', value: 'Go', ng: { click: 'initialise()' } }

  .row{ 'ng-hide' => '!loaded() || lineItems.length == 0' }
    .controls{ :class => "sixteen columns alpha", :style => "margin-bottom: 15px;" }
      .three.columns.alpha
        %input{ :class => "fullwidth", :type => "text", :id => 'quick_search', 'ng-model' => 'quickSearch', :placeholder => 'Quick Search' }
      .three.columns &nbsp;
      -#   %div.ofn_drop_down{ 'ng-controller' => "DropDownCtrl", :id => "bulk_actions_dropdown", 'ofn-drop-down' => true }
      -#     %span{ :class => 'icon-check' } &nbsp; Actions
      -#     %span{ 'ng-class' => "expanded && 'icon-caret-up' || !expanded && 'icon-caret-down'" }
      -#     %div.menu{ 'ng-show' => "expanded" }
      -#       %div.menu_item{ :class => "three columns alpha", 'ng-repeat' => "action in bulkActions", 'ng-click' => "selectedBulkAction.callback(filteredCustomers)", 'ofn-close-on-click' => true }
      -#         %span{ :class => 'three columns omega' } {{action.name }}
      .seven.columns &nbsp;
      .three.columns.omega
        %div.ofn_drop_down{ 'ng-controller' => "DropDownCtrl", :id => "columns_dropdown", 'ofn-drop-down' => true, :style => 'float:right;' }
          %span{ :class => 'icon-reorder' } &nbsp; Columns
          %span{ 'ng-class' => "expanded && 'icon-caret-up' || !expanded && 'icon-caret-down'" }
          %div.menu{ 'ng-show' => "expanded" }
            %div.menu_item{ :class => "three columns alpha", 'ng-repeat' => "column in columns",  'ofn-toggle-column' => true }
              %span{ :class => 'one column alpha', :style => 'text-align: center'} {{ column.visible && "&#10003;" || !column.visible && "&nbsp;" }}
              %span{ :class => 'two columns omega' } {{column.name }}
  .row{ 'ng-if' => 'shop_id && !loaded()' }
    .sixteen.columns.alpha#loading
      %img.spinner{ src: "/assets/spinning-circles.svg" }
      %h1 LOADING CUSTOMERS
  .row{ :class => "sixteen columns alpha", 'ng-show' => 'loaded() && filteredCustomers.length == 0'}
    %h1#no_results No customers found.


  .row{ ng: { show: "loaded()" } }
    %form{ name: "customers" }
      %table.index#customers{ :class => "sixteen columns alpha" }
        %thead
          %tr{ ng: { controller: "ColumnsCtrl" } }
            %th.bulk
              %input{ :type => "checkbox", :name => 'toggle_bulk', 'ng-click' => 'toggleAllCheckboxes()', 'ng-checked' => "allBoxesChecked()" }
            %th.email{ 'ng-show' => 'columns.email.visible' }
              %a{ :href => '', 'ng-click' => "predicate = 'customer.email'; reverse = !reverse" } Email
            %th.code{ 'ng-show' => 'columns.code.visible' }
              %a{ :href => '', 'ng-click' => "predicate = 'customer.code'; reverse = !reverse" } Code
            %th.actions
              Ask?&nbsp;
              %input{ :type => 'checkbox', 'ng-model' => "confirmDelete" }
          %tr.customer{ 'ng-repeat' => "customer in filteredCustomers = ( customers | filter:quickSearch | orderBy:predicate:reverse )", 'ng-class-even' => "'even'", 'ng-class-odd' => "'odd'", :id => "c_{{customer.id}}" }
            %td.bulk
              %input{ :type => "checkbox", :name => 'bulk', 'ng-model' => 'customer.checked' }
            %td.email{ 'ng-show' => 'columns.email.visible' } {{ customer.email }}
            %td.code{ 'ng-show' => 'columns.code.visible' }
              %input{ :type => 'text', :name => 'code', :id => 'code', 'ng-model' => 'customer.code', 'obj-for-update' => "customer", "attr-for-update" => "code" }
            %td.actions
              %a{ 'ng-click' => "deleteCustomer(customer)", :class => "delete-customer icon-trash no-text" }
      %input{ :type => "button", 'value' => 'Update', 'ng-click' => 'submitAll()' }
