
//// Foundation base variables
//
//$white         : #FFFFFF !default;
//$ghost         : #FAFAFA !default;
//$snow          : #F9F9F9 !default;
//$vapor         : #F6F6F6 !default;
//$white-smoke   : #F5F5F5 !default;
//$silver        : #EFEFEF !default;
//$smoke         : #EEEEEE !default;
//$gainsboro     : #DDDDDD !default;
//$iron          : #CCCCCC !default;
//$base          : #AAAAAA !default;
//$aluminum      : #999999 !default;
//$jumbo         : #888888 !default;
//$monsoon       : #777777 !default;
//$steel         : #666666 !default;
//$charcoal      : #555555 !default;
//$tuatara       : #444444 !default;
//$oil           : #333333 !default;
//$jet           : #222222 !default;
//$black         : #000000 !default;
//
//// We use these as default colors throughout
//$primary-color: #008CBA !default;   // bondi-blue
//$secondary-color: #e7e7e7 !default; // white-lilac
//$alert-color: #f04124 !default;     // cinnabar
//$success-color: #43AC6A !default;   // sea-green
//$warning-color: #f08a24 !default;   // carrot
//$info-color: #a0d3e8 !default;      // cornflower


$modal-background-color: #efefef;
$modal-content-background-color: #fff;
$modal-alert-link-color: #fff;
$modal-alert-link-hover-color: rgba(255, 255, 255, .7);

$cookies-banner-background-color: $dark-grey;
$cookies-banner-button-background-color: $clr-turquoise;
$cookies-banner-text-color: $white;
$cookies-policy-modal-background-color: $disabled-light;
$cookies-policy-modal-border-bottom-color: $disabled-light;
$cookies-policy-modal-table-tr-even-background-color: $disabled-very-light;
