.pagination {
  text-align: center;
  margin: 2em 0 1em;
  padding: 10px 0;

  background-color: $light-grey;

  .page {
    padding: 5px 8px;
    text-align: center;
    display: inline-block;
    text-align: center;

    &.current {
      background-color: $green;
      border-radius: 3px;
      color: $white;
    }
  }

  button {
    margin: 0 0.35em;

    background-color: $white;
    color: $near-black;
    box-shadow: $color-btn-shadow;

    &.active {
      color: $white;
      background-color: $red;
      cursor: default;
    }

    &.disabled {
      display: none;
    }
  }
}
