.pagination {
  text-align: center;
  margin: 0 0 1em;
  padding: 10px 0;

  background-color: $color-7;

  .page {
    width: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    text-align: center;
    background-color: $color-1;
    @include defaultBoxShadow;
    border-radius: 4px;
    color: $color-9;

    &.current {
      background-color: $color-5;
      color: $white;
    }

    &.prev {
      margin-right: 20px;
    }

    &.next {
      margin-left: 20px;
    }

    &.disabled {
      cursor: default;
    }
  }

  button {
    margin: 0 0.35em;

    background-color: $white;
    color: $near-black;
    box-shadow: $color-btn-shadow;

    &.active {
      color: $white;
      background-color: $red;
      cursor: default;
    }

    &.disabled {
      display: none;
    }
  }
}
