.select2-container {
  .select2-choice {
    height: $btn-relaxed-height;
    padding: 10px 15px;
    color: $near-black !important;

    .select2-search-choice-close {
      display: none !important;
    }
    .select2-arrow {
      width: 27px; // adjust to align with tom-select
      border: none;
      background-image: none;
      background-color: transparent;

      b {
        padding-top: 11px; // adjust to align with tom-select
        &:before {
          content: " ";
          display: block;
          position: absolute;
          top: 50%;
          right: 15px;
          margin-top: -3px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 5px 0 5px;
          border-color: #808080 transparent transparent transparent;
        }
      }
    }
  }

  &.light {
    .select2-choice {
      background-color: #ffffff;
      font-weight: normal;
      color: $spree-blue !important;
      border: 1px solid $color-border !important;
    }

    &:hover,
    &.select2-container-active {
      .select2-choice {
        background-color: #ffffff !important;
        border: 1px solid $spree-green !important;

        .select2-arrow {
          &:before {
            color: $spree-blue;
          }
        }
      }
    }
  }

  &.select2-container-multi {
    .select2-search-field {
      max-height: 20px;
      input {
        padding: 0 !important;
        margin: 0 0 0 5px !important;
      }
    }
    .select2-search-choice {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 7px;

      .select2-search-choice-close {
        position: relative;
        order: -1;
        width: auto;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        font-size: 100% !important;
      }
    }
  }
}

.select2-results li.select2-highlighted .select2-result-label,
.select2-results li.select2-highlighted .select2-result-label h6 {
  color: $near-black !important;
}
