---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Apple+Customer&email=applecustomer%40example.com
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - eec320ec-2814-46f1-bb7a-590ab7db61d5
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - eec320ec-2814-46f1-bb7a-590ab7db61d5
      Original-Request:
      - req_mds2ODW2bAI8SM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TMVG7siFajtvsd",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1762270505,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "applecustomer@example.com",
          "invoice_prefix": "HQSZBSTZ",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Apple Customer",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 04 Nov 2025 15:35:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_card_mastercard&payment_method_types[0]=card&capture_method=manual&customer=cus_TMVG7siFajtvsd&setup_future_usage=off_session
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 786765e6-6ad1-4425-b917-a10a686fb85a
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 786765e6-6ad1-4425-b917-a10a686fb85a
      Original-Request:
      - req_5c4c56cpEHVAXn
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SPmGDKuuB1fWySn2ELr7qAB",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "<HIDDEN-CLIENT-SECRET>",
          "confirmation_method": "automatic",
          "created": 1762270505,
          "currency": "eur",
          "customer": "cus_TMVG7siFajtvsd",
          "description": null,
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SPmGDKuuB1fWySnGH1lFg2I",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 04 Nov 2025 15:35:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SPmGDKuuB1fWySn2ELr7qAB/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 6ad1f933-16e9-4c70-9c3d-7e6108638c1c
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Cont[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3SPmGDKuuB1fWySn2ELr7qAB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - 2025-02-24.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF[...]
