%colgroup
  %col.actions
  %col.image{ ng: { show: 'columns.image.visible' } }
  %col.producer{ ng: { show: 'columns.producer.visible' } }
  %col.sku{ ng: { show: 'columns.sku.visible' } }
  %col.name{ ng: { show: 'columns.name.visible' } }
  %col.unit{ ng: { show: 'columns.unit.visible' } }
  %col.display_as{ ng: { show: 'columns.unit.visible' } }
  %col.price{ ng: { show: 'columns.price.visible'} }
  %col.on_hand{ ng: { show: 'columns.on_hand.visible' } }
  %col.on_demand{ ng: { show: 'columns.on_demand.visible' } }
  %col.category{ ng: { show: 'columns.category.visible' } }
  %col.tax_category{ ng: { show: 'columns.tax_category.visible' } }
  %col.inherits_properties{ ng: { show: 'columns.inherits_properties.visible' } }
  %col.import_date{ ng: { show: 'columns.import_date.visible' } }
  %col.actions
  %col.actions
  %col.actions

%thead
  %tr{ ng: { controller: "ColumnsCtrl" } }
    %th.left-actions
      %a{ 'ng-click' => 'toggleShowAllVariants()', :style => 'color: red; cursor: pointer' }
        = t(:expand_all)
    %th.image{ 'ng-show' => 'columns.image.visible' }
    %th.producer{ 'ng-show' => 'columns.producer.visible' }=t('admin.producer')
    %th.sku{ 'ng-show' => 'columns.sku.visible' }=t('admin.sku')
    %th.name{ 'ng-show' => 'columns.name.visible' }
      = render partial: 'spree/admin/shared/sortable_header', locals: {column_name: 'name'}
    %th.unit{ 'ng-show' => 'columns.unit.visible' }=t('.unit')
    %th.display_as{ 'ng-show' => 'columns.unit.visible' }=t('.display_as')
    %th.price{ 'ng-show' => 'columns.price.visible' }=t('admin.price')
    %th.on_hand{ 'ng-show' => 'columns.on_hand.visible' }=t('admin.on_hand')
    %th.on_demand{ 'ng-show' => 'columns.on_demand.visible' }=t('admin.on_demand?')
    %th.category{ 'ng-show' => 'columns.category.visible' }=t('.category')
    %th.tax_category{ 'ng-show' => 'columns.tax_category.visible' }=t('.tax_category')
    %th.inherits_properties{ 'ng-show' => 'columns.inherits_properties.visible' }=t('.inherits_properties?')
    %th.import_date{ 'ng-show' => 'columns.import_date.visible' }=t('.import_date')
    %th.actions
    %th.actions
    %th.actions
