= component_controller do
  %div.search-input
    %input{type: 'text', placeholder: t("components.search_input.placeholder"), id: 'search_query', data: {action: 'debounced:input->search-input#search'}, value: @value}
    .search-button{data: @data}
      %i.fa.fa-search
