.search-input {
  border: 1px solid $light-grey;
  height: 3em;
  display: flex;
  line-height: 3em;
  align-items: center;

  input {
    border: none;
    height: 3em;
    width: 100%;
    box-sizing: border-box;
    padding-right: 5px;
  }

  .search-button {
    padding-right: 10px;
    padding-left: 5px;
    cursor: pointer;
    color: $color-4;
  }

}
