@use "shop_partials/property-selector-base" as base;

.product-header {
  padding-left: 1.5rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.2rem 1.5rem 0 0;
  }

  span {
    color: $grey-500;
  }

  .product-description {
    margin: 1rem 0.25rem 0.25rem 0;

    .text-small div {
      margin-bottom: 1.5rem; // Equivalent to p (trix doesn't use p as separator by default, so emulate div as p to be backward compatible)
    }

    @include trix-styles;
  }

  .property-selectors li {
    margin: 0 0.25rem 0.25rem 0;
    padding: 0.4rem 0 0;

    span {
      @include base.property-selector($grey-650, $grey-300);
    }
  }
}
