@use "shop_partials/property-selector-base" as base;

.product-header {
  padding-left: 1.5rem;

  .bulk-label {
    display: inline-block;
    background-color: $white;
    border: 1px solid $light-grey;
    color: $dark-grey;
    border-radius: 8px;
    padding: 2px 10px;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.2rem 1.5rem 0 0;
  }

  span {
    color: $grey-500;
  }

  .product-description {
    margin: 1rem 0.25rem 0.25rem 0;

    .text-small div {
      margin-bottom: 1.5rem; // Equivalent to p (trix doesn't use p as separator by default, so emulate div as p to be backward compatible)
    }

    @include trix-styles;
  }

  .property-selectors li {
    margin: 0 0.25rem 0.25rem 0;
    padding: 0.4rem 0 0;

    span {
      @include base.property-selector($grey-650, $grey-300);
    }
  }
}
