#hubs {
  background-color: lighten($ofn-grey, 43%);

  @include panepadding;

  @include sidepaddingSm;

  .name-matches, .distance-matches {
    margin-top: 4em;
  }

  .more-controls {
    text-align: center;

    .spinner {
      height: 2.25em;
      margin-right: 0.5em;
    }
  }
}

#hubs > div:nth-child(1) > div > h1 {margin-bottom: 20px;}

#hubs #active-table-search > div {margin-bottom: 10px;}

#hubs .button.success, button.success {background: grey;} 

#hubs .button.success:hover, button.success:active, button.success:focus, button.success:hover {background: darkseagreen;}