// Variables to be used with @use import rules

$padding-tbl-cell: 12px;
$radius: 8px;
$radius-image: $radius;
$radius-button: $radius;

$product-spinner-width: 100px;

// z-index
// foundation-rails components/_reveal.scss uses 1005 for modal
$variant-modal-bg-z-index: 1005;
$variant-modal-z-index: 1006;
