@use "modern-variables" as *;
@use "shop_partials/spinner";

.loading {
  .spinner-summary {
    @include spinner.summary;
  }

  .spinner {
    @include spinner.product-spinner;
  }
}

// product grid view layout. The tiles themselves are styled by ProductTileComponent.
.products-container {
  // Locally scoped variables
  --gap: 2px;
  --line-offset: calc(var(--gap) / 2);
  --line-thickness: 1px;
  --column-width: 170px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--column-width), 1fr));
  overflow: hidden;
  margin-top: $padding-tbl-cell; // 12px
}
