@use "modern-variables" as *;
@use "branding" as b;
@use "shop_partials/spinner";

.loading {
  .spinner-summary {
    @include spinner.summary;
  }

  .spinner {
    @include spinner.product-spinner;
  }
}

// product grid view layout
.products-container {
  // Locally scoped variables
  --gap: 2px;
  --line-offset: calc(var(--gap) / 2);
  --line-thickness: 1px;
  --column-width: 170px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--column-width), 1fr));
  overflow: hidden;
  margin-top: $padding-tbl-cell; // 12px
}

.product-item {
  width: 100%;
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    background-color: b.$light-grey;
    z-index: 1;
  }

  // Row Borders
  &:after {
    inline-size: 100vw;
    block-size: var(--line-thickness);
    inset-inline-start: 0;
    inset-block-start: calc(var(--line-offset) * -1);
  }

  // Column Borders
  &:before {
    inline-size: var(--line-thickness);
    block-size: 100vh;
    inset-inline-start: calc(var(--line-offset) * -1);
  }

  .product-content {
    width: var(--collumn-width);
    margin-left: auto;
    margin-right: auto;
    padding: $padding-tbl-cell;

    p {
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;

    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
      border-radius: $radius-image; // 8px
      margin-bottom: $padding-tbl-cell;
    }
  }
}
