@font-face {
	font-family: 'OFN';
	src: url('../fonts/OFN-v2.eot');
	src: url('../fonts/OFN-v2.eot') format('embedded-opentype'),
		url('../fonts/OFN-v2.woff') format('woff'),
		url('../fonts/OFN-v2.ttf') format('truetype'),
		url('../fonts/OFN-v2.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ofn-"], [class*=" ofn-"] {
	font-family: 'OFN';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ofn-i_001-arrow-left:before {
	content: "\e600";
}
.ofn-i_002-arrow-right:before {
	content: "\e601";
}
.ofn-i_003-check:before {
	content: "\e602";
}
.ofn-i_004-x:before {
	content: "\e603";
}
.ofn-i_005-caret-down:before {
	content: "\e604";
}
.ofn-i_006-caret-up:before {
	content: "\e605";
}
.ofn-i_007-caret-right:before {
	content: "\e606";
}
.ofn-i_008-caret-left:before {
	content: "\e607";
}
.ofn-i_009-close:before {
	content: "\e608";
}
.ofn-i_010-bullet:before {
	content: "\e609";
}
.ofn-i_011-spinner:before {
	content: "\e60a";
}
.ofn-i_012-warning:before {
	content: "\e60b";
}
.ofn-i_013-help:before {
	content: "\e60c";
}
.ofn-i_014-menu:before {
	content: "\e60d";
}
.ofn-i_015-user:before {
	content: "\e60e";
}
.ofn-i_016-group:before {
	content: "\e60f";
}
.ofn-i_017-locked:before {
	content: "\e610";
}
.ofn-i_018-unlocked:before {
	content: "\e611";
}
.ofn-i_019-map-pin:before {
	content: "\e612";
}
.ofn-i_020-search:before {
	content: "\e613";
}
.ofn-i_021-tools:before {
	content: "\e614";
}
.ofn-i_022-cog:before {
	content: "\e615";
}
.ofn-i_023-refresh:before {
	content: "\e616";
}
.ofn-i_024-mail:before {
	content: "\e617";
}
.ofn-i_025-notepad:before {
	content: "\e618";
}
.ofn-i_026-trash:before {
	content: "\e619";
}
.ofn-i_027-shopping-cart:before {
	content: "\e61a";
}
.ofn-i_028-barcode:before {
	content: "\e61b";
}
.ofn-i_029-shopping-basket:before {
	content: "\e61c";
}
.ofn-i_030-money:before {
	content: "\e61d";
}
.ofn-i_031-alarm-clock:before {
	content: "\e61e";
}
.ofn-i_032-closed-sign:before {
	content: "\e61f";
}
.ofn-i_033-open-sign:before {
	content: "\e620";
}
.ofn-i_034-timer:before {
	content: "\e621";
}
.ofn-i_035-groups:before {
	content: "\e622";
}
.ofn-i_036-producers:before {
	content: "\e623";
}
.ofn-i_037-map:before {
	content: "\e624";
}
.ofn-i_038-takeaway:before {
	content: "\e625";
}
.ofn-i_039-delivery:before {
	content: "\e626";
}
.ofn-i_040-hub:before {
	content: "\e627";
}
.ofn-i_041-twitter:before {
	content: "\e628";
}
.ofn-i_042-linkedin:before {
	content: "\e629";
}
.ofn-i_043-instagram:before {
	content: "\e62a";
}
.ofn-i_044-facebook:before {
	content: "\e62b";
}
.ofn-i_045-pintrest:before {
	content: "\e62c";
}
.ofn-i_046-g:before {
	content: "\e62d";
}
.ofn-i_047-youtube:before {
	content: "\e62e";
}
.ofn-i_048-play-video:before {
	content: "\e62f";
}
.ofn-i_049-web:before {
	content: "\e630";
}
.ofn-i_050-mail-circle:before {
	content: "\e631";
}
.ofn-i_051-check-big:before {
	content: "\e632";
}
.ofn-i_052-point-down:before {
	content: "\e633";
}
.ofn-i_053-point-up:before {
	content: "\e634";
}
.ofn-i_054-point-right:before {
	content: "\e635";
}
.ofn-i_055-point-left:before {
	content: "\e636";
}
.ofn-i_056-bulk:before {
	content: "\e637";
}
.ofn-i_057-expand:before {
	content: "\e638";
}
.ofn-i_058-graph:before {
	content: "\e639";
}
.ofn-i_059-producer:before {
	content: "\e63a";
}
.ofn-i_060-producer-reversed:before {
	content: "\e63b";
}
.ofn-i_061-producer-map:before {
	content: "\e63c";
}
.ofn-i_062-producer-map-reversed:before {
	content: "\e63d";
}
.ofn-i_063-hub:before {
	content: "\e63e";
}
.ofn-i_064-hub-reversed:before {
	content: "\e63f";
}
.ofn-i_065-hub-map:before {
	content: "\e640";
}
.ofn-i_066-hub-map-reversed:before {
	content: "\e641";
}
.ofn-i_067-shop:before {
	content: "\e642";
}
.ofn-i_068-shop-reversed:before {
	content: "\e643";
}
.ofn-i_069-shop-map:before {
	content: "\e644";
}
.ofn-i_070-shop-map-reversed:before {
	content: "\e645";
}
.ofn-i_071-globe:before {
    content: "\e646";
}
