.fat-taxons, .fat-properties {
  display: inline-block;
  line-height: 1;
  margin-right: 0.5rem;
  margin-bottom: 0.35rem;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 0.875rem;
  background: rgba(215, 215, 215, 0.5);
  color: #555;

  @include border-radius(3px);

  padding: 0.25rem 0.5rem 0.35rem 0.35rem;

  &, & * {
    display: inline-block;
    color: #555;
  }
}
