@import "~foundation-sites/scss/foundation/components/global";

// Brand guide colours:
// International: #81c26e
// Australia: #f35746
// Africa: #f35e32
// South Africa: #f9a72b
// Norway: #4b83cc
// Scandanavia: #0c8bbc
// UK: #e6373f

$brand-colour: #f27052;

// Topbar
$topbar-height: rem-calc(64);
$topbar-link-padding: $topbar-height * 0.25;
$topbar-arrows: false;

$topbar-bg: $white;
$topbar-bg-color: $topbar-bg;

$topbar-link-color: $black;
$topbar-link-color-hover: $brand-colour;
$topbar-link-color-active: $black;
$topbar-link-color-active-hover: $white;
$topbar-link-bg-hover: $white;

$topbar-dropdown-link-color: $black;
$topbar-dropdown-bg: $white;
$topbar-dropdown-link-bg: $white;
$topbar-dropdown-link-bg-hover: $white;

$mobile-nav-height: 2.8em;

$sidebar-small-width: 75%;
$sidebar-medium-width: 65%;
$sidebar-large-width: 45%;
$sidebar-footer-height: 5em;

$radius-small: 0.25em;
$radius-medium: 0.5em;

$shop-sidebar-overlay: rgba(0, 0, 0, 0.5);
$transition-sidebar: 250ms ease-in-out 0s;

$padding-small: 0.5rem;

$text-xs: 0.75rem;
