#edit-address-dialog
  %h2 {{ current_address === 'bill_address' ?  'Edit Billing Address' : 'Edit Shipping Address'}}
  %form{ name: 'edit_address_form', novalidate: true, ng: { submit: 'updateAddress()'}}
    .row
      Required fields are denoted with an asterisk (
      %span.required *
      )
    %table.no-borders
      %tr
        %td
          Address1
          %span.required *
        %td
          %input{ type: 'text', name: 'address1', required: true, ng: { model: 'address.address1'} }
      %tr
        %td
          Address2:
        %td
          %input{ type: 'text', name: 'address2', ng: { model: 'address.address2'} }
      %tr
        %td
          Phone:
        %td
          %input{ type: 'text', name: 'phone', required: true, ng: { model: 'address.phone'} }
      %tr
        %td
          City:
        %td
          %input{ type: 'text', name: 'city', required: true, ng: { model: 'address.city'} }
      %tr
        %td
          Zipcode:
        %td
          %input{ type: 'text', name: 'zipcode', required: true, ng: { model: 'address.zipcode'} }
      %tr
        %td
          Country:
        %td
          %select{name: 'country', required: true, ng: {model: 'address.country_id', options: 'country.id as country.name for country in availableCountries'}}
            %option{value: ''} Select Country
      %tr
        %td
          State:
        %td
          %select{name: 'state', required: true, ng: {model: 'address.state_id', options: 'state.id as state.name for state in states'}}
            %option{value: ''} Select State

    .text-center
      %input.button.red.icon-plus{ type: 'submit', value: 'Update Address'}


