#info-dialog{ ng: { class: "dialog_class" } }
  .message.clearfix.margin-bottom-30
    .icon.text-center
      %i{ ng: { class: "icon_class" } }
    .text
      {{ message }}
  .action-buttons.text-center
    %button{ ng: { click: "close()" } }
      = t(:ok)
