#new-subscription-dialog
  .text-normal.margin-bottom-30.text-center
    = t('js.admin.subscriptions.new.please_select_a_shop')

  %form{ name: 'new_subscription_form', novalidate: true, ng: { submit: "newSubscription()" }}

    .text-center.margin-bottom-30
      %input.ofn-select2.fullwidth#new_subscription_shop_id{ ng: { model: 'shop_id' }, required: true, name: 'shop_id', data: 'shops' }
      %div{ ng: { show: "submitted && new_subscription_form.$pristine" } }
        .error{ ng: { show: "new_subscription_form.shop_id.$error.required" } }
          = t('js.admin.subscriptions.new.please_select_a_shop')

    .text-center
      %input.button.red.icon-plus{ type: 'submit', value: t('continue') }
