#available-order-cycles
  Available
  .order-cycles
    .order-cycle{ ng: { repeat: 'orderCycle in availableOrderCycles' } }
      {{ orderCycle.name }}
#selected-order-cycles
  Selected
  .order-cycles
    .order-cycle{ ng: { repeat: 'orderCycle in selectedOrderCycles' } }
      {{ orderCycle.name }}
.error{ ng: { repeat: "error in errors", bind: "error" } }
