#save-bar.animate-show{ ng: { show: 'dirty || persist || StatusMessage.active()' } }
  .container
    .eight.columns.alpha
      %h5#status-message{ ng: { style: 'StatusMessage.statusMessage.style' } }
        {{ StatusMessage.statusMessage.text || "&nbsp;" }}
    .eight.columns.omega.text-right{ ng: { transclude: true } }
