#save-bar.animate-show{ ng: { show: 'form.$dirty || StatusMessage.active()' } }
  .twelve.columns.alpha
    %h5#status-messae{ ng: { style: 'StatusMessage.statusMessage.style' } }
      {{ StatusMessage.statusMessage.text || "&nbsp;" }}
  .four.columns.omega.text-right
    %input.red{type: "button", value: "Save Changes", ng: { disabled: '!form.$dirty', click: "save()" } }
