#save-bar.animate-show{ ng: { show: 'dirty()' } }
  .twelve.columns.alpha
    %h5{ ng: { show: "dirty() && !saving()" } }
      You have made unsaved changes
    %h5{ ng: { hide: "dirty() || saving()" } }
      All changes saved
    %h5{ ng: { show: "saving()" } }
      Saving...
  .four.columns.omega.text-right
    %input.red{type: "button", value: "Save Changes", ng: { click: "save()" } }
