.autocomplete-template
  %span.tag-with-rules{ ng: { if: "data.rules" } }
    {{$getDisplayText()}}
    %span.tag-with-rules{ ng: { if: "data.rules == 1" } }
      &mdash;
      {{ 'admin.has_one_rule' | t }}
    %span.tag-with-rules{ ng: { if: "data.rules > 1" } }
      &mdash;
      {{ 'admin.has_n_rules' | t:{ num: data.rules } }}
  %span{ ng: { if: "!data.rules" } }
    {{$getDisplayText()}}
