%tags-input{ template: 'admin/tag.html',
  ng: { model: 'object[tagsAttr]', class: "{'limit-reached': limitReached}"},
  on: { tag: { added: 'tagAdded()', removed:'tagRemoved()' } } }
  %auto-complete{ ng: { if: "findTags" }, source: "findTags({query: $query})",
                 template: "admin/tag_autocomplete.html",
                 "min-length" => "0",
                 "load-on-focus" => "true",
                 "load-on-empty" => "true",
                 "max-results-to-show" => "32"}
