#tagline
  .row
    .small-12.text-center.columns
      %h1 Open Food Network
      %h2 An open marketplace that makes it easy to find, buy, sell and move sustainable local food.
      %a Learn more (modal)


#hubs{"ng-controller" => "HubsCtrl"}
  :javascript
    angular.module('Darkswarm').value('hubs', #{render "shared/hubs"})

  .row
    .small-12.columns.text-center
      %h1 Ready to shop?
      %p 
        Select a 
        %a food hub (modal)
        from the list below:
  #hub-search.row
    .small-9.columns
      %input{type: :text, 
      "ng-model" => "query", 
      placeholder: "Search postcode, suburb or hub name...",
      "ng-debounce" => "150",
      "ofn-disable-enter" => true}
    .small-3.columns.advanced
      Advanced search

  .row{bindonce: true}
    .small-12.columns
      .active_table
        %hub.row{"ng-repeat" => "hub in filteredHubs = (hubs | filterHubs:query)",
        "ng-class" => "{'closed' : !active(), 'open' : active()}",
        "ng-controller" => "HubNodeCtrl",
        id: "{{hub.path}}"} 
          .small-12.columns
            .row.active_table_row{"ng-click" => "toggle()", "ng-class" => "{'closed' : !active()}"}
              .columns.small-4
                %strong {{ hub.name }}
              .columns.small-3
                {{ hub.address.city }}
              .columns.small-1
                {{ hub.address.state | uppercase }}
              .columns.small-3
                Orders closing when?
              .columns.small-1.text-right
                %i{"ng-class" => "{'fi-arrow-down' : !open, 'fi-arrow-up' : open}"} 

            .row.active_table_row{"ng-show" => "active()"}
              .columns.small-4
                %strong Shop for
                %p
                  Organics, Test data, Food boxes, fruit, 
                  kittens, Meat &amp; Fish, Drinks 
              .columns.small-4
                %strong Delivery options
                %ol
                  %li.pickup{"bo-if" => "hub.pickup"} Pickup
                  %li.delivery{"bo-if" => "hub.delivery"} Delivery
              .columns.small-4
                %strong Our producers
                %ol
                  %li Fake Name Forever
                  %li The Constant Gardener
                  %li Shiny Olives
                  %li Love in the Time of Cholera 

            .row.active_table_row{"ng-show" => "active()"}
              .columns.small-11
                %a{"bo-href" => "hub.path"} 
                  Shop at 
                  %strong {{ hub.name }}
              .columns.small-1.text-right
                %a{"bo-href" => "hub.path"} 
                  %i.fi-arrow-right

    .small-12.columns
      .row{"ng-show" => "filteredHubs.length == 0"}
        .columns.small-12.text-center
          No results
