%div#image-url-container{backstretch: true,
  "background-url" => "#{LandingPageImage.random.photo.url(:max_common_res)}" }
  .row
    .large-10.large-centered.columns
      #postcode_select_box
        .row
          .large-12.columns
            #logo-container= image_tag "ofn_logo.png"
        .row
          .large-12.large-centered.columns
            = link_to about_us_path do
              %strong
                %i What is open food network?

        .row
          .large-12.columns.text-center
            %h2 Ready to shop?
            %p Select a food hub from the list below:
#hubs{"ng-controller" => "HubsCtrl"}
  :javascript
    angular.module('Darkswarm').value('hubs', #{render "shared/hubs"})

  .row
    .large-9.columns
      %input{type: :text, "ng-model" => "query", placeholder: "Search postcode, suburb or hub name...",
      "ofn-disable-enter" => true}
    .large-3.columns
      Advanced search

  .row{bindonce: true}
    .large-12.columns

      %hub{"ng-repeat" => "hub in (hubs | filterHubs:query)",
      "ng-class" => "{'open' : open}"} 

        %a.row{"ng-click" => "open = !open"}
          .columns.large-4
            %strong {{ hub.name }}
          .columns.large-3
            {{ hub.address.city }}
          .columns.large-1
            {{ hub.address.state }}
          .columns.large-3
            Orders closing when?
          .columns.large-1
            %i{"ng-class" => "{'fi-arrow-down' : !open, 'fi-arrow-up' : open}"} 

        .row{"ng-if" => "open"}
          .columns.large-4
            %strong Shop for
          .columns.large-4
            %strong Delivery options
            .pickup{"bo-if" => "hub.pickup"} Pickup
            .delivery{"bo-if" => "hub.delivery"} Delivery
          .columns.large-4
            %strong Our producers
        .row{"ng-if" => "open"}
          .columns.large-12
            %a{"bo-href" => "hub.path"} 
              Go to 
              %strong {{ hub.name }}
