---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Apple+Customer&email=applecustomer%40example.com
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - a55ac7ad-bc69-4058-9875-4d0b9918e611
      Stripe-Version:
      - 2025-08-27.basil
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a55ac7ad-bc69-4058-9875-4d0b9918e611
      Original-Request:
      - req_yaMsTkB3LkPeWC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-08-27.basil
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TZp8IUQUgdee8c",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1765342737,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "applecustomer@example.com",
          "invoice_prefix": "BCNHUVGP",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Apple Customer",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 10 Dec 2025 04:59:28 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_TZp8IUQUgdee8c
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - d8f94282-f2e5-4e13-a2fe-fac4ff99ba24
      Stripe-Version:
      - 2025-08-27.basil
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d8f94282-f2e5-4e13-a2fe-fac4ff99ba24
      Original-Request:
      - req_y9vyXRgBh3Sz8M
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-08-27.basil
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1ScfULKuuB1fWySnP6f7JLUq",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "pass"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2026,
            "fingerprint": "6E6tgVjx6U65iHFV",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1765342737,
          "customer": "cus_TZp8IUQUgdee8c",
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Wed, 10 Dec 2025 04:59:28 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_TZp8IUQUgdee8c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - 2025-08-27.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-08-27.basil
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TZp8IUQUgdee8c",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1765342737,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "applecustomer@example.com",
          "invoice_prefix": "BCNHUVGP",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Apple Customer",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 10 Dec 2025 04:59:29 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_TZp8IUQUgdee8c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - de90d7a0-9148-44d6-ab7f-b3fedb97703b
      Stripe-Version:
      - 2025-08-27.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - de90d7a0-9148-44d6-ab7f-b3fedb97703b
      Stripe-Version:
      - 2025-08-27.basil
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TZp8IUQUgdee8c",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Wed, 10 Dec 2025 04:59:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=standard&country=AU&email=apple.producer%40example.com
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - eb841f86-0e27-405d-9807-65adac7b2f23
      Stripe-Version:
      - 2025-08-27.basil
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - eb841f86-0e27-405d-9807-65adac7b2f23
      Original-Request:
      - req_McFpPPWNijrsKs
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-08-27.basil
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1ScfUN4B4QkosqoY",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": null,
            "minority_owned_business_designation": null,
            "name": null,
            "product_description": null,
            "specified_commercial_transactions_act_url": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": null
          },
          "business_type": null,
          "capabilities": {},
          "charges_enabled": false,
          "controller": {
            "fees": {
              "payer": "account"
            },
            "is_controller": true,
            "losses": {
              "payments": "stripe"
            },
            "requirement_collection": "stripe",
            "stripe_dashboard": {
              "type": "full"
            },
            "type": "application"
          },
          "country": "AU",
          "created": 1765342740,
          "default_currency": "aud",
          "details_submitted": false,
          "email": "apple.producer@example.com",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1ScfUN4B4QkosqoY/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "metadata": {},
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [],
            "eventually_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "past_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": null,
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": null,
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null,
              "hosted_payment_method_save": "offer"
            },
            "payments": {
              "statement_descriptor": null,
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "paypay_payments": {},
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": null,
            "ip": null,
            "user_agent": null
          },
          "type": "standard"
        }
  recorded_at: Wed, 10 Dec 2025 04:59:31 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/accounts/acct_1ScfUN4B4QkosqoY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 19603b8a-ab97-4564-96e4-ea11398e464c
      Stripe-Version:
      - 2025-08-27.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 19603b8a-ab97-4564-96e4-ea11398e464c
      Stripe-Account:
      - acct_1ScfUN4B4QkosqoY
      Stripe-Version:
      - 2025-08-27.basil
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1ScfUN4B4QkosqoY",
          "object": "account",
          "deleted": true
        }
  recorded_at: Wed, 10 Dec 2025 04:59:34 GMT
recorded_with: VCR 6.2.0
