#groups{"ng-controller" => "GroupsCtrl"}
  :javascript
    angular.module('Darkswarm').value('groups', #{render partial: "json/groups", object: @groups})
  .row.pad-top
    .small-12.columns.text-center
      %h1 Groups / Regions
      %div 
        Check out our 
        %ofn-modal{title: "food groups"}
          = render partial: "modals/groups"  
        below
      %p

      %input{type: :text, 
      "ng-model" => "query", 
      placeholder: "Search group name",
      "ng-debounce" => "150",
      "ofn-disable-enter" => true}

  .group{"ng-repeat" => "group in Groups.groups | filter:query | orderBy:order",
        name: "group{{group.id}}",
        id: "group{{group.id}}"}
    .row.pad-top{bindonce: true}
      .small-12.columns
        .group-hero
          %img.group-hero-img{"bo-src" => "group.promo_image"} 
          %img.group-logo{"bo-src" => "group.logo", "bo-if" => "group.logo"}
          %h3.group-name {{ group.name }}
          %h5.group-description {{ group.description }}
          
    .row.pad-top{bindonce: true}
      .small-6.columns
        %p {{ group.long_description }}
      .small-6.columns
        %h5 Our hubs & producers
        %ul.small-block-grid-2
          %li{"ng-repeat" => "enterprise in group.enterprises"}
            %a{"bo-href" => "enterprise.path"} {{ enterprise.name }}

    .row.group_footer
      .small-12.columns
        %hr

= render partial: "shared/footer"
