= inject_enterprises 

:javascript
  angular.module('Darkswarm').value('groups', #{render partial: "json/groups", object: @groups})

#groups.pad-top{"ng-controller" => "GroupsCtrl"}
  #active-table-search.row.pad-top
    .small-12.columns
      %h1 Groups / regions
      %p

      %input.animate-show{type: :text, 
      "ng-model" => "query", 
      placeholder: "Search name or keyword",
      "ng-debounce" => "150",
      "ofn-disable-enter" => true}

  .group{"ng-repeat" => "group in groups = (Groups.groups | groups:query | orderBy:order)",
        name: "group{{group.id}}",
        id: "group{{group.id}}"}
    .row.pad-top{bindonce: true}
      .small-6.columns
        %a{"ng-href" => "groups/{{group.id}}"}
          %i.ofn-i_035-groups
          {{ group.name }}
      .small-6.columns
        {{ group.description }}

  .group{"ng-show" => "groups.length == 0"}
    .row.pad-top
      No groups found

= render partial: "shared/footer"
