#panes
  #shops-signup.pane
    .row.header
      .small-12.medium-12.columns.text-center
        %h2 Group Account
    .row.content
      .small-12.medium-6.medium-offset-3.columns.text-center
        -#%p.text-big We're an amazing platform for collaborative marketing, the easiest way for your members and stakeholders to reach new markets. We're non-profit, affordable, and simple.
        -#%br
        %a.button.transparent{href: "hello@openfoodnetwork.org".reverse, target: '_blank', mailto: true}
          Email us

  .groups-details.pane
    .row
      .small-12.medium-8.medium-offset-2.columns
        %h3.text-center We transform food systems fairly.
        %p.text-big It's why we get out of bed every day. We're a global non-profit, based on open source code. We play fair. You can always trust us.
        %p.text-big We know you have big ideas, and we want to help. We'll share our knowledge, networks and resources. We know that isolation doesn't create change, so we'll partner with you.
        %br
        %h3.text-center We meet you where you are.
        %p.text-big You might be an alliance of food hubs, producers, or distributors, and an industry body, or a local government.
        %p.text-big Whatever your role in your local food movement, we're ready to help. However you come to wonder what Open Food Network would look like or is doing in your part of the world, let's start the conversation.
        %br
        %h3.text-center We make food movements make more sense.
        %p.text-big You need to activate and enable your networks, we offer a platform for conversation and action. You need real engagement. We’ll help reach all the players, all the stakeholders, all the sectors.
        %p.text-big You need resourcing. We’ll bring all our experience to bear. You need cooperation. We’ll better connect you to a global network of peers.
  .pane
    .row
      .small-12.medium-10.medium-offset-1.columns.text-center
        %h2 Membership types and fees.
        %p.text-big
          / If there is a time-sensitive offer you can write it here, e.g.
          Time-sensitive offer goes here!
        %br
        %table.signup-table.hubs-table{cellpadding: "0", cellspacing: "0"}
          %thead
            %tr
              %td
                %h5
              %td.text-center{width: "24%"}
                %h5 OFN Group
          %tr
            %td
              %p
                %strong Promote your members
                %br
                %span.text-small Promote your local and/or member businesses through a group page
            %td.text-center
              %i.ofn-i_003-check.text-big
          %tr
            %td
              %p
                %strong Unique URL
                %br
                %span.text-small Your own organisation page/url on the Open Food Network.
            %td.text-center
              %i.ofn-i_003-check.text-big
          %tr
            %td
              %p
                %strong Region map &amp; listings
                %br
                %span.text-small Easy search from your own list view and your own map - links through to profile pages for your member/local producers and/or food businesses.
            %td.text-center
              %i.ofn-i_003-check.text-big
          %tr
            %td
              %p
                %strong Opt-in extras
              %p.text-small Available additional support:
              %ul.small
                %li Tailored workshop(s) for your stakeholders
                %li Tailored training and support package
            %td.text-center
          %tfoot
            %tr
              %td
              %td.text-center{valign: "top"}
                %h2
                  $5,500

  #shops-case-studies
    .row
      .small-12.medium-10.medium-offset-1.columns
        %h2.text-center Case studies
        %br
        .row
          .small-12.medium-6.columns
            = render 'shared/case_study', img_src: "/assets/case-studies/South_East_Food_Hub.png", title: "South East Food Group", description: "the South East Food Hub also has a group page to list all its participating producers and hubs (food clubs) in one place on the Open Food Network.", link: "https://openfoodnetwork.org.au/groups/6"
          .small-12.medium-6.columns
            = render 'shared/case_study', img_src: "/assets/case-studies/mt-alexander.png", title: "Mt Alexander Local Produce Network", description: "This community organisation promotes local sustainable food production and consumption through its group page. Listing sources of local sustenance, direct from the grower, or through a range local shops and markets.", link: "https://openfoodnetwork.org.au/groups/10"

  .pane#cta
    .row
      .small-12.medium-6.medium-offset-3.columns.text-center
        %h2 Ready to discuss?
        %p.text-big  Get in touch to discover what OFN can do for you:
        %a.button.transparent{href: "hello@openfoodnetwork.org".reverse, target: '_blank', mailto: true}
          Email us

  #hub-details.pane.footer-pad
    .row
      .small-12.medium-10.medium-offset-1.columns
        %h2.text-center Here's the detail.
        .row
          .small-12.medium-6.columns
            %h4 A sub-heading goes here
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in odio vel ex efficitur auctor. Nam rhoncus, tortor vel varius varius, magna lorem dignissim libero, at dignissim erat leo id tortor. Donec gravida quis augue sed pellentesque. Morbi laoreet efficitur mi, id tempus diam lacinia eu.
            %h5 Smaller sub-heading goes here
            %p.text-small Vestibulum eu quam neque. Aenean porta velit sit amet metus mattis, ut pulvinar dui semper. Nunc ornare scelerisque varius. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras a magna nec augue suscipit fermentum at ac urna.
            %ul.text-small
              %li A bullet point
              %li Another point
              %li A third point goes here
            %p.text-small Quisque urna lacus, tristique sed rutrum a, volutpat eu diam. Nam placerat mi nec enim tincidunt, nec dapibus risus molestie. Praesent mattis eu dolor nec sollicitudin. Cras ut magna sem. Etiam vitae commodo augue, sit amet feugiat diam.
          .small-12.medium-6.columns
            %h4 A sub-heading goes here
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in odio vel ex efficitur auctor. Nam rhoncus, tortor vel varius varius, magna lorem dignissim libero, at dignissim erat leo id tortor. Donec gravida quis augue sed pellentesque. Morbi laoreet efficitur mi, id tempus diam lacinia eu.
            %h5 Smaller sub-heading goes here
            %p.text-small Vestibulum eu quam neque. Aenean porta velit sit amet metus mattis, ut pulvinar dui semper. Nunc ornare scelerisque varius. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras a magna nec augue suscipit fermentum at ac urna.
            %ul.text-small
              %li A bullet point
              %li Another point
              %li A third point goes here
            %p.text-small Quisque urna lacus, tristique sed rutrum a, volutpat eu diam. Nam placerat mi nec enim tincidunt, nec dapibus risus molestie. Praesent mattis eu dolor nec sollicitudin. Cras ut magna sem. Etiam vitae commodo augue, sit amet feugiat diam.

= render partial: "shared/footer"
