- content_for(:title) do
  Sign up as a group

#panes
  #shops-signup.pane
    .row.header
      .small-12.medium-12.columns.text-center
        %h2 Groups sign up
    .row.content
      .small-12.medium-6.medium-offset-3.columns.text-center
        %p.text-big We're an amazing platform for collaborative marketing, the easiest way for your members and stakeholders to reach new markets. We're non-profit, affordable, and simple.
        %br
        %a.button.transparent{href: "hello@openfoodnetwork.org?subject=I'd%20like%20to%20talk%20to%20you%20about%20groups%20on%20the%20Open%20Food%20Network".reverse, target: '_blank', mailto: true}
          Email us

  .groups-details.pane
    .row
      .small-12.medium-8.medium-offset-2.columns
        %h3.text-center We transform food systems fairly.
        %p.text-big It's why we get out of bed every day. We're a global non-profit, based on open source code. We play fair. You can always trust us.
        %p.text-big We know you have big ideas, and we want to help. We'll share our knowledge, networks and resources. We know that isolation doesn't create change, so we'll partner with you.
        %br
        %h3.text-center We meet you where you are.
        %p.text-big You might be an alliance of food hubs, producers, or distributors, and an industry body, or a local government.
        %p.text-big Whatever your role in your local food movement, we're ready to help. However you come to wonder what Open Food Network would look like or is doing in your part of the world, let's start the conversation.
        %br
        %h3.text-center We make food movements make more sense.
        %p.text-big You need to activate and enable your networks, we offer a platform for conversation and action. You need real engagement. We’ll help reach all the players, all the stakeholders, all the sectors.
        %p.text-big You need resourcing. We’ll bring all our experience to bear. You need cooperation. We’ll better connect you to a global network of peers.
  .pane
    .row
      .small-12.medium-10.medium-offset-1.columns.text-center
        %h2 Group Account
        -# %p.text-big
        -#   / If there is a time-sensitive offer you can write it here, e.g.
        -#   Time-sensitive offer goes here!
        %br
        = ContentConfig.group_signup_pricing_table_html.html_safe

  #shops-case-studies
    .row
      .small-12.medium-10.medium-offset-1.columns
        %h2.text-center Case studies
        %br
        = ContentConfig.group_signup_case_studies_html.html_safe

  .pane#cta
    .row
      .small-12.medium-6.medium-offset-3.columns.text-center
        %h2 Ready to discuss?
        %p.text-big  Get in touch to discover what OFN can do for you:
        %a.button.transparent{href: "hello@openfoodnetwork.org?subject=I'd%20like%20to%20talk%20to%20you%20about%20groups%20on%20the%20Open%20Food%20Network".reverse, target: '_blank', mailto: true}
          Email us

  #hub-details.pane.footer-pad
    .row
      .small-12.medium-10.medium-offset-1.columns
        %h2.text-center Here's the detail.
        = ContentConfig.group_signup_detail_html.html_safe

= render partial: "shared/footer"
