.vertical-ellipsis-menu{ "data-controller": "vertical-ellipsis-menu" }
  %i.fa.fa-ellipsis-v{ "data-action": "click->vertical-ellipsis-menu#toggle" }
  .vertical-ellipsis-menu-content{ "data-vertical-ellipsis-menu-target": "content" }
    = content
