@import "variables.scss";
@import "shared/typography.scss";

@import "navigation.scss";
@import "plugins/select2.scss";
@import "plugins/powertip.scss";
@import "plugins/flatpickr-customization.scss";
@import "shared/forms.scss";
@import "components/buttons.scss";
@import "components/tables.scss";
@import "components/progress.scss";
@import "components/sidebar.scss";
@import "components/tom_select.scss";
@import "components/dropdown.scss";

body {
  background-color: $v2-body-bg;
}
