// Should finally replace (or at least complete) the file /admin/globale/variables.scss

$v2-orange: #f27052;
$v2-orange-light: #f5947d;
$v2-orange-lighter: #f8b7a8;
$v2-orange-lightest: #fcdbd4;

$v2-dark-grey: #333333;
$v2-medium-dark-grey: #444444;
$v2-body-grey: $color-4;
$v2-medium-grey: #717171;
$v2-medium-light-grey: #e6e6e6;
$v2-light-grey: #e7e7e7;

$v2-blue: #017a9a;
$v2-blue-dark: #005e7a;
$v2-blue-light: #0096ad;
$v2-blue-lightest: #e6f7fa; // Could be used as a background color for the action icons

$v2-green: #019854;
$v2-green-light: #01cb70;

$v2-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); // Default box shadow for actions stuff
