// Should finally replace (or at least complete) the file /admin/globale/variables.scss

$v2-orange: #F27052;
$v2-orange-light: #F5947D;
$v2-orange-lighter: #F8B7A8;
$v2-orange-lightest: #FCDBD4;

$v2-dark-grey: #333333;
$v2-medium-dark-grey: #444444;
