%fieldset#product-distributor-details.columns.five.omega
  %legend Distributor
  .distributor-details
    - order = current_order(false)
    - if order.andand.distributor.present?
      = render 'enterprises/distributor_details', :distributor => order.distributor
    - else
      When you select a distributor for your order, their address and pickup times will be displayed here.
