%fieldset#product-distributor-details.columns.five.omega
  %legend
    = t :products_distributor
  .distributor-details
    - order = current_order( create_order_if_necessary: false )
    - if order.andand.distributor.present?
      = render 'enterprises/distributor_details', :distributor => order.distributor
    - else
      = t :products_distributor_info
