%div
  .field.align-center
    = label_tag Spree.t(:name)
    %br/
    = f.text_field :name

  .field.align-center
    = f.label :temperature_controlled, t(:temperature_controlled)
    = f.check_box :temperature_controlled
