---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242424242424242&card[exp_month]=8&card[exp_year]=2027&card[cvc]=314
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 268683ae-ab1f-4d2d-a1ab-ce5d815dc1f8
      Stripe-Version:
      - 2026-07-29.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 268683ae-ab1f-4d2d-a1ab-ce5d815dc1f8
      Original-Request:
      - req_cp66gdJc657rst
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-07-29.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1U5xKqKuuB1fWySnQ20WkXk4",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 8,
            "exp_year": 2027,
            "fingerprint": "6E6tgVjx6U65iHFV",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1787099188,
          "customer": null,
          "customer_account": null,
          "livemode": false,
          "metadata": {},
          "shared_payment_granted_token": null,
          "type": "card"
        }
  recorded_at: Wed, 19 Aug 2026 00:27:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Apple+Customer&email=apple.customer%40example.com
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 6d2c70b0-8d87-4de5-931c-a36cea4eb0e8
      Stripe-Version:
      - 2026-07-29.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6d2c70b0-8d87-4de5-931c-a36cea4eb0e8
      Original-Request:
      - req_Ay9y8mJF6sbATT
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-07-29.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_V69ez4ivQGFJxi",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1787099189,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "apple.customer@example.com",
          "invoice_prefix": "NNY3PMME",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Apple Customer",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 19 Aug 2026 00:27:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1U5xKqKuuB1fWySnQ20WkXk4/attach
    body:
      encoding: UTF-8
      string: customer=cus_V69ez4ivQGFJxi
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - c006d7eb-172d-4b26-b9e6-b12a0e257576
      Stripe-Version:
      - 2026-07-29.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
  [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=standard&country=AU&email=apple.producer%40example.com
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - ed3d0158-4129-42cd-b835-776136a42aa0
      Stripe-Version:
      - 2026-07-29.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ed3d0158-4129-42cd-b835-776136a42aa0
      Original-Request:
      - req_rr6OXGz4FATHNu
      Stripe-Notice:
      - We recommend building your integration using Accounts v2. See https://docs.stripe.com/api/v2/core/accounts
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-07-29.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1U5xKsKbVcbc3RPt",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": null,
            "minority_owned_business_designation": null,
            "name": null,
            "product_description": null,
            "specified_commercial_transactions_act_url": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": null
          },
          "business_type": null,
          "capabilities": {},
          "charges_enabled": false,
          "controller": {
            "fees": {
              "payer": "account"
            },
            "is_controller": true,
            "losses": {
              "payments": "stripe"
            },
            "requirement_collection": "stripe",
            "stripe_dashboard": {
              "type": "full"
            },
            "type": "application"
          },
          "country": "AU",
          "created": 1787099191,
          "default_currency": "aud",
          "details_submitted": false,
          "email": "apple.producer@example.com",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1U5xKsKbVcbc3RPt/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "metadata": {},
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [],
            "eventually_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "past_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": null,
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": null,
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null,
              "hosted_payment_method_save": "offer"
            },
            "payments": {
              "statement_descriptor": null,
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": null,
            "ip": null,
            "user_agent": null
          },
          "type": "standard"
        }
  recorded_at: Wed, 19 Aug 2026 00:27:26 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1U5xKqKuuB1fWySnQ20WkXk4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - 2026-07-29.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-07-29.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?email=apple.customer@example.com&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - 2026-07-29.dahlia
      Stripe-Account:
      - acct_1U5xKsKbVcbc3RPt
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1U5xKsKbVcbc3RPt
      Stripe-Version:
      - 2026-07-29.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/customers"
        }
  recorded_at: Wed, 19 Aug 2026 00:27:26 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1U5xKwKbVcbc3RPteqigQAeF/attach
    body:
      encoding: UTF-8
      string: customer=cus_V69eCvQXyPqGja
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - b3ab139b-a92c-4cc9-a85d-52f93b05698b
      Stripe-Version:
      - 2026-07-29.dahlia
      Stripe-Account:
      - acct_1U5xKsKbVcbc3RPt
      Content-Type:
      - application/x-www-form-urlencoded
  respon[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1U5xKwKbVcbc3RPteqigQAeF
    body:
      encoding: UTF-8
      string: metadata[ofn-clone]=true
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - f4cc4663-5031-405f-a219-cf03822c5616
      Stripe-Version:
      - 2026-07-29.dahlia
      Stripe-Account:
      - acct_1U5xKsKbVcbc3RPt
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    st[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/accounts/acct_1U5xKsKbVcbc3RPt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - aa1a26f1-3ef9-4fdf-89e7-cf10c94db116
      Stripe-Version:
      - 2026-07-29.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - aa1a26f1-3ef9-4fdf-89e7-cf10c94db116
      Stripe-Account:
      - acct_1U5xKsKbVcbc3RPt
      Stripe-Version:
      - 2026-07-29.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1U5xKsKbVcbc3RPt",
          "object": "account",
          "deleted": true
        }
  recorded_at: Wed, 19 Aug 2026 00:27:30 GMT
recorded_with: VCR 6.4.0
