
- if @order_cycles and @order_cycles.empty?
  - if current_distributor.preferred_shopfront_closed_message.present?
    .row
      .small-12.columns
        .shopfront_closed_message
          = current_distributor.preferred_shopfront_closed_message.html_safe
- elsif current_distributor.preferred_shopfront_message.present?
  .row
    .small-12.columns
      &nbsp;
  .row
    .small-12.columns
      .alert-box{ "ofn-inline-alert" => true, ng: { show: "visible" } }
        = current_distributor.preferred_shopfront_message.html_safe
        %a.close{ ng: { click: "close()" } } &times;
