
- if require_customer?
  .row.footer-pad
    .small-12.columns
      .shopfront_hidden_message
        = t '.require_customer_login'
        - if spree_current_user.nil?
          = t '.require_login_html',
            {login: ('<a auth="login">' + t('.login') + '</a>').html_safe,
             signup: ('<a auth="signup">' + t('.signup') + '</a>').html_safe,
             contact: link_to(t('.contact'), '#contact'),
             enterprise: current_distributor.name}
        - else
          = t '.require_customer_html',
            {contact: link_to(t('.contact'), '#contact'),
             enterprise: current_distributor.name}
- elsif current_distributor.preferred_shopfront_message.present?
  .row
    .small-12.columns
      .shopfront-message
        = current_distributor.preferred_shopfront_message.html_safe
