%ordercycle{"ng-controller" => "OrderCycleCtrl"}
  - if @order_cycles.empty?
    Orders are currently closed for this hub
    %p 
      Please contact your hub directly to see if they accept late orders, 
      or wait until the next cycle opens.

    = render partial: "shop/next_order_cycle"
    = render partial: "shop/last_order_cycle"

  - else
    Ready for:
    %select{"ng-model" => "order_cycle.order_cycle_id", 
            "ng-init" => "order_cycle.order_cycle_id = #{current_order_cycle.id}",
            "ng-change" => "changeOrderCycle()",
            "ng-options" => "c for c in #{@order_cycles.map {|oc| oc.id}.to_json}"}
