.row{bindonce: true,
  "ng-repeat" => "variant in product.variants"}
  .small-1.column
    %span.bulk{"bo-if" => "product.group_buy"} bulk
    &nbsp;

  .small-5.columns
    {{ variant.options_text }}
    {{ variant.id }}

  -# WITHOUT GROUP BUY
  .small-5.columns{"bo-if" => "!product.group_buy"}
    %input{type: :number, 
    value: nil, 
    min: 0, 
    "ofn-disable-scroll" => true,
    max: "{{variant.on_demand && 9999 || variant.count_on_hand }}",
    name: "variants[{{variant.id}}]", id: "variants_{{variant.id}}",
    "bo-model" => "variant.quantity"}
    {{ variant.options_text }}

  -# WITH GROUP BUY
  .small-2.columns{"bo-if" => "product.group_buy"}
    %input{type: :number, 
    value: nil, 
    min: 0, 
    "ofn-disable-scroll" => true,
    max: "{{variant.on_demand && 9999 || variant.count_on_hand }}",
    name: "variants[{{variant.id}}]", id: "variants_{{variant.id}}",
    "bo-model" => "variant.quantity"}
    {{ variant.options_text }}
    (min)

  .small-3.columns{"bo-if" => "product.group_buy"}
    %input{type: :number,
    min: 0,
    "ofn-disable-scroll" => true,
    max: "{{variant.on_demand && 9999 || variant.count_on_hand }}",
    name: "variant_attributes[{{variant.id}}][max_quantity]",
    "ng-model" => "variant.max_quantity"}
    (max)

  .small-1.columns
    {{ variant.price | currency }}
