%products{"ng-controller" => "ProductsCtrl"}
  = form_for :order, :url => populate_orders_path, html: {:class => "custom"} do
    %input.button.right{type: :submit, value: "Check Out"}
    %table
      %thead
        %th{colspan: 2} Item
        %th.notes Notes
        %th Variant
        %th QTY
        %th Bulk
        %th Price
      %tbody{"ng-repeat" => "product in data.products "}
        %tr.product
          %td
            -#{{ product.master.images[0].mini_url }} 
            -#{{product.master.images[0].alt}}
          %td
            %h5
              {{ product.name }}
            {{ product.supplier.name }}
          %td.notes {{ product.description | truncate:250 }}
          %td {{ product.master.options_text }}
          %td 
            %input{type: :number, value: 0, min: 0, name: "variants[{{product.master.id}}]"}
          %td.group_buy
            %span{"ng-show" => "product.group_buy"} 
              Available
            %span{"ng-hide" => "product.group_buy"} 
              Not available
          %td.price
            %small from
            ${{ product.price }}
        %tr{"ng-repeat" => "variant in product.variants"}
          %td{colspan: 3}
          %td {{variant.options_text}}
          %td 
            %input{type: :number, value: 0, min: 0, name: "variants[{{variant.id}}]"}
          %td.group_buy
            %span{"ng-show" => "product.group_buy"} 
              Available
            %span{"ng-hide" => "product.group_buy"} 
              Not available
          %td.price
            %small from ${{variant.price }}
    %input.button.right{type: :submit, value: "Check Out"}
  -#%pre {{ data.products | json }}
