%products{"ng-controller" => "ProductsCtrl"}
  = form_for :order, :url => populate_orders_path, html: {:class => "custom"} do
    %input#search.text{"ng-model" => "query", placeholder: "Search"}
    %input.button.right{type: :submit, value: "Check Out"}
    %table
      %thead
        %th{colspan: 2} Item
        %th.notes Notes
        %th Variant
        %th QTY
        %th Bulk
        %th Price
      %tbody{"ng-repeat" => "product in data.products | filter:query"}
        %tr.product
          %td
            %img{"ng-src" => "{{ product.master.images[0].small_url }}"}
            {{product.master.images[0].alt}}
          %td
            %h5
              {{ product.name }}
            {{ product.supplier.name }}
          %td.notes {{ product.description | truncate:80 }}

          %td {{ product.master.options_text }}
          %td 
            %span{"ng-show" => "(product.variants.length == 0)"}
              %input{type: :number, 
              value: 0, 
              min: 0,
              max: "{{product.on_demand && 9999 || product.count_on_hand }}",
              name: "variants[{{product.master.id}}]", 
              id: "variants_{{product.master.id}}"}
          %td.group_buy
            %span{"ng-show" => "product.group_buy"} 
              Available
            %span.light-grey{"ng-hide" => "product.group_buy"} 
              N/A 
          %td.price
            %small{"ng-show" => "(product.variants.length > 0)"} from
            ${{ product.price }}
        %tr{"ng-repeat" => "variant in product.variants"}
          %td{colspan: 3}
          %td {{variant.options_text}}
          %td 
            %input{type: :number, 
            value: 0, 
            min: 0, 
            max: "{{variant.on_demand && 9999 || variant.count_on_hand }}",
            name: "variants[{{variant.id}}]", id: "variants_{{variant.id}}"}
          %td.group_buy
            %span{"ng-show" => "product.group_buy"} 
              Available
            %span.light-grey{"ng-hide" => "product.group_buy"} 
              N/A 
          %td.price
            %small ${{variant.price }}
    %input.button.right{type: :submit, value: "Check Out"}
  -#%pre {{ data.products | json }}





