%products{"ng-controller" => "ProductsCtrl"}
  %form.custom
    %table
      %thead
        %th{colspan: 2} Item
        %th Description
        %th Variant
        %th QTY
        %th Bulk
        %th Price
      %tr.product{"ng-repeat" => "product in data.products "}
        %td
          {{ product.master.images[0].mini_url }} 
          {{product.master.images[0].alt}}
        %td
          {{ product.name }}
        %td {{ product.description }}
        %td {{ product.master.options_text }}
        %td 
          %input{type: :number, id: "quantity_product_{{product.id}}"}
        %td.group_buy
          %span{"ng-show" => "{enabled: product.group_buy}"} 
            Available
          %span{"ng-hide" => "{enabled: product.group_buy}"} 
            Not available
        %td.price
          %small from
          $ {{ product.price }}

  %pre {{ data.products | json }}
