%products{"ng-controller" => "ProductsCtrl"}
  %table
    %thead
      %th Item
      %th Description
      %th Variant
      %th QTY
      %th Bulk
      %th Price
    %tr.product{"ng-repeat" => "product in data.products "}
      %td {{ product.product.name }}
      %td {{ product.product.description }}
      %td {{ product.master.options_text }}
      %td Quantity thing
      %td.group_buy{"ng-class" => "{enabled: product.group_buy}"} 
        Not available
      %td.price
        %small from
        $ {{ product.price }}


  %pre {{ data.products | json }}
