%tabs
  .row
    .section-container.auto{"data-section" => "", "data-options" => "one_up: false"}
      = render 'shop/shop/about_us'
      = render 'shop/shop/producers'
      = render 'shop/shop/groups'
      = render 'shop/shop/contact'
