#tabs{"ng-controller" => "TabsCtrl"}
  .row
    %tabset
      - for name, heading in { about: "About Us", 
        producers: "Producers", 
        groups: "Groups", 
        contact: "Contact"} 

        %tab{heading: heading, 
        active: "#{name}.active",
        select: "select(#{name})"}
          = render "shop/shop/#{name}"
