%shop{"ng-app" => "Shop"}
  %navigation
    %distributor.details.row
      %img.left{src: ""}
      %h4
        = @distributor.name
      %location= @distributor.address.city
      %small Change location
      = render partial: "shop/order_cycles"

      -#%description
        -#= @distributor.long_description.andand.html_safe
    
  %products.row
    = render partial: "shop/products"

  -#= render partial: "enterprises/contact_us"
  -#= render partial: "enterprises/about_us"


