%div
  %input{ type: "hidden",
    id: "enterprise_tag_rules_attributes_{{tagGroup.startIndex + $index}}_id",
    name: "enterprise[tag_rules_attributes][{{tagGroup.startIndex + $index}}][id]",
    ng: { value: "rule.id" } }

  %input{ type: "hidden",
    id: "enterprise_tag_rules_attributes_{{tagGroup.startIndex + $index}}_type",
    name: "enterprise[tag_rules_attributes][{{tagGroup.startIndex + $index}}][type]",
    value: "TagRule::DiscountOrder" }

  %input{ type: "hidden",
    id: "enterprise_tag_rules_attributes_{{tagGroup.startIndex + $index}}_preferred_customer_tags",
    name: "enterprise[tag_rules_attributes][{{tagGroup.startIndex + $index}}][preferred_customer_tags]",
    ng: { value: "rule.preferred_customer_tags" } }

  %input{ type: "hidden",
    id: "enterprise_tag_rules_attributes_{{tagGroup.startIndex + $index}}_calculator_type",
    name: "enterprise[tag_rules_attributes][{{tagGroup.startIndex + $index}}][calculator_type]",
    value: "Spree::Calculator::FlatPercentItemTotal" }

  %input{ type: "hidden",
    id: "enterprise_tag_rules_attributes_{{tagGroup.startIndex + $index}}_calculator_attributes_id",
    name: "enterprise[tag_rules_attributes][{{tagGroup.startIndex + $index}}][calculator_attributes][id]",
    ng: { value: "rule.calculator.id" } }

  %input{ type: "hidden",
    name: "enterprise[tag_rules_attributes][{{tagGroup.startIndex + $index}}][calculator_attributes][preferred_flat_percent]",
    ng: { value: "rule.calculator.preferred_flat_percent" } }

  %span.text-normal {{ $index + 1 }}. Orders are discounted by
  %input{ type: "number",
    id: "enterprise_tag_rules_attributes_{{tagGroup.startIndex + $index}}_calculator_attributes_preferred_flat_percent",
    min: -100,
    max: 100,
    ng: { model: "rule.calculator.preferred_flat_percent" }, 'invert-number' => true }
  %span.text-normal %
