%div
  %input{ type: "hidden",
    id: "enterprise_tag_rules_attributes_{{tagGroup.startIndex + $index}}_id",
    name: "enterprise[tag_rules_attributes][{{tagGroup.startIndex + $index}}][id]",
    ng: { value: "rule.id" } }

  %input{ type: "hidden",
    id: "enterprise_tag_rules_attributes_{{tagGroup.startIndex + $index}}_type",
    name: "enterprise[tag_rules_attributes][{{tagGroup.startIndex + $index}}][type]",
    value: "TagRule::FilterOrderCycles" }

  %input{ type: "hidden",
    id: "enterprise_tag_rules_attributes_{{tagGroup.startIndex + $index}}_preferred_customer_tags",
    name: "enterprise[tag_rules_attributes][{{tagGroup.startIndex + $index}}][preferred_customer_tags]",
    ng: { value: "rule.preferred_customer_tags" } }

  %input{ type: "hidden",
    id: "enterprise_tag_rules_attributes_{{tagGroup.startIndex + $index}}_preferred_exchange_tags",
    name: "enterprise[tag_rules_attributes][{{tagGroup.startIndex + $index}}][preferred_exchange_tags]",
    ng: { value: "rule.preferred_customer_tags" } }

  %span.text-normal {{ $index + 1 }}. Order Cycles with matching tags are
  %input.light.ofn-select2{ id: "enterprise_tag_rules_attributes_{{tagGroup.startIndex + $index}}_preferred_matched_order_cycles_visibility",
    name: "enterprise[tag_rules_attributes][{{tagGroup.startIndex + $index}}][preferred_matched_order_cycles_visibility]",
    ng: { model: "rule.preferred_matched_order_cycles_visibility"},
    data: 'visibilityOptions', "min-search" => 5 }
  -# %tags-with-translation{ object: "rule", "tags-attr" => "shipping_method_tags", "tag-list-attr" => "preferred_shipping_method_tags" }
