.content#about{"ng-controller" => "AboutUsCtrl"}
  .panel
    .row
      .small-12.large-8.columns
        %img.hero-img-small{"ng-src" => "{{::CurrentHub.hub.promo_image}}", "ng-if" => "::CurrentHub.hub.promo_image"}
        %p{"ng-bind-html" => "::CurrentHub.hub.long_description"}
      .small-12.large-4.columns
        &nbsp;
