.content#about
  .row
    .small-12.large-9.columns
      %p= current_distributor.long_description.andand.html_safe
    
    -#- if current_distributor.promo_image.exists?
      -#.small-12.large-3.columns
        -#%img.about.right{src: current_distributor.promo_image.url(:large)}

