%navigation
  %distributor.details.row
    #distributor_title
      - if current_distributor.logo.exists?
        %img.left{src: current_distributor.logo.url(:thumb)}
      %h3
        = current_distributor.name
      %location= current_distributor.address.city
      / Will this needs to be a drop-down to choose either pick-up point or delivery once shipping methods are implemented

    = render partial: "shopping_shared/order_cycles"

= render partial: "shopping_shared/tabs"
