%navigation
  %distributor.details.row
    #distributor_title
      %img.left{src: current_distributor.logo.url(:thumb)}
      %h4
        = current_distributor.name
      %location= current_distributor.address.city
      %small
        %a{href: "/"} Change location

    = render partial: "shopping_shared/order_cycles"

= render partial: "shopping_shared/tabs"
