- distributor = @order.andand.distributor || current_distributor

%navigation
  %distributor.details.row
    .small-12.medium-6.large-6.columns
      #distributor_title
        - if distributor.logo?
          %img.left{src: distributor.logo.url(:thumb)}
        %h3
          = distributor.name
        %location= distributor.address.city
        / Will this needs to be a drop-down to choose either pick-up point or delivery once shipping methods are implemented

    .small-12.medium-6.large-6.columns
      = render partial: "shopping_shared/order_cycles"


= render partial: "shopping_shared/tabs" if distributor == current_distributor

/In this file we  need to figure out how to add a hyperlink to both
/the img on line 8 and the h3 on line 9 that will redirect back to
/a store's url. This means we'll also need to find out how to get
/a store's relative url.
