.content
  .row
    .small-12.columns
      %h5
        =current_distributor.name 
        belongs to: 
      %ul.bullet-list
        - for group in current_distributor.groups
          %li
            %a{href: main_app.groups_path(anchor: "#/#group#{group.id}")}= group.name 
