- distributor = @order&.distributor || current_distributor

%navigation
  %distributor.details.row
    .small-12.medium-12.large-8.columns
      #distributor_title
        - if distributor.logo.variable?
          = image_tag distributor.logo_url(:thumb), class: "left"
        = render DistributorTitleComponent.new(name: distributor.name)
        %location= distributor.address.city

    = yield :ordercycle_sidebar
