- content_for :injection_data do
  = inject_current_order_cycle

- unless no_open_order_cycles? || require_customer?
  %ordercycle{"ng-controller" => "OrderCycleCtrl", "ng-cloak" => true,
    "ng-class" => "{'requires-selection': !OrderCycle.selected()}"}
    %form.custom
      = yield :order_cycle_form
