.content#producers{"ng-controller" => "ProducersTabCtrl"}
  .row
    .small-12.columns.panel
      %h5 
        {{CurrentHub.hub.name}}'s producers:
      %ul.bullet-list
        %li{"ng-repeat" => "enterprise in CurrentHub.hub.producers"}
          = render partial: "modals/producer"
