.content#producers{"ng-controller" => "ProducersTabCtrl"}
  .row
    .small-12.columns
      %h5
        = "#{current_distributor.name}'s producers:" 
      %ul.bullet-list
        %li{"ng-repeat" => "enterprise in CurrentHub.producers"}
          = render partial: "modals/producer"
