- if (@order.andand.distributor || current_distributor) == current_distributor

  - shop_tabs.each do |tab|
    = render "shopping_shared/tabs/#{tab[:name]}"

  .pageset-ctrl#shop-tabs{ selected: shop_tabs.first[:name], prefix: 'shop', ng: { cloak: true } }
    .tab-buttons
      .row
        .columns.small-12.large-8
          - shop_tabs.each do |tab|
            .page{ id: "tab_#{tab[:name]}", name: tab[:name] }
              %a{ href: 'javascript:void(0)' }=tab[:title]

    .page-view
