.case-study
  %img.case-study-img{src: img_src, width: "100", height: "100", title: title}
  %h4= title
  %p.text-small= description
  %a{href: link, target: "_blank"}
    %strong
      = t :label_more
