-# Include all stylesheets except reset (which overrides Spree styles)
-# Then restore styles which override Spree's
-# See cms/app/views/layouts/cms_admin/_head.html.erb
= stylesheet_link_tag 'comfortable_mexican_sofa/structure',
                      'comfortable_mexican_sofa/typography',
                      'comfortable_mexican_sofa/form',
                      'comfortable_mexican_sofa/content',
                      'comfortable_mexican_sofa/files',
                      'comfortable_mexican_sofa/elrte',
                      'comfortable_mexican_sofa/codemirror',
                      'comfortable_mexican_sofa/jquery_ui',
                      'comfortable_mexican_sofa/dialogs',
                      'comfortable_mexican_sofa/widgets',
                      'shared/restore_spree_from_cms'

= javascript_include_tag('comfortable_mexican_sofa/application')

%meta{:name => "cms-admin-path", :content => ComfortableMexicanSofa.config.admin_route_prefix}
%meta{:name => "cms-locale", :content => I18n.locale}
