:css
  .page-alert .alert-box { background-color: #f27052; }

.alert-cta
  %h6
    %strong
      = link_to "Connect", "https://openfoodnetwork.org/au/connect/", target: '_blank'
    and
    %strong
      = link_to "Learn", "https://openfoodnetwork.org/au/learn/", target: '_blank'
