:css
  .page-alert .alert-box { background-color: #fdddac; }

.alert-cta
  %h6
    Open Food Network
    %strong
      = link_to t(:label_connect), "https://openfoodnetwork.org/au/connect/", target: '_blank'
    and
    %strong
      = link_to t(:label_learn), "https://openfoodnetwork.org/au/learn/", target: '_blank'
    \- Go exploring and get inspired!
