%footer
  .row.landing-page-row
    .small-5.columns.text-left
      %h3 Contact us
      %strong
        %span.has-tip.tip-top{"data-tooltip" => "", "data-options" => "disable-for-touch:true", title: "Open Food Network is a marketplace connecting you to local producers and food hubs"} 
          = link_to "WHAT IS OPEN FOOD NETWORK?", "http://openfoodnetwork.org"
    .small-2.columns
    .small-5.columns.text-right
      %h3 About us
      %p OFN is a network of independent online food stores that connect farmers and food hubs with individuals and local businesses.  It gives farmers and food hubs an easier and fairer way to distribute their food. 
  .row.landing-page-row
    .small-12.columns.text-center
      %p 
      %p © Copyright 2014 Open Food Foundation
      %small Content | Terms of Service | Code - Opensource on Github | Creative Commons / IP  | OFN.org  
