%footer
  .row.landing-page-row
    .large-6.columns.text-left
      %strong
        %span.has-tip.tip-top{"data-tooltip" => "", "data-options" => "disable-for-touch:true", title: "Open Food Network is a marketplace connecting you to local producers and food hubs"} 
          = link_to "WHAT IS OPEN FOOD NETWORK?", "http://openfoodnetwork.org"
