%footer
  .row.landing-page-row
    .small-5.columns.text-left
      %h3 Follow us
      %p
        %a{title:'Follow us on Facebook', href: 'https://www.facebook.com/OpenFoodNet', target: '_blank'} 
          %i.fi-social-facebook
          Facebook &nbsp;&nbsp;
        %a{title:'Follow us on Twitter', href: 'https://twitter.com/OpenFoodNet', target: '_blank'} 
          %i.fi-social-twitter
          Twitter &nbsp;&nbsp;
        %a{title:'Join our group on LinkedIn', href: 'http://www.linkedin.com/groups/Open-Food-Foundation-4743336', target: '_blank'} 
          %i.fi-social-linkedin
          LinkedIn &nbsp;&nbsp;
      %p
        %a{href: "hello@openfoodnetwork.org".reverse, target: '_blank', mailto: true} 
          %span.email
            = "hello@openfoodnetwork.org".reverse
    .small-2.columns
    .small-5.columns.text-right
      %h3 About us
      %p OFN is a network of independent online food stores that connect farmers and food hubs with individuals and local businesses.  It gives farmers and food hubs an easier and fairer way to distribute their food. 
  .row.landing-page-row
    .small-12.columns.text-center
      %p 
      %p © Copyright 2014 Open Food Foundation
      %small Content | Terms of Service | Code - Opensource on Github | Creative Commons / IP  | OFN.org  
