%footer
  .footer-global
    .row
      .small-12.columns.text-center
        .logo
          %img{src: "/assets/logo-white-notext.png", width: "120px"}
    .row
      .small-12.medium-8.medium-offset-2.columns.text-center
        .alert-box
          %a.big-alert{href: "http://www.openfoodnetwork.org", target: "_blank"}
            %h6
              Interested in selling food on the Open Food Network? &nbsp;
              %strong Start here
              %i.ofn-i_054-point-right
    .row
      .small-12.medium-4.medium-offset-2.columns.text-center
        %h6 OFN Global
        %p
          %a{href: "http://www.openfoodnetwork.org", target: "_blank"} Home
          %span &#124;
          %a{href: "http://www.openfoodnetwork.org/news/", target: "_blank"} News
          %span &#124;
          %a{href: "http://www.openfoodnetwork.org/about/history-team/", target: "_blank"} About
          %span &#124;
          %a{href: "http://www.openfoodnetwork.org/contact/", target: "_blank"} Contact


      .small-12.medium-4.columns.text-center
        %h6 OFN Sites
        %p
          %a{href: "http://dev.openfoodnetwork.org", target: "_blank"} Developer
          %span &#124;
          %a{href: "http://community.openfoodnetwork.org", target: "_blank"} Community
          %span &#124;
          %a{href: "http://www.openfoodnetwork.org/platform/user-guide/", target: "_blank"} User Guide

      .medium-2.columns.text-center
        / Placeholder

  .footer-local
    .row
      .small-12.medium-2.medium-offset-2.columns.text-center
        %p.secure-icon
          %i.ofn-i_017-locked
      .small-12.medium-6.columns.text-center
        %p.text-big.secure-text Secure and trusted.
        %p.secure-text Open Food Network uses SSL encryption (2048 bit RSA) everywhere to keep your shopping and payment information private. Our servers do not store your credit card details and payments are processed by PCI-compliant services.
      .small-12.medium-2.columns

    .row
      .small-12.medium-8.medium-offset-2.columns.text-center
        %hr.hr-light
        %br

    .row
      .small-6.medium-3.medium-offset-2.columns.text-left
        // This is the instance-managed set of links:
        %h4 Keep in touch
        %p.social-icons
          - if ContentConfig.footer_facebook_url.present?
            %a{href: ContentConfig.footer_facebook_url}
              %i.ofn-i_044-facebook
          - if ContentConfig.footer_twitter_url.present?
            %a{href: ContentConfig.footer_twitter_url}
              %i.ofn-i_041-twitter
          - if ContentConfig.footer_instagram_url.present?
            %a{href: ContentConfig.footer_instagram_url}
              %i.ofn-i_043-instagram
          - if ContentConfig.footer_linkedin_url.present?
            %a{href: ContentConfig.footer_linkedin_url}
              %i.ofn-i_042-linkedin
          - if ContentConfig.footer_googleplus_url.present?
            %a{href: ContentConfig.footer_googleplus_url}
              %i.ofn-i_046-g
          - if ContentConfig.footer_pinterest_url.present?
            %a{href: ContentConfig.footer_pinterest_url}
              %i.ofn-i_045-pintrest
        - if ContentConfig.footer_email.present?
          %p
            %a{href: ContentConfig.footer_email.reverse, mailto: true, target: '_blank'}  Email us
        = render_markdown(ContentConfig.footer_links_md).html_safe


      .small-6.medium-3.columns.text-left
        %h4 Navigate
        %p
          %a{href: "/shops"} Shops
        %p
          %a{href: "/map"} Map
        %p
          %a{href: "/producers"} Producers
        %p
          %a{href: "/groups"} Groups
        %p
          %a{href: ContentConfig.footer_about_url} About

      .small-12.medium-2.columns.text-left
        %h4 Join us
        %p
          %a{href: "/producers/signup"} Producers sign-up
        %p
          %a{href: "/shops/signup"} Hubs sign-up
        %p
          %a{href: "/groups/signup"} Groups sign-up
        %p
          %a{href: "http://www.openfoodnetwork.org/platform/food-system-partners/", target: "_blank"} Food systems partners

      .medium-2.columns.text-center
        / Placeholder

    .row
      .small-12.medium-8.medium-offset-2.columns.text-center
        %hr.hr-light
        %br

    .row
      .small-12.medium-3.medium-offset-2.columns.text-left
        %a{href: root_path}
          %img{src: "/assets/logo-color.png", srcset: "/assets/logo-color.svg", width: "220px"}
      .small-12.medium-5.columns.text-left
        %p.text-small
          Read our
          %a{href: "/Terms-of-service.pdf"} Terms &amp; conditions
          &#124;
          Find us on
          %a{href:"https://github.com/openfoodfoundation/openfoodnetwork", target: "_blank"} Github
        %p.text-small
          Open Food Network is a free and open source software platform. Our content is licensed with
          = succeed ',' do
            %a{href:"https://creativecommons.org/licenses/by-sa/3.0/", target: "_blank" } CC BY-SA 3.0
          and our code with
          = succeed '.' do
            %a{href:"https://tldrlegal.com/license/gnu-affero-general-public-license-v3-(agpl-3.0)", target: "_blank" } AGPL 3

      .medium-2.columns.text-center
        / Placeholder
