.login-panel
  %a{href: "#"} Close
  #login-content{"ng-controller" => "LoginSidebarCtrl", "ng-show" => "active()"}
    = render "home/login"
  #sign-up-content{"ng-controller" => "SignupSidebarCtrl", "ng-show" => "active()"}
    = render "home/signup"
