.login-panel
  %a{href: "#"} Close

  #login-content{"ng-show" => "active_sidebar == '/login'"}
    = render "home/login"
  #sign-up-content{"ng-show" => "active_sidebar == '/signup'"}
    = render "home/signup"
