%nav.top-bar
  %section.top-bar-section
    %ul.left{"ng-controller" => "MenuCtrl"}
      %li
        %a.icon{"ng-click" => "toggle()"}
          %i.fi-list
      %li= link_to image_tag("ofn_logo_small.png"), root_path
      %li.divider
      - if spree_current_user.nil?
        = render 'shared/signed_out'
      - else
        = render 'shared/signed_in'
