%section#sidebar{ role: "complementary", "ng-controller" => "SidebarCtrl", 
"ng-class" => "{'active' : active()}"}
  %tabset
    = render partial: "shared/login_sidebar"
    = render partial: "shared/signup_sidebar"
  = yield :sidebar
