---
openapi: 3.0.1
info:
  title: API V1
  version: v1
components:
  schemas:
    error_response:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              detail:
                type: string
              source:
                type: object
            required:
            - detail
      required:
      - errors
    customer:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              example: '1'
            type:
              type: string
              example: customer
            attributes:
              type: object
              properties:
                id:
                  type: integer
                  example: 1
                enterprise_id:
                  type: integer
                  example: 2
                first_name:
                  type: string
                  nullable: true
                  example: Alice
                last_name:
                  type: string
                  nullable: true
                  example: Springs
                code:
                  type: string
                  nullable: true
                  example: BUYER1
                email:
                  type: string
                  example: alice@example.com
              required:
              - enterprise_id
              - email
            relationships:
              type: object
        meta:
          type: object
      required:
      - data
paths:
  "/api/v1/customers":
    get:
      summary: List customers
      tags:
      - Customers
      parameters:
      - name: enterprise_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Customers list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: customer
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            enterprise_id:
                              type: integer
                              example: 2
                            first_name:
                              type: string
                              nullable: true
                              example: Alice
                            last_name:
                              type: string
                              nullable: true
                              example: Springs
                            code:
                              type: string
                              nullable: true
                              example: BUYER1
                            email:
                              type: string
                              example: alice@example.com
                          required:
                          - id
                          - enterprise_id
                          - first_name
                          - last_name
                          - code
                          - email
                        relationships:
                          type: object
                  meta:
                    type: object
                required:
                - data
    post:
      summary: Create customer
      tags:
      - Customers
      parameters: []
      responses:
        '201':
          description: Customer created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: customer
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          enterprise_id:
                            type: integer
                            example: 2
                          first_name:
                            type: string
                            nullable: true
                            example: Alice
                          last_name:
                            type: string
                            nullable: true
                            example: Springs
                          code:
                            type: string
                            nullable: true
                            example: BUYER1
                          email:
                            type: string
                            example: alice@example.com
                        required:
                        - id
                        - enterprise_id
                        - first_name
                        - last_name
                        - code
                        - email
                      relationships:
                        type: object
                  meta:
                    type: object
                required:
                - data
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        detail:
                          type: string
                        source:
                          type: object
                      required:
                      - detail
                required:
                - errors
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enterprise_id:
                  type: integer
                  example: 2
                first_name:
                  type: string
                  nullable: true
                  example: Alice
                last_name:
                  type: string
                  nullable: true
                  example: Springs
                code:
                  type: string
                  nullable: true
                  example: BUYER1
                email:
                  type: string
                  example: alice@example.com
              required:
              - enterprise_id
              - email
  "/api/v1/customers/{id}":
    get:
      summary: Show customer
      tags:
      - Customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Customer
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: customer
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          enterprise_id:
                            type: integer
                            example: 2
                          first_name:
                            type: string
                            nullable: true
                            example: Alice
                          last_name:
                            type: string
                            nullable: true
                            example: Springs
                          code:
                            type: string
                            nullable: true
                            example: BUYER1
                          email:
                            type: string
                            example: alice@example.com
                        required:
                        - id
                        - enterprise_id
                        - first_name
                        - last_name
                        - code
                        - email
                      relationships:
                        type: object
                  meta:
                    type: object
                required:
                - data
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        detail:
                          type: string
                        source:
                          type: object
                      required:
                      - detail
                required:
                - errors
    put:
      summary: Update customer
      tags:
      - Customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Customer updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: customer
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          enterprise_id:
                            type: integer
                            example: 2
                          first_name:
                            type: string
                            nullable: true
                            example: Alice
                          last_name:
                            type: string
                            nullable: true
                            example: Springs
                          code:
                            type: string
                            nullable: true
                            example: BUYER1
                          email:
                            type: string
                            example: alice@example.com
                        required:
                        - id
                        - enterprise_id
                        - first_name
                        - last_name
                        - code
                        - email
                      relationships:
                        type: object
                  meta:
                    type: object
                required:
                - data
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        detail:
                          type: string
                        source:
                          type: object
                      required:
                      - detail
                required:
                - errors
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  example: 1
                enterprise_id:
                  type: integer
                  example: 2
                first_name:
                  type: string
                  nullable: true
                  example: Alice
                last_name:
                  type: string
                  nullable: true
                  example: Springs
                code:
                  type: string
                  nullable: true
                  example: BUYER1
                email:
                  type: string
                  example: alice@example.com
              required:
              - enterprise_id
              - email
    delete:
      summary: Delete customer
      tags:
      - Customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Customer deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: '1'
                      type:
                        type: string
                        example: customer
                      attributes:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          enterprise_id:
                            type: integer
                            example: 2
                          first_name:
                            type: string
                            nullable: true
                            example: Alice
                          last_name:
                            type: string
                            nullable: true
                            example: Springs
                          code:
                            type: string
                            nullable: true
                            example: BUYER1
                          email:
                            type: string
                            example: alice@example.com
                        required:
                        - id
                        - enterprise_id
                        - first_name
                        - last_name
                        - code
                        - email
                      relationships:
                        type: object
                  meta:
                    type: object
                required:
                - data
  "/api/v1/enterprises/{enterprise_id}/customers":
    get:
      summary: List customers of an enterprise
      tags:
      - Customers
      - Enterprises
      parameters:
      - name: enterprise_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Customers list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '1'
                        type:
                          type: string
                          example: customer
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            enterprise_id:
                              type: integer
                              example: 2
                            first_name:
                              type: string
                              nullable: true
                              example: Alice
                            last_name:
                              type: string
                              nullable: true
                              example: Springs
                            code:
                              type: string
                              nullable: true
                              example: BUYER1
                            email:
                              type: string
                              example: alice@example.com
                          required:
                          - id
                          - enterprise_id
                          - first_name
                          - last_name
                          - code
                          - email
                        relationships:
                          type: object
                  meta:
                    type: object
                required:
                - data
servers:
- url: "/"
