%div{ "data-controller": "variant-tag-list-input", "data-variant-tag-list-input-url-value": autocomplete_url }
  = render tag_list_input_component.new(name:,
    tags:,
    placeholder:,
    aria_label:,
    only_one:,
    input_field_data_options: { "data-variant-tag-list-input-target": "input" },
    hidden_field_data_options: { "data-variant-tag-list-input-target": "tags" }) do
    %ul.suggestion-list{ "data-variant-tag-list-input-target": "results" }
