/ TODO: Unify this with exchange_distributed_products_form
%td{:colspan => 3}
  .exchange-select-all-variants
    %label
      = check_box_tag 'order_cycle_incoming_exchange_{{ $parent.$index }}_select_all_variants', 1, 1, 'ng-model' => 'exchange.select_all_variants', 'ng-change' => 'setExchangeVariants(exchange, suppliedVariants(exchange.enterprise_id), exchange.select_all_variants)', 'id' => 'order_cycle_incoming_exchange_{{ $parent.$index }}_select_all_variants'
      Select all

  .exchange-product{'ng-repeat' => 'product in enterprises[exchange.enterprise_id].supplied_products'}

    .exchange-product-details
      %label
        = check_box_tag 'order_cycle_incoming_exchange_{{ $parent.$index }}_variants_{{ product.master_id }}', 1, 1, 'ng-hide' => 'product.variants', 'ng-disabled' => 'product.variants.length > 0', 'ng-model' => 'exchange.variants[product.master_id]', 'ofn-sync-distributions' => '{{ product.master_id }}', 'id' => 'order_cycle_incoming_exchange_{{ $parent.$index }}_variants_{{ product.master_id }}'
        %img{'ng-src' => '{{ product.image_url }}'}
        {{ product.name }}

    -# When the master variant is in the order cycle but the product has variants, we want to
    -# be able to remove the master variant, since it serves no purpose. Display a checkbox to do so.
    .exchange-product-variant{'ng-show' => 'exchange.variants[product.master_id] && product.variants'}
      %label
        = check_box_tag 'order_cycle_incoming_exchange_{{ $parent.$index }}_variants_{{ product.master_id }}', 1, 1, 'ng-model' => 'exchange.variants[product.master_id]', 'ofn-sync-distributions' => '{{ product.master_id }}', 'id' => 'order_cycle_incoming_exchange_{{ $parent.$index }}_variants_{{ product.master_id }}'
        Obsolete master

    .exchange-product-variant{'ng-repeat' => 'variant in product.variants'}
      %label
        = check_box_tag 'order_cycle_incoming_exchange_{{ $parent.$parent.$index }}_variants_{{ variant.id }}', 1, 1, 'ng-model' => 'exchange.variants[variant.id]', 'ofn-sync-distributions' => '{{ variant.id }}', 'id' => 'order_cycle_incoming_exchange_{{ $parent.$parent.$index }}_variants_{{ variant.id }}'
        {{ variant.label }}
