%td.active= check_box_tag 'order_cycle_exchange_{{ $index }}_active', 1, 1, 'ng-model' => 'exchange.active', 'id' => 'order_cycle_exchange_{{ $index }}_active'
%td{:class => "#{type}_name"} {{ enterprises[exchange.enterprise_id].name }}
%td.products
  = f.submit 'Products', 'ng-click' => 'toggleProducts($event, exchange)'
  {{ exchangeSelectedVariants(exchange) }} /
  - if type == 'supplier'
    {{ enterpriseTotalVariants(enterprises[exchange.enterprise_id]) }}
  - else
    {{ incomingExchangesVariants().length }}
  selected
