.filters.sixteen.columns.alpha.omega
  .filter.four.columns.alpha
    %label{ :for => 'query' }=t('admin.quick_search')
    %br
    %input.fullwidth{ :type => "text", :id => 'query', ng: { model: 'query' }, placeholder: t(".search_by_order_cycle_name") }
  .filter_select.four.columns
    %label{ :for => 'involving_filter' }=t('.involving')
    %br
    %input.ofn-select2.fullwidth{ id: 'involving_filter', type: 'number', blank: "{id: 0, name: '#{j t(".any_enterprise")}'}", data: 'enterprises', ng: { model: 'involvingFilter' } }
  - if subscriptions_enabled?
    .filter_select.four.columns
      %label{ :for => 'schedule_filter' }=t('admin.order_cycles.index.schedule')
      %br
      %input.ofn-select2.fullwidth{ id: 'schedule_filter', type: 'number', blank: "{id: 0, name: '#{j t(".any_schedule")}'}", data: 'schedules', ng: { model: 'scheduleFilter' } }
    .one.columns &nbsp;
  - else
    .five.columns &nbsp;
  .filter_clear.three.columns.omega
    %label{ :for => 'clear_all_filters' }
    %br
    %input.red.fullwidth{ :type => 'button', :id => 'clear_all_filters', :value => "#{t('admin.clear_all')}", ng: { click: "resetSelectFilters()" } }
