- content_for :wrapper_data_controllers, "toggle"
- content_for :page_actions do
  %li
    %button#toggle_settings{ "data-action": "toggle#toggle" }
      = t('.advanced_settings')
      %i.icon-chevron-down

#advanced_settings{ "data-toggle-target": "content", style: "display: none" }
  = render partial: "/admin/order_cycles/advanced_settings"
