- content_for :page_actions do
  %li{ "data-controller": "remote-toggle", "data-remote-toggle-selector-value": "#advanced_settings" }
    %button#toggle_settings{ "data-action": "click->remote-toggle#toggle" }
      = t('.advanced_settings')
      %i.icon-chevron-down{ "data-remote-toggle-target": "chevron" }

#advanced_settings{ style: "display: none" }
  = render partial: "/admin/order_cycles/advanced_settings"
