%h4.text-center
  =t 'select_a_coordinator_for_your_order_cycle'

%br

= form_for @order_cycle, :url => main_app.new_admin_order_cycle_path, method: :get do |f|
  .row
    .two.columns.alpha
      &nbsp;
    .ten.columns
      = select_tag :coordinator_id, options_for_select(permitted_coordinating_enterprise_options_for(@order_cycle)), { 'required' => true, class: 'select2 fullwidth'}
    .two.columns
      = f.submit "#{t(:continue)} >"

    .two.columns.omega
      &nbsp;
