#brand-story.pane
  .row
    .small-12.medium-8.medium-offset-2.columns.text-center
      %h2
        = t :about_secondhead
      %p
        != t :about_third_section_hero

      #brand-story-text.hide-show.slideable
        %p
          != t :about_secondhead_description

      %a.text-vbig{"slide-toggle" => "#brand-story-text", "ng-click" => "toggleBrandStory()"}
        %i.ofn-i_005-caret-down{"ng-hide" => "brandStoryExpanded"}
        %i.ofn-i_006-caret-up{  "ng-show" => "brandStoryExpanded"}
