#beta.pane

  .row
    .small-12.columns.text-center
      %h2 S'cuse us
      %h5 while we get (more) awesome
      %p Open Food Network UK is a new service that’s being piloted right now!
      %p Want to help? Or find out when OFN is coming to you?
      %strong We’d love to hear from you:
      %p
        %a{href: "hello@openfoodnetwork.org".reverse, target: '_blank', mailto: true}  Food buyers
        |
        %a{href: "hello@openfoodnetwork.org".reverse, target: '_blank', mailto: true}  Food producers &amp; farmers
