#beta

  .row
    .small-12.columns.text-center
      %h2 S'cuse us
      %h5 while we get (more) awesome
      %p Open Food Network (beta) is a new service that’s being built right now! Our food producers are currently based around Melbourne and Victoria, and we hope to expand OFN nationally very soon.  
      %p Want to help? Or find out when OFN is coming to you?
      %strong We’d love to hear from you:
      %p Food buyers  |  Food producers &amp; farmers   