#connect.pane
  .row
    .small-12.medium-6.medium-offset-3.columns.text-center
      %h2= t :label_connect
      %p.text-normal= t :connect_body
      %a.button.transparent{href: "https://openfoodnetwork.org/au/connect/"}
        = t :connect_cta
