#cta.pane
  .row
    .small-12.columns.text-center
      %h3 Shopping that makes the world a better place.
      %br
      %a.button.primary{href: "/shops"}
        I'm ready
        %i.ofn-i_054-point-right