#cta.pane
  .row
    .small-12.columns.text-center
      %h3 Shopping that changes the world. 
      %h5 Browse Open Food Network Australia
      %br
      %a.button.primary{href: "/shops"}
        Shop now
        %i.ofn-i_054-point-right