.row.active_table_row{"ng-show" => "open()", "ng-click" => "toggle($event)", "ng-class" => "{'open' : !ofn-i_032-closed-sign()}"}
  .columns.small-12.medium-6.large-5.fat
    %div{"bo-if" => "hub.taxons"}
      %label Shop for
      .trans-sentence
        %span.fat-taxons{"ng-repeat" => "taxon in hub.taxons"}
          %render-svg{path: "{{taxon.icon}}"}
          %span{"bo-text" => "taxon.name"} 
    %div.show-for-medium-up{"bo-if" => "hub.taxons.length==0"}
      &nbsp;
  .columns.small-12.medium-3.large-2.fat
    %div{"bo-if" => "hub.pickup || hub.delivery"}
      %label Delivery options
      %ul.small-block-grid-2.medium-block-grid-1.large-block-grid-1
        %li.pickup{"bo-if" => "hub.pickup"} 
          %i.ofn-i_038-takeaway
          Pickup
        %li.delivery{"bo-if" => "hub.delivery"} 
          %i.ofn-i_039-delivery
          Delivery
  .columns.small-12.medium-3.large-5.fat
    %div{"bo-if" => "hub.producers"}
      %label Our producers
      %ul.small-block-grid-2.medium-block-grid-1.large-block-grid-2{"ng-class" => "{'show-more-producers' : toggleMoreProducers}", "class" => "producers-list"}
        %li{"ng-repeat" => "enterprise in hub.producers | limitTo:7"}
          %enterprise-modal
            %i.ofn-i_036-producers
            %span{"bo-text" => "enterprise.name"}
        %li{"data-is-link" => "true", "class" => "more-producers-link"}
          %a{"ng-click" => "toggleMoreProducers=!toggleMoreProducers"}
            .more
              +
              %span{"bo-text" => "hub.producers.length-7"}
              More
            .less
              Show less
        %li{"ng-repeat" => "enterprise in hub.producers.slice(7,hub.producers.length)", "class" => "additional-producer"}
          %enterprise-modal
            %i.ofn-i_036-producers
            %span{"bo-text" => "enterprise.name"}
    %div.show-for-medium-up{"bo-if" => "hub.producers.length==0"}
      &nbsp;
