.row.active_table_row{"ng-show" => "open()"}
  .columns.small-4
    %strong Shop for
    %p.trans-sentence
      %img{"ng-repeat" => "taxon in hub.taxons", "bo-src" => "taxon.icon",
      name: "{{taxon.name}}", alt: "{{taxon.name}}"}
  .columns.small-4
    %strong Delivery options
    %ol
      %li.pickup{"bo-if" => "hub.pickup"} Pickup
      %li.delivery{"bo-if" => "hub.delivery"} Delivery
  .columns.small-4
    %strong Our producers
    %ul
      %li{"ng-repeat" => "producer in hub.producers"}
        = render partial: "modals/producer"

.row.active_table_row.link{"ng-show" => "open()", "ng-if" => "hub.active"}
  .columns.small-11
    %a{"bo-href" => "hub.path", "ofn-empties-cart" => "hub", 
    change: "Change hub to", shop: "Shop at"} 

  .columns.small-1.text-right
    %a{"bo-href" => "hub.path"} 
      %i.fi-arrow-right
