.row.active_table_row{"ng-show" => "open()", "ng-click" => "toggle()", "ng-class" => "{'open' : !ofn-i_032-closed-sign()}"}
  .columns.small-12.medium-6.large-5.fat
    %div{"bo-if" => "hub.taxons"}
      %label Shop for
      .trans-sentence
        %span.fat-taxons{"ng-repeat" => "taxon in hub.taxons"}
          %render-svg{path: "{{taxon.icon}}"}
          {{taxon.name}} 
    %div{"bo-if" => "!hub.taxons"}
      &nbsp;
  .columns.small-12.medium-3.large-2.fat
    %div{"bo-if" => "hub.pickup || hub.delivery"}
      %label Delivery options
      %ul.small-block-grid-2.medium-block-grid-1.large-block-grid-1
        %li.pickup{"bo-if" => "hub.pickup"} 
          %i.ofn-i_038-takeaway
          Pickup
        %li.delivery{"bo-if" => "hub.delivery"} 
          %i.ofn-i_039-delivery
          Delivery
  .columns.small-12.medium-3.large-5.fat
    %div{"bo-if" => "hub.producers"}
      %label Our producers
      %ul.small-block-grid-2.medium-block-grid-1.large-block-grid-2
        %li{"ng-repeat" => "enterprise in hub.producers"}
          %producer-modal
            %i.ofn-i_036-producers
            %span
              {{ enterprise.name }}
    %div{"bo-if" => "!hub.producers"}
      &nbsp;

/ .row.active_table_row.link{"ng-show" => "open()"}
/   .cta-container.columns.small-12
/     .row
/       .columns.small-12
/         %h5 
/           %span{"active-table-hub-link" => "hub", change: "Change hub to", shop: "Shop at"}
/     .row
/       .columns.small-12
/         %a.button.hub{"bo-href" => "hub.path", 
/         "ng-class" => "{primary: hub.active, secondary: !hub.active}",
/         "ofn-empties-cart" => "hub"}
/           %i.ofn-i_033-open-sign{"bo-if" => "hub.active"}
/           %i.ofn-i_032-closed-sign{"bo-if" => "!hub.active"}
/           {{hub.name}}
/           .button-address {{ [hub.address.city, hub.address.state] | printArray }}
/           %i.ofn-i_007-caret-right
