.row.active_table_row{"ng-show" => "open()"}
  .columns.small-4
    %h5 
      %i.ofn-i_029-shopping-basket
      Shop for
    %p.trans-sentence
      %span{"ng-repeat" => "taxon in hub.taxons"}
        %img{"bo-src" => "taxon.icon",
        name: "{{taxon.name}}", alt: "{{taxon.name}}"}
        {{taxon.name}} 
  .columns.small-4
    %h5 Delivery options
    %ol
      %li.pickup{"bo-if" => "hub.pickup"} 
        %i.ofn-i_038-takeaway
        Pickup
      %li.delivery{"bo-if" => "hub.delivery"} 
        %i.ofn-i_039-delivery
        Delivery
  .columns.small-4
    %h5 
      %i.ofn-i_036-producers
      Our producers
    %ul.ofn-list
      %li{"ng-repeat" => "producer in hub.producers"}
        = render partial: "modals/producer"

.row.active_table_row.link{"ng-show" => "open()", "ng-if" => "hub.active"}
  .columns.small-11
    %a{"bo-href" => "hub.path", "ofn-empties-cart" => "hub", 
    change: "Change hub to", shop: "Shop at"} 

  .columns.small-1.text-right
    %a{"bo-href" => "hub.path"} 
      %i.ofn-i_007-caret-right
