.row.active_table_row{"ng-show" => "open()"}
  .columns.small-4
    %h5 
      %i.ofn-i_029-shopping-basket
      Shop for
    %p.trans-sentence
      %span.fat-taxons{"ng-repeat" => "taxon in hub.taxons"}
        %render-svg{path: "{{taxon.icon}}"}
        {{taxon.name}} 
  .columns.small-4
    %h5 Delivery options
    %ol
      %li.pickup{"bo-if" => "hub.pickup"} 
        %i.ofn-i_038-takeaway
        Pickup
      %li.delivery{"bo-if" => "hub.delivery"} 
        %i.ofn-i_039-delivery
        Delivery
  .columns.small-4
    %h5 
      %i.ofn-i_036-producers
      Our producers
    %ul.bullet-list
      %li{"ng-repeat" => "producer in hub.producers"}
        = render partial: "modals/producer"

.row.active_table_row.link{"ng-show" => "open()", "bo-if" => "hub.active"}
  .columns.small-11
    %span{"active-table-hub-link" => "hub", change: "Change hub to", shop: "Shop at"}
    %a.button.hub{"bo-href" => "hub.path", "ofn-empties-cart" => "hub",
    "bo-class" => "{primary: hub.active, grey: !hub.active}"}
      %i.ofn-i_033-open-sign{"bo-if" => "hub.active"}
      %i.ofn-i_032-closed-sign{"bo-if" => "!hub.active"}
      {{hub.name}}
      ( {{ hub.address.city }} , {{hub.address.state}} )

  .columns.small-1.text-right
    %a{"bo-href" => "hub.path"} 
      %i.ofn-i_007-caret-right

