#groups.pane

  .row
    .small-12.columns.text-center
      %h2 Groups / Regions
      %h5 See all the groups &amp; regions on the Open Food Network
      %p
      %button.neutral-btn.light 
        %i.fi-torsos-all 
        View groups &amp; regions