#map.pane

  .row
    .small-12.columns.text-center
      %h2 Map
      %h5 of all our food hubs and producers
      %p
      %a.neutral-btn.light{href: "/map"}
        %i.ofn-i_037-map
        View map