#producers.pane

  .row
    .small-12.columns.text-center
      %h2 Aussie Producers
      %h5 Want to join the Open Food Network?
      %br  
      %a.neutral-btn.turquoise{href: "/register"}
        Register now
        %i.ofn-i_007-caret-right
  / .row
  /   .small-12.medium-4.columns.text-center
  /     %ul.pricing-table
  /       %li.title Profile
  /       %li.price Always free
  /       %li.description Help people find and contact you on OFN
  /       %li.bullet-item 
  /         %i.ofn-i_019-map-pin
  /         Pin on OFN Map
  /       %li.bullet-item 
  /         %i.ofn-i_044-facebook
  /         Share your contact and social info
  /       %li.cta-button
  /         %a.neutral-btn.turquoise{:href => "/register"} 
  /           Register now
  /           %i.ofn-i_007-caret-right

  /   .small-12.medium-4.columns.text-center
  /     %ul.pricing-table
  /       %li.title Supplier
  /       %li.price Always free
  /       %li.description Sell your products through existing OFN shopfronts
  /       %li.bullet-item 
  /         %i.ofn-i_019-map-pin
  /         Pin on OFN Map
  /       %li.bullet-item 
  /         %i.ofn-i_044-facebook
  /         Share your contact and social info
  /       %li.bullet-item
  /         %i.ofn-i_067-shop
  /         Create and manage products
  /       %li.cta-button
  /         %a.neutral-btn.turquoise{:href => "/register"} 
  /           Register now
  /           %i.ofn-i_007-caret-right

  /   .small-12.medium-4.columns.text-center
  /     %ul.pricing-table
  /       %li.title Shopfront
  /       %li.price $200 setup fee
  /       %li.description + Sliding monthly fee of $5-$50/month
  /       %li.bullet-item 
  /         %i.ofn-i_019-map-pin
  /         Pin on OFN Map
  /       %li.bullet-item 
  /         %i.ofn-i_044-facebook
  /         Share your contact and social info
  /       %li.bullet-item
  /         %i.ofn-i_067-shop
  /         Create and manage products
  /       %li.bullet-item 
  /         %i.ofn-i_051-check-big
  /         Create and manage order cycles
  /       %li.bullet-item 
  /         %i.ofn-i_051-check-big
  /         Sell your products on Shopfront
  /       %li.cta-button
  /         %a.neutral-btn.turquoise{:href => "/register"} 
  /           Register now
  /           %i.ofn-i_007-caret-right



            