#producers.pane

  .row
    .small-12.columns.text-center
      %h2 Producers
      %h5 Looking for a specific producer or farmer?
      %p
      %a.neutral-btn.turquoise{href: "/producers"}
        %i.fi-trees
        View all producers