#stats.pane
  .row
    .small-12.columns.text-center
      %h3 Who's using it now? 
      %p A bit more blurb about what's happening with Open Food Network Australia. Maybe also a bit of text about what you (end user) can do here, and how. 
      %br
      %h5     
        %strong 4 
        Australian states represented 
      %hr
      %h5     
        %strong 126 
        shops on OFN Australia
      %hr
      %h5 
        %strong 345
        producers
      %hr
      %h5     
        %strong 6,305 
        food order cycles
      %hr
      %h5     
        %strong 2,201
        happy OFN consumers
      %hr
      %h5     
        who have placed a total of 
        %strong 3,902 
        orders to-date