#stats.pane
  .row
    .small-12.medium-8.medium-offset-2.columns.text-center
      %h3 Who's using it now? 
      %p.text-big A bit more blurb about what's happening with Open Food Network Australia. Maybe also a bit of text about what you (end user) can do here, and how. 
      %br
      %br
      .stat1
        %h4     
          %strong 4 
          states represented 
      .stat1
        %h4     
          %strong 126 
          food shops
      .stat3
        %h4 
          %strong 345
          food producers
      .stat4
        %h4     
          %strong 2,201
          happy food shoppers
      .stat5
        %h4     
          %strong 3,902 
          orders made