#stats.pane
  .row
    .small-12.medium-8.medium-offset-2.columns.text-center
      %h3 What's happening on OFN Australia?
      %p.text-big Thanks for making the Open Food Network possible. Our vision is a better food system, and we're proud of what we're achieving together.
      %br
      %br
      // Todo: make these variables live from OFN data.
      // Todo: investigate state / postcode / location stat. Easy / hard?
      .stat1
        %h4     
          %strong 4 
          states represented 
      .stat1
        %h4     
          %strong 126 
          food shops
      .stat3
        %h4 
          %strong 345
          food producers
      .stat4
        %h4     
          %strong 2,201
          happy food shoppers
      .stat5
        %h4     
          %strong 3,902 
          orders made