#system.pane
  .row
    .small-12.medium-12.large-8.large-offset-2.columns.text-center
      %h2 How does it work? 
      .row
        .small-12.medium-4.columns.text-left
          .home-icon-box
            %i.ofn-i_020-search
          .home-icon-box-bottom
            %h5 1. Search
            %p Blurb on how to find your shop. Vestibulum odio elit, scelerisque nec vehicula sit amet, ullamcorper nec eros. Phasellus auctor gravida ligula laoreet cursus. 
        .small-12.medium-4.columns.text-left
          .home-icon-box
            %i.ofn-i_027-shopping-cart
          .home-icon-box-bottom
            %h5 2. Shop
            %p Blurb on shopping. Vestibulum odio elit, nec vehicula sit amet, vehicula nec eros. Phasellus auctor gravida ligula laoreet odio cursus. 
        .small-12.medium-4.columns.text-left
          .home-icon-box
            %i.ofn-i_039-delivery
          .home-icon-box-bottom
            %h5 3. Pick-up / Delivery
            %p Blurb on getting your food. Vestibulum odio elit, scelerisque nec vehicula sit amet, ullamcorper vehicula nec eros. Phasellus auctor gravida ligula odio cursus.