#system.pane
  .row
    .small-12.medium-12.large-8.large-offset-2.columns.text-center
      %h2 Here's how it works.
      .row
        .small-12.medium-4.columns.text-left
          .home-icon-box
            %a.search{href: "/shops"}
          .home-icon-box-bottom
            %h4 1. Search
            %p.text-normal Search our diverse, independent shops for seasonal local food. Search by neighbourhood and food category, or whether you prefer delivery or pickup.
        .small-12.medium-4.columns.text-left
          .home-icon-box
            %a.shop{href: "/shops"}
          .home-icon-box-bottom
            %h4 2. Shop
            %p.text-normal Transform your transactions with affordable local food from diverse producers and hubs. Know the stories behind your food and the people who make it!
        .small-12.medium-4.columns.text-left
          .home-icon-box
            %a.pick-up-delivery{href: "/shops"}
          .home-icon-box-bottom
            %h4 3. Pick-up / Delivery
            %p.text-normal Hang on for your delivery, or visit your producer or hub for a more personal connection with your food. It's food shopping as diverse as nature intended it.
