#system.pane
  .row
    .small-12.medium-12.large-8.large-offset-2.columns.text-center
      %h2 Here's how it works:
      .row
        .small-12.medium-4.columns.text-left
          .home-icon-box
            %a{href: "/shops"}
              %i.ofn-i_020-search
          .home-icon-box-bottom
            %h5 1. Search
            %p.text-small Search our diverse, independent shops for seasonal local food. Search by neighbourhood and filter by food category, or whether you prefer delivery or pickup. 
        .small-12.medium-4.columns.text-left
          .home-icon-box
            %a{href: "/shops"}
              %i.ofn-i_027-shopping-cart
          .home-icon-box-bottom
            %h5 2. Shop
            %p.text-small Transform your transactions with affordable local food from diverse producers, sellers and hubs. Know the stories behind your food and the people who make it! 
        .small-12.medium-4.columns.text-left
          .home-icon-box
            %a{href: "/shops"}
              %i.ofn-i_039-delivery
          .home-icon-box-bottom
            %h5 3. Pick-up / Delivery
            %p.text-small Hang on for your delivery, or head to your producer or hub for a more personal connection with your food. It's food shopping as diverse as nature intended it. 