= cache_with_locale "sitename:#{Spree::Config.site_name}" do
  #tagline
    .row
      .small-12.text-center.columns
        %h1
          %img{src: image_pack_path("logo-white-notext.png"), title: Spree::Config.site_name}
          %br/
          %a.button.transparent{href: "/shops"}
            = t :home_shop
