#tagline
  .row
    .small-12.text-center.columns
      %h1
        / TODO: Rohan - logo asset & width is content manageable:
        %img{src: "/assets/logo-white-notext.png", width: "250", title: Spree::Config.site_name}
        %br/
        %a.button.transparent{href: "/shops"}
          = t :home_shop
