@import "screen";

/* Style current distributor in main nav bar */
nav #main-nav-bar {
  li {
    &#current-distributor {
      float: right;
      margin-right: 24px;
    }
  }
}


/* Based on Spree's nav#taxonomies style. Copied instead of
 * extended with SASS because SASS does not allow extending
 * nested selectors.
 */
nav#filters {
  .filter_name {
    text-transform: uppercase;
    border-bottom: 1px solid lighten($body_text_color, 60);
    margin-bottom: 5px;
    font-size: $main_navigation_header_font_size;
  }

  .filter_choices {
    padding-left: 20px;
    margin-bottom: 20px;
    list-style: disc outside;

    li a {
      font-size: $main_navigation_font_size;
    }
  }
}

/* Style the product source on the product details page in the
 * same manner as the product properties table above it.
 */
#product-source {
  @extend #product-properties;
}
#product-properties td, #product-source td {
  width: 50%;
}
