@import "screen";

a:hover {
  color: lighten($link_text_color, 20) !important;
}

table {
  tbody, tfoot {
    tr {
      &.alt, &.odd {
        background-color: lighten($link_text_color, 75) !important;
      }
    }
  }
}

#header #logo {
  padding-top: 10px;
}

/* Style current distributor in main nav bar */
nav #main-nav-bar {
  li {
    &#current-distributor {
      float: right;
      margin-right: 24px;

      a {
        font-size: 12px;
        padding: 0;
      }
    }
  }
}


/* Based on Spree's nav#taxonomies style. Copied instead of
 * extended with SASS because SASS does not allow extending
 * nested selectors.
 */
nav#filters {
  .filter_name {
    text-transform: uppercase;
    border-bottom: 1px solid lighten($body_text_color, 60);
    margin-bottom: 5px;
    font-size: $main_navigation_header_font_size;
  }

  .filter_choices {
    padding-left: 20px;
    margin-bottom: 20px;
    list-style: disc outside;

    li {
      a {
        font-size: $main_navigation_font_size;
      }
      span.inactive {
        color: #999;
      }
    }
  }
}


/* Style the product source on the product details page in the
 * same manner as the product properties table above it.
 */
#product-source {
  @extend #product-properties;
}
#product-properties td, #product-source td {
  width: 50%;
}


/* Apply Spree's ul#products style to ul.product-listing. When viewing products
 * split by distributor, a separate product listing is displayed for local and
 * remote products, so the #products id is removed to avoid its duplication.
 */
ul.product-listing {
  &:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  li {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;

    a {
      display: block;

      &.info {
        height: 35px;
        margin-top: 5px;
        font-size: $product_list_name_font_size;
        color: $product_link_text_color;
        border-bottom: 1px solid lighten($body_text_color, 60);
        overflow: hidden;
      }
    }

    .product-image {
      border: 1px solid lighten($body_text_color, 60);
      padding: 5px;
      min-height: 110px;
      background-color: $product_background_color;

      &:hover {
        border-color: $link_text_color;
      }

    }

    .price {
      color: $link_text_color;
      font-size: $product_list_price_font_size;
      padding-top: 5px;
      display: block;
    }
  }
}


/* Supplier and distributor description */
.supplier-description, .distributor-description {
  margin-bottom: 2em;
}



/* Highlight local products in distributor-split product listings */
#products-local ul {
  margin-bottom: 1em;
  padding: 10px;
  border-radius: 10px;
  background-color: #def;
}


/* Distributor details on product details page */
fieldset#product-distributor-details {
  float: right;
  margin-top: 0;
  width: 250px;
  @extend #shipping;
}

#product-variants {
  float: none;
}


/* Add to cart form on product details page */
#cart-form {
  .error-distributor {
    font-size: 120%;
    font-weight: bold;
    color: #f00;

    a {
      color: #f00;
      text-decoration: underline;
    }
  }

  .distributor-fixed {
  }
}


/* View cart form */
#subtotal {
  width: 100%;
}
.links {
  float: right;
  text-align: right;
}
#empty-cart {
  float: left;
  margin-top: 15px !important;

  p {
    padding: 0;
  }
}


/* Delivery fees table on checkout page */
#delivery-fees {
  clear: both;
  padding-top: 6em;

  table#delivery {
    width: 100%;

    tbody {
      tr {
        td.item-shipping-cost, td.item-shipping-method {
          text-align: center;
        }
        td.item-shipping-cost {
          @extend span.price;
          @extend span.price.selling;
        }
      }
    }
  }

  .subtotal {
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    margin-top: 15px;

    span.order-total {
      @extend span.price;
    }
  }
}
