%p
  Hello,

%p
  = @user.email
  has requested access to
  = @enterprise.name

%p
  Click the link below to approve the request:

%p
  = link_to 'Approve Request', user_approve_enterprise_request_url(user_id: @user.id, token: @token, enterprise_id: @enterprise.id)

%p
  Thank you,

%p
  LA BELLE ORANGE