%p
  Bonjour,

%p
  = @user.email.present? ? @user.email : email
  a demandé l'accès à
  = @enterprise.name

%p
  Cliquer sur le lien ci-dessous pour autoriser l'inscription:

%p
  = link_to 'Autoriser accès au groupe privé', spree.user_approve_enterprise_request_url(user_id: @user.id, token: @token, enterprise_id: @enterprise.id)

%p
  Merci.

%p
  LA BELLE ORANGE