---
http_interactions:
- request:
    method: post
    uri: https://connect.stripe.com/oauth/deauthorize
    body:
      encoding: UTF-8
      string: stripe_user_id=<HIDDEN_ACCOUNT>&client_id=bogus_client_id
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Stripe-Kill-Route:
      - "[]"
      Stripe-Parent-Id:
      - '0000000000000000'
      Stripe-Span-Id:
      - 1317edffcd8f0941
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Apiori-Intentional-Latency:
      - 0s
      X-Apiori-Reqid:
      - dub2DISD22ogqObCRqkyYRE
      X-Apiori-Server-Duration-Ms:
      - '126'
      X-Apiori-Upstream-Duration:
      - 126.447763ms
      X-Apiori-Upstream-Name:
      - manage-srv
      X-Apiori-Upstream-Region:
      - northwest
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "invalid_client",
          "error_description": "No such application: 'bogus_client_id'"
        }
  recorded_at: Tue, 19 Dec 2023 12:55:29 GMT
recorded_with: VCR 6.2.0
