---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Apple+Customer&email=applecustomer%40example.com
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 04bf021d-fd0c-4b7d-91c8-550565296fa0
      Original-Request:
      - req_6TgXb95GmI11j8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TMV4vdrdlLzoTk",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1762269750,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "applecustomer@example.com",
          "invoice_prefix": "KKLGNYZ9",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Apple Customer",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 04 Nov 2025 15:22:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_card_visa_chargeDeclined&payment_method_types[0]=card&capture_method=manual&customer=cus_TMV4vdrdlLzoTk&setup_future_usage=off_session
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c1ef2330-1ec9-4e18-a8c8-51cd9de5f227
      Original-Request:
      - req_7abBtsI1MGb67T
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SPm42KuuB1fWySn0W62oO6o",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "<HIDDEN-CLIENT-SECRET>",
          "confirmation_method": "automatic",
          "created": 1762269750,
          "currency": "eur",
          "customer": "cus_TMV4vdrdlLzoTk",
          "description": null,
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SPm42KuuB1fWySnnrFa9UTk",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 04 Nov 2025 15:22:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SPm42KuuB1fWySn0W62oO6o/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - eb1d9b8d-bb0a-4603-ae56-3c0af302e80a
      Original-Request:
      - req_1faIakJqcpSxFY
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "advice_code": "try_again_later",
            "charge": "ch_3SPm42KuuB1fWySn0iKhVvuS",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "network_decline_code": "01",
            "payment_intent": {
              "id": "pi_3SPm42KuuB1fWySn0W62oO6o",
              "object": "payment_intent",
              "amount": 100,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "manual",
              "client_secret": "<HIDDEN-CLIENT-SECRET>",
              "confirmation_method": "automatic",
              "created": 1762269750,
              "currency": "eur",
              "customer": "cus_TMV4vdrdlLzoTk",
              "description": null,
              "excluded_payment_method_types": null,
              "invoice": null,
              "last_payment_error": {
                "advice_code": "try_again_later",
                "charge": "ch_3SPm42KuuB1fWySn0iKhVvuS",
                "code": "card_declined",
                "decline_code": "generic_decline",
                "doc_url": "https://stripe.com/docs/error-codes/card-declined",
                "message": "Your card was declined.",
                "network_decline_code": "01",
                "payment_method": {
                  "id": "pm_1SPm42KuuB1fWySnnrFa9UTk",
                  "object": "payment_method",
                  "allow_redisplay": "unspecified",
                  "billing_details": {
                    "address": {
                      "city": null,
                      "country": null,
                      "line1": null,
                      "line2": null,
                      "postal_code": null,
                      "state": null
                    },
                    "email": null,
                    "name": null,
                    "phone": null,
                    "tax_id": null
                  },
                  "card": {
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": "pass"
                    },
                    "country": "US",
                    "display_brand": "visa",
                    "exp_month": 11,
                    "exp_year": 2026,
                    "fingerprint": "IKC2ubfpSLuZKsVs",
                    "funding": "credit",
                    "generated_from": null,
                    "last4": "0002",
                    "networks": {
                      "available": [
                        "visa"
                      ],
                      "preferred": null
                    },
                    "regulated_status": "unregulated",
                    "three_d_secure_usage": {
                      "supported": true
                    },
                    "wallet": null
                  },
                  "created": 1762269750,
                  "customer": null,
                  "livemode": false,
                  "metadata": {},
                  "type": "card"
                },
                "type": "card_error"
              },
              "latest_charge": "ch_3SPm42KuuB1fWySn0iKhVvuS",
              "livemode": false,
              "metadata": {},
              "next_action": null,
              "on_behalf_of": null,
              "payment_method": null,
              "payment_method_configuration_details": null,
              "payment_method_options": {
                "card": {
                  "installments": null,
                 [...]
