---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2024&card[cvc]=314
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ebd45b27-d47a-4640-93d0-18e01d25820e
      Original-Request:
      - req_mUaRDDRcXU30Op
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2019-11-05'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_1NAXPZKuuB1fWySnuSXGf0lO",
          "object": "token",
          "card": {
            "id": "card_1NAXPZKuuB1fWySnK1xSTRWL",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2024,
            "fingerprint": "6E6tgVjx6U65iHFV",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": "82.155.193.180",
          "created": 1684756825,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 22 May 2023 12:00:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=adela_schmidt%40leuschke.us&source=tok_1NAXPZKuuB1fWySnuSXGf0lO
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 14465f8b-28f6-4f39-9c93-8c53dbe5dab7
      Original-Request:
      - req_uh5EgDTWdAKss2
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2019-11-05'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_NwQGyHPN2fNDHF",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1684756826,
          "currency": null,
          "default_currency": null,
          "default_source": "card_1NAXPZKuuB1fWySnK1xSTRWL",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "adela_schmidt@leuschke.us",
          "invoice_prefix": "A82A5A6A",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1NAXPZKuuB1fWySnK1xSTRWL",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_NwQGyHPN2fNDHF",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 9,
                "exp_year": 2024,
                "fingerprint": "6E6tgVjx6U65iHFV",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null,
                "wallet": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_NwQGyHPN2fNDHF/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_NwQGyHPN2fNDHF/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_NwQGyHPN2fNDHF/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null,
          "test_clock": null
        }
  recorded_at: Mon, 22 May 2023 12:00:26 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_NwQGyHPN2fNDHF/sources?limit=1&object=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-11-05'
    body:
      encoding: UTF-8
      string: [...]
