#system.pane
  .row
    .small-12.medium-12.large-8.large-offset-2.columns.text-center
      %h2
        = t :delivery_title
      .row
        .small-12.medium-12.columns.text-left
          %p.text-normal
            != t :delivery_description
          
       