#system.pane
  .row
    .small-12.medium-12.large-8.large-offset-2.columns.text-center
      %h1
        = t :legal_notice_title
      .row
        .small-12.medium-12.columns.text-left
          %p.text-normal
            != t :legal_notice_description
          
       