= cache_with_locale "sitename:#{Spree::Config.site_name}" do
  #tagline
    .row
      .small-12.text-center.columns
        %h1
          = t :about_hero_text_first

          %br/
          %br/
          %br/
         
       
