:css
  #tagline:before { background-image: url("/default_images/delivery_return.jpg") }


- content_for :page_alert do
  = render "shared/menu/alert"

%div{"ng-controller" => "HomeCtrl"}
  = render "legal/deliveryhero"

  #panes
    = render "legal/deliveryreturn"

  = render "shared/footer"
