:css
  #tagline:before { background-image: url("/default_images/legal_notice.jpg") }


- content_for :page_alert do
  = render "shared/menu/alert"

%div#legal_notice{"ng-controller" => "HomeCtrl"}
  = render "legal/legalnoticehero"

  #panes
    = render "legal/legalnotice"

  = render "shared/footer"
