:css
  #tagline:before { background-image: url("/default_images/shipping_return.jpg") }


- content_for :page_alert do
  = render "shared/menu/alert"

%div#shipping_and_return{"ng-controller" => "HomeCtrl"}
  = render "legal/shippingandreturnhero"

  #panes
    = render "legal/shippingandreturn"

  = render "shared/footer"
