:css
  #tagline:before { background-image: url("/default_images/terms_conditions.jpg") }


- content_for :page_alert do
  = render "shared/menu/alert"

%div#terms_condition{"ng-controller" => "HomeCtrl"}
  = render "legal/termshero"

  #panes
    = render "legal/terms"

  = render "shared/footer"
