---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2024&card[cvc]=314
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bb83e217-3608-4df7-add8-ae52eb34614c
      Original-Request:
      - req_prEMClalBG6c2Q
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-04-10'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_1P6h6uKuuB1fWySnZzdkqGYm",
          "object": "token",
          "card": {
            "id": "card_1P6h6uKuuB1fWySnJZfX2tRv",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2024,
            "fingerprint": "6E6tgVjx6U65iHFV",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "networks": {
              "preferred": null
            },
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": "115.166.33.14",
          "created": 1713393468,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 17 Apr 2024 22:37:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=marc%40christiansen.name&source=tok_1P6h6uKuuB1fWySnZzdkqGYm
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c554622b-1bb1-4a21-924e-10e2d89ee3c4
      Original-Request:
      - req_9WRw9Wa3q4aW4L
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-04-10'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PwaH4jTn93rX49",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1713393468,
          "currency": null,
          "default_source": "card_1P6h6uKuuB1fWySnJZfX2tRv",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "marc@christiansen.name",
          "invoice_prefix": "C7DCDC14",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 17 Apr 2024 22:37:49 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_PwaH4jTn93rX49/sources?limit=1&object=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2024-04-10'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "card_1P6h6uKuuB1fWySnJZfX2tRv",
              "object": "card",
              "address_city": null,
              "address_country": null,
              "address_line1": null,
              "address_line1_check": null,
              "address_line2": null,
              "address_state": null,
              "address_zip": null,
              "address_zip_check": null,
              "brand": "Visa",
              "country": "US",
              "customer": "cus_PwaH4jTn93rX49",
              "cvc_check": "pass",
              "dynamic_last4": null,
              "exp_month": 9,
              "exp_year": 2024,
              "fingerprint": "6E6tgVjx6U65iHFV",
              "funding": "credit",
              "last4": "4242",
              "metadata": {},
              "name": null,
              "tokenization_method": null,
              "wallet": null
            }
          ],
          "has_more": false,
          "url": "/v1/customers/cus_PwaH4jTn93rX49/sources"
        }
  recorded_at: Wed, 17 Apr 2024 22:37:50 GMT
recorded_with: VCR 6.2.0
