---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=standard&country=AU&email=carrot.producer%40example.com
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2664dca6-bf6f-4a8a-8051-5820f9cbde6a
      Original-Request:
      - req_tSHV4U4jV9emJj
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1Orhn04FrUFBjYOL",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": null,
            "name": null,
            "product_description": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": null
          },
          "business_type": null,
          "capabilities": {},
          "charges_enabled": false,
          "controller": {
            "is_controller": true,
            "type": "application"
          },
          "country": "AU",
          "created": 1709821159,
          "default_currency": "aud",
          "details_submitted": false,
          "email": "carrot.producer@example.com",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1Orhn04FrUFBjYOL/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "metadata": {},
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [],
            "eventually_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "past_due": [
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": null,
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": null,
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null
            },
            "payments": {
              "statement_descriptor": null,
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": null,
            "ip": null,
            "user_agent": null
          },
          "type": "standard"
        }
  recorded_at: Thu, 07 Mar 2024 14:19:19 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_card_mastercard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1Orhn3KuuB1fWySnLQJsYqqW",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "mastercard",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "mastercard",
            "exp_month": 3,
            "exp_year": 2025,
            "fingerprint": "BL35fEFVcTTS5wpE",
            "funding": "credit",
            "generated_from": null,
            "last4": "4444",
            "networks": {
              "available": [
                "mastercard"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1709821161,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Thu, 07 Mar 2024 14:19:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=aud&payment_method=pm_card_mastercard&payment_method_types[0]=card&capture_method=automatic&confirm=true
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1Orhn04FrUFBjYOL
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9acee8d8-13f6-441b-9496-8a9ad23077db
      Original-Request:
      - req_4toJOmUTC0cfV1
      Stripe-Account:
      - acct_1Orhn04FrUFBjYOL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3Orhn44FrUFBjYOL0n5bFAAu",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": "<HIDDEN-STRIPE_CLIENT_ID>",
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3Orhn44FrUFBjYOL0n5bFAAu_secret_5MHRrTs4GvdzrZO4EddahFOHZ",
          "confirmation_method": "automatic",
          "created": 1709821162,
          "currency": "aud",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3Orhn44FrUFBjYOL08DhotfJ",
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1Orhn44FrUFBjYOLqsKTMhRM",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Thu, 07 Mar 2024 14:19:23 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3Orhn44FrUFBjYOL0n5bFAAu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1Orhn04FrUFBjYOL
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - a[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3Orhn44FrUFBjYOL0n5bFAAu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2tfdGVzdF94RmdKUU9sWHBNQUZzb3p0endGQlRGaFAwMEhHN0J1Q0ptOg==
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1Orhn04FrUFBjYOL
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1Orhn04FrUFBjYOL
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3Orhn44FrUFBjYOL0n5bFAAu",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": "<HIDDEN-STRIPE_CLIENT_ID>",
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [
              {
                "id": "ch_3Orhn44FrUFBjYOL08DhotfJ",
                "object": "charge",
                "amount": 1000,
                "amount_captured": 1000,
                "amount_refunded": 0,
                "application": "<HIDDEN-STRIPE_CLIENT_ID>",
                "application_fee": null,
                "application_fee_amount": null,
                "balance_transaction": "txn_3Orhn44FrUFBjYOL0ZzeZX2B",
                "billing_details": {
                  "address": {
                    "city": null,
                    "country": null,
                    "line1": null,
                    "line2": null,
                    "postal_code": null,
                    "state": null
                  },
                  "email": null,
                  "name": null,
                  "phone": null
                },
                "calculated_statement_descriptor": "OFNOFNOFN",
                "captured": true,
                "created": 1709821162,
                "currency": "aud",
                "customer": null,
                "description": null,
                "destination": null,
                "dispute": null,
                "disputed": false,
                "failure_balance_transaction": null,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {},
                "invoice": null,
                "livemode": false,
                "metadata": {},
                "on_behalf_of": null,
                "order": null,
                "outcome": {
                  "network_status": "approved_by_network",
                  "reason": null,
                  "risk_level": "normal",
                  "risk_score": 49,
                  "seller_message": "Payment complete.",
                  "type": "authorized"
                },
                "paid": true,
                "payment_intent": "pi_3Orhn44FrUFBjYOL0n5bFAAu",
                "payment_method": "pm_1Orhn44FrUFBjYOLqsKTMhRM",
                "payment_method_details": {
                  "card": {
                    "amount_authorized": 1000,
                    "brand": "mastercard",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": "pass"
                    },
                    "country": "US",
                    "exp_month": 3,
                    "exp_year": 2025,
                    "extended_authorization": {
                      "status": "disabled"
                    },
                    "fingerprint": "BL35fEFVcTTS5wpE",
                    "funding": "credit",
                    "incremental_authorization": {
                      "status": "unavailable"
                    },
                    "installments": null,
                    "last4": "4444",
                    "mandate": null,
                    "multicapture": {
                      "status": "unavailable"
                    },
                    "network": "mastercard",
                    "network_token": {
                      "used": false
                    },
                    "overcapture": {
                      "maximum_amount_capturable": 1000,
                      "status": "unavailable"
                    },
                    "three_d_secure": null,
                    "wallet": null
                  },
                  "type": "card"
                },
                "radar_options": {},
                "receipt_email": null,
                "receipt_number": null,
                "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xT3JobjA0RnJVRkJqWU9MKOyZp68GMgazoaS7MjQ6LBZbpkXMQJX0friCIrAH374RHqC-sQ5J05eEfIk_yRmlGaMAzg5ko_y6qJd4",
                "refunded": false,
                "refunds": {
                  "object": "list",
                  "data": [],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/charges/ch_3Orhn44FrUFBjYOL08DhotfJ/refunds"
                },
                "review": null,
                "shipping": null,
                "source": null,
                "source_transfer": null,
                "statement_descriptor": null,
                "statement_descriptor_suffix": null,
                "status": "succeeded",
                "transfer_data": null,
                "transfer_group": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges?payment_intent=pi_3Orhn44FrUFBjYOL0n5bFAAu"
          },
          "client_secret": "pi_3Orhn44FrUFBjYOL0n5bFAAu_secret_5MHRrTs4GvdzrZO4EddahFOHZ",
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_3Orhn44FrUFBjYOL08DhotfJ/refunds
    body:
      encoding: UTF-8
      string: amount=1000&expand[0]=charge
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF94RmdKUU9sWHBNQUZzb3p0endGQlRGaFAwMEhHN0J1Q0ptOg==
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1Orhn04FrUFBjYOL
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1d819f46-cc53-41db-920a-4900d72a6a42
      Original-Request:
      - req_sbC5GgIk8uyjco
      Stripe-Account:
      - acct_1Orhn04FrUFBjYOL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3Orhn44FrUFBjYOL0zl9V2GA",
          "object": "refund",
          "amount": 1000,
          "balance_transaction": "txn_3Orhn44FrUFBjYOL0Vqrr6WC",
          "charge": {
            "id": "ch_3Orhn44FrUFBjYOL08DhotfJ",
            "object": "charge",
            "amount": 1000,
            "amount_captured": 1000,
            "amount_refunded": 1000,
            "application": "<HIDDEN-STRIPE_CLIENT_ID>",
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": "txn_3Orhn44FrUFBjYOL0ZzeZX2B",
            "billing_details": {
              "address": {
                "city": null,
                "cou[...]
