.text-center.home-alert
  .alert-box
    %a.alert-cta{href: "http://www.openfoodnetwork.org", target: "_blank"}
      %h6
        Interested in joining the Open Food Network?  &nbsp;
        %strong Start here
        %i.ofn-i_054-point-right
    %a.close{href: "#{}"} &times;