%span.cart-span{"ng-controller" => "CartCtrl", "ng-class" => "{ dirty: Cart.dirty }"}
  %a#cart.icon{cart: true}
    %span.nav-branded 
      %i.ofn-i_027-shopping-cart
      %span
        {{ Cart.line_items_present().length }}
        items

  .joyride-tip-guide{"ng-class" => "{ in: open }", "ng-show" => "open"}
    %span.joyride-nub.top
    .joyride-content-wrapper
      %h5 Your shopping cart
      %ul
        %li.product-cart{"ng-repeat" => "line_item in Cart.line_items_present()",
        "ng-controller" => "LineItemCtrl", "id" => "cart-variant-{{ line_item.variant.id }}"}
          .row
            .columns.small-7
              %small
                %strong {{ line_item.variant.name_to_display }}
                %em {{ line_item.variant.unit_to_display }}
            .columns.small-3.text-right
              %small
                %span.quantity {{ line_item.quantity }}
                %i.ofn-i_009-close
                %span.price {{ line_item.variant.price_with_fees | localizeCurrency }}
        
            .columns.small-2
              %small
                \=
                %strong 
                  .total-price.right {{ line_item.variant.totalPrice() | localizeCurrency }}

        %li.total-cart{"ng-show" => "Cart.line_items_present().length > 0"}
          .row
            .columns.small-6
              %em Total: 
            .columns.small-6.text-right
              %strong {{ Cart.total()  | localizeCurrency }}        

      .text-right
        %a.button.primary.small{href: checkout_path, "ng-disabled" => "Cart.dirty"} Quick checkout
