%span.cart-span{"ng-controller" => "CartCtrl", "ng-class" => "{ dirty: Cart.dirty || Cart.empty(), 'pure-dirty': Cart.dirty }"}
  %a#cart.icon{"cart-toggle" => true}
    %span
      = t '.cart'
    %span.count
      %img{ src: "/assets/menu/icn-cart.svg" }
      %span
        {{ Cart.total_item_count() }}

  = render 'shared/menu/joyride'
