%li.language-switcher.has-dropdown
  %a{href: '#', class: "top-bar--menu-item-with-icon"}
    %i.ofn-i_071-globe
    %span= t 'language_name'
  %ul.dropdown
    - OpenFoodNetwork::I18nConfig.selectable_locales.each do |l|
      %li
        %a{href: "?locale=#{l.to_s}" }= t('language_name', locale: l)
