%nav.top-bar.show-for-large-up{'data-topbar' => true}
  %section.top-bar-section
    %ul.left{}
      %li.ofn-logo
        %a{href: root_path} 
          %img{src: "/assets/logo-white.png", srcset: "/assets/logo-white.svg", width: "75", height: "26"}
      %li.divider 
      %li
        %a{href: main_app.shops_path}
          %span.nav-primary Shops
      %li.divider
      %li
        %a{href: main_app.map_path}
          %span.nav-primary Map
      %li.divider
      %li
        %a{href: main_app.producers_path}
          %span.nav-primary Producers
      %li.divider
      %li
        %a{href: main_app.groups_path}
          %span.nav-primary Groups
      %li.divider
      %li
        // TODO: LAURA - About path
        %a{href: main_app.groups_path}
          %span.nav-primary About
      %li.divider
  %section.top-bar-section
    %ul.right
      %li.divider
      - if spree_current_user.nil?
        = render 'shared/signed_out'
      - else
        = render 'shared/signed_in'
      %li.divider
      %li.current_hub{"ng-controller" => "CurrentHubCtrl", "ng-show" => "CurrentHub.hub.id", "ng-cloak" => true}
        %a{href: main_app.shop_path}
          %em Shopping &#64; 
          %span.nav-primary.nav-branded {{ CurrentHub.hub.name }}
      %li.divider
      %li.cart{"ng-cloak" => true}
        = render partial: "shared/menu/cart"
