%nav.tab-bar.show-for-medium-down
  %section.left
    %a.left-off-canvas-toggle.menu-icon
      %span
  %section.right
    .cart
      = render partial: "shared/menu/cart"
    %a{href: main_app.shop_path}
      {{ CurrentHub.hub.name }}

%aside.left-off-canvas-menu.show-for-medium-down
  %ul.off-canvas-list
    %li.ofn-logo
      %a{href: root_path}
        %img{src: "/assets/logo-white.png", srcset: "/assets/logo-white.svg", width: "75", height: "26"}
    %li.li-menu
      %a{href: main_app.shops_path}
        %span.nav-primary
          %i.ofn-i_019-map-pin
          Shops
    %li.li-menu
      %a{href: main_app.map_path}
        %span.nav-primary
          %i.ofn-i_037-map
          Map
    %li.li-menu
      %a{href: main_app.producers_path}
        %span.nav-primary
          %i.ofn-i_036-producers
          Producers
    %li.li-menu
      %a{href: main_app.groups_path}
        %span.nav-primary
          %i.ofn-i_035-groups
          Groups
    %li.li-menu
      %a{href: ContentConfig.footer_about_url}
        %span.nav-primary
          %i.ofn-i_013-help
          About

    %li
    - if spree_current_user.nil?
      = render 'shared/signed_out'
    - else
      = render 'shared/signed_in_offcanvas'
