%nav.tab-bar.show-for-medium-down
  %section.left
    %a.left-off-canvas-toggle.menu-icon
      %span

  %section.left
    .ofn-logo
      %a{href: main_app.root_path}
        %img{src: ContentConfig.logo_mobile.url, srcset: ContentConfig.logo_mobile_svg.url, width: "75", height: "26"}

  %section.right{"ng-cloak" => true}
    %span.cart-span{"ng-controller" => "CartCtrl", "ng-class" => "{ dirty: Cart.dirty || Cart.empty(), 'pure-dirty': Cart.dirty }"}
      %a.icon{href: main_app.cart_path}
        %span
          = t '.cart'
        %span.count
          %img{ src: "/assets/menu/icn-cart.svg" }
          %span
            {{ Cart.total_item_count() }}

    %a{href: main_app.shop_path}
      {{ CurrentHub.hub.name }}
