%aside.left-off-canvas-menu.show-for-small
  %ul.off-canvas-list
    %li= link_to image_tag("ofn_logo_small.png"), root_path
    %li
      %a{href: main_app.producers_path} Producers
    %li
    - if spree_current_user.nil?
      = render 'shared/signed_out'
    - else
      = render 'shared/signed_in'

%nav.tab-bar.show-for-small
  %section.left-small
    %a.left-off-canvas-toggle.menu-icon
      %span
    %a{href: main_app.shop_path}
      {{ CurrentHub.name }}
  %section.right-small
    %a.icon{href: cart_url}
      %i.fi-shopping-cart 
        %span
          = cart_count
          items
