= cache_with_locale do
  %li#login-link{ "data-controller": "login-modal" }
    %a{"auth": "login", "data-action": "click->login-modal#call" }
      %img{ src: image_pack_path("menu/icn-login.svg") }
      %span
        = t 'label_login'
