- if admin_user? or enterprise_user?
  %li
    %a{href: spree.admin_dashboard_path, **new_tab_option}
      %i.ofn-i_021-tools
      = t 'label_admin'

%li
  %a{href: spree.account_path}
    %i.ofn-i_015-user
    = t 'label_account'

%li
  %a{title: t('label_logout'), href:'/logout' }
    %i.ofn-i_018-unlocked
    = t 'label_logout'
