%div{ id: @id, "data-controller": @data_controller, "data-action": @data_action, "data-modal-instant-value": @instant, **@options }
  .reveal-modal-bg.fade{ "data-modal-target": "background", "data-action": "click->modal#close" }
  .reveal-modal.fade.modal-component{ "data-modal-target": "modal", class: @modal_class }
    = content

    - if close_button?
      .text-center
        %input{ class: "button icon-plus #{close_button_class}", type: 'button', value: t('js.admin.modals.close'), "data-action": "click->modal#close" }
