---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=standard&country=AU&email=jumping.jack%40example.com&business_type=non_profit
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 3092d5a0-af0a-43d0-a237-ea73dbd8c56a
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3092d5a0-af0a-43d0-a237-ea73dbd8c56a
      Original-Request:
      - req_RlEYZGTXBvijkD
      Stripe-Notice:
      - We recommend building your integration using Accounts v2. See https://docs.stripe.com/api/v2/core/accounts
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1U09HD3PUylFZ1vW",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": null,
            "minority_owned_business_designation": null,
            "name": null,
            "product_description": null,
            "specified_commercial_transactions_act_url": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": null
          },
          "business_type": "non_profit",
          "capabilities": {},
          "charges_enabled": false,
          "company": {
            "address": {
              "city": null,
              "country": "AU",
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "directors_provided": false,
            "executives_provided": false,
            "name": null,
            "owners_provided": false,
            "tax_id_provided": false,
            "verification": {
              "document": {
                "back": null,
                "details": null,
                "details_code": null,
                "front": null
              }
            }
          },
          "controller": {
            "fees": {
              "payer": "account"
            },
            "is_controller": true,
            "losses": {
              "payments": "stripe"
            },
            "requirement_collection": "stripe",
            "stripe_dashboard": {
              "type": "full"
            },
            "type": "application"
          },
          "country": "AU",
          "created": 1785715124,
          "default_currency": "aud",
          "details_submitted": false,
          "email": "jumping.jack@example.com",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1U09HD3PUylFZ1vW/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "metadata": {},
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [],
            "eventually_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "past_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": null,
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": null,
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null,
              "hosted_payment_method_save": "offer"
            },
            "payments": {
              "statement_descriptor": null,
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": null,
            "ip": null,
            "user_agent": null
          },
          "type": "standard"
        }
  recorded_at: Sun, 02 Aug 2026 23:59:37 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/accounts/acct_1U09HD3PUylFZ1vW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 5b03941a-fcc9-4339-b198-4733bb60683a
      Stripe-Version:
      - 2026-06-24.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5b03941a-fcc9-4339-b198-4733bb60683a
      Stripe-Account:
      - acct_1U09HD3PUylFZ1vW
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1U09HD3PUylFZ1vW",
          "object": "account",
          "deleted": true
        }
  recorded_at: Sun, 02 Aug 2026 23:59:39 GMT
recorded_with: VCR 6.4.0
