#advanced_settings {
  background-color: $spree-light-blue;
  border: 1px solid $pale-blue;
  margin-bottom: 20px;
  padding: 20px 20px 0px 20px;
}

#toggle_settings {
  display: flex;
  align-items: center;

  i {
    display: inline-flex;
    margin-left: 5px;
  }
}
