.alert {
  border: 3px solid $medium-grey;
  border-radius: 6px;
  margin-bottom: 20px;
  color: $medium-grey;
  padding: 5px 10px;

  h6 {
    color: $medium-grey;
  }

  .message {
    font-weight: bold;
  }

  &:hover {
    border-color: $color-warning;
    color: $color-warning;

    h6 {
      color: $color-warning;
    }
  }
}
