.connected-app__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;

  h3 {
    margin-bottom: 1em;
  }
}

.connected-app__description {
  p {
    margin-bottom: 1em;
  }
}
