#connected_apps_panel {
  max-width: 615px;
}

.connected-app__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;

  h3 {
    margin-bottom: 1em;
  }
}

.connected-app__description {
  p {
    margin-bottom: 1em;
  }
}

.connected-app__note {
  display: flex;
  justify-content: space-between;

  background-color: $color-14;
  border: none;
  border-left: $border-radius solid $color-3;
  border-radius: $border-radius;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05), 0px 2px 2px rgba(0, 0, 0, 0.07);
  margin: 2em 0;
  padding: 0.5em 1em;

  align-items: center;
  gap: 1em;
  * {
    flex-shrink: 0;
  }
  p {
    flex-shrink: 1;
  }
}
