.dashboard_item.single-ent {
  .header {
    padding: 0.77778em 1.33333em 0.77778em 0.77778em;
    height: auto !important;
  }

  .list {
    .button.bottom {
      width: 100%;
    }
  }
}

.button.big {
  width: 100%;
  font-size: 1rem;

  @include border-radius(25px);

  padding: 15px;
}
