table.report__table {
  margin-top: 1em;
  @media print {
    margin: 0;
    td,
    th {
      border-left: none;
      border-right: none;
    }
  }
  thead th {
    text-align: left;
    padding: 10px 6px;
  }

  .header-row {
    &.h1,
    &.h2,
    &.h3 {
      font-weight: bold;
      margin-top: 8px;
    }
    &.h1 {
      font-size: 2em;
    }
    &.h2 {
      font-size: 1.5em;
    }
    &.h3 {
      font-size: 1.25em;
    }
    &.h4 {
      font-size: 1;
    }
    &.with-background {
      background-color: #eef5fc;
    }
  }
}

.report__header {
  display: flex;
  margin-top: 2em;
  justify-content: flex-end;

  .btn-print {
    margin-left: 1em;
  }
  .report__message {
    border: 1px solid $pale-blue;
    border-radius: 0.5em;
    padding: 0.5em;
    text-align: center;
    flex-grow: 1;
  }
}

.customer-names-tip {
  margin-top: 1em;
}

.report__submit-btn {
  margin: 0 !important;
  width: 120px;
}

#report-table {
  margin-bottom: 4em;

  .loading, .download {
    text-align: center;
    height: 2em;
    padding: 4em;
    width: 100%;

    .spinner {
      font-size: 4em;
      color: $spree-blue;
      opacity: 0.3;
    }

    .button {
      font-size: 1.25em;
    }
  }
}
