tags-input {
  &.limit-reached {
    input,
    span.input {
      display: none;
    }
  }
}

.no_tags {
  margin-bottom: 40px;
  color: #aeaeae;
  font-size: 1rem;
  font-weight: bold;
}

.customer_tag {
  .header {
    cursor: move;
  }
}

.customer_tag,
.default_rules {
  background-color: #ffffff;
  border: 1px solid $pale-blue;
  margin-bottom: 40px;

  .header {
    padding: 8px 10px;
    background-color: $spree-light-blue;
    border-bottom: 1px solid $pale-blue;

    table {
      padding: 0px;
      margin: 0px 0px 0px 0px;
      tr {
        td {
          border: none;
          h5 {
            display: inline-block;
          }
        }
      }
    }
  }

  .no_rules {
    padding: 8px 10px;
    margin-bottom: 10px;
    color: #aeaeae;
    font-size: 1rem;
    font-weight: bold;
  }

  .tag_rule {
    table {
      padding: 0px;
      margin: 0px 0px 10px 0px;

      &:hover {
        td {
          background-color: #ebf3fb;
        }
      }

      tr {
        border: none;
        padding: 0px;
        margin: 0px;

        td {
          border: none;
          padding: 2px 10px 2px 10px;
          margin: 0px;

          input {
            width: auto;
          }
        }
      }
    }
  }

  .add_rule {
    padding: 8px 10px;
    margin-bottom: 10px;
  }
}

#new-tag-rule-dialog {
  .select2-chosen,
  .select2-result-label {
    font-size: 1rem;
    font-weight: lighter;
  }
}
