#banner-container {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  z-index: $tos-banner-z-index;
  padding: 0 1.5%;

  .terms-of-service-banner {
    display: flex;

    .column-left {
      width: 70%;
      font-size: 1rem;
      font-weight: bold;
      padding: 0.75em 1em;
    }

    .column-right {
      width: 30%;
      padding: 0.5em 1em;
      text-align: right;
    }
  }
}
