trix-toolbar .trix-button-row {
  flex-wrap: wrap;
}

trix-toolbar [data-trix-button-group="file-tools"] {
  display: none;
}

trix-toolbar .trix-button--icon-hr::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M3 12h18v2H3z'/%3E%3C/svg%3E");
}

// Match the rendering into the shopfront (see ../darkswarm/)
trix-editor {
  color: #222;

  a {
    color: #f27052;
  }

  @include trix-styles;
}

// Override app/webpacker/css/admin/shared/forms.scss#L81
.field trix-editor ul {
  border-top: none;
  list-style: disc;
  padding-top: 0;

  li {
    padding-right: 0;
    display: list-item;
  }
}
