// Admin variables and colours
$color-warning: $color-5;
$color-tbl-border: $pale-blue;

$color-modal-close-btn: $color-5;
$color-modal-close-btn-hover: darken($color-5, 5%);
$color-btn-disabled-bg: $light-grey;
