// Admin variables and colours
$warning-red: $color-5;
$warning-orange: $color-5;
$admin-table-border: $pale-blue;

$modal-close-button-color: #de6060;
$modal-close-button-hover-color: #bf4545;
$disabled-button: $light-grey;
