// Admin variables and colours
$color-warning: $color-5;
$admin-table-border: $pale-blue;

$modal-close-button-color: #de6060;
$modal-close-button-hover-color: #bf4545;
$disabled-button: $light-grey;
