---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_card_chargeDeclinedExpiredCard&payment_method_types[0]=card&capture_method=manual
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - d2578b25-3fe6-4837-a43a-b8787b032b47
      Stripe-Version:
      - 2026-07-29.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d2578b25-3fe6-4837-a43a-b8787b032b47
      Original-Request:
      - req_MoE5ImaxDRgE9F
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-07-29.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3U5xMCKuuB1fWySn1d9Bh2un",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "<HIDDEN-CLIENT-SECRET>",
          "confirmation_method": "automatic",
          "created": 1787099272,
          "currency": "eur",
          "customer": null,
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1U5xMCKuuB1fWySnPhqgnvXZ",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Wed, 19 Aug 2026 00:28:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3U5xMCKuuB1fWySn1d9Bh2un/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 6e38a903-4495-45d9-bdd8-a12a79caf034
      Stripe-Version:
      - 2026-07-29.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6e38a903-4495-45d9-bdd8-a12a79caf034
      Original-Request:
      - req_nHmx6FkpzlAJ6Y
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-07-29.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "advice_code": "confirm_card_data",
            "charge": "ch_3U5xMCKuuB1fWySn1QHu91oc",
            "code": "expired_card",
            "decline_code": "expired_card",
            "doc_url": "https://stripe.com/docs/error-codes/expired-card",
            "message": "Your card has expired.",
            "network_advice_code": "03",
            "network_decline_code": "54",
            "param": "exp_month",
            "payment_intent": {
              "id": "pi_3U5xMCKuuB1fWySn1d9Bh2un",
              "object": "payment_intent",
              "allowed_payment_method_types": null,
              "amount": 100,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
       [...]
