---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242424242424242&card[exp_month]=8&card[exp_year]=2025&card[cvc]=314
    headers:
      Authorization:
<<<<<<< HEAD
      - Bearer sk_test_xFgJQOlXpMAFsoztzwFBTFhP00HG7BuCJm
      Content-Type:
      - application/x-www-form-urlencoded
      X-Stripe-Client-Telemetry:
      - '{"last_request_metrics":{"request_id":"req_WDobZZX30jLukm","request_duration_ms":408}}'
      Stripe-Version:
      - '2023-10-16'
      X-Stripe-Client-User-Agent:
      - '{"bindings_version":"10.6.0","lang":"ruby","lang_version":"3.1.4 p223 (2023-03-30)","platform":"x86_64-linux","engine":"ruby","publisher":"stripe","uname":"Linux
        version 6.5.0-15-generic (buildd@bos03-amd64-040) (x86_64-linux-gnu-gcc-12
        (Ubuntu 12.3.0-1ubuntu1~22.04) 12.3.0, GNU ld (GNU Binutils for Ubuntu) 2.38)
        #15~22.04.1-Ubuntu SMP PREEMPT_DYNAMIC Fri Jan 12 18:54:30 UTC 2","hostname":"ff-LAT"}'
=======
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      X-Stripe-Client-Telemetry:
      - '{"last_request_metrics":{"request_id":"req_nRHRtgQ7yRAr7b","request_duration_ms":393}}'
      Stripe-Version:
      - '2023-10-16'
      X-Stripe-Client-User-Agent:
      - '{"bindings_version":"10.6.0","lang":"ruby","lang_version":"3.1.4 p223 (2023-03-30)","platform":"x86_64-darwin19","engine":"ruby","publisher":"stripe","uname":"Darwin
        MacBook-Pro.local 23.3.0 Darwin Kernel Version 23.3.0: Wed Dec 20 21:28:58
        PST 2023; root:xnu-10002.81.5~7/RELEASE_X86_64 x86_64","hostname":"MacBook-Pro.local"}'
>>>>>>> 97b18eeb8a (Filter out STRIPE_INSTANCE_SECRET_KEY from cassettes)
      Accept-Encoding:
      - gzip;q=1.0,deflate;q=0.6,identity;q=0.3
      Accept:
      - "*/*"
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Tue, 06 Feb 2024 18:42:33 GMT
=======
      - Tue, 06 Feb 2024 22:47:04 GMT
>>>>>>> 97b18eeb8a (Filter out STRIPE_INSTANCE_SECRET_KEY from cassettes)
      Content-Type:
      - application/json
      Content-Length:
      - '930'
      Connection:
      - keep-alive
      Access-Control-Allow-Credentials:
      - 'true'
      Access-Control-Allow-Methods:
      - GET,HEAD,PUT,PATCH,POST,DELETE
      Access-Control-Allow-Origin:
      - "*"
      Access-Control-Expose-Headers:
      - Request-Id, Stripe-Manage-Version, Stripe-Should-Retry, X-Stripe-External-Auth-Required,
        X-Stripe-Privileged-Session-Required
      Access-Control-Max-Age:
      - '300'
      Cache-Control:
      - no-cache, no-store
      Content-Security-Policy:
      - report-uri https://q.stripe.com/csp-report?p=v1%2Fpayment_methods; block-all-mixed-content;
        default-src 'none'; base-uri 'none'; form-action 'none'; frame-ancestors 'none';
        img-src 'self'; script-src 'self' 'report-sample'; style-src 'self'
      Idempotency-Key:
<<<<<<< HEAD
      - ed1948a3-7b17-485e-8a6c-ef5a8c68d92e
      Original-Request:
      - req_fWFpHYy4YY1kyI
      Request-Id:
      - req_fWFpHYy4YY1kyI
=======
      - a55572d4-83d0-4543-a123-efe5a88ec599
      Original-Request:
      - req_ICbmWHvcLEqZ38
      Request-Id:
      - req_ICbmWHvcLEqZ38
>>>>>>> 97b18eeb8a (Filter out STRIPE_INSTANCE_SECRET_KEY from cassettes)
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      Vary:
      - Origin
      X-Stripe-Non-Api-Overhead-Duration-Ms:
      - '239.0'
      X-Stripe-Routing-Context-Priority-Tier:
      - api-testmode
      Strict-Transport-Security:
      - max-age=63072000; includeSubDomains; preload
    body:
      encoding: UTF-8
      string: |-
        {
<<<<<<< HEAD
          "id": "pm_1OgtbJKuuB1fWySnjM9KpMs5",
=======
          "id": "pm_1OgxPwKuuB1fWySnW4JE9xBy",
>>>>>>> 97b18eeb8a (Filter out STRIPE_INSTANCE_SECRET_KEY from cassettes)
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 8,
            "exp_year": 2025,
            "fingerprint": "6E6tgVjx6U65iHFV",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
<<<<<<< HEAD
          "created": 1707244953,
=======
          "created": 1707259624,
>>>>>>> 97b18eeb8a (Filter out STRIPE_INSTANCE_SECRET_KEY from cassettes)
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
<<<<<<< HEAD
  recorded_at: Tue, 06 Feb 2024 18:42:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
=======
  recorded_at: Tue, 06 Feb 2024 22:47:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1OgxPwKuuB1fWySnW4JE9xBy/attach
>>>>>>> 97b18eeb8a (Filter out STRIPE_INSTANCE_SECRET_KEY from cassettes)
    body:
      encoding: UTF-8
      string: name=Apple+Customer&email=apple.customer%40example.com
    headers:
      Authorization:
<<<<<<< HEAD
      - Bearer sk_test_xFgJQOlXpMAFsoztzwFBTFhP00HG7BuCJm
      Content-Type:
      - application/x-www-form-urlencoded
      X-Stripe-Client-Telemetry:
      - '{"[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1OgtbJKuuB1fWySnjM9KpMs5/attach
    body:
      encoding: UTF-8
      string: customer=cus_PVvSX99w0Qwhq3
    headers:
      Authorization:
      - Bearer sk_test_xFgJQOlXpMAFsoztzwFBTFhP00HG7BuCJm
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
=======
      - Tue, 06 Feb 2024 22:47:05 GM[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=standard&country=AU&email=apple.producer%40example.com
    headers:
      Authorization:
      - Bearer sk_test_xFgJQOlXpMAFsoztzwFBTFhP00HG7BuCJm
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9ef2e379-baa2-4e83-9c23-71a633410be3
      Original-Request:
      - req_CkE7P6fa4jWbc5
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1OgtbLQPYEsuvN2e",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": null,
            "name": null,
            "product_description": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": null
          },
          "business_type": null,
          "capabilities": {},
          "charges_enabled": false,
          "controller": {
            "is_controller": true,
            "type": "application"
          },
          "country": "AU",
          "created": 1707244955,
          "default_currency": "aud",
          "details_submitted": false,
          "email": "apple.producer@example.com",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1OgtbLQPYEsuvN2e/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "metadata": {},
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [],
            "eventually_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "past_due": [
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": null,
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": null,
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null
            },
            "payments": {
              "statement_descriptor": null,
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": null,
            "ip": null,
            "user_agent": null
          },
          "type": "standard"
        }
  recorded_at: Tue, 06 Feb 2024 18:42:36 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_1OgtbJKuuB1fWySnjM9KpMs5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_xFgJQOlXpMAFsoztzwFBTFhP00HG7BuCJm
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      -[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers?email=apple.customer@example.com&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_xFgJQOlXpMAFsoztzwFBTFhP00HG7BuCJm
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1OgtbLQPYEsuvN2e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1OgtbLQPYEsuvN2e
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/customers"
        }
  recorded_at: Tue, 06 Feb 2024 18:42:37 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=apple.customer%40example.com
    headers:
      Authorization:
      - Bearer sk_test_xFgJQOlXpMAFsoztzwFBTFhP00HG7BuCJm
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1OgtbLQPYEsuvN2e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 56abe1e3-635a-49be-9368-f8f18457c899
      Original-Request:
      - req_8WMDVl077REzTQ
      Stripe-Account:
      - acct_1OgtbLQPYEsuvN2e
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PVvSTXxTWvfbQ1",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1707244958,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "apple.customer@example.com",
          "invoice_prefix": "6C00D688",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 06 Feb 2024 18:42:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1OgtbNQPYEsuvN2eWoZgexrS/attach
    body:
      encoding: UTF-8
      string: customer=cus_PVvSTXxTWvfbQ1
    headers:
      Authorization:
      - Bearer sk_test_xFgJQOlXpMAFsoztzwFBTFhP00HG7BuCJm
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1OgtbLQPYEsuvN2e
  response:
    status:
      code: 200
      message: OK
    h[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1OgtbNQPYEsuvN2eWoZgexrS
    body:
      encoding: UTF-8
      string: metadata[ofn-clone]=true
    headers:
      Authorization:
      - Bearer sk_test_xFgJQOlXpMAFsoztzwFBTFhP00HG7BuCJm
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1OgtbLQPYEsuvN2e
  response:
    status:
      code: 200
      message: OK
    headers:
  [...]
