.filters.sixteen.columns.alpha.omega
  .quick_search.four.columns.alpha
    %label{ :for => 'quick_filter' }
    %br
    %input.quick-search.fullwidth{ 'ng-model' => 'query', :name => "quick_filter", :type => 'text', 'placeholder' => 'Quick Search' }
  .filter_select.four.columns
    %label{ :for => 'producer_filter' }= t 'producer'
    %br
    %select.fullwidth{ :id => 'producer_filter', 'ofn-select2-min-search' => 5, 'ng-model' => 'producerFilter', 'ng-options' => 'producer.id as producer.name for producer in filterProducers' }
  .filter_select.four.columns
    %label{ :for => 'category_filter' }= t 'category'
    %br
    %select.fullwidth{ :id => 'category_filter', 'ofn-select2-min-search' => 5, 'ng-model' => 'categoryFilter', 'ng-options' => 'taxon.id as taxon.name for taxon in filterTaxons'}
  %div{ :class => "one column" } &nbsp;
  .filter_clear.three.columns.omega
    %label{ :for => 'clear_all_filters' }
    %br
    %input.fullwidth.red{ :type => 'button', :id => 'clear_all_filters', :value => t('admin.clear_filters'), 'ng-click' => "resetSelectFilters()" }
