%colgroup
  %col.actions
  %col.producer{ ng: { show: 'columns.producer.visible' } }
  %col.sku{ ng: { show: 'columns.sku.visible' } }
  %col.name{ ng: { show: 'columns.name.visible' } }
  %col.unit{ ng: { show: 'columns.unit.visible' } }
  %col.display_as{ ng: { show: 'columns.unit.visible' } }
  %col.price{ ng: { show: 'columns.price.visible'} }
  %col.on_hand{ ng: { show: 'columns.on_hand.visible' } }
  %col.on_demand{ ng: { show: 'columns.on_demand.visible' } }
  %col.category{ ng: { show: 'columns.category.visible' } }
  %col.tax_category{ ng: { show: 'columns.tax_category.visible' } }
  %col.inherits_properties{ ng: { show: 'columns.inherits_properties.visible' } }
  %col.available_on{ ng: { show: 'columns.available_on.visible' } }
  %col.actions
  %col.actions
  %col.actions

%thead
  %tr{ ng: { controller: "ColumnsCtrl" } }
    %th.left-actions
      %a{ 'ng-click' => 'toggleShowAllVariants()', :style => 'color: red' }
        Expand All
    %th.producer{ 'ng-show' => 'columns.producer.visible' }=t('admin.producer')
    %th.sku{ 'ng-show' => 'columns.sku.visible' }=t('admin.sku')
    %th.name{ 'ng-show' => 'columns.name.visible' }=t('admin.name')
    %th.unit{ 'ng-show' => 'columns.unit.visible' }=t('admin.products.bulk_edit.unit')
    %th.display_as{ 'ng-show' => 'columns.unit.visible' }=t('admin.products.bulk_edit.display_as')
    %th.price{ 'ng-show' => 'columns.price.visible' }=t('admin.price')
    %th.on_hand{ 'ng-show' => 'columns.on_hand.visible' }=t('admin.on_hand')
    %th.on_demand{ 'ng-show' => 'columns.on_demand.visible' }=t('admin.on_demand?')
    %th.category{ 'ng-show' => 'columns.category.visible' }=t('admin.products.bulk_edit.category')
    %th.tax_category{ 'ng-show' => 'columns.tax_category.visible' }=t('admin.products.bulk_edit.tax_category')
    %th.inherits_properties{ 'ng-show' => 'columns.inherits_properties.visible' }=t('admin.products.bulk_edit.inherits_proerties?')
    %th.available_on{ 'ng-show' => 'columns.available_on.visible' }=t('admin.products.bulk_edit.av_on')
    %th.actions
    %th.actions
    %th.actions
