%script{ type: "text/ng-template", id: "shop/home.html" }
  .order-cycle-bar.hide-for-large-up.small-12.columns
    = render partial: "shopping_shared/order_cycles"

  .content
    = render partial: 'shop/messages'
