.order-cycle-bar.hide-for-large-up
  = render partial: "shopping_shared/order_cycles"

%div{"ng-controller" => "ProductsCtrl"}
  - if no_open_order_cycles?
    = render partial: "shop/messages/closed_shop"      
  - else
    = render partial: "shop/messages/select_oc"

  -# Rendering the form, even if there are no open OCs, makes display only shops possible
  = render partial: "shop/products/form"
