- if entries && entries.count > 0 #&& entries.values.first && entries.values.first[:entry]
  %div.table-wrap
    %table
      %thead
        %th
        %th Line
        - entries.values.first[:entry].each do |key, value|
          %th= key
      - entries.each do |line, item|
        %tr{class: ('error' if item[:errors])}
          %td
            %i{class: (item[:errors] ? 'fa fa-warning warning' : 'fa fa-check-circle success')}
          %td= line
          - item[:entry].each do |key, value|
            %td= value