%div.table-wrap
  %table
    %thead
      %th
      %th #{t('admin.product_import.import.line')}
      - @importer.table_headings.each do |heading|
        %th= heading
    %tr{ng: {repeat: "(line_number, entry) in (entries | entriesFilterValid:'#{entries}')"}}
      %td
        %i{ng: {class: "{'fa fa-warning error': (count(entry.errors) > 0), 'fa fa-check-circle success': (count(entry.errors) == 0)}"}}
      %td
        {{line_number}}
      %td{ng: {repeat: "(attribute, value) in entry.attributes", class: "{'invalid': attribute_invalid(attribute, line_number)}"}}
        {{value}}
