-# copied from backend/app/views/spree/admin/payments/_list.html.erb

- if order.payments.present?
  - order.payments.last.actions.grep(/^capture$/).each do |action|
    = link_to_with_icon "icon-#{action}", t(action), fire_admin_order_payment_path(order, order.payments.last, :e => action), :method => :put, :no_text => true, :data => {:action => action}
