- content_for :page_title do
  = "Bulk Order Management"

= render :partial => 'spree/admin/shared/order_sub_menu'

%div{ 'ng-app' => 'ofn.bulk_order_management', 'ng-controller' => 'AdminOrderMgmtCtrl', 'ng-init' => "initialise('#{@spree_api_key}');" }
  %div{ 'ng-show' => '!spree_api_key_ok' }
    {{ api_error_msg }}
  %div.selectors{ :class => "four columns alpha" }
    %select.select2{ :class => "three columns alpha", :name => 'supplier_filter', 'ng-model' => 'supplierFilter', 'ng-options' => 'supplier.name for supplier in suppliers'}

  %table.index#listing_orders.bulk
    %thead
      %tr
        %th.id ID
        %th.email Email
        %th.date Order Date
        %th.producer Producer
        %th.variant Product (Unit): Var
        %th.quantity Quantity
        %th.max Max
      %tr.line_item{ 'ng-repeat' => 'line_item in lineItems | selectFilter:supplierFilter', 'ng-class-even' => "'even'", 'ng-class-odd' => "'odd'" }
        %td.id {{ line_item.id }}
        %td.email {{ line_item.order.email }}
        %td.date {{ line_item.order.completed_at }}
        %td.producer {{ line_item.supplier.name }}
        %td.variant {{ line_item.variant_unit_text }}
        %td.quantity {{ line_item.quantity }}
        %td.max {{ line_item.max }}