- if @saved
  = turbo_stream.replace dom_id(@order) do 
    = render partial: "spree/admin/orders/table_row", locals: { order: @order.reload, success: true }
- else
  = turbo_stream.append "flashes" do
    = render(partial: 'admin/shared/flashes', locals: { flashes: flash })