#advanced_settings {
  background-color: $spree-light-blue;
  border: 1px solid $pale-blue;
  margin-bottom: 20px;

  .row{
    margin: 0px -4px;

    padding: 20px 0px;

    .column.alpha, .columns.alpha {
      padding-left: 20px;
    }

    .column.omega, .columns.omega {
      padding-right: 20px;
    }
  }
}
