/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *

 *= require normalize
 *= require responsive-tables
 *= require jquery.powertip
 *= require jquery.ui.dialog
 *= require shared/textAngular
 *= require shared/ng-tags-input.min
 *= require select2
 *= require flatpickr/dist/flatpickr
 *= require flatpickr/dist/themes/material_blue
 *= require shortcut-buttons-flatpickr/dist/themes/light

 *= require_self
*/

//************************************************************************//
//************************************************************************//
@import 'globals/functions';
@import 'globals/variables';
@import 'variables';
@import 'globals/mixins';

@import 'shared/typography';
@import 'shared/tables';
@import 'shared/icons';
@import 'shared/forms';
@import 'shared/layout';

@import 'plugins/flatpickr-customization';

@import 'plugins/powertip';
@import 'plugins/jstree';
@import 'plugins/font-awesome';
@import 'plugins/select2';

@import 'sections/orders';
@import 'sections/products';

@import 'hacks/mozilla';
@import 'hacks/opera';
@import 'hacks/ie';

@import 'components/*';
@import 'pages/*';
@import '*';

@import "../shared/question-mark-icon";
@import "question-mark-tooltip";
