.tag-with-rules {
  color: black;
}

table#customers.index {

  tr.customer {

    .guest-label {
      color: #999;
      display: block;
      font-size: 0.85em;
      margin-top: 0.15em;
    }
  }
}