input.datetimepicker {
  min-width: 12.9em;
}

.container .flatpickr-input {
  background-color: $white;
  cursor: pointer;
}

img.ui-datepicker-trigger {
  margin-left: -1.75em;
  position: absolute;
  margin-top: 0.5em;
}
