form[name="enterprise_form"] {
  div.row.warning {
    color: #DA7F52;
  }

  table.managers {
    i.role {
      float: right;
      margin-left: 0.5em;
      font-size: 1.5em;
      cursor: pointer;
    }

    i.confirmation {
      margin-left: 0.2em;
      font-size: 1.2em;
      cursor: pointer;
      vertical-align: bottom;

      &.confirmed {
        color: #1ece1e;
      }

      &.unconfirmed {
        color: #ed9524;
      }
    }
  }
}
