@import "variables";

form[name="enterprise_form"] {
  div.row.warning {
    color: $warning-orange;
  }

  table.managers {
    i.role {
      float: right;
      margin-left: 0.5em;
      font-size: 1.5em;
      cursor: pointer;
    }

    i.confirmation {
      margin-left: 0.2em;
      font-size: 1.2em;
      cursor: pointer;
      vertical-align: bottom;

      &.confirmed {
        color: #1ece1e;
      }

      &.unconfirmed {
        color: #ed9524;
      }
    }
  }
}

.admin-enterprises-index-admin-actions-divider {
  background-color: $admin-table-border;
  border-width: 0;
  height: 1px;
  margin-bottom: 1em;
  margin-top: 1em;
}
