tr.panel-toggle-row {
  td.panel-toggle{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    position: relative;

    i {
      font-size: 1.2rem;
    }

    &::before {
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 2rem;
      -webkit-font-smoothing: antialiased;
    }

    &.error::before {
      content: "\f071";
      color: #da5354;
    }

    &.status {
      i.status::before {
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        text-decoration: inherit;
        font-size: 1.5rem;
        opacity: 0.5;
        -webkit-font-smoothing: antialiased;
      }

      i.issue::before {
        content: "\f071";
        color: #da5354;
      }

      i.warning::before {
        content: "\f071";
        color: #ff9848;
      }

      i.ok::before {
        content: "\f058";
        color: #9fc820;
      }
    }

    &.selected {
      background-color: #ffffff;
      border-left: 2px solid #444444;
      border-right: 2px solid #444444;
      border-top: 2px solid #444444;
      * {
        color: #1b3c56;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: #d0e2f6;
      * {
        color: #1b3c56;
      }

      i.status::before {
        opacity: 1.0;
      }
    }
  }

  &.expanded{
    td {
      border-bottom: 2px solid #444444;

      &.selected {
        border-bottom: none;
        &:hover {
          background-color: #ffffff;
        }
      }
    }
  }
}

tr.panel-row {
  display: none;

  &:hover {
    td {
      background-color: #ffffff;
    }
  }

  >td {
    border-color: #444444;
    padding: 0;
    .panel {
      border-left: 1px solid #444444;
      border-right: 1px solid #444444;
      border-bottom: 1px solid #444444;

      .row{
        margin: 0px -4px;

        padding: 20px 0px;

        .column.alpha, .columns.alpha {
          padding-left: 20px;

          &.sixteen {
            padding-right: 20px;
          }
        }

        .column.omega, .columns.omega {
          padding-right: 20px;
        }
      }
    }
  }
}
