table .blank-action {
  display: inline-block;
  width: 29px;
}

#header #logo {
  top: 10px;
}

#header h1 {
  left: 275px;
}


/* Fix conflict between Spree and elRTE's styles */
.el-rte .toolbar {
  float: none;
  margin-bottom: 0;
}


#new_enterprise_fee_set input.search {
  float: right;
  margin-bottom: 1em;
}

.ng .ng-invalid.ng-dirty {
  background-color: #fa787e;
}


form.order_cycle {
  h2 {
    margin-top: 2em;
  }
  .date-field {
    float: left;
    margin-right: 3em;
  }
  ol {
    list-style-type: none;
    li {
      margin-bottom: 0.5em;
    }
  }
  table.exchanges {
    tr td.active {
      width: 20px;
    }

    tr.supplier td {
      border-bottom: 2px solid #C3D9FF;
    }

    .exchange-select-all-variants {
      clear: both;
      margin: 5px;
    }

    .exchange-product {
      float: left;
      overflow: auto;
      width: 18%;
      min-height: 7.5em;
      margin: 0 1% 1% 0;
      border: 1px solid #DAE7FF;
      padding: 5px;

      .exchange-product-details {
        clear: both;
        margin-bottom: 1em;

        .supplier {
          font-weight: bold;
        }
      }

      .exchange-product-variant {
        float: left;
        margin-right: 2em;
      }
    }
  }
  .coordinator-fees {
    margin-top: 1em;
  }

  .actions {
    margin-top: 3em;
  }

  /* This styling makes it easier to read the debug info at the same time as working with the
   * interface, but it breaks the tests. Enable when you need it.
  #order-cycles-debug {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 316px;
    overflow-y: scroll;
    background-color: #fff;
  }
  */
}

table#listing_order_cycles {
  tr.open td {
    background-color: #d9fccb;
  }

  tr.upcoming td {
    background-color: #fbfccb;
  }

  tr.closed td {
    background-color: #eee;
  }
}

table#listing_payment_methods {
  table-layout: fixed;

  td {
    padding: 15px 5px;
    word-wrap: break-word;
  }
}

table#listing_enterprise_groups {
  td.actions {
    text-align: left;
  }
}

.fullwidth_inputs {
  input[type=text], select {
    width: 100%;
  }
}

