.text-center {
  text-align: center;
}

.text-right{
  text-align: right;
}

table .blank-action {
  display: inline-block;
  width: 29px;
}

text-angular .ta-editor {
  border: 1px solid #cee1f4;
  border-radius: 3px;
}

#header #logo {
  top: 10px;
}

#header h1 {
  left: 275px;
}


/* Fix conflict between Spree and elRTE's styles */
.el-rte .toolbar {
  float: none;
  margin-bottom: 0;
}


input.search {
  margin-bottom: 1em;
}
#new_enterprise_fee_set input.search {
  float: right;
}

.ng .ng-invalid.ng-dirty {
  background-color: #fa787e;
}


form.order_cycle {
  h2 {
    margin-top: 2em;
  }
  .date-field {
    float: left;
    margin-right: 3em;
  }
  ol {
    list-style-type: none;
    li {
      margin-bottom: 0.5em;
    }
  }
  table.exchanges {
    tr td.active {
      width: 20px;
    }

    tr.supplier td {
      border-bottom: 2px solid #C3D9FF;
    }

    .exchange-select-all-variants {
      clear: both;
      margin: 5px;
    }

    .exchange-product {
      float: left;
      overflow: auto;
      width: 18%;
      min-height: 7.5em;
      margin: 0 1% 1% 0;
      border: 1px solid #DAE7FF;
      padding: 5px;

      .exchange-product-details {
        clear: both;
        margin-bottom: 1em;

        .supplier {
          font-weight: bold;
        }
      }

      .exchange-product-variant {
        float: left;
        margin-right: 2em;
      }
    }
  }
  .coordinator-fees {
    margin-top: 1em;
  }

  .actions {
    margin-top: 3em;
  }

  /* This styling makes it easier to read the debug info at the same time as working with the
   * interface, but it breaks the tests. Enable when you need it.
  #order-cycles-debug {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 316px;
    overflow-y: scroll;
    background-color: #fff;
  }
  */
}

table#listing_order_cycles {
  tr.open td {
    background-color: #d9fccb;
  }

  tr.upcoming td {
    background-color: #fbfccb;
  }

  tr.closed td {
    background-color: #eee;
  }
}

table#listing_payment_methods {
  table-layout: fixed;

  td {
    padding: 15px 5px;
    word-wrap: break-word;
  }
}

table#listing_enterprise_groups {
  td.actions {
    text-align: left;
  }
}

.fullwidth_inputs {
  input[type=text], select {
    width: 100%;
  }
}

#no_results {
  font-weight:bold;
  color: #DA5354;
}


#loading {
  text-align: center;
  img.spinner {
    width: 100px;
    height: 100px;
  }
  h1 {
    margin-top: 20px;
    color: gray;
  }
}

.ofn_drop_down {
	padding: 7px 15px;
	border-radius: 3px;
	border: 1px solid #d4d4d4;
	background-color: #f5f5f5;
	position: relative;
	display: block;
	float: left;
	color: #828282;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;

	> span {
		text-transform: uppercase;
		font-size: 85%;
		font-weight: 600;
	}

	.menu {
		margin-top: 1px;
		position: absolute;
		float: none;
		top:100%;
		left: 0px;
		padding: 5px 0px;
		border: 1px solid #adadad;
		background-color: #ffffff;
		box-shadow: 1px 3px 10px #888888;

		.menu_item {
			margin: 0px;
			padding: 2px 0px;
			color: #454545;
			text-align: left;
		}

		.menu_item:hover {
			background-color: #ededed;
		}
	}
}

.ofn_drop_down:hover, .ofn_drop_down.expanded {
	border: 1px solid #adadad;
	color: #575757;
}

.field_with_errors > input {
    border-color: red;
}

// textAngular wysiwyg
text-angular {
  .ta-scroll-window > .ta-bind {
    max-height: 400px;
    min-height: 100px;
  }
  .ta-scroll-window.form-control {
    min-height: 100px;
  }
  .btn-group {
    display: inline;
    margin-right: 8px;
    button {
      padding: 5px 10px;
    }
  }
}

span.required {
  color: red;
  font-size: 110%;
}

table td.actions {
  .icon-trash, .icon-edit, icon-copy {
    &.disabled {
      border-color: #d0d0d0;
      color: #c0c0c0;
      background-color: #fafafa;
      &:hover {
        border-color: #a5a5a5;
        color: #a5a5a5;
        background-color: #fafafa;
      }
    }
  }
}
