#header #logo {
  top: 10px;
}

#header h1 {
  left: 275px;
}


/* Fix conflict between Spree and elRTE's styles */
.el-rte .toolbar {
  float: none;
  margin-bottom: 0;
}


#new_enterprise_fee_set input.search {
  float: right;
  margin-bottom: 1em;
}

.ng .ng-invalid.ng-dirty {
  background-color: #fa787e;
}


form.order_cycle {
  h2 {
    margin-top: 2em;
  }
  table.exchanges {
    tr td.active {
      width: 20px;
    }
  }
}
