#schedule-dialog {
  table {
    border: none;

    tr {
      &:hover {
        td { background: none; }
      }

      td {
        border: none;
      }

      #add-remove-buttons{
        width: 10%;
        height: 200px;
        max-height: 300px;

        a.button {
          display: block;
          width: 100%;
          margin-bottom: 10px;
          color: #ffffff;
          font-size: 1em;
        }
      }
      #available-order-cycles, #selected-order-cycles {
        text-align: left;
        width: 40%;
        height: 200px;
        max-height: 300px;

        .order-cycles {
          display: block;
          border: 1px solid #dddddd;
          height: 100%;
          width: 100%;
          overflow-x: hidden;
          overflow-y: scroll;

          .order-cycle {
            padding: 8px 5px;
            cursor: pointer;

            &.selected {
              background-color: #b9d1e9;
            }

            &:hover {
              background-color: #cee1f4;
            }
          }
        }
      }
    }
  }
}
