.filter_select, .date_filter {
	margin-bottom: 10px;
}

input.update-pending {
	border: solid 1px orange;
}

input.update-error {
	border: solid 1px red;
}

input.update-success {
	border: solid 1px #9fc820;
}