.filter_select, .date_filter {
	margin-bottom: 10px;
}

input, div {
	&.update-pending {
	  border: solid 1px orange;
  }
}

input.show-dirty {
	&.ng-dirty {
	  border: solid 1px orange;
		&.update-error {
			border: solid 1px #DA5354;
		}
  }
}

span.error {
	color: #DA5354;
}

input, div {
	&.update-error {
		border: solid 1px #DA5354;
	}
}

input, div {
	&.update-success {
		border: solid 1px #9fc820;
	}
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

div#group_buy_calculation {
    border-radius: 3px;
	background-color: #eff5fc;
	div {
		margin-bottom: 5px;
		span, h6 {
			padding: 5px;
		}
	}

	hr {
		width: 95%;
		margin: 0 auto;
	}

	.row span {
		text-align: center;
	}
}
