#product_distributors_field span {
  display: block;
}

div.pagination {
	div.pagenav {
		margin: 0px;
		span.first, span.prev, span.next, span.last {
			padding: 5px 0px;
			display:inline-block;
		}
	}
}

tbody.odd {
	tr.product { td { background-color: white; } }
	tr.variant.odd { td { background-color: lighten(#eff5fc, 3); } }
	tr.variant.even { td { background-color: white; } }
}
tbody.even {
	tr.product { td { background-color: darken(#eff5fc, 1); } }
	tr.variant.odd { td { background-color: lighten(#eff5fc, 2); } }
	tr.variant.even { td { background-color: darken(#eff5fc, 1); } }
}

tbody tr.product td.actions { background-color: transparent; }
tbody tr.variant td.actions { background-color: transparent; }
tbody tr.variant td { padding: 5px 10px; }

th.left-actions, td.left-actions {
	background-color: transparent !important;
	border: none !important;
	border-right: 1px solid #cee1f4 !important;
}

li.column-list-item {
  border-radius: 3px;
  padding: 2px 20px;
  margin: 2px 1px;
  border: 2px solid darken(#5498da, 3);
  background-color: #5498da;
  color: white;
  font-size: 100%;
  cursor: default;
}

li.column-list-item.unselected {
  background-color: white;
  border: 2px solid lightgray;
  color: darkgray;
  font-size: 100%;
}

ul.column-list {
  padding: 5px 8px;
  border-radius: 3px;
  border: solid 1px darkgray;
  list-style:none
}

table#listing_products.bulk {
  td.supplier {
    select {
      width: 125px;
    }
  }

  td.unit {
    input, select {
      width: 100%;
    }
    select {
      margin-bottom: 0.5em;
    }
  }
}
