@import "variables";

.report__table {
  margin-top: 2em;
}

.report__message {
  margin-top: 2em;
  border: 1px solid $pale-blue;
  border-radius: .5em;
  padding: .5em;
  text-align: center;
}

.customer-names-tip {
  margin-top: 1em;
}
