.no-data-label, .loading-data-label {
  position: absolute;
  top : 80px;
  opacity: 0.25;
  font-size: 1.5em;
  z-index: 1000;
}

.date-label {
  padding-top: 7px;
}

// override ugly gradient color
.ui-grid-top-panel, .ui-grid-top-panel-background, .ui-grid-footer-panel-background, .ui-grid-footer-panel {
  background: #f3f3f3;
}

button.ui-grid-menu-item {
  color: inherit;
}
