// Admin variables and colours

$spree-green: #9fc820;
$spree-blue: #5498da;
$spree-light-blue: #eff5fc;

$warning-red: #da5354;
$warning-orange: #da7f52;
$bright-orange: #ffa92e;
$medium-grey: #919191;
$pale-blue: #cee1f4;
$light-grey: #ccc;

$admin-table-border: $pale-blue;

$modal-close-button-color: #de6060;
$modal-close-button-hover-color: #bf4545;
$disabled-button: $light-grey;
