// Admin variables and colours

$spree-green: #9fc820;
$spree-blue: #5498da;
$spree-light-blue: #eff5fc;

$warning-red: #da5354;
$warning-orange: #da7f52;
$medium-grey: #919191;
$pale-blue: #cee1f4;

$admin-table-border: $pale-blue;
