#welcome_page
  color: #000000
  h1, h2, h3, h4, h5, h6
    color: #000000

  .plain_text
    font-size: 16px


  #welcome
    text-align: center
    margin: 50px 0px
    h1
      margin-bottom: 10px

  #next_steps
    text-align: center
    margin-bottom: 50px
    h1
      margin-bottom: 10px

  .options
    .option
      .selector
        border: 3px solid black
        border-radius: 12px 12px 0px 0px
        text-align: center
        margin-bottom: 20px
        .top
          min-height: 113px
          padding: 15px 8px
          h2
            margin-bottom: 10px
        .bottom
          border-top: 3px solid black
          padding: 8px 0px

        &:hover
          cursor: 'pointer'

        &.selected
          color: #ffffff
          background-color: #ff4949
          border-color: #000000
          h1, h2, h3, h4, h5, h6
            color: #ffffff

      &.disabled
        color: #b0b0b0
        .selector
          border-color: #b0b0b0
          h1, h2, h3, h4, h5, h6
            color: #b0b0b0
          .bottom
            border-top-color: #b0b0b0

      .description
        font-size: 16px
        text-align: justify