= admin_inject_json('ofn.admin', 'enterpriseRoles', @enterprise_roles)
= admin_inject_json('ofn.admin', 'users', @users)
= admin_inject_json('ofn.admin', 'my_enterprises', @my_enterprises) + admin_inject_json('ofn.admin', 'all_enterprises', @all_enterprises)
