- content_for :page_title do
  =t :roles

= render 'admin/shared/users_sub_menu'

%div{"ng-app" => "ofn.admin", "ng-controller" => "AdminEnterpriseRolesCtrl"}
  = render 'data'

  %input.search{"ng-model" => "query", "placeholder" => t(:search)}

  %table#enterprise-roles
    %tbody
      = render 'form'
      %tr{"ng-repeat" => "enterprise_role in EnterpriseRoles.enterprise_roles | filter:query", id: "enterprise_role_{{enterprise_role.id}}"}
        = render 'enterprise_role'
