---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_card_discover&payment_method_types[0]=card&capture_method=manual
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - a9422931-4e74-4a74-bebd-4771e00333fd
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a9422931-4e74-4a74-bebd-4771e00333fd
      Original-Request:
      - req_Fsu8f8BaynX9v5
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3UCrjTKuuB1fWySn2JY03Syk",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "<HIDDEN-CLIENT-SECRET>",
          "confirmation_method": "automatic",
          "created": 1788745947,
          "currency": "eur",
          "customer": null,
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1UCrjTKuuB1fWySns3aH3JSH",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "payment_record": null,
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 07 Sep 2026 01:53:31 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3UCrjTKuuB1fWySn2JY03Syk/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - a63c3d82-4823-4626-99b0-f8babce1a353
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Cont[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3UCrjTKuuB1fWySn2JY03Syk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - 2026-08-26.dahlia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3UCrjTKuuB1fWySn2JY03Syk/capture
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 9075b97c-ea81-4ff0-9199-38476f9dbf8c
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Cont[...]
[...]
