# Add application configuration variables here, as shown below.
#
# Change this, it has serious security implications.
# Minimum 30 but usually 128 characters. To obtain run 'rake secret', or faster, 'openssl rand -hex 128'
SECRET_TOKEN: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

TIMEZONE: Melbourne
# Default country for dropdowns etc. See for codes: http://en.wikipedia.org/wiki/ISO_3166-1
DEFAULT_COUNTRY_CODE: AU
# Locale for translation.
LOCALE: en
# Spree zone.
CHECKOUT_ZONE: Australia
# Find currency codes at http://en.wikipedia.org/wiki/ISO_4217.
CURRENCY: AUD

# SingleSignOn login for Discourse
#DISCOURSE_SSO_SECRET: ""
#DISCOURSE_SSO_URL: "https://community.openfoodnetwork.org/session/sso_login"
