local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %>

test_amazon:
  service: S3
  access_key_id: "A...A"
  secret_access_key: "H...H"
  bucket: "ofn"
  region: "us-east-1"

amazon:
  service: S3
  access_key_id: <%= ENV["S3_ACCESS_KEY"] %>
  secret_access_key: <%= ENV["S3_SECRET"] %>
  bucket: <%= ENV["S3_BUCKET"] %>
  region: <%= ENV.fetch("S3_REGION", "us-east-1") %>

amazon_public:
  service: S3
  public: true
  access_key_id: <%= ENV["S3_ACCESS_KEY"] %>
  secret_access_key: <%= ENV["S3_SECRET"] %>
  bucket: <%= ENV["S3_BUCKET"] %>
  region: <%= ENV.fetch("S3_REGION", "us-east-1") %>
