---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=314
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f5feb700-deab-47e6-a3bb-1f7876e0c19d
      Original-Request:
      - req_jO2hgjzzNwuqXx
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1OvTsoKuuB1fWySnCzCb8eht",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "6E6tgVjx6U65iHFV",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1710721014,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 18 Mar 2024 00:16:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Apple+Customer&email=applecustomer%40example.com
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '0906982f-87ad-4dbe-b4fd-767448e9af6e'
      Original-Request:
      - req_kMpp9oFdLMAdlu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Pkzs7IZP3pd5Zf",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1710721015,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "applecustomer@example.com",
          "invoice_prefix": "07F225F9",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Apple Customer",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 18 Mar 2024 00:16:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1OvTsoKuuB1fWySnCzCb8eht/attach
    body:
      encoding: UTF-8
      string: customer=cus_Pkzs7IZP3pd5Zf
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: expand[0]=sources&email=cristy_bins%40schoenauer.ca
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF94RmdKUU9sWHBNQUZzb3p0endGQlRGaFAwMEhHN0J1Q0ptOg==
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 39039f16-97fc-438a-87ab-26f0c1c14e85
      Original-Request:
      - req_4sTXiju5KGSaXj
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PkzsgzTLJgS1ty",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1710721016,
          "currency": null,
          "default_currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "cristy_bins@schoenauer.ca",
          "invoice_prefix": "90D76186",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_PkzsgzTLJgS1ty/sources"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 18 Mar 2024 00:16:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1OvTsoKuuB1fWySnCzCb8eht/attach
    body:
      encoding: UTF-8
      string: customer=cus_PkzsgzTLJgS1ty
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF94RmdKUU9sWHBNQUZzb3p0endGQlRGaFAwMEhHN0J1Q0ptOg==
      Stripe-Version:
      - '2020-08-27'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3256a36a-15d6-4aa6-9b24-3b16d12a8052
      Original-Request:
      - req_i442hC44iepq49
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "The payment method you provided has already been attached to a customer.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_i442hC44iepq49?t=1710721016",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 18 Mar 2024 00:16:57 GMT
recorded_with: VCR 6.2.0
