---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2024&card[cvc]=314
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c4d99b66-fe74-488e-958e-69eca92c35be
      Original-Request:
      - req_1hXs9SUU8IKjKg
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_1OAJh2KuuB1fWySnFuyE55Xo",
          "object": "token",
          "card": {
            "id": "card_1OAJh2KuuB1fWySn1bi0QzS0",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2024,
            "fingerprint": "6E6tgVjx6U65iHFV",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": "220.253.195.13",
          "created": 1699480428,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 08 Nov 2023 21:53:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=german_jerde%40kubschmeler.ca&source=tok_1OAJh2KuuB1fWySnFuyE55Xo
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e8aa29da-1d01-48db-9ba0-db2df6d51a04
      Original-Request:
      - req_pdc1GBlN0NvenY
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_OyGDSPQMHTtArJ",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1699480429,
          "currency": null,
          "default_source": "card_1OAJh2KuuB1fWySn1bi0QzS0",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "german_jerde@kubschmeler.ca",
          "invoice_prefix": "EE42E7FD",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 08 Nov 2023 21:53:50 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_OyGDSPQMHTtArJ/sources?limit=1&object=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "card_1OAJh2KuuB1fWySn1bi0QzS0",
              "object": "card",
              "address_city": null,
              "address_country": null,
              "address_line1": null,
              "address_line1_check": null,
              "address_line2": null,
              "address_state": null,
              "address_zip": null,
              "address_zip_check": null,
              "brand": "Visa",
              "country": "US",
              "customer": "cus_OyGDSPQMHTtArJ",
              "cvc_check": "pass",
              "dynamic_last4": null,
              "exp_month": 9,
              "exp_year": 2024,
              "fingerprint": "6E6tgVjx6U65iHFV",
              "funding": "credit",
              "last4": "4242",
              "metadata": {},
              "name": null,
              "tokenization_method": null,
              "wallet": null
            }
          ],
          "has_more": false,
          "url": "/v1/customers/cus_OyGDSPQMHTtArJ/sources"
        }
  recorded_at: Wed, 08 Nov 2023 21:53:50 GMT
recorded_with: VCR 6.2.0
