%fieldset.no-border-bottom
  %legend{align: 'center'} Distribution

  - if @order.complete?
    .alpha.six.columns
      %p
        %b Distributor:
        = @order.distributor.andand.name || "None"
        %input{type: "hidden", id: "order_distributor_id", value: @order.distributor.andand.id}
    .omega.six.columns
      %p
        %b Order cycle:
        = @order.order_cycle.andand.name || "None"
        %input{type: "hidden", id: "order_order_cycle_id", value: @order.order_cycle.andand.id}
  - else
    .alpha.six.columns
      .field
        %label{for: "order_distributor_id"} Distributor
        %input.ofn-select2.fullwidth{id: "order_distributor_id",
        type: 'number',
        name: "order[distributor_id]",
        "ng-model" => 'distributor_id',
        data: "shops" }

    .omega.six.columns
      .field
        %label{ for: "order_order_cycle_id"} Order Cycle
        %input.ofn-select2.fullwidth{id: "order_order_cycle_id",
        type: 'number',
        name: "order[order_cycle_id]",
        "ng-model" => 'order_cycle_id',
        "ng-disabled" => "!distributor_id",
        data: "orderCycles",
        text: "name_and_status",
        filter: "validOrderCycle" }
