- greeting_key = "mailers_shared.general_greeting"
- intro_key = ".intro"

= render partial: 'shared/mailers/greeting_and_intro',
         locals: { greeting: t(greeting_key),
                   intro: t(intro_key) }

%p
  = t(".message")
%ul
  %li= link_to(t(".link_label", name: @blob.filename), @blob.expiring_service_url)

= render 'shared/mailers/signoff_instance'
