@use "../../webpacker/css/darkswarm/modern-variables" as *;
@use "../../app/webpacker/css/darkswarm/branding.scss" as b;

// The component relies on existing CSS with minimal overide. Existing CSS is defined in :
//  - app/webpacker/css/darkswarm/_shop-inputs.scss
//  - app/webpacker/css/darkswarm/shop_partials/_shop-inputs.scss
//
.add-to-cart-component {
  // override existing border radius
  button.add-variant,
  button.variant-quantity {
    &:nth-of-type(1) {
      border-bottom-left-radius: $radius-button;
      border-top-left-radius: $radius-button;
    }
    &:nth-last-of-type(1) {
      border-top-right-radius: $radius-image;
      border-bottom-right-radius: $radius-button;
    }

    &:nth-of-type(1):not(.bulk-buy):not(.bulk-buy-add) {
      border-right: none;
    }
  }

  [type="number"].variant-quantity {
    // override existing border so we can define only top and bottom border
    border: none;
    border-top: 0.1em solid b.$grey-200;
    border-bottom: 0.1em solid b.$grey-200;
  }

  img.material-icons {
    margin: auto;
  }
}
