.add-to-cart-component
  .variant-quantity-column{ "data-controller": "add-to-cart", "data-add-to-cart-variant-id-value": variant.id, "data-add-to-cart-variant-on-hand-value": on_hand, "data-add-to-cart-low-stock-display-value": "#{low_stock_display}" }
    .variant-quantity-inputs{ "data-add-to-cart-target": "addButton" }
      = button_tag t("js.shopfront.variant.add_to_cart"), type: "button", class: "add-variant", "data-action": "add-to-cart#addEmpty" 
    .variant-quantity-inputs{ style: "display: none;", "data-add-to-cart-target": "quantityButton" }
      %button.variant-quantity.material-icons{ type: "button", "data-action": "add-to-cart#remove"}
        %span.material-symbols-outlined
          remove
      %input.variant-quantity{ type: "number", min: "0", value: quantity, "data-add-to-cart-target": "quantity", "data-action": "keyup->add-to-cart#manual" }
      %button.variant-quantity.material-icons{ type: "button", "data-action": "add-to-cart#add" , "data-add-to-cart-target": "plusButton" }
        %span.material-symbols-outlined
          add
    .variant-remaining-stock{ style: "display: none;", "data-add-to-cart-target": "stock" }
      = t("js.shopfront.variant.remaining_in_stock", quantity: variant.on_hand)
    .variant-quantity-display{ "data-add-to-cart-target": "nbItemInCart" }
      = t("js.shopfront.variant.quantity_in_cart", quantity: quantity)
