%table.social{ :width => "100%" }
  %tr
    %td
      / column 1
      %table.column{:align => "left"}
        %tr
          %td
            %h5
              = t :email_social
            %p.social-icons
              - if ContentConfig.footer_facebook_url.present?
                %a{href: ContentConfig.footer_facebook_url}
                  %i.ofn-i_044-facebook
              - if ContentConfig.footer_twitter_url.present?
                %a{href: ContentConfig.footer_twitter_url}
                  %i.ofn-i_041-twitter
              - if ContentConfig.footer_instagram_url.present?
                %a{href: ContentConfig.footer_instagram_url}
                  %i.ofn-i_043-instagram
              - if ContentConfig.footer_linkedin_url.present?
                %a{href: ContentConfig.footer_linkedin_url}
                  %i.ofn-i_042-linkedin
              - if ContentConfig.footer_googleplus_url.present?
                %a{href: ContentConfig.footer_googleplus_url}
                  %i.ofn-i_046-g
              - if ContentConfig.footer_pinterest_url.present?
                %a{href: ContentConfig.footer_pinterest_url}
                  %i.ofn-i_045-pintrest
      %table.column{:align => "left"}
        %tr
          %td
            - if ContentConfig.footer_email.present?
              %h5
                = t :email_contact
              %strong
                %a{href: ContentConfig.footer_email.reverse, mailto: true, target: '_blank'}
                  #{ContentConfig.footer_email}
      %span.clear
