%table.social{ :width => "100%" }
  %tr
    %td
      / column 1
      %table.column{:align => "left"}
        %tr
          %td
            %h5
              Connect with Us:
            %p
              %a.soc-btn.fb{:href => "https://www.facebook.com/OpenFoodNet", :target => "_blank"}
                Facebook
              %a.soc-btn.tw{:href => "https://twitter.com/OpenFoodNet", :target => "_blank"}
                Twitter
              %a.soc-btn.li{:href => "http://www.linkedin.com/groups/Open-Food-Foundation-4743336", :target => "_blank"}
                LinkedIn
      %table.column{:align => "left"}
        %tr
          %td
            %h5
              Email us:
            %p
              %strong
                %a{:href => "mailto:hello@openfoodnetwork.org"}
                  hello@openfoodnetwork.org
      %span.clear
