%div{ "data-controller": "tag-list-input", "data-tag-list-input-only-one-value": "#{only_one}", "data-tag-list-input-url-value": autocomplete_url, "data-action": "autocomplete.change->tag-list-input#addTag" }
  .tags-input
    .tags
      - # We use display:none instead of hidden field, so changes to the value can be picked up by the bulkFormController 
      = text_field_tag name, tags.join(","), {"data-tag-list-input-target": "tagList", "style": "display: none"}.merge(hidden_field_data_options)
      %ul.tag-list{"data-tag-list-input-target": "list"}
        %template{"data-tag-list-input-target": "template"}
          %li.tag-item
            .tag-template
              %span
              %a.remove-button{ "data-action": "click->tag-list-input#removeTag" }
                ×
        - tags.each do |tag|
          %li.tag-item
            .tag-template
              %span=tag
              %a.remove-button{ "data-action": "click->tag-list-input#removeTag" }
                ×
      = text_field_tag("variant_add_tag",
        nil,
        { class: "input",
          placeholder: placeholder,
          "data-action": "keydown.enter->tag-list-input#keyboardAddTag keyup->tag-list-input#filterInput blur->tag-list-input#onBlur focus->tag-list-input#onInputChange",
          "data-tag-list-input-target": "input",
          **aria_label_option,
          style: "display: #{display};"})
    %ul.suggestion-list{ "data-tag-list-input-target": "results" , hidden: true }
