// Tags input
.tags-input {
  display: block;

  .tags {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    overflow: hidden;
    word-wrap: break-word;
    cursor: text;
    background-color: #fff;
    height: 100%;
    box-shadow: none;

    &:has(.changed) {
      border: 1px solid $color-txt-changed-brd;
      border-radius: 4px;
    }

    .tag-error {
      color: $color-error;
    }

    .tag-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    li.tag-item {
      border-radius: 3px;
      margin: 2px 0 2px 3px;
      padding: 0 0 0 5px;
      display: inline-block;
      float: left;
      font-size: 14px;
      line-height: 25px;
      border: none;
      box-shadow: none;
      color: white !important;
      background-image: none;
      background-color: $teal;

      .remove-button {
        border-left: 1px solid darken($teal, 5);
        margin-left: 2px;
        padding: 0 6px;
        background: 0 0;
        cursor: pointer;
        vertical-align: middle;
        font-size: 14px;
        color: white;

        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }

    .input {
      border: 0;
      outline: 0;
      margin: 2px;
      padding: 0 0 0 5px;
      float: left;
      height: 26px;
      font-size: 14px;
    }
  }

  ul.suggestion-list {
    margin-top: 5px;
    padding: 5px 0;
    z-index: $tag-drop-down-z-index;
    width: fit-content;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: $shadow-dropdown;
    list-style-type: none;
    max-height: 280px;
    overflow-y: auto;
    position: relative;

    li.suggestion-item {
      padding: 5px 10px;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #000;
      background-color: #fff;
      width: stretch;

      &.active,
      &:hover {
        color: #fff;
        background-color: $color-link-visited;
      }
    }
  }
}
