// Legacy admin variables and colours

$spree-green: #9fc820;
$spree-blue: #5498da;
$spree-light-blue: #eff5fc;

$color-warning: $color-5;
$bright-orange: #ffa92e;
$medium-grey: #919191;
$pale-blue: #cee1f4;

$admin-table-border: $pale-blue;

$modal-close-button-color: #de6060;
$modal-close-button-hover-color: #bf4545;
$disabled-button: $light-grey;
