@import "../../darkswarm/branding";
@import "../../darkswarm/mixins";

#product-preview {
  // tabs
  dl.tabs {
    box-shadow: $box-shadow;
    display: flex;
    flex-wrap: wrap;

    dd {
      width: auto;
      padding: 0;

      a {
        display: inline-block;
        padding: 16px 20px;
        color: $color-9 !important;
        text-align: center;
        position: relative;
        font-size: 16px;
        font-weight: 600;

        &:hover {
          color: $red !important;

          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 20px;
            right: 20px;
            height: 3px;
            background: $red;
          }
        }

        &.active {
          @extend a, :hover;
        }
      }
    }
  }

  // The frontend css is base on foundation-sites https://github.com/foundation/foundation-sites
  // Below we copied the sections that are relevant to the product preview modal

  // from foundation-sites/scss/foundations/components/_types.scss
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #222222;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    text-rendering: optimizeLegibility;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.4;
  }

  h3 {
    font-size: 1.6875rem;
  }

  em,
  i {
    font-style: italic;
    line-height: inherit;
  }

  ul,
  ol,
  dl {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.6;
    list-style-position: outside;
    margin-bottom: 1.25rem;
  }

  // from foundation-sites/scss/foundations/components/_grid.scss
  .column + .column:last-child,
  .column + .columns:last-child,
  .columns + .column:last-child,
  .columns + .columns:last-child {
    float: right;
  }

  // from foundation-sites/scss/foundations/components/_global.scss
  img {
    display: inline-block;
    vertical-align: middle;
  }

  // Import frontend partials
  @import "../../darkswarm/shop_partials/typography";
  @import "../../darkswarm/overrides";

  // product preview override
  .row {
    margin: 0 auto;
    width: 100%;
  }

  @import "../../darkswarm/shop_partials/animations";
  @import "../../darkswarm/shop_partials/shop-filters";
  @import "../../darkswarm/shop-modals";
  @import "../../darkswarm/shop_partials/images";
}
