%p.message
  = t('js.admin.orders.index.bulk_invoice_created')

%br

%a.button.primary{ target: '_blank', href: invoice_url, 'data-file-loading-target': "link"}
  = t('js.admin.orders.index.view_file')
