%div{ id: "bulk_invoices_modal", "data-controller": "modal file-loading", "data-modal-instant-value": true, "data-action": "keyup@document->modal#closeIfEscapeKey" }
  .reveal-modal-bg.fade{ "data-modal-target": "background", "data-action": "click->modal#remove" }
  .reveal-modal.fade.tiny.modal-component{ "data-modal-target": "modal" }
    .fullwidth.align-center
      %h4.modal-title
        = t('js.admin.orders.index.compiling_invoices')
        %br
        %br
      .modal-content
        .modal-loading{ 'data-file-loading-target': "loading" }
          %img.spinner{ src: image_path("/spinning-circles.svg") }
          %br
          %br
          %p= t('js.admin.orders.index.please_wait')
          %br
        .hidden{ 'data-file-loading-target': "loaded" }
          = render partial: "spree/admin/orders/bulk/invoice_link", locals: { invoice_url: }
