---
http_interactions:
- request:
    method: post
    uri: https://connect.stripe.com/oauth/deauthorize
    body:
      encoding: UTF-8
      string: stripe_user_id=<HIDDEN-STRIPE_ACCOUNT>&client_id=bogus_client_id
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Stripe-Kill-Route:
      - "[]"
      Stripe-Parent-Id:
      - '0000000000000000'
      Stripe-Span-Id:
      - cd5956c8e6142df5
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Apiori-Intentional-Latency:
      - 0s
      X-Apiori-Reqid:
      - dub1DKahtfcdPpQV7fyrjYh
      X-Apiori-Server-Duration-Ms:
      - '57'
      X-Apiori-Upstream-Duration:
      - 56.961531ms
      X-Apiori-Upstream-Name:
      - manage-srv
      X-Apiori-Upstream-Region:
      - northwest
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "invalid_client",
          "error_description": "No such application: 'bogus_client_id'"
        }
  recorded_at: Thu, 08 Feb 2024 15:07:14 GMT
recorded_with: VCR 6.2.0
