---
http_interactions:
- request:
    method: post
    uri: https://connect.stripe.com/oauth/deauthorize
    body:
      encoding: UTF-8
      string: stripe_user_id=<HIDDEN-STRIPE_ACCOUNT>&client_id=bogus_client_id
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_SECRET_TEST_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Stripe-Kill-Route:
      - "[]"
      Stripe-Parent-Id:
      - '0000000000000000'
      Stripe-Span-Id:
      - a8e9e61296965589
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Apiori-Intentional-Latency:
      - 0s
      X-Apiori-Reqid:
      - syd1DJquiVHdgEr1mnf6RLS
      X-Apiori-Server-Duration-Ms:
      - '77'
      X-Apiori-Upstream-Duration:
      - 77.398085ms
      X-Apiori-Upstream-Name:
      - manage-srv
      X-Apiori-Upstream-Region:
      - northwest
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "invalid_client",
          "error_description": "No such application: 'bogus_client_id'"
        }
  recorded_at: Sun, 21 Jan 2024 23:19:45 GMT
recorded_with: VCR 6.2.0
