---
http_interactions:
- request:
    method: get
    uri: https://backend.demo.taler.net/instances/sandbox/private/orders/2026.022-0284X4GE8WKMJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "taler_pay_uri": "taler://pay/backend.demo.taler.net/instances/sandbox/2026.022-0284X4GE8WKMJ/",
          "order_status_url": "https://backend.demo.taler.net/instances/sandbox/orders/2026.022-0284X4GE8WKMJ",
          "order_status": "unpaid",
          "total_amount": "KUDOS:10",
          "summary": "Open Food Network order",
          "creation_time": {
            "t_s": 1769057012
          }
        }
  recorded_at: Thu, 22 Jan 2026 04:43:34 GMT
- request:
    method: post
    uri: https://backend.demo.taler.net/instances/sandbox/private/token
    body:
      encoding: UTF-8
      string: '{"scope":"write"}'
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "secret-token:J38S28NEJ6T07H1WP60F3T6PPWQYNKMR251TEZEX3CXP3SH54210",
          "token": "secret-token:J38S28NEJ6T07H1WP60F3T6PPWQYNKMR251TEZEX3CXP3SH54210",
          "scope": "write",
          "refreshable": false,
          "expiration": {
            "t_s": 1774067507
          }
        }
  recorded_at: Fri, 20 Mar 2026 04:31:48 GMT
- request:
    method: post
    uri: https://backend.demo.taler.net/instances/sandbox/private/orders
    body:
      encoding: UTF-8
      string: '{"order":{"amount":"KUDOS:10.0","summary":"Open Food Network order","fulfillment_url":"http://test.host/payment_gateways/taler/198"},"create_token":false}'
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "order_id": "2026.079-0189PJNWMX6JA"
        }
  recorded_at: Fri, 20 Mar 2026 04:31:48 GMT
recorded_with: VCR 6.4.0
