---
http_interactions:
- request:
    method: post
    uri: https://backend.demo.taler.net/instances/sandbox/private/orders
    body:
      encoding: UTF-8
      string: '{"order":{"amount":"KUDOS:10.0","summary":"Open Food Network order","fulfillment_url":"http://test.host/payment_gateways/taler/61"},"create_token":false}'
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "order_id": "2026.022-0284X4GE8WKMJ"
        }
  recorded_at: Thu, 22 Jan 2026 04:43:33 GMT
- request:
    method: get
    uri: https://backend.demo.taler.net/instances/sandbox/private/orders/2026.022-0284X4GE8WKMJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "taler_pay_uri": "taler://pay/backend.demo.taler.net/instances/sandbox/2026.022-0284X4GE8WKMJ/",
          "order_status_url": "https://backend.demo.taler.net/instances/sandbox/orders/2026.022-0284X4GE8WKMJ",
          "order_status": "unpaid",
          "total_amount": "KUDOS:10",
          "summary": "Open Food Network order",
          "creation_time": {
            "t_s": 1769057012
          }
        }
  recorded_at: Thu, 22 Jan 2026 04:43:34 GMT
recorded_with: VCR 6.3.1
