---
http_interactions:
- request:
    method: post
    uri: https://backend.demo.taler.net/instances/sandbox/private/orders
    body:
      encoding: UTF-8
      string: '{"order":{"amount":"KUDOS:5","summary":"OFN Order","fulfillment_url":"https://ofn.example.net"},"create_token":false}'
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "order_id": "2026.015-02T676V4VARMT"
        }
  recorded_at: Thu, 15 Jan 2026 04:18:28 GMT
- request:
    method: get
    uri: https://backend.demo.taler.net/instances/sandbox/private/orders/2026.015-02T676V4VARMT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "taler_pay_uri": "taler://pay/backend.demo.taler.net/instances/sandbox/2026.015-02T676V4VARMT/",
          "order_status_url": "https://backend.demo.taler.net/instances/sandbox/orders/2026.015-02T676V4VARMT",
          "order_status": "unpaid",
          "total_amount": "KUDOS:5",
          "summary": "OFN Order",
          "creation_time": {
            "t_s": 1768450707
          }
        }
  recorded_at: Thu, 15 Jan 2026 04:18:29 GMT
recorded_with: VCR 6.3.1
