.default_rules
  .header
    %table
      %colgroup
        %col{width: '100%'}
      %tr
        %td
          %h5
            = t('.by_default')
          %i.text-big.icon-question-sign.help-modal{ template: 'admin/modals/tag_rule_help.html' }
  .no_rules{ ng: { show: "defaultTagGroup.rules.length == 0" } }
    = t('.no_rules_yet')
  .tag_rule{ ng: { repeat: "rule in defaultTagGroup.rules" } }
  .add_rule.text-center
    %input.button.icon-plus{ type: 'button', value: t('.add_new_button'), "add-new-rule-to" => "addNewRuleTo", "tag-group" => "defaultTagGroup", "new-tag-rule-dialog" => true }
