- if @shop.logo.variable?
  - @enterprise_for_logo = @shop

- greeting_key = "mailers_shared.enterprise_greeting"
- intro_key = ".intro_html"

= render partial: 'shared/mailers/greeting_and_intro',
         locals: { greeting: t(greeting_key, name: @shop.contact_name),
                   intro: t(intro_key, shop: @shop.name),
                   enterprise_for_logo: @enterprise_for_logo }

= render 'summary_overview', summary: @summary
= render 'summary_detail', summary: @summary

%p &nbsp;
= render 'shared/mailers/signoff_instance'
