%div.contact-container{bindonce: true}
  %div.modal-centered{"bo-if" => "enterprise.email || enterprise.website || enterprise.phone"}
    %p.modal-header {{t('contact')}}
    %p{"bo-if" => "enterprise.phone", "bo-text" => "enterprise.phone"}

    %p.word-wrap{"ng-if" => "enterprise.email"}
      %a{"bo-href" => "enterprise.email | stripUrl", target: "_blank", mailto: true}
        %span.email{"bo-bind" => "enterprise.email | stripUrl"}

    %p.word-wrap{"ng-if" => "enterprise.website"}
      %a{"bo-href-i" => "http://{{enterprise.website | stripUrl}}", target: "_blank", "bo-bind" => "enterprise.website | stripUrl"}
