%div.modal-centered{"bo-if" => "enterprise.email || enterprise.website || enterprise.address.phone"}
  %h5.modal-header Contact
  %p{"ng-if" => "enterprise.address.phone"}
    {{ enterprise.address.phone }}

  %p{"bo-if" => "enterprise.email"}
    %a{"ng-href" => "mailto:{{enterprise.email | stripUrl}}", target: "_blank" }
      {{ enterprise.email | stripUrl }}

  %p{"ng-if" => "enterprise.website"}
    %a{"ng-href" => "http://{{enterprise.website | stripUrl}}", target: "_blank" }
      {{ enterprise.website | stripUrl }}
