%div.contact-container{bindonce: true}
  %div.modal-centered{"bo-if" => "enterprise.email || enterprise.website || enterprise.phone"}
    %p.modal-header Contact
    %p{"ng-if" => "enterprise.phone"}
      {{ enterprise.phone }}

    %p.word-wrap{"ng-if" => "enterprise.email"}
      %a{"ng-href" => "{{enterprise.email | stripUrl}}", target: "_blank", mailto: true}
        %span.email
          {{ enterprise.email | stripUrl }}

    %p.word-wrap{"ng-if" => "enterprise.website"}
      %a{"ng-href" => "http://{{enterprise.website | stripUrl}}", target: "_blank" }
        {{ enterprise.website | stripUrl }}
