.row
  .small-12.large-8.columns
    %div
      %p.modal-header {{'label_about' | t}}
      %div
        %span.filter-shopfront.taxon-selectors
          %ul.inline-block
            %li{"ng-repeat" => "taxon in enterprise.supplied_taxons"}
              %a.button.tiny.disabled{"ng-bind" => "taxon.name"}

        %span.filter-shopfront.property-selectors.pad-top
          %ul.inline-block
            %li{"ng-repeat" => "property in enterprise.supplied_properties"}
              %a.button.tiny.disabled{"ng-bind" => "property.presentation"}

      .about-container.pad-top
        %img.enterprise-logo{"ng-src" => "{{::enterprise.logo}}", "ng-if" => "::enterprise.logo"}
        %div{"ng-bind-html" => "::enterprise.long_description"}
  .small-12.large-4.columns
    %ng-include{src: "'partials/contact.html'"}
    %ng-include{src: "'partials/follow.html'"}
