.row{bindonce: true}
  .small-12.large-8.columns
    / TODO: Rob add logic for taxons and properties too:
    / %div{"ng-if" => "enterprise.long_description.length > 0 || enterprise.logo"}
    %div
      %p.modal-header {{t('label_about')}}
      / TODO: Rob - add in taxons and properties and property pop-overs

      -# TODO: Add producer taxons and properties here
      -# %div
      -#   %span.filter-shopfront.taxon-selectors
      -#     %ul.inline-block
      -#       %li
      -#         %a.button.tiny.disabled Grains
      -#       %li
      -#         %a.button.tiny.disabled Dairy
      -#
      -#   %span.filter-shopfront.property-selectors.pad-top
      -#     %ul.inline-block
      -#       %li
      -#         %a.button.tiny Organic certified
      -#         / TODO: Rob - need popover, use will's directive or this? http://pineconellc.github.io/angular-foundation/
      -#
      .about-container.pad-top
        %img.enterprise-logo{"bo-src" => "enterprise.logo", "bo-if" => "enterprise.logo"}
        %p.text-small{"ng-bind-html" => "enterprise.long_description"}
  .small-12.large-4.columns
    %ng-include{src: "'partials/contact.html'"}
    %ng-include{src: "'partials/follow.html'"}
