.highlight
  .highlight-top 
    %p.right
      {{ [enterprise.address.city, enterprise.address.state_name] | printArray}}
    %h3{"ng-if" => "enterprise.is_distributor"}
      %a{"bo-href" => "enterprise.path", "ofn-empties-cart" => "enterprise", bindonce: true}
        %i.ofn-i_040-hub
        {{ enterprise.name }}
    %h3{"ng-if" => "!enterprise.is_distributor"}
      %i.ofn-i_036-producers
      {{ enterprise.name }}
  %img.hero-img{"ng-src" => "{{enterprise.promo_image}}"} 
