.highlight{"ng-class" => "::{'is_distributor' : enterprise.is_distributor}"}
  .highlight-top.row
    .small-12.medium-7.large-8.columns
      %h3{"ng-if" => "::enterprise.is_distributor"}
        %a{"ng-href" => "{{::enterprise.path}}", "ofn-change-hub" => "enterprise", "ng-attr-target" => "{{ embedded_layout ? '_blank' : undefined}}"}
          %i{"ng-class" => "::enterprise.icon_font"}
          %span{"ng-bind" => "::enterprise.name"}
      %h3{"ng-if" => "::!enterprise.is_distributor", "ng-class" => "::{'is_producer' : enterprise.is_primary_producer}"}
        %i{"ng-class" => "::enterprise.icon_font"}
        %span{"ng-bind" => "::enterprise.name"}
    .small-12.medium-5.large-4.columns.text-right.small-only-text-left
      %p{"ng-bind" => "::[enterprise.address.city, enterprise.address.state_name] | printArray"}
  %img.hero-img{"ng-src" => "{{::enterprise.promo_image}}"}
