%div.modal-centered{ "ng-if" => "::enterprise.twitter || enterprise.facebook || enterprise.linkedin || enterprise.instagram"}
  %p.modal-header {{'follow' | t}}
  .follow-icons
    %span{"ng-if" => "::enterprise.twitter"}
      %a{"ng-href" => "http://www.twitter.com/{{::enterprise.twitter}}", target: "_blank"}
        %i.ofn-i_041-twitter

    %span{"ng-if" => "::enterprise.facebook"}
      %a{"ng-href" => "http://{{::enterprise.facebook | stripUrl}}", target: "_blank"}
        %i.ofn-i_044-facebook

    %span{"ng-if" => "::enterprise.linkedin"}
      %a{"ng-href" => "http://{{::enterprise.linkedin | stripUrl}}", target: "_blank"}
        %i.ofn-i_042-linkedin

    %span{"ng-if" => "::enterprise.instagram"}
      %a{"ng-href" => "http://www.instagram.com/{{::enterprise.instagram}}", target: "_blank"}
        %i.ofn-i_043-instagram
