.row.pad-top{ng: { if: 'enterprise.is_distributor' } }
  .cta-container.small-12.columns
    .row
      .small-4.columns
        %label{"active-table-hub-link" => "enterprise", change: "{{'change_shop' | t}}", shop: "{{'shop_at' | t}}"}
      .small-8.columns.right
        %label.right{"ng-if" => "::enterprise.pickup || enterprise.delivery"}
          {{'hubs_delivery_options' | t}}:
          %span{"ng-if" => "::enterprise.pickup"}
            %i.ofn-i_038-takeaway
            {{'hubs_pickup' | t}}
          %span{"ng-if" => "::enterprise.delivery"}
            %i.ofn-i_039-delivery
            {{'hubs_delivery' | t}}
    .row
      .columns.small-12
        %a.cta-hub{"ng-href" => "{{::enterprise.path}}#/shop", "ng-attr-target" => "{{ embedded_layout ? '_blank' : undefined}}",
        "ng-class" => "{primary: enterprise.active, secondary: !enterprise.active}",
        "ng-click" => "$close()",
        "ofn-change-hub" => "enterprise"}
          .hub-name{"ng-bind" => "::enterprise.name"}
          %span{"ng-if" => "::enterprise.active"} ({{'maps_open' | t}})
          %span{"ng-if" => "::!enterprise.active"} ({{'maps_closed' | t}})
          .button-address{"ng-bind" => "::[enterprise.address.city, enterprise.address.state_name] | printArray"}
          / %i.ofn-i_007-caret-right
