.row.pad-top{bindonce: true}
  .cta-container.small-12.columns
    .row
      .small-4.columns
        %label{"active-table-hub-link" => "enterprise", change: "Change hub to:", shop: "Shop now at:"}
      .small-8.columns.right
        %label.right{"bo-if" => "enterprise.pickup || enterprise.delivery"}
          Delivery options: 
          %span{"bo-if" => "enterprise.pickup"} 
            %i.ofn-i_038-takeaway
            Pickup
          %span{"bo-if" => "enterprise.delivery"} 
            %i.ofn-i_039-delivery
            Delivery
    .row
      .columns.small-12
        %a.hub{"bo-href" => "enterprise.path", 
        "ng-class" => "{primary: enterprise.active, secondary: !enterprise.active}",
        "ofn-empties-cart" => "enterprise"}
          %i.ofn-i_033-open-sign{"bo-if" => "enterprise.active"}
          %i.ofn-i_032-closed-sign{"bo-if" => "!enterprise.active"}
          .hub-name {{enterprise.name}}
          .button-address {{ enterprise.address.city }} , {{enterprise.address.state_name}}
          / %i.ofn-i_007-caret-right
