-# Show places to buy products from this producer, when there are any
-# Do not show this for producer shops selling only their own produce,
-# Since a shopping link will already have been displayed in hub_details.html.haml
.row.active_table_row.pad-top{ "ng-if" => "enterprise.is_primary_producer && enterprise.hubs.length > 0 && !(enterprise.hubs.length == 1 && enterprise.hubs[0] == enterprise)"}
  .columns.small-12.cta-container
    .row
      .columns.small-12.fat
        %div{"ng-if" => "::enterprise.name"}
          %label{"ng-bind-html" => "::'shop_for_products_html' | t:{enterprise: enterprise.name}"}
        %div.show-for-medium-up{"ng-if" => "::!enterprise.name"}
          &nbsp;
    .row
      .columns.small-12
        %a.cta-hub{"ng-repeat" => "hub in enterprise.hubs | filter:{id: '!'+enterprise.id} | orderBy:'-active'",
        "ng-href" => "{{::hub.path}}#/shop", "ofn-empties-cart" => "hub",
        "ng-class" => "::{primary: hub.active, secondary: !hub.active}",
        "ng-click" => "$close()",
        "ofn-change-hub" => "hub"}
          .hub-name{"ng-bind" => "::hub.name"}
          %span{"ng-if" => "::hub.active"} ({{'maps_open' | t}})
          %span{"ng-if" => "::!hub.active"} ({{'maps_closed' | t}})
          .button-address{"ng-bind" => "::[hub.address.city, hub.address.state_name] | printArray"}
