.small-5.medium-3.large-3.columns.text-right{"ng-if" => "::!variant.product.group_buy"}

  %input{type: :number,
  integer: true,
  value: nil,
  min: 0,
  placeholder: "0",
  "ofn-disable-scroll" => true,
  "ng-model" => "variant.line_item.quantity",
  "ofn-on-hand" => "{{variant.on_demand && 9999 || variant.count_on_hand }}",
  "ng-disabled" => "!variant.on_demand && variant.count_on_hand == 0",
  name: "variants[{{::variant.id}}]", id: "variants_{{::variant.id}}"}
