.small-5.medium-3.large-3.columns.text-right{"ng-if" => "::!variant.product.group_buy"}

  %button.add-variant{type: "button", ng: {if: "!variant.line_item.quantity", click: "add(1)", disabled: "!canAdd(1)"}}
    {{ "js.shop_variant_no_group_buy.add" | t }}
  %button.variant-quantity{type: "button", ng: {if: "variant.line_item.quantity", click: "add(-1)"}}>
    {{ "js.shop_variant_no_group_buy.decrement" | t }}
  %button.variant-quantity{type: "button", ng: {if: "variant.line_item.quantity", click: "add(1)", disabled: "!canAdd(1)"}}
    {{ "js.shop_variant_no_group_buy.increment" | t }}
  %br
  .variant-quantity-display{ng: {class: "{visible: variant.line_item.quantity}"}}
    {{ "js.shop_variant_no_group_buy.in_cart" | t:{quantity: variant.line_item.quantity} }}
  %input{type: :hidden,
  name: "variants[{{::variant.id}}]",
  ng: {model: "variant.line_item.quantity"}}
