// Basic color palette for admin styles v3
$color-1: #ffffff !default; // White
$color-2: #9fc820 !default; // Green
$color-3: #008397 !default; // Teal (Allports)
$color-4: #6788a2 !default; // Dark Blue
$color-5: #c85136 !default; // Red/Orange (Mojo)
$color-6: #ff9300 !default; // Yellow
