// Basic color palette for admin styles v3
$color-1:                        #FFFFFF !default;    // White
$color-2:                        #9FC820 !default;    // Green
$color-3:                        #008397 !default;    // Teal (Allports)
$color-4:                        #6788A2 !default;    // Dark Blue
$color-5:                        #C85136 !default;    // Red/Orange (Mojo)
$color-6:                        #FF9300 !default;    // Yellow
