= f.field_container :primary_taxon do
  = f.label :primary_taxon, t('.product_category')
  %span.required *
  %br
  = f.collection_select(:primary_taxon_id, Spree::Taxon.order(:name), :id, :name, {:include_blank => true}, {:class => "select2 fullwidth"})
  = f.error_message_on :primary_taxon
