= f.field_container :primary_taxon_id do
  = f.label :primary_taxon_id, t('.product_category')
  %span.required *
  %br
  = f.select :primary_taxon_id, options_from_collection_for_select(Spree::Taxon.order(:name), :id, :name, @product.primary_taxon_id), { include_blank: true }, { "data-controller": "tom-select", class: "primary" }
  = f.error_message_on :primary_taxon_id
