= f.field_container :supplier do
  = f.label :supplier
  %br
  = f.collection_select(:supplier_id, Enterprise.is_primary_producer, :id, :name, {:include_blank => true}, {:class => "select2"})
  = f.error_message_on :supplier
