= f.field_container :tax_category_id do
  = f.label :tax_category_id, t(:tax_category)
  %br
  = f.collection_select(:tax_category_id, Spree::TaxCategory.all, :id, :name, tax_category_dropdown_options(Spree::Config.products_require_tax_category), {:class => "select2 fullwidth"})
  = f.error_message_on :tax_category_id
