- content_for :page_title do
  = "Bulk Edit Products"

- content_for :page_actions do
  %div{ :class => "toolbar", 'data-hook' => "toolbar" }
    %ul{ :class => "actions header-action-links inline-menu" }
      %li#new_product_link
        = button_link_to t(:new_product), new_object_url, { :remote => true, :icon => 'icon-plus', :id => 'admin_new_product' }

= render :partial => 'spree/admin/shared/product_sub_menu'

%div#new_product(data-hook)

%div{ 'ng-app' => 'bulk_product_update', 'ng-controller' => 'AdminBulkProductsCtrl', 'ng-init' => 'refreshSuppliers(); refreshProducts()' }
  %table.index#listing_products
    %thead
      %tr
        %th Name
        %th Supplier
        %th Price
        %th On Hand
        %th Av. On
    %tbody{ 'ng-repeat' => 'product in products | filter:query' }
      %tr
        %td
          %input{ 'ng-model' => "product.name", :name => 'product_name', 'ng-track-product' => 'name', :type => 'text' }
        %td
          %select.select2{ 'ng-model' => 'product.supplier_id', :name => 'supplier_id', 'ng-track-product' => 'supplier_id', 'ng-options' => 's.id as s.name for s in suppliers' }
        %td
          %input{ 'ng-model' => 'product.price', 'ng-decimal' => :true, :name => 'price', 'ng-track-product' => 'price', :type => 'text' }
        %td
          %span{ 'ng-bind' => 'product.on_hand', :name => 'on_hand', 'ng-show' => 'product.variants.length > 0' }
          %input.field{ 'ng-model' => 'product.on_hand', :name => 'on_hand', 'ng-track-product' => 'on_hand', 'ng-show' => 'product.variants.length == 0', :type => 'number' }
        %td
          %input{ 'ng-model' => 'product.available_on', :name => 'available_on', 'ng-track-product' => 'available_on', :type => 'text' }
      %tr{ 'ng-repeat' => 'variant in product.variants' }
        %td
          {{ variant.options_text }}
        %td
        %td
          %input{ 'ng-model' => 'variant.price', 'ng-decimal' => :true, :name => 'variant_price', 'ng-track-variant' => 'price', :type => 'text' }
        %td
          %input.field{ 'ng-model' => 'variant.on_hand', 'ng-change' => 'updateOnHand(product)', :name => 'variant_on_hand', 'ng-track-variant' => 'on_hand', :type => 'number' }
        %td
  %input{:type => 'button', :value => 'Update', 'ng-click' => 'prepareProductsForSubmit()'}
  %span{ id: "update-status-message", 'ng-style' => 'updateStatusMessage.style' }
    {{ updateStatusMessage.text }}