= render 'spree/admin/products/override_variants/header'
= render 'spree/admin/products/override_variants/data'

%div{ ng: { app: 'ofn.admin', controller: 'AdminOverrideVariantsCtrl', init: 'initialise()' } }
  = render 'spree/admin/products/override_variants/hub_choice'
