.selector {
  position: relative;

  .selector-main {
    border: 1px solid $light-grey;
    height: 3em;
    position: relative;
    cursor: pointer;

    .selector-main-title {
      line-height: 3em;
      padding-left: 10px;
      padding-right: 10px;
    }
    
    .selector-arrow {
      position: absolute;
      right: 0px;
      height: 3em;
      width: 1.5em;
      top: -1px;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 5px;
        margin-top: -5px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $light-grey;
      }
    }
  }

  .selector-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 1;
    background-color: white;
    margin-top: -1px;
    border: 1px solid $light-grey;

    .selector-items {
      overflow-y: auto;
      min-height: 6em;
  
      .selector-item {
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 1px solid $light-grey;
        position: relative;
        height: 3em;
        line-height: 3em;

        &:hover {
          background-color: #eee;
          cursor: pointer;
        }

        &:last-child {
          border-bottom: none;
        }

        &.selected {
          &:after {
            content: "✓";
            display: inline-block;
            position: absolute;
            right: 10px;
          }
        }
      }
    }
  }
  

  &.selector-close {
    .selector-wrapper {
      display: none;
    }
  }
}
