= component_controller do
  .selector
    .selector-main{ data: { action: "click->selector#toggle" } }
      .selector-main-title 
        = @title
      .selector-arrow
    .selector-wrapper
      .selector-items
        - @items.each do |item|
          .selector-item{ class: ("selected" if item[:selected]), data: @data, "data-value": item[:value] }
            = item[:label]
