= component_controller do
  .selector{ class: ("selector-close" if @state == :close) }
    .selector-main 
      .selector-main-title 
        = @title
      .selector-arrow{data: reflex_data_attributes(:toggle)}
    .selector-wrapper
      .selector-items
        - @items.each do |item|
          .selector-item{ class: ("selected" if item[:selected]), data: @data, "data-value": item[:value] }
            = item[:label]
