.vertical-ellipsis-menu{ "data-controller": "vertical-ellipsis-menu" }
  %i.fa.fa-ellipsis-v{ "data-action": "click->vertical-ellipsis-menu#toggle" }
  .vertical-ellipsis-menu-content{ "data-vertical-ellipsis-menu-target": "content" }
    - if defined?(variant)
      = link_to t('admin.products_page.actions.edit'), edit_admin_product_variant_path(product, variant)
    - else
      = link_to t('admin.products_page.actions.edit'), edit_admin_product_path(product)
      = link_to t('admin.products_page.actions.clone'), clone_admin_product_path(product)
