// Basic color palette for admin
$color-1: #ffffff !default; // White
$color-2: #9fc820 !default; // Green
$color-3: #5498da !default; // Light Blue
$color-4: #6788a2 !default; // Dark Blue
$color-5: #c60f13 !default; // Red
$color-6: #ff9300 !default; // Yellow

$dark-grey: #333;
$light-grey: #ddd;
$near-black: #222;
