// Basic color palette for admin
$color-1:                        #FFFFFF !default;    // White
$color-2:                        #9FC820 !default;    // Green
$color-3:                        #5498DA !default;    // Light Blue
$color-4:                        #6788A2 !default;    // Dark Blue
$color-5:                        #C60F13 !default;    // Red
$color-6:                        #FF9300 !default;    // Yellow

$dark-grey: #333;
$light-grey: #ddd;
$near-black: #222;
