%h1
  = @enterprise.name + " has been created"

%h3
  Why not check it out on
  %a{ href: "#{map_url}" }
    = Spree::Config[:site_name] + "?"

If you have any questions, please get in touch with us at: hello@openfoodnetwork.org
