%script{ type: "text/ng-template", id: "registration/limit_reached.html" }
  .row
    .small-12.columns
      %header
        %h2= t(".headline")
        %h4= t(".message")
  .row
    .small-12.medium-3.large-2.columns.text-right.hide-for-small-only
      %img{:src => image_pack_path("potatoes.png") }
    .small-12.medium-9.large-10.columns
      %p
        = t(".text")
        %strong Open Food Network.
  .row
    .small-12.columns
      %hr
      %input.button.primary{ type: "button", value: "{{'registration.steps.limit_reached.action' | t}}", ng: { click: "close()" } }
