- if @enterprise != current_order(false).andand.distributor
  %h2= @enterprise.name

.enterprise-description= @enterprise.long_description.andand.html_safe

= render :template => 'spree/products/index'
