@import "mixins";
@import "variables";
@import "branding";
@import "big-input";

.darkswarm {
  // #search
  @include placeholder(rgba(0, 0, 0, 0.4), #777);

  // ordering
  product {
    // BULK

    input.bulk {
      width: 5rem;

      @include breakpoint(desktop) {
        width: 4rem;
      }

      @include breakpoint(tablet) {
        width: 3.5rem;
      }

      @include breakpoint(mobile) {
        width: 2.8rem;
      }
    }

    input.bulk.first {
      border-right: 0;
    }

    input.bulk.second {
      border-left: 0;
    }

    .bulk-input-container {
      float: right;

      @include breakpoint(phablet) {
        float: left !important;
      }

      .bulk-input {
        float: left;
      }
    }
  }
}

// Components to add variants to cart and change quanities
//
// They are not nested so that they can be used in modals.
button.add-variant, button.variant-quantity {
  height: 2.5rem;
  border-radius: 0;
  background-color: $orange-500;
  color: white;
  // Override foundation button styles:
  font-size: 1rem;
  margin: 0;
  padding: 0;
  transition: none;

  &[disabled] {
    &:hover, &:focus {
      background-color: $orange-500;
    }
  }
  &:nth-of-type(1) {
    border-bottom-left-radius: 0.25em;
    border-top-left-radius: 0.25em;
  }
  &:nth-last-of-type(1) {
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
  }
}
button.add-variant {
  min-width: 6rem;
  padding: 0 1em;

  &[disabled] {
    &:hover, &:focus {
      background-color: $orange-500;
    }
  }
}
button.variant-quantity {
  width: 3rem;

  &:nth-of-type(1) {
    border-right: .1em solid $orange-400;
  }
}
.variant-quantity-display {
  display: inline-block;
  font-size: 0.875em;
  margin-top: 0.25em;
  text-align: center;
  width: 6rem;
  visibility: hidden;

  &.visible {
    visibility: visible;
  }
}
