@import mixins
@import branding
@import big-input
@import animations

@mixin filter-selector($base-clr, $border-clr, $hover-clr)
  li
    display: inline-block
    @include border-radius(0)
    padding: 0
    margin: 0 0 0.25rem 0.25rem
    &:hover, &:focus
      background: transparent

    a
      @include border-radius(0.5em)
      border: 1px solid $border-clr
      padding: 0.625em
      font-size: 0.875em
      color: $base-clr
      font-size: 0.75em
      i
        font-size: 1.25rem
        margin-left: 0.25rem

      render-svg
        width: 1.25rem
        height: 1.25rem
        svg
          width: 1.25rem
          height: 1.25rem
          path
            @include csstrans
            fill: $base-clr
      &:hover, &:focus
        color: $hover-clr
        render-svg
          svg
            path
              fill: $hover-clr
      &.active, &.active:hover, &.active:focus
        border: 1px solid $base-clr
        background: $base-clr
        color: white
        render-svg
          svg
            path
              fill: white


// Alert when search, taxon, filter is triggered

.alert-box.search-alert
  background-color: $clr-yellow-light
  border-color: $clr-yellow-light
  color: #777
  font-size: 0.75rem
  padding: 0.5rem 0.75rem

  span.applied-properties
    color: #333

  span.applied-taxons
    color: $clr-blue

  span.applied-search
    color: $clr-brick

  span.filter-label
    opacity: 0.75

.filter-box.taxon-selectors, .filter-box.property-selectors
  background: transparent

  single-line-selectors
    overflow-x: hidden
    white-space: nowrap

    .f-dropdown
      overflow-x: auto
      white-space: normal

  ul
    margin: 0
  ul, ul li
    list-style: none


.filter-box
  // Shopfront taxons
  &.taxon-selectors
    @include filter-selector($clr-blue, $clr-blue-light, $clr-blue-bright)

  // Shopfront properties
  &.property-selectors
    @include filter-selector(#666, #ccc, #666)
