.product-header {
  padding-left: 1.5rem;

  h1, h2, h3, h4, h5, h6 {
    margin: 0.2rem 1.5rem 0 0;
  }

  span {
    color: $grey-500;
  }

  .product-description {
    margin: 1rem 0.25rem 0.25rem 0;
  }

  .property-selectors li {
    margin: 0 0.25rem 0.25rem 0;
    padding: 0.4rem 0 0;

    a {
      border: 1px solid $grey-300;
      font-weight: normal;
      padding: 0.15rem 0.5rem;
    }

    span {
      color: $grey-600;
    }
  }
}
