@import "mixins";
@import "typography";
@import "variables";

ordercycle {
  float: right;
  background: $grey-050;
  color: $grey-800;
  width: 100%;
  border-radius: $radius-medium $radius-medium 0 0;
  margin-top: 1em;
  padding: 1em 1.25em 0;

  p {
    max-width: 400px;
  }

  h4 i {
    margin-right: 0.3rem;
  }

  @include breakpoint(desktop) {
    float: none;
    padding: 0.5em 1em;
    width: 100%;
    margin-top: 0;
    display: inline-block;
    border-radius: 0;
    position: relative;
    right: 0;
    height: auto;

    p {
      max-width: 100%;
    }
  }

  @include breakpoint(mobile) {
    padding: 0.5em 1em 0.75em;
  }

  .order-cycle-select {
    border: 1px solid $teal-300;
    display: inline-block;
    font-size: 1em;
    border-radius: $radius-small;

    .select-label {
      background-color: rgba($teal-300, 0.5);
      display: inline-block;
      border-radius: $radius-small 0 0 $radius-small;
      float: left;
      font-size: 1em;
      line-height: 1.3em;
      padding: 0.5em 0.75em;
      height: 2.35em;

      span {
        width: max-content;
        display: block;
      }
    }

    select {
      background-image: url('/assets/white-caret.svg');
    }

    p {
      text-align: left;
    }

    select,
    p {
      width: inherit;
      display: inline-block;
      color: $white;
      background-color: transparent;
      border: 0;
      margin-bottom: 0;
      font-size: 1em;
      line-height: 1.3em;
      padding: 0.5em 1.25em 0.5em 0.75em;
      height: 2.35em;
      background-size: 30px auto;
      border-radius: 0 $radius-small $radius-small 0;
      min-width: 13em;

      @include breakpoint(mobile) {
        width: 100%;
        min-width: 0;
      }
    }

    option {
      color: $grey-700;
    }

    @include breakpoint(desktop) {
      float: none;
      margin-right: 1em;
    }

    @include breakpoint(tablet) {
      float: none;
      margin-right: 0;
    }

    @include breakpoint(mobile) {
      display: flex;
    }
  }

  closing {
    @include headingFont;
    color: $grey-800;
    font-size: 1.25rem;
    display: block;
    padding: 0.5em 0;

    span {
      @include breakpoint(tablet) {
        font-size: 0.875em;
      }
    }
  }
}

shop ordercycle {
  background: $teal-400;
  color: $white;

  &.requires-selection {
    background-color: $red-700;

    .order-cycle-select {
      border: 1px solid $red-500;

      .select-label {
        background-color: rgba($red-500, 0.5);
      }

      select {
        background-color: $white;
        background-image: url('/assets/black-caret.svg');
        color: $grey-500;
        font-style: italic;
      }
    }
  }

  closing {
    color: $white;
    padding: 0 0 12px;

    @include breakpoint(desktop) {
      float: none;
      display: inline-block;
      padding: 0.2em 0 0;
      font-size: 1.2em;
      margin-right: 1em;
    }

    @include breakpoint(tablet) {
      float: none;
      padding: 0 0 10px;
    }
  }

  form.custom {
    text-align: center;
  }
}

shop navigation ordercycle {
  margin-top: 3em;
  padding: 1em;
  height: 7.6em;
  position: absolute;
  right: 1em;
}

.sub-header {
  form {
    p {
      margin-bottom: 0.75em;
    }
  }
}
