.darkswarm {
  products {
    product {
      .taxon-flag {
        background: transparent url("/assets/flag.svg") top center no-repeat;
        background-size: 34px 39px;
        min-height: 40px;
        width: 34px;
        margin-top: -1.1rem;
        padding-top: 0.25rem;
        z-index: 999999;

        @media all and (max-width: 480px) {
          background-size: 28px 32px;
          min-height: 32px;
          width: 28px;
        }

        render-svg {
          svg {
            width: 24px;
            height: 24px;

            path {
              fill: #999;
            }
          }
        }

        @media all and (max-width: 768px) {
          margin-top: -0.85rem;
        }

        @media all and (max-width: 480px) {
          render-svg {
            svg {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }
  }
}
