@import "typography";

.darkswarm navigation {
  display: block;
  background: #f7f7f7;

  distributor.details {
    box-sizing: border-box;
    display: block;
    min-height: 150px;
    padding: 30px 0 20px 0;
    position: relative;
    select {
      width: 200px;
    }
    img {
      display: block;
      height: 100px;
      width: 100px;
      margin-right: 12px;
    }

    location {
      @include headingFont;
    }
    @media all and (max-width: 768px) {
      location, location + small {
        display: block;
      }
    }

    #distributor_title h3 {
      margin-top: 0;
      @media all and (max-width: 768px) {
          margin-bottom: 8px;
      }
    }



    ordercycle {
      text-align: right;
      float: right;
      p {
        max-width: 400px;
      }
      h4 i {
        margin-right: 0.3rem;
      }
      @media all and (max-width: 640px) {
        float: left;
        clear: left;
        text-align: left;
        padding: 12px 10px;
        width: 100%;
        margin-top: 10px;
        background: #e5e5e5;
        p {
          max-width: 100%;
        }
      }
      form.custom {
        text-align: right;
        & > strong {
          line-height: 2.5;
          font-size: 1.29em;
          padding-right: 14px;
        }
        select {
          width: inherit;
          display: inline-block;
          border: 1px #999;
          color: #666;
          font-size: 1em;
          margin-bottom: 0;
          padding: 8px 20px 8px 12px;
          @media all and (max-width: 768px) {
            font-size: 0.875em;
          }
          @media screen and (-webkit-min-device-pixel-ratio: 0) {
            font-size: 16px;
          }
        }
      }
      closing {
        @include headingFont;
        color: black;
        font-size: 1.5em;
        display: block;
        padding-bottom: 12px;
        @media all and (max-width: 768px) {
          font-size: 1.2em;
          padding-bottom: 10px;
        }
        span {
          @media all and (max-width: 768px) {
            font-size: 0.875em;
          }
        }
      }
    }
  }
}
