@import mixins
@import branding
@import big-input
@import animations

// OVERRIDES
.row .row.filter-box
  margin-left: 0
  margin-right: 0

.row.filter-box:first-child
  border-top: 1px solid $clr-brick

.filter-box
  background: rgba(255,255,255,0.65)

  .tdhead
    padding: 0.25rem 0.5rem
    margin-top: 0.9rem

  // OVERRIDES
  [class*="block-grid-"] > li
    padding-bottom: 0.5rem !important

  li
    @include border-radius(12px)
    padding-top: 0.5rem
    margin-bottom: 0.25rem 
    &:hover, &:focus
      background: rgba(255,255,255,0.25)
  li.active 
    background: white
    @include box-shadow(inset 0 1px 3px 0 rgba(143,48,29,0.5))

  li.active a
    color: $clr-brick
    render-svg
      svg
        path
          fill: $clr-brick
    &:hover, &:focus
      border-color: $clr-brick-bright

  li a
    @include csstrans
    display: table
    table-layout: fixed
    overflow: visible
    // width: 100%
    height: 2rem
    line-height: 1
    color: #444
    font-size: 0.875rem
    span
      display: table-cell
      vertical-align: middle
      text-align: left
    &:hover, &:focus
      color: $clr-brick-bright
      
      render-svg
        svg
          path
            fill: $clr-brick-bright
    
    &:active, &.active
      color: $clr-brick
      render-svg
        svg
          path
            fill: $clr-brick

    render-svg
      display: block
      width: 1.5rem
      height: 1.5rem
      margin: 0
      padding: 0
      svg
        width: 1.5rem
        height: 1.5rem
        path
          fill: #666

.button.filterbtn
  margin-bottom: 0 !important

#active-table-search
  position: relative  
  @include placeholder(rgba(0,0,0,0.3), #888)
  input[type="text"]
    @include big-input(rgba(0,0,0,0.2), #999, #000)






