@import mixins
@import branding

.filter-box
  border: 2px solid $clr-brick
  .tdhead
    background-color: white
    padding: 0.25rem 0.5rem
    margin-top: 0.9rem
  li a
    display: block
    line-height: 2
    background-color: rgba(0,0,0,0.25)
    color: #666
    
    &:hover, &:focus, &:active
      color: #333
      render-svg
        svg
          path
            fill: #333
    
    render-svg
      svg
        width: 2rem
        height: 2rem
        display: block
        float: left
        path
          fill: #666

#active-table-search
  position: relative

  i.ofn-i_020-search
    position: absolute
    left: 26px
    top: 12px
    font-size: 1.6em
    z-index: 2
    color: #b2b2b2
  
  input[type="text"]
    font-size: 2em  
    @include big-input
    padding-left: 44px
  

