@import mixins

#active-table-search
  position: relative

  i.ofn-i_020-search
    position: absolute
    left: 26px
    top: 12px
    font-size: 1.6em
    z-index: 999
    color: #b2b2b2
  
  input[type="text"]
    font-size: 2em  
    @include csstrans
    @include big-input
    padding-left: 44px
  