@import 'branding'

.active_table
  margin: 2em 0em
  .active_table_row
    padding: 0.8em 0.5em  
    display: block
    &:first-child
      cursor: pointer
    &.closed
      &:hover, &:active, &:focus
        background: white
        border: 1px solid $clr-strong
