$ofn-brand: #f27052;

$distributor-header-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 8px 6px -6px rgba(0, 0, 0, 0.2);

// e.g. australia, uk, norway specific color

$ofn-grey: #808184;

// old colors:

$clr-brick: #c1122b;
$clr-brick-light: #f5e6e7;
$clr-brick-light-trans: rgba(245, 230, 231, 0.9);
$clr-brick-ultra-light: #faf5f6;
$clr-brick-bright: #eb4c46;
$clr-brick-med-bright: #e5a2a0;
$clr-brick-light-bright: #f5c4c9;

$clr-turquoise: #0b8c61;
$clr-turquoise-light: #ceefe4;
$clr-turquoise-ultra-light: #e8f9f4;
$clr-turquoise-bright: #23a877;

$clr-blue: #0096ad;
$clr-blue-light: #85d9e5;
$clr-blue-bright: #14b6cc;

$clr-yellow-light: #faf6c7;

$disabled-very-light: #f5f5f5;
$disabled-light: #e5e5e5;
$disabled-bright: #ccc;
$disabled-med: #b3b3b3;
$disabled-dark: #999;
$disabled-v-dark: #808080;
$med-grey: #666;
$med-drk-grey: #444;
$dark-grey: #333;
$light-grey: #ddd;
$light-grey-transparency: rgba(0, 0, 0, .1);
$black: #000;
$white: #fff;

$grey-050: #f7f7f7;

$grey-100: #e6e6e6;
$grey-200: #ddd;
$grey-300: #ccc;
$grey-400: #bbb;
$grey-500: #999;
$grey-600: #777;
$grey-700: #555;
$grey-800: #333;

$teal-300: #80d3df;
$teal-400: #4cb5c5;
$teal-500: #0096ad;

$orange-400: #ff9466;
$orange-450: #f4704c;
$orange-500: #f27052;
$orange-600: #d7583a;

$red-500: #e54e47;
$red-700: #c1122b;

$social-facebook: #3b5998;
$social-instagram: #e1306c;
$social-linkedin: #0e76a8;
$social-twitter: #00acee;
