$ofn-brand: #f27052;

// e.g. australia, uk, norway specific color

$ofn-grey: #808184;

// old colors:

$clr-brick: #c1122b;
$clr-brick-light: #f5e6e7;
$clr-brick-light-trans: rgba(245, 230, 231, 0.9);
$clr-brick-ultra-light: #faf5f6;
$clr-brick-bright: #eb4c46;
$clr-brick-med-bright: #e5a2a0;
$clr-brick-light-bright: #f5c4c9;

$clr-turquoise: #0b8c61;
$clr-turquoise-light: #ceefe4;
$clr-turquoise-ultra-light: #e8f9f4;
$clr-turquoise-bright: #23a877;

$clr-blue: #0096ad;
$clr-blue-light: #85d9e5;
$clr-blue-bright: #14b6cc;

$clr-yellow-light: #faf6c7;

$disabled-light: #e5e5e5;
$disabled-bright: #ccc;
$disabled-med: #b3b3b3;
$disabled-dark: #999;
$disabled-v-dark: #808080;
$med-grey: #666;
$med-drk-grey: #444;
$dark-grey: #333;
$light-grey: #ddd;
$black: #000;
