@import "mixins";
@import "branding";
@import "compass/css3/user-interface";
@import "variables";

#update-cart {
  #errorExplanation {
    display: none;
  }
}

#cart-detail {
  .cart-item-delete,
  .bought-item-delete {
    a {
      font-size: 1.125em;
    }
  }

  .out-of-stock {
    color: $clr-brick;
  }

  button,
  .button {
    margin: 0;
  }

  .toggle-bought {
    cursor: pointer;
  }

  tr.bought td {
    color: $med-grey;

    h5 {
      color: $med-grey;
    }

    .already-confirmed {
      float: right;
    }
  }

  input {
    &.ng-invalid-stock,
    &.ng-invalid-number {
      border: 1px solid $clr-brick;
    }
  }
}

.item-thumb-image {
  display: none;

  @include breakpoint(phablet) {
    display: inline-block;
    float: left;
    padding-right: 0.5em;
    width: 36px;
    height: 36px;
  }
}

.links {
  .button {
    padding: 1.125rem 0 1.1875rem;
    width: 210px;

    @include breakpoint(mobile) {
      width: 100%;
    }
  }
}
