checkout
  display: block
  
  orderdetails
    .button, table
      width: 100%

  dd
    i.fi-check, &.valid i.fi-x
      display: none
    &.valid i.fi-check
      display: inline

  orderdetails table tr th
    text-align: left
