.cookies-policy-modal {
  background: $disabled-light;
  border-bottom-color: $disabled-light;

  table {
    display: block;
    overflow-x: auto;
  }

  &.fade {
    -ms-transform: translate(0, 0) !important;
    -webkit-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
  }
}
