.cookies-policy-modal {
  background: #efefef;
  border-bottom-color: #efefef;
}

.cookies-policy-modal table {
  display: block;
  overflow-x: auto;
}

.cookies-policy-modal.fade {
  -webkit-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
}
