.cookies-banner {
  background: $dark-grey;
  bottom: 0;
  position: fixed;
  top: 20vh !important;
  z-index: 100000;

  @media only screen and (min-width: 640px) {
    top: 20vh !important;
  }

  @media only screen and (min-width: 800px) and (min-height: 400px) {
    top: 40vh !important;
  }

  @media only screen and (min-width: 1024px) and (min-height: 500px) {
    top: 60vh !important;
  }

  button {
    background-color: $clr-turquoise;
  }

  p {
    color: $white;
    font-size: .75rem;
  }
}
