@import "mixins";
@import 'typography';

section {
  :not(shop) navigation {
    box-shadow: $distributor-header-shadow;
  }
}

.darkswarm navigation {
  display: block;
  background: $white;
  position: relative;
  z-index: 2;

  .details {
    box-sizing: border-box;
    display: block;
    min-height: 150px;
    padding: 30px 0 0;
    position: relative;

    select {
      width: 200px;
    }

    img {
      display: block;
      height: 100px;
      width: 100px;
      margin-right: 12px;
    }

    location {
      @include headingFont;
    }

    @include breakpoint(tablet) {
      location, location + small {
        display: block;
      }
    }

    #distributor_title h3 {
      margin-top: 0;
      padding-top: 0.45em;

      @include breakpoint(tablet) {
        margin-bottom: 8px;
      }
    }
  }
}
