@import variables

.darkswarm
  fieldset
    padding: 0px
    border: none
    legend
      border: 1px solid $dark-grey
      border-left: 0px
      border-right: 0px
      padding: 16px 24px
      display: block
      width: 100%
      margin-bottom: 1em
      color: #999999
      text-transform: uppercase
    dd a
      border: 1px solid $dark-grey
      border-left: 0px
      border-right: 0px
      padding: 16px 24px
      display: block
      width: 100%
      margin-bottom: 1em
      color: #999999
      text-transform: uppercase
      color: #999999
      font-weight: bold
      text-transform: uppercase
      background: transparent
      .text-right
        font-weight: normal
        text-transform: none

