@import branding
@import mixins

#groups
  background-color: $clr-brick-light
  background-image: url("/assets/groups.svg")
  background-position: center 15px
  background-repeat: no-repeat
  padding-bottom: 20px

.group
  padding-bottom: 0.5em
  .row div
    font-size: 110%
  .row a
    font-weight: 500
    vertical-align: middle
  .ofn-i_035-groups
    font-size: 120%
    vertical-align: middle

#group-page
  @media screen and (min-width: 768px)
    .group-logo
      max-height: 100px
  .group-name
    border-bottom: 1px solid #ccc
  .producers
    background-image: none
  .tabs dd a
    border: none
    // border-bottom: 1px solid grey
    margin-bottom: -2px
    margin-right: 2px
  .tabs dd.active a
    margin-bottom: -1px
    border-top: 1px solid $light-grey
    border-left: 1px solid $light-grey
    border-right: 1px solid $light-grey
    border-bottom: 1px solid white

  .tabs-content
    border-top: 1px solid $light-grey
    border-left: 1px solid $light-grey
    border-right: 1px solid $light-grey
    border-bottom: 1px solid $light-grey
    padding: 1.5em