@import branding
@import mixins

#groups
  background-color: $clr-brick-light
  background-image: url("/assets/groups.svg")
  background-position: center 10px
  background-repeat: no-repeat

.group
  .group_footer
    margin-bottom: 1em
    hr
      border-bottom: 10px solid white
      outline: none
      border-top: none
      margin-top: none

.group-hero
  position: relative
  padding: 0
  border: 10px solid white
  background: white

h3.group-name
  margin-top: 0.5em
  margin-bottom: 0.15em

img.group-logo
  max-width: 220px
  max-height: 86px
  float: right
  padding-top: 10px


img.group-hero-img
  background-color: black
  width: 100%
  height: inherit
  max-height: 260px
  min-height: 120px
  overflow: hidden