#hubs hub
  border: 1px solid transparent
  display: block
  & > .row
    //padding-top: 12px
    //padding-bottom: 12px
  &, & > a.row
    display: block
  &.open
    border: 1px solid pink
    a.row .columns
      border-bottom: 1px solid pink
