@import branding
@import mixins
@import typography
@import animations
@import variables


// Styling for big panes on homepage
#panes
  .pane
    .row
      @include panepadding
      padding-top: 75px
      padding-bottom: 75px

// Background styles
#system.pane
  background-color: white

#brand-story.pane, #cta.pane, #shops.pane, #producer-signup.pane, #shops-signup.pane
  background-image: url("/assets/tile-wide.png")
  background-color: $australia-orange
  background-position: center center
  @include paneWhite

#stats.pane
  // TODO: Fix white line at bottom
  background-image: url("/assets/home/background-blurred-oranges.jpg")
  background-position: center center
  background-color: $ofn-grey
  @include fullbg
  @include paneWhite

// Content styles
#brand-story.pane
  .row
    h2
      font-weight: 300
      font-size: 88px
    p
      @include bodyFont
      font-size: 1.5rem
      font-weight: 300

  a.text-vbig i
    font-size: 75px

#system.pane
  .home-icon-box
    background-image: url("/assets/ofn-o.png")
    background-position: center center
    background-repeat: no-repeat
    background-size: auto 100%
    padding: 3rem 0
    text-align: center
    margin-top: 2rem
    @media all and (min-width: 642px)
      margin-top: 0
    i
      font-size: 4rem
    a
      display: block
      width: 64px
      height: 64px
      margin: 0 auto
      background-color: $australia-orange
      background-position: center center
      background-repeat: no-repeat
      background-size: auto 100%
      &.search
        background-image: url("/assets/icon-mask-magnifier.png")
      &.shop
        background-image: url("/assets/icon-mask-apple.png")
      &.pick-up-delivery
        background-image: url("/assets/icon-mask-truck.png")

  h2
    font-size: 70px
    font-weight: 300
    color: $australia-orange

  a
    color: $australia-orange

  .home-icon-box-bottom
    margin-top: 1rem
    width: 100%
    padding-left: 1rem
    padding-right: 1rem
    @media all and (min-width: 480px)
      padding-left: 3rem
      padding-right: 3rem
    @media all and (min-width: 642px)
      padding-left: 1rem
      padding-right: 1rem
    h4
      color: $australia-orange
      border-bottom: 2px solid lighten($australia-orange, 20%)
      text-align: center
      padding: 1rem 0
      margin: 1.5rem 0

#cta.pane, #stats.pane
  h2
    font-weight: 300
    font-size: 45px
    margin-bottom: 2rem

#stats.pane
  .row.header
    padding-bottom: 2rem
  .row.content
    padding-top: 0

  h4
    font-weight: 300
    text-transform: uppercase
    margin: 1.5rem 0
    display: inline-block
    strong
      display: block
      font-weight: normal
      font-size: 75px

#shops.pane, #producer-signup.pane, #shops-signup.pane
  &, & *
    color: white

  h2
    margin-bottom: 2rem
    font-size: 4.4rem
    font-weight: 300
    color: white

.cta.cta-producers.pane
  @include fullwidthbg
  background-image: url("/assets/producers/producers-pg-bg.jpg")
  &, & *
    white

.cta.cta-hubs.pane
  @include fullwidthbg
  background-image: url("/assets/hubs-bg.jpg")

#producer-signup.pane, #shops-signup.pane
  background-color: lighten($clr-turquoise, 10%)

#producer-signup.pane
  .row.header
    padding-bottom: 0
  .row.content
    padding-top: 0

#producer-case-studies
  padding-top: 100px
  padding-bottom: 100px
  background-color: lighten($clr-turquoise, 64%)
  .case-study
    background-color: lighten($clr-turquoise, 54%)
    padding: 1rem
    margin-top: 2rem
    @media all and (min-width: 768px)
      margin-top: 1rem
    a
      color: $clr-turquoise
      &, & *
        @include csstrans
        opacity: 1
      &:hover, &:focus, &:active
        &, & *
          opacity: 0.75

#producer-details.pane, #hub-details.pane, .groups-details.pane
  background-color: lighten($ofn-grey, 44%)

#shops-signup.pane
  background-color: $australia-orange

#producer-case-studies, #shops-case-studies
  padding-top: 100px
  padding-bottom: 100px
  background-color: lighten($clr-turquoise, 65%)
  .case-study
    background-color: white
    border: 1px solid rgba($clr-turquoise-bright, 0.5)
    padding: 1rem
    margin-top: 2rem
    text-align: center
    .case-study-img
      background-color: white
      margin-bottom: 1rem
      @media all and (min-width: 768px)
        float: right
        margin-left: 2rem
    @media all and (min-width: 640px)
      text-align: left
    a
      color: $clr-turquoise-bright
      &, & *
        @include csstrans
        opacity: 1
      &:hover, &:focus, &:active
        &, & *
          opacity: 0.75

#shops-case-studies
  background-image: url("/assets/hubs-bg.jpg")
  background-position: center center
  -webkit-filter: brightness(1.1)
  filter: brightness(1.1)

  h2
    color: $australia-orange
    font-size: 3rem
  .case-study
    background-color: rgba(255, 255, 255, 0.5)
    border: none
    h4, a
      color: $australia-orange
