@import branding
@import mixins

// Styling for brand intro / tagline on homepage

#tagline
  background-color: $dark-grey
  background-image: url("/assets/home/home.jpg")
  @include fullbg
  height: 440px
  padding: 40px 0px
  h1
    margin-top: 6rem 