// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "big-input";

.map-container {
  width: 100%;

  map, .angular-google-map-container, google-map, .angular-google-map {
    display: block;
    height: 100%;
    width: 100%;
  }

  // https://github.com/zurb/foundation/issues/112
  img {
    max-width: none;
    height: auto;
  }

  #pac-input {
    @include big-input(#888, #333, $clr-brick);

    @include big-input-static;

    font-size: 1.5rem;
    background: rgba(255, 255, 255, 0.85);
    width: 50%;
    margin-top: 1.2rem;
    margin-left: 1rem;

    @media all and (max-width: 768px) {
      width: 80%;
    }

    &:active, &:focus, &.active {
      background: rgba(255, 255, 255, 1);
    }
  }
}

.map-footer {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 23px;
  left: 80px;
  right: 0;
  bottom: 6px;
  margin: 0;
  padding: 6px;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 2px 2px #aaa;
  color: #fff;

  a, a:hover, a:active, a:focus {
    color: #fff;
  }

  @media all and (max-width: 1025px) {
    left: 0px;
  }
}
