@import typography
@import branding


// Generic \\

@mixin panepadding
  padding-top: 100px
  padding-bottom: 100px

@mixin big-input 
  border: 1px solid #999
  font-size: 18px
  @extend .avenir
  box-shadow: 0
  padding: 0.75em 1em
  height: auto
  margin-bottom: 1em
  background: rgba(255,255,255,0.65)
  &:active, &:hover, &:focus
    background: rgba(255,255,255,1)
    border-color: #888

@mixin disabled
  color: $disabled-bright

@mixin csstrans
  -webkit-transition: all 100ms ease-in-out
  -moz-transition: all 100ms ease-in-out
  -ms-transition: all 100ms ease-in-out
  -o-transition: all 100ms ease-in-out
  transition: all 100ms ease-in-out
  -webkit-transform-style: preserve-3d

@mixin animate-in
  -webkit-animation: cssAnimation 100ms 1 ease-in
  -moz-animation: cssAnimation 100ms 1 ease-in
  -o-animation: cssAnimation 100ms 1 ease-in

  @-webkit-keyframes cssAnimation
    from
      -webkit-transform: rotate(180deg) scale(0.25) skew(0deg) translate(0px)
    to
      -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px)


  @-moz-keyframes cssAnimation
    from
      -moz-transform: rotate(180deg) scale(0.25) skew(0deg) translate(0px)
    to
      -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px)


  @-o-keyframes cssAnimation
    from
      -o-transform: rotate(180deg) scale(0.25) skew(0deg) translate(0px)
    to
      -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px)


@mixin box-shadow($box-shadow)
  -moz-box-shadow: $box-shadow
  -webkit-box-shadow: $box-shadow
  box-shadow: $box-shadow

@mixin border-radius($border-radius)
  -webkit-border-radius: $border-radius
  border-radius: $border-radius

// Typography \\

@mixin avenir
  font-family: "AvenirBla_IE", "AvenirBla"

@mixin textpress
  text-shadow: 0 -1px 1px #111111,  0 1px 2px #222222

@mixin textsoftpress
  text-shadow: 0 0 3px rgba(0,0,0,0.35)

// TO USE icon-font
// Assign to :before or :after element
// Assign content: "string"

@mixin icon-font
  font-family: "OFN"
  display: inline-block
  font-weight: normal
  font-style: normal
  font-variant: normal
  text-transform: none


// Background options \\

@mixin darkbg
  background-color: $clr-brick
  &, & *
    color: white
  a
    color: $clr-brick-ultra-light
    &:hover
      text-decoration: none
      color: $clr-brick-light

@mixin lightbg
  background-color: $clr-brick-ultra-light
  &, & *
    color: black
  a
    color: $clr-brick
    &:hover
      text-decoration: none
      color: $clr-brick-bright

@mixin turqbg
  background-color: $clr-turquoise-light
  &, & *
    color: $clr-turquoise
  a
    color: $clr-turquoise
    &:hover
      text-decoration: none
      color: $clr-turquoise-bright

@mixin fullbg
  background-position: center center 
  background-repeat: no-repeat
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

@mixin fullwidthbg
  background-position: center top 
  background-repeat: no-repeat
  background-size: 100% auto



