@import typography
@import branding


// Generic \\

@mixin panepadding
  padding-top: 100px
  padding-bottom: 100px

@mixin disabled
  color: $disabled-bright

@mixin box-shadow($box-shadow)
  -moz-box-shadow: $box-shadow
  -webkit-box-shadow: $box-shadow
  box-shadow: $box-shadow

@mixin border-radius($border-radius)
  -webkit-border-radius: $border-radius
  border-radius: $border-radius

@mixin transform-translate($translate)
  -ms-transform: $translate
  -webkit-transform: $translate
  transform: $translate

@mixin transform-scale($scale)
  -moz-transform: $scale
  -webkit-transform: $scale
  -o-transform: $scale
  -ms-transform: $scale
  transform: $scale

// Typography \\

@mixin avenir
  font-family: "AvenirBla_IE", "AvenirBla"

@mixin textpress
  text-shadow: 0 -1px 1px #111111,  0 1px 2px #222222

@mixin textsoftpress
  text-shadow: 0 0 3px rgba(0,0,0,0.35)

// TO USE icon-font
// Assign to :before or :after element
// Assign content: "string"

@mixin icon-font
  font-family: "OFN"
  display: inline-block
  font-weight: normal
  font-style: normal
  font-variant: normal
  text-transform: none


// Background options \\

@mixin darkbg
  background-color: $clr-brick
  &, & *
    color: white
  a
    color: $clr-brick-ultra-light
    &:hover
      text-decoration: none
      color: $clr-brick-light

@mixin lightbg
  background-color: $clr-brick-ultra-light
  &, & *
    color: black
  a
    color: $clr-brick
    &:hover
      text-decoration: none
      color: $clr-brick-bright

@mixin turqbg
  background-color: $clr-turquoise-light
  &, & *
    color: $clr-turquoise
  a
    color: $clr-turquoise
    &:hover
      text-decoration: none
      color: $clr-turquoise-bright

@mixin fullbg
  background-position: center center 
  background-repeat: no-repeat
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

@mixin fullwidthbg
  background-position: center top 
  background-repeat: no-repeat
  background-size: 100% auto



