// Styling for login modal to style tabs
.reveal-modal.login-modal {
  border-bottom-color: #efefef;
}

.login-modal {
  background: #efefef;

  .tabs-content {
    background: #fff;
    padding-top: 10px;
  }

  .alert-box {
    a {
      color: white;
      text-decoration: underline;

      &:hover {
        color: rgba(255, 255, 255, 0.7);
        text-decoration: underline;
      }
    }
  }
}
