@import branding
@import mixins

.producers
  background-color: lighten($clr-turquoise, 64%)
  a
    color: $clr-turquoise
    &:hover, &:active, &:focus
      color: $clr-turquoise-bright
  a.button.primary
    &:hover, &:active, &:focus
      color: white