@import "mixins";
@import "animations";
@import "variables";
@import "branding";
@import "big-input";

// Shop partials
@import "shop-inputs";
@import "shop-navigation";
@import "shop-product-rows";
@import "shop-taxon-flag";
@import "shop-popovers";

$sidebar-small-width: 85%;
$sidebar-medium-width: 65%;
$sidebar-large-width: 45%;
$sidebar-footer-height: 5em;

.darkswarm {
  .shop-filters-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;

    .background {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 200;
      height: 100%;
      width: 100%;
      background-color: $shop-sidebar-overlay;
      opacity: 0;
      transition: opacity $transition-sidebar;
    }

    &.shown {
      .background {
        opacity: 1;
      }

      .sidebar, .sidebar-footer {
        margin-right: 0;
      }
    }

    .sidebar {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 210;
      height: 100%;
      width: $sidebar-large-width;
      margin-right: -$sidebar-large-width;
      background-color: rgba($white, 0.95);
      padding: 1em;
      transition: margin $transition-sidebar;
      overflow-y: scroll;

      .property-selectors {
        margin-bottom: $sidebar-footer-height + 2em;
      }
    }

    .sidebar-footer {
      background-color: $grey-800;
      width: $sidebar-large-width;
      margin-right: -$sidebar-large-width;
      height: $sidebar-footer-height;
      position: fixed;
      bottom: 0;
      right: 0;
      transition: margin $transition-sidebar;
      padding: 1em;

      button {
        width: 48%;
      }
    }

    @include breakpoint(tablet) {
      .sidebar, .sidebar-footer {
        width: $sidebar-medium-width;
        margin-right: -$sidebar-medium-width;
      }
    }

    @include breakpoint(mobile) {
      .sidebar, .sidebar-footer {
        width: $sidebar-small-width;
        margin-right: -$sidebar-small-width;
      }
    }
  }

  products {
    display: block;

    @include breakpoint(tablet) {
      input.button.right {
        float: left;
      }
    }

    @include breakpoint(mobile) {
      .add_to_cart {
        margin-top: 2rem;
      }
    }

    form {
      input.small.button.primary.right.add_to_cart {
        &.dirty {
          padding-left: 3.2rem;
        }
      }

      i.cart-spinner {
        position: absolute;
        top: 14px;
        right: 146px;
        color: white;
        font-size: 1.2em;

        // Necessary to be below Z index of cart popover:
        z-index: 98;
        -webkit-animation: spin 2s infinite linear;
        animation: spin 2s infinite linear;
      }
    }

    product {
      @include csstrans;

      border-bottom: 1px solid #e5e5e5;
      border-top: 1px solid #e5e5e5;
      padding-bottom: 1px;
      margin-bottom: 20px !important;
      position: relative;
      display: block;
      color: $med-drk-grey;

      &:hover, &:focus, &:active {
        border-bottom: 1px solid $clr-brick-med-bright;
        border-top: 1px solid $clr-brick-med-bright;
      }

      // BULK
      .bulk-buy {
        font-size: 0.875rem;

        @include breakpoint(tablet) {
          font-size: 0.75rem;
        }
      }

      .bulk-buy, .bulk-buy i {
        color: #888;
      }

      .inline {
        display: inline;
      }

      .spinner {
        width: 100px;
        margin-bottom: 20px;
      }

      // ICONS
      i {
        font-size: 0.75em;
        padding-right: 0.9375rem;

        @include breakpoint(phablet) {
          padding-right: 0.25rem;
        }
      }

      i.ofn-i_056-bulk {
        font-size: 1rem;
        padding-right: 0rem;
      }

      i.ofn-i_036-producers {
        padding-left: 0.2rem;
        padding-right: 0rem;
        font-size: 0.8rem;
      }
    }
  }

  .alert-box.changeable-orders-alert {
    margin-bottom: 0px;
  }

  .shopfront-message {
    a {
      color: #0096ad;

      &:hover, &:focus, &:active {
        text-decoration: none;
        color: #4aadbd;
      }
    }
  }

  .shopfront_closed_message, .shopfront_hidden_message {
    padding: 15px;
    border-radius: 5px;
  }

  .shopfront_closed_message {
    border: 2px solid #eb4c46;
  }

  .shopfront_closed_message {
    margin: 2em 0em;
  }

  .shopfront_hidden_message {
    border: 2px solid #db4;
    margin: 2em 0em;
  }
}
