@import mixins
@import variables
@import branding
@import big-input

@import shop-inputs
@import shop-navigation
@import shop-product-rows
@import shop-taxon-flag



.darkswarm

  products
    display: block
    padding-top: 2.3em
    
    @media all and (max-width: 768px)
      padding-top: 1em
      
      input.button.right
        float: left

    product
      border-bottom: 1px solid #e5e5e5
      border-top: 1px solid #e5e5e5
      padding-bottom: 1px
      margin-bottom: 20px !important
      position: relative
      display: block
      color: #444

      // BULK
      .bulk-buy
        font-size: 0.875rem
        @media all and (max-width: 768px)
          font-size: 0.75rem

      .bulk-buy, .bulk-buy i
        color: #888

      .inline
        display: inline

      
      // ICONS
      i
        font-size: 0.75em
        padding-right: 0.9375rem

      i.ofn-i_056-bulk, i.ofn-i_036-producers
        font-size: 1rem
        padding-right: 0rem

      i.ofn-i_036-producers
        padding-left: 0.5rem



      

      

        
      





