@import "mixins";
@import "animations";
@import "variables";
@import "branding";
@import "big-input";

// Shop partials
@import "shop-inputs";
@import "shop-navigation";
@import "shop-product-rows";
@import "shop-popovers";

$sidebar-small-width: 75%;
$sidebar-medium-width: 65%;
$sidebar-large-width: 45%;
$sidebar-footer-height: 5em;

.darkswarm {
  .product-listing {
    @include breakpoint(desktop) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .shop-filters-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;

    .background {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 200;
      height: 100%;
      width: 100%;
      background-color: $shop-sidebar-overlay;
      opacity: 0;
      transition: opacity $transition-sidebar;
    }

    &.shown {
      .background {
        opacity: 1;
      }

      .sidebar, .sidebar-footer {
        margin-right: 0;
      }
    }

    .sidebar {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 210;
      height: 100%;
      width: $sidebar-large-width;
      margin-right: -$sidebar-large-width;
      background-color: rgba($white, 0.95);
      padding: 1em;
      transition: margin $transition-sidebar;
      overflow-y: scroll;

      .property-selectors {
        margin-bottom: $sidebar-footer-height + 2em;
      }
    }

    .sidebar-footer {
      background-color: $grey-800;
      width: $sidebar-large-width;
      margin-right: -$sidebar-large-width;
      height: $sidebar-footer-height;
      position: fixed;
      bottom: 0;
      right: 0;
      transition: margin $transition-sidebar;
      padding: 1em;

      button {
        width: 48%;
      }
    }

    @include breakpoint(tablet) {
      .sidebar, .sidebar-footer {
        width: $sidebar-medium-width;
        margin-right: -$sidebar-medium-width;
      }
    }

    @include breakpoint(mobile) {
      .sidebar, .sidebar-footer {
        width: $sidebar-small-width;
        margin-right: -$sidebar-small-width;
      }
    }
  }

  products {
    display: block;

    @include breakpoint(tablet) {
      input.button.right {
        float: left;
      }
    }

    @include breakpoint(mobile) {
      .add_to_cart {
        margin-top: 2rem;
      }
    }

    form {
      input.small.button.primary.right.add_to_cart {
        &.dirty {
          padding-left: 3.2rem;
        }
      }

      i.cart-spinner {
        position: absolute;
        top: 14px;
        right: 146px;
        color: white;
        font-size: 1.2em;

        // Necessary to be below Z index of cart popover:
        z-index: 98;
        -webkit-animation: spin 2s infinite linear;
        animation: spin 2s infinite linear;
      }
    }

    product {
      @include csstrans;

      border-top: 1px solid #e5e5e5;
      padding-bottom: 1px;
      margin-bottom: 20px !important;
      position: relative;
      display: block;
      color: $med-drk-grey;

      .inline {
        display: inline;
      }

      .spinner {
        width: 100px;
        margin-bottom: 20px;
      }

      // ICONS
      i {
        font-size: 0.75em;
        padding-right: 0.9375rem;

        @include breakpoint(phablet) {
          padding-right: 0.25rem;
        }
      }

      i.ofn-i_056-bulk {
        font-size: 1rem;
        padding-right: 0rem;
      }
    }
  }

  .alert-box.changeable-orders-alert {
    margin-bottom: 0px;
  }

  .select-oc-message {
    margin-top: 1rem;

    .highlighted {
      color: $red-700;
      font-weight: bold;
    }
  }

  .open-shop-message {
    a {
      color: #0096ad;

      &:hover, &:focus, &:active {
        text-decoration: none;
        color: #4aadbd;
      }
    }
  }

  .closed-shop-header {
    background-color: $grey-650;
    color: $white;

    h4 {
      color: $white;
    }

    p {
      margin: 1rem 0 0.4rem;
    }

    .message {
      display: inline-block;
    }
  }

  .warning-sign {
    margin: 0 10px 0 5px;
    display: inline-block;

    strong {
      color: $grey-650;
      display: block;
      position: relative;
      text-align: center;
      width: 23px;
    }

    .rectangle {
      background-color: $white;
      border-radius: 4px;
      color: $grey-650;
      height: 23px;
      position: absolute;
      top: 27px;
      transform: rotate(-315deg);
      width: 23px;
    }
  }
}
