@import "typography";
@import "mixins";
@import "branding";

// Tabs styling
#shop-tabs {

  .tab-buttons {
    color: $dark-grey;
    box-shadow: $distributor-header-shadow;
    position: relative;
    z-index: 10;

    .columns {
      display: flex;

      @media all and (max-width: 1024px) {
        display: table;
        width: 100%;
      }

      @media all and (max-width: 480px) {
        padding: 0;
      }
    }
  }

  .page {
    text-align: center;
    border-top: 4px solid transparent;
    display: inline-block;
    width: 100%;

    >a {
      outline: none;
      display: block;
      color: $grey-500;
      font-family: "Oswald", sans-serif;
    }

    a {
      @include headingFont;

      background: transparent;
      text-transform: uppercase;
      line-height: 1;
      font-size: 0.875em;
      padding: 1em 2em;
      border: none;

      &:hover, &:active {
        color: $teal-500;
      }

      &, &:hover {
        background: none;
      }

      @media all and (max-width: 640px) {
        padding: 0.35em 0 0.65em 0;
      }
    }

    &.selected {
      border-bottom: 4px solid $teal-500;

      a {
        color: $teal-500;
      }
    }

    @media all and (max-width: 1024px) {
      display: table-cell;
      width: auto;
    }
  }

  // content revealed in accordion

  .page-view {
    margin-bottom: 5em;
    background: none;
    border: none;

    .content {
      padding: 1.25em 0;
      background-color: transparent;

      a {
        color: $orange-500;

        &:hover {
          color: $orange-600;
        }
      }

      img {
        margin: 0px 0px 0px 40px;
      }

      h5 {
        margin-bottom: 1em;
        font-family: $body-font;
      }

      p {
        max-width: 100%;

        @media all and (max-width: 768px) {
          height: auto !important;
        }
      }

      ul {
        list-style-type: none;
        padding-left: none;
      }

      .header {
        text-align: center;
        color: $grey-600;
        margin-top: 0.75rem;
        margin-bottom: 2px;
      }
    }
  }
}
