@font-face {
	font-family: 'OFN';
	src:url('/OFN.eot');
	src:url('/OFN.eot') format('embedded-opentype'),
		url('/OFN.woff') format('woff'),
		url('/OFN.ttf') format('truetype'),
		url('/OFN.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ofn-"], [class*=" ofn-"] {
	font-family: 'OFN';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 1.5;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ofn-i_049-web:before {
	content: "\e600";
}
.ofn-i_048-play-video:before {
	content: "\e601";
}
.ofn-i_047-youtube:before {
	content: "\e602";
}
.ofn-i_046-g:before {
	content: "\e603";
}
.ofn-i_045-pintrest:before {
	content: "\e604";
}
.ofn-i_044-facebook:before {
	content: "\e605";
}
.ofn-i_043-instagram:before {
	content: "\e606";
}
.ofn-i_042-twitter:before {
	content: "\e607";
}
.ofn-i_041-twitter:before {
	content: "\e608";
}
.ofn-i_040-hub:before {
	content: "\e609";
}
.ofn-i_039-delivery:before {
	content: "\e60a";
}
.ofn-i_038-takeaway:before {
	content: "\e60b";
}
.ofn-i_037-map:before {
	content: "\e60c";
}
.ofn-i_036-producers:before {
	content: "\e60d";
}
.ofn-i_035-groups:before {
	content: "\e60e";
}
.ofn-i_034-timer:before {
	content: "\e60f";
}
.ofn-i_033-open-sign:before {
	content: "\e610";
}
.ofn-i_032-closed-sign:before {
	content: "\e611";
}
.ofn-i_031-alarm-clock:before {
	content: "\e612";
}
.ofn-i_030-money:before {
	content: "\e613";
}
.ofn-i_029-shopping-basket:before {
	content: "\e614";
}
.ofn-i_028-barcode:before {
	content: "\e615";
}
.ofn-i_027-shopping-cart:before {
	content: "\e616";
}
.ofn-i_026-trash:before {
	content: "\e617";
}
.ofn-i_025-notepad:before {
	content: "\e618";
}
.ofn-i_024-mail:before {
	content: "\e619";
}
.ofn-i_023-refresh:before {
	content: "\e61a";
}
.ofn-i_022-cog:before {
	content: "\e61b";
}
.ofn-i_021-tools:before {
	content: "\e61c";
}
.ofn-i_020-search:before {
	content: "\e61d";
}
.ofn-i_019-map-pin:before {
	content: "\e61e";
}
.ofn-i_018-unlocked:before {
	content: "\e61f";
}
.ofn-i_017-locked:before {
	content: "\e620";
}
.ofn-i_016-group:before {
	content: "\e621";
}
.ofn-i_015-user:before {
	content: "\e622";
}
.ofn-i_014-menu:before {
	content: "\e623";
}
.ofn-i_013-help:before {
	content: "\e624";
}
.ofn-i_012-warning:before {
	content: "\e625";
}
.ofn-i_011-spinner:before {
	content: "\e626";
}
.ofn-i_010-bullet:before {
	content: "\e627";
}
.ofn-i_009-close:before {
	content: "\e628";
}
.ofn-i_008-caret-left:before {
	content: "\e629";
}
.ofn-i_007-caret-right:before {
	content: "\e62a";
}
.ofn-i_006-caret-up:before {
	content: "\e62b";
}
.ofn-i_005-caret-down:before {
	content: "\e62c";
}
.ofn-i_004-x:before {
	content: "\e62d";
}
.ofn-i_003-check:before {
	content: "\e62e";
}
.ofn-i_002-arrow-right:before {
	content: "\e62f";
}
.ofn-i_001-arrow-left:before {
	content: "\e630";
}
