$table-cell-padding: 12px;

table {
  thead tr, tbody tr {
    th, td {
      box-sizing: border-box;
      padding-left: $table-cell-padding;
      padding-right: $table-cell-padding;
      overflow: hidden;
    }
  }
}
