thead.table-header {
  th {
    &.th-sortable {
      cursor: pointer;
    }
    &.th-sorted-asc, &.th-sorted-desc {
      &:after {
        display: inline-block;
        padding-left: 10px;
      } 
    }
    &.th-sorted-asc {
      &:after {
        content: "⇧";
      }
    }
    &.th-sorted-desc {
      &:after {
        content: "⇩";
      }
    }
  }
}
