---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2024&card[cvc]=314
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 002b9f29-61ff-4d27-8cba-d8cd05d08414
      Original-Request:
      - req_erLRX7AtRBbkr4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_1OjMVsKuuB1fWySnMKWrnpnw",
          "object": "token",
          "card": {
            "id": "card_1OjMVsKuuB1fWySnhx725KMo",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2024,
            "fingerprint": "6E6tgVjx6U65iHFV",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": "176.79.246.198",
          "created": 1707832748,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 13 Feb 2024 13:59:08 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=margarita%40oreilly.us&source=tok_1OjMVsKuuB1fWySnMKWrnpnw
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0a5213e4-c273-4ced-97c7-69cb9e8e055c
      Original-Request:
      - req_M36xpERhurLILg
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PYTSQE22WJCeFh",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1707832749,
          "currency": null,
          "default_source": "card_1OjMVsKuuB1fWySnhx725KMo",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "margarita@oreilly.us",
          "invoice_prefix": "AEC3B1F4",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 13 Feb 2024 13:59:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_PYTSQE22WJCeFh/sources?limit=1&object=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "card_1OjMVsKuuB1fWySnhx725KMo",
              "object": "card",
              "address_city": null,
              "address_country": null,
              "address_line1": null,
              "address_line1_check": null,
              "address_line2": null,
              "address_state": null,
              "address_zip": null,
              "address_zip_check": null,
              "brand": "Visa",
              "country": "US",
              "customer": "cus_PYTSQE22WJCeFh",
              "cvc_check": "pass",
              "dynamic_last4": null,
              "exp_month": 9,
              "exp_year": 2024,
              "fingerprint": "6E6tgVjx6U65iHFV",
              "funding": "credit",
              "last4": "4242",
              "metadata": {},
              "name": null,
              "tokenization_method": null,
              "wallet": null
            }
          ],
          "has_more": false,
          "url": "/v1/customers/cus_PYTSQE22WJCeFh/sources"
        }
  recorded_at: Tue, 13 Feb 2024 13:59:10 GMT
recorded_with: VCR 6.2.0
