.row.active_table_row{"ng-show" => "open()"}
  .columns.small-4
    %strong Shop for
    %p.trans-sentence
      {{ producer.taxons | printArrayOfObjects }}
  .columns.small-8
    %strong About us
    %p
      {{ producer.description }}

.row.active_table_row.link{"ng-show" => "open()"}
  .columns.small-11
    Shop for {{ producer.name }} products at:

    %a{"ng-repeat" => "hub in producer.hubs",
    "bo-href" => "hub.path", "ofn-empties-cart" => "hub", 
    "bo-class" => "{primary: hub.active, secondary: !hub.active}"}
      %i.ofn-i_033-open-sign{"bo-if" => "hub.active"}
      %i.ofn-i_032-closed-sign{"bo-if" => "!hub.active"}
      {{hub.name}}
      ( {{ hub.address.city }} , {{hub.address.state}} )

  .columns.small-1.text-right
    %a{"bo-href" => "hub.path"} 
      %i.ofn-i_007-caret-right
