.row.active_table_row{"ng-show" => "open()"}
  .columns.small-4
    %strong Shop for
    %p.trans-sentence
      {{ producer.taxons | printArrayOfObjects }}
  .columns.small-4
    %strong About us
    %p.trans-sentence
      {{ producer.description }}
  .columns.small-4
    %strong Our distributors
    %ul
      %li{"ng-repeat" => "distributor in producer.distributors"}
        %a{"bo-href" => "distributor.path"}{{ distributor.name }}

.row.active_table_row.link{"ng-show" => "open()", "ng-repeat" => "hub in producer.hubs"}
  .columns.small-11
    %a{"bo-href" => "hub.path"} 
      Shop at
      %strong {{ producer.name }}
  .columns.small-1.text-right
    %a{"bo-href" => "hub.path"} 
      %i.fi-arrow-right
