.row
  .small-12.columns.filter-box
    .row
      .small-12.large-6.columns
        %h5.tdhead 
          .light Filter by
          Type
      .small-12.large-3.columns
        %h5.tdhead 
          .light Filter by
          Delivery
      .small-12.large-3.columns
        %h5.tdhead 
          .light Filter by
          Something  
    .row
      .small-12.large-6.columns
        %ul.small-block-grid-4
          %li
            %a
              %render-svg{path: "/spree/taxons/62/original/taxons_bakery.svg?1403150973"}
              %span Bakery
          %li
            %a
              %render-svg{path: "/spree/taxons/55/original/taxons_food-boxes.svg?1402988796"}
              %span Boxes
          %li
            %a
              %render-svg{path: "/spree/taxons/58/original/taxons_fruit.svg?1402988839"}
              %span Bakery

          %li
            %a
              %render-svg{path: "/spree/taxons/24/original/taxons_oils_spreads.svg?1403248784"}
              %span Oils &amp; Spreads
          %li
            %a
              %render-svg{path: "/spree/taxons/19/original/taxons_pulses_grains.svg?1402988994"}
              %span Pulses &amp; Grains
          %li
            %a
              %render-svg{path: "/spree/taxons/58/original/taxons_fruit.svg?1402988839"}
              %span Bakery
          %li
            %a
              %render-svg{path: "/spree/taxons/58/original/taxons_fruit.svg?1402988839"}
              %span Bakery

          %li
            %a
              %render-svg{path: "/spree/taxons/58/original/taxons_fruit.svg?1402988839"}
              %span Bakery
          %li
            %a
              %render-svg{path: "/spree/taxons/58/original/taxons_fruit.svg?1402988839"}
              %span Bakery
          %li
            %a
              %render-svg{path: "/spree/taxons/58/original/taxons_fruit.svg?1402988839"}
              %span Bakery
          %li
            %a
              %render-svg{path: "/spree/taxons/58/original/taxons_fruit.svg?1402988839"}
              %span Bakery

          %li
            %a
              %render-svg{path: "/spree/taxons/58/original/taxons_fruit.svg?1402988839"}
              %span Bakery

