.row
  .small-12.columns
    %a.right{"ng-click" => "filtersActive = !filtersActive"}
      %span{"ng-show" => "!filtersActive && totalActive() == 0"}
        Filter by
        %i.ofn-i_052-point-down

      %span{"ng-show" => "filtersActive && totalActive() == 0"}
        Hide filters
        %i.ofn-i_053-point-up

      %span{"ng-show" => "totalActive() > 0"}
        {{ totalActive() }} filters applied
        %i.ofn-i_052-point-down{"ng-show" => "!filtersActive"}
        %i.ofn-i_053-point-up{"ng-show" => "filtersActive"}

.row.animate-show{"ng-show" => "filtersActive"}
  .small-12.columns
    .row.filter-box
      .small-12.large-6.columns
        %h5.tdhead 
          .light Filter by
          Type
      .small-12.large-3.columns
        %h5.tdhead 
          .light Filter by
          Delivery
      .small-12.large-3.columns
        %h5.tdhead 
          .light Filter by
          Something  
    .row.filter-box
      .small-12.large-6.columns
        %taxon-selector{objects: "Producers.visible | filterProducers:query", 
          results: "activeTaxons"}

      .small-12.large-6.columns
        %shipping-type-selector{results: "shippingTypes"} 

.row.animate-show{"ng-show" => "filtersActive"}
  %a{"ng-click" => "clearAll()"} Clear all
