.row
  .small-12.columns.filter-box
    .row
      .small-12.large-6.columns
        %h5.tdhead Filter by Type
      .small-12.large-3.columns
        %h5.tdhead Filter by Delivery
      .small-12.large-3.columns
        %h5.tdhead Filter by Open/closed  
    .row
      .small-12.large-6.columns
        %ul.small-block-grid-4
          %li
            %a
              %render-svg{path: "/spree/taxons/58/original/taxons_fruit.svg?1402988839"}
              Bakery
          %li
            %a
              %render-svg{path: "/spree/taxons/58/original/taxons_fruit.svg?1402988839"}
              Bakery
          %li
            %a
              %render-svg{path: "/spree/taxons/58/original/taxons_fruit.svg?1402988839"}
              Bakery

          %li
            %a
              %render-svg{path: "/spree/taxons/58/original/taxons_fruit.svg?1402988839"}
              Bakery

