.row.active_table_row{"ng-click" => "toggle($event)", "ng-class" => "{'closed' : !open(), 'is_distributor' : producer.is_distributor}"}
  .columns.small-12.medium-4.large-4.skinny-head
    %span{"ng-if" => "::producer.is_distributor" }
      %a.is_distributor{"ng-href" => "{{::producer.path}}" }
        %i{ng: {class: "::producer.producer_icon_font"}}
        %span.margin-top
          %strong{"ng-bind" => "::producer.name"}
    %span.producer-name{"ng-if" => "::!producer.is_distributor" }
      %i{ng: {class: "::producer.producer_icon_font"}}
      %span.margin-top
        %strong{"ng-bind" => "::producer.name"}


  .columns.small-6.medium-3.large-3
    %span.margin-top{"ng-bind" => "::producer.address.city"}
  .columns.small-4.medium-3.large-4
    %span.margin-top{"ng-bind" => "::producer.address.state_name | uppercase"}
  .columns.small-2.medium-2.large-1.text-right
    %span.margin-top
      %i{"ng-class" => "{'ofn-i_005-caret-down' : !open(), 'ofn-i_006-caret-up' : open()}"}
