.row.active_table_row{"ng-click" => "toggle()", "ng-class" => "{'closed' : !open(), 'has_shopfront' : producer.has_shopfront}"}
  .columns.small-12.medium-4.large-4.skinny-head
    %span{"bo-if" => "producer.has_shopfront" }
      %a.has_shopfront{"bo-href" => "producer.path" } 
        %i{ng: {class: "producer.producer_icon_font"}}
        %span.margin-top 
          %strong {{ producer.name }}
    %span.producer-name{"bo-if" => "!producer.has_shopfront" }
      %i{ng: {class: "producer.producer_icon_font"}}
      %span.margin-top 
        %strong {{ producer.name }}

        
  .columns.small-6.medium-3.large-3
    %span.margin-top {{ producer.address.city }}
  .columns.small-4.medium-3.large-4
    %span.margin-top {{ producer.address.state_name | uppercase }}
  .columns.small-2.medium-2.large-1.text-right
    %span.margin-top 
      %i{"ng-class" => "{'ofn-i_005-caret-down' : !open(), 'ofn-i_006-caret-up' : open()}"}
