#panes
  #producer-signup.pane
    .row
      .small-12.medium-6.medium-offset-3.columns.text-center
        %h2 Food producers, unstoppable.
        %p.text-big Some nice warm intro text. If you're not sure yet, why would you want to be part of OFN Australia? All the warm fuzzies go here. 
        %br
        %hr
        %br
        %h4 Ready to join OFN Australia?
        %p.text-big Start by creating your profile:
        %a.neutral-btn.light{href: "/register"}
          Join now
          %i.ofn-i_054-point-right
  .pane
    .row
      .small-12.medium-8.medium-offset-2.columns.text-center
        %h2 Pricing
        %p.text-big 
          If there is a time-sensitive offer you can write it here
          %br
          e.g. Sign up before 30th June for an extra month free! 
        %br
        %table{style: "width:100%;"}
          %tr
            %td 
              %h5 Pricing
            %td
              %h5 Option 1
            %td
              %h5 Option 2
            %td
              %h5 Option 3
          %tr
            %td
            %td
            %td
            %td
          %tr
            %td
            %td
            %td
            %td
          %tr
            %td
            %td
            %td
            %td
