#panes
  #producer-signup.pane
    .row
      .small-12.medium-6.medium-offset-3.columns.text-center
        %h2 Food producers, unstoppable.
        %p.text-big Some nice warm intro text. If you're not sure yet, why would you want to be part of OFN Australia? All the warm fuzzies go here. 
        %br
        %hr
        %br
        %h4 Ready to join OFN Australia?
        %p.text-big Start by creating your profile:
        %a.neutral-btn.light{href: "/register"}
          Join now
          %i.ofn-i_054-point-right
  .pane
    .row
      .small-12.medium-10.medium-offset-1.columns.text-center
        %h2 Pricing
        %p.text-big 
          If there is a time-sensitive offer you can write it here 
          e.g. Sign up before 30th June for an extra month free!
        %br
        %table{style: "width:100%;"}
          %thead
            %tr
              %td 
                %h5 
              %td.text-center{width: "22%"}
                %h5 Profile
              %td.text-center{width: "22%"}
                %h5 Producer
              %td.text-center{width: "22%"}
                %h5 Producer Shop
          %tr
            %td
              %p
                %strong Profile 
                %br
                %span.text-small Get a profile on the Open Food Network - including a listing on the Producers page and a pin on the OFN Map. These help people to find and connect with you.
            %td.text-center 
              %i.ofn-i_003-check.text-big
            %td.text-center
              %i.ofn-i_003-check.text-big
            %td.text-center
              %i.ofn-i_003-check.text-big
          %tr
            %td
              %p
                %strong Producer 
                %br
                %span.text-small Add and manage your products on OFN, enabling you to act as a supplier to other OFN shopfronts. 
            %td.text-center 
              %i.ofn-i_003-check.text-big
            %td.text-center
              %i.ofn-i_003-check.text-big
            %td.text-center
              %i.ofn-i_003-check.text-big
          %tr
            %td
              %p
                %strong Producer shop
              %p.text-small You get a shopfront on OFN to sell your produce direct to consumers! 
              %p.text-small Includes basic support:
              %ul.text-small
                %li User manual 
                %li Post queries to discussion forum/via contact form
                %li Report bugs/suggestions via bugherd
                %li Regular release notes – what's new
            %td.text-center 
            %td.text-center
            %td.text-center
              %i.ofn-i_003-check.text-big
          %tfoot
            %tr
              %td
              %td.text-center{valign: "top"}
                %h2 Free
              %td.text-center{valign: "top"}
                %h2 Free
              %td.text-center{valign: "top"}
                %h2 
                  Free
                  %br
                  %span.text-small 
                    %strong 1st month
                %p.text-small 
                  Then, 2% of your transactions
                  %br
                  %em capped at $50 per month

  #producer-case-studies
    .row
      .small-12.medium-10.medium-offset-1.columns
        %h2.text-center Case studies
        %br
        .row
          .small-12.medium-6.columns
            .case-study
              %a{href: "http://www.google.com", target: "_blank"}
                %h4 Case study title goes here
              %p.text-small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus, nunc sed sollicitudin egestas, elit metus maximus nunc, non efficitur nunc massa vitae est. Nulla in ante non massa lacinia sed eget ipsum.
              %a.text-right{href: "http://www.google.com", target: "_blank"} Read more
          .small-12.medium-6.columns
            .case-study
              %a{href: "http://www.google.com", target: "_blank"}
                %h4 Case study
              %p.text-small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus, nunc sed sollicitudin egestas, elit metus maximus nunc, non efficitur nunc massa vitae est. Nulla in ante non massa lacinia sed eget ipsum.
              %a.text-right{href: "http://www.google.com", target: "_blank"} Read more
        .row  
          .small-12.medium-6.columns
            .case-study
              %a{href: "http://www.google.com", target: "_blank"}
                %h4 Another case study
              %p.text-small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus, nunc sed sollicitudin egestas, elit metus maximus nunc, non efficitur nunc massa vitae est. Nulla in ante non massa lacinia sed eget ipsum.
              %a.text-right{href: "http://www.google.com", target: "_blank"} Read more
          .small-12.medium-6.columns
            .case-study
              %a{href: "http://www.google.com", target: "_blank"}
                %h4 A really long name for a case study
              %p.text-small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus, nunc sed sollicitudin egestas, elit metus maximus nunc, non efficitur nunc massa vitae est. Nulla in ante non massa lacinia sed eget ipsum.
              %a.text-right{href: "http://www.google.com", target: "_blank"} Read more


  .pane
    .row
      .small-12.medium-6.medium-offset-3.columns.text-center
        %h2 Join now!
        %p.text-big Start with a free profile, and expand when you're ready! Lorem ipsum sit amet, consectetur adipiscing elit. Donec rhoncus, nunc sed sollicitudin.
        %br
        %hr
        %br
        %h4 Create your profile on OFN Australia:
        %br
        %a.neutral-btn.dark{href: "/register"}
          Join now
          %i.ofn-i_054-point-right

  #producer-details.pane.footer-pad
    .row
      .small-12.medium-10.medium-offset-1.columns
        %h2.text-center Producers - the nitty gritty
        .row
          .small-12.medium-6.columns
            %h4 A sub-heading goes here
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in odio vel ex efficitur auctor. Nam rhoncus, tortor vel varius varius, magna lorem dignissim libero, at dignissim erat leo id tortor. Donec gravida quis augue sed pellentesque. Morbi laoreet efficitur mi, id tempus diam lacinia eu. 
            %h5 Smaller sub-heading goes here
            %p.text-small Vestibulum eu quam neque. Aenean porta velit sit amet metus mattis, ut pulvinar dui semper. Nunc ornare scelerisque varius. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras a magna nec augue suscipit fermentum at ac urna. 
            %ul.text-small
              %li A bullet point
              %li Another point 
              %li A third point goes here
            %p.text-small Quisque urna lacus, tristique sed rutrum a, volutpat eu diam. Nam placerat mi nec enim tincidunt, nec dapibus risus molestie. Praesent mattis eu dolor nec sollicitudin. Cras ut magna sem. Etiam vitae commodo augue, sit amet feugiat diam.
          .small-12.medium-6.columns
            %h4 A sub-heading goes here
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in odio vel ex efficitur auctor. Nam rhoncus, tortor vel varius varius, magna lorem dignissim libero, at dignissim erat leo id tortor. Donec gravida quis augue sed pellentesque. Morbi laoreet efficitur mi, id tempus diam lacinia eu. 
            %h5 Smaller sub-heading goes here
            %p.text-small Vestibulum eu quam neque. Aenean porta velit sit amet metus mattis, ut pulvinar dui semper. Nunc ornare scelerisque varius. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras a magna nec augue suscipit fermentum at ac urna. 
            %ul.text-small
              %li A bullet point
              %li Another point 
              %li A third point goes here
            %p.text-small Quisque urna lacus, tristique sed rutrum a, volutpat eu diam. Nam placerat mi nec enim tincidunt, nec dapibus risus molestie. Praesent mattis eu dolor nec sollicitudin. Cras ut magna sem. Etiam vitae commodo augue, sit amet feugiat diam.

= render partial: "shared/footer"
