= cache_with_locale do
  %span{ "ng-show" => "query && ( appliedPropertiesList() || appliedTaxonsList() )" }
    = t :products_filters_in

  %span.applied-properties{'ng-bind-html' => 'appliedPropertiesList()'}

  %span{ "ng-show" => "appliedPropertiesList() && appliedTaxonsList()" }
    = t :products_and

  %span.applied-taxons{'ng-bind-html' => 'appliedTaxonsList()'}
