.filter-shopfront.taxon-selectors.text-right{ng: {show: 'supplied_taxons != null'}}
  %single-line-selectors{ selectors: "taxonSelectors", objects: "supplied_taxons", "active-selectors" => "activeTaxons"}

.filter-shopfront.property-selectors.text-right{ng: {show: 'supplied_properties != null'}}
  %single-line-selectors{ selectors: "propertySelectors", objects: "supplied_properties", "active-selectors" => "activeProperties"}
