= render partial: 'shared/components/filter_controls'

.row.animate-show{"ng-show" => "filtersActive"}
  .small-12.columns
    .row.filter-box
      .small-12.columns
        %h5.tdhead 
          .light Filter by
          Type
        %ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4
          %taxon-selector{objects: "Products.products | products:query | products:showProfiles", 
            results: "activeTaxons"}

= render partial: 'shared/components/filter_box'
