.filter-box.filter-box-shopfront.animate-hide.text-right
  %single-line-selectors{ objects: "Products.products | products:query | taxonsOf", "active-selectors" => "activeTaxons"}

-# .filter-box.property-box-shopfront.animate-hide.text-right
-#   %ul
-#     %li
-#       %a Organic Certified
-#     %li
-#       %a Free Range
-#     %li
-#       %a Biodynamic
-#     %li
-#       %a
-#         + 2 more
-#         %span.caret
