.filter-box.filter-box-shopfront.animate-hide.text-right
  %single-line-selectors{ objects: "Products.products | products:query | taxonsOf", "active-selectors" => "activeTaxons"}

.filter-box.property-box-shopfront.animate-hide.text-right
  %single-line-selectors{ objects: "Products.products | products:query | propertiesOf", "active-selectors" => "activeProperties"}
