.filter-shopfront.taxon-selectors.text-right
  %single-line-selectors{ selectors: "taxonSelectors", objects: "supplied_taxons()", "active-selectors" => "activeTaxons"}

.filter-shopfront.property-selectors.text-right
  %single-line-selectors{ selectors: "propertySelectors", objects: "supplied_properties()", "active-selectors" => "activeProperties"}
