%products.small-12.columns{"ng-controller" => "ProductsCtrl", "ng-show" => "order_cycle.order_cycle_id != null",
"infinite-scroll" => "incrementLimit()", "infinite-scroll-distance" => "1"}

  .row
    .small-12.medium-8.large-9.columns
      %input#search.text{"ng-model" => "query",
      placeholder: "Search by product or producer",
      "ng-debounce" => "100",
      "ofn-disable-enter" => true}

      = render partial: "shop/products/filters"

    %form{action: cart_path}
      .small-12.medium-4.large-3.columns
        %i.ofn-i_011-spinner.cart-spinner{"ng-show" => "Cart.dirty"}
        %input.small.button.primary.right.add_to_cart{type: :submit, value: "{{ Cart.dirty ? 'Updating cart...' : 'Edit your cart' }}", "ng-disabled" => "Cart.dirty || Cart.empty()", "ng-class" => "{ dirty: Cart.dirty }" }

  %div.pad-top{bindonce: true}
    %product.animate-repeat{"ng-controller" => "ProductNodeCtrl",
      "ng-repeat" => "product in filteredProducts = (Products.products | products:query | taxons:activeTaxons) track by product.id ", "id" => "product-{{ product.id }}"}

      = render partial: "shop/products/summary"
      %shop-variant{variant: 'product.master', "bo-if" => "!product.hasVariants", "id" => "variant-{{ product.master.id }}"}
      %shop-variant{variant: 'variant', "ng-repeat" => "variant in product.variants track by variant.id", "id" => "variant-{{ variant.id }}"}

    %product{"ng-show" => "Products.loading"}
      .row.summary
        .small-12.columns.text-center
          Loading products
      .row
        .small-12.columns.text-center
          %img.spinner{ src: "/assets/loading.gif" }

    %div{"ng-show" => "filteredProducts.length == 0 && !Products.loading"}
      .row.summary
        .small-12.columns
          %p.no-results
            Sorry, no results found for
            %strong {{query}}.
            Try another search?
  .row
    .small-12.columns
      %form{action: cart_path}
        %i.ofn-i_011-spinner.cart-spinner{"ng-show" => "Cart.dirty"}
        %input.small.button.primary.right.add_to_cart{type: :submit, value: "{{ Cart.dirty ? 'Updating cart...' : 'Edit your cart' }}", "ng-disabled" => "Cart.dirty || Cart.empty()", "ng-class" => "{ dirty: Cart.dirty }" }

