.small-1.columns
  %i.ofn-i_056-bulk{"bo-if" => "product.group_buy"}
  &nbsp;

.small-4.columns
  {{ product.master.name_to_display }}

-# WITHOUT GROUP BUY
.small-5.columns{"bo-if" => "!product.group_buy"}
  %input{type: :number, 
  min: 0,
  placeholder: "0",
  "ofn-disable-scroll" => true,
  max: "{{product.on_demand && 9999 || product.count_on_hand }}",
  name: "variants[{{product.master.id}}]", 
  "ng-model" => "product.master.line_item.quantity",
  id: "variants_{{product.master.id}}"}
  %small x {{ product.master.unit_to_display }}

-# WITH GROUP BUY
.small-2.columns{"bo-if" => "product.group_buy"}
  %input{type: :number, 
  min: 0,
  placeholder: "min",
  "ofn-disable-scroll" => true,
  max: "{{product.on_demand && 9999 || product.count_on_hand }}",
  name: "variants[{{product.master.id}}]", 
  "ng-model" => "product.master.line_item.quantity",
  id: "variants_{{product.master.id}}"}

.small-3.columns{"bo-if" => "product.group_buy"}
  %input{type: :number,
  min: 0,
  placeholder: "max",
  "ofn-disable-scroll" => true,
  max: "{{product.on_demand && 9999 || product.count_on_hand }}",
  "ng-model" => "product.master.line_item.max_quantity",
  name: "variant_attributes[{{product.master.id}}][max_quantity]"}
  %small x {{ product.master.unit_to_display }}

.small-2.columns.text-right
  {{ product.master.price | currency }} x {{ product.master.line_item.quantity }} =
  {{ product.master.getPrice() | currency }}
