.row.animate-slide{ "ng-show" => "query || appliedPropertiesList() || appliedTaxonsList()" }
  .small-12.columns
    .alert-box.search-alert.ng-scope
      %a.right{"ng-click" => "clearAll()"}
        = t :products_clear_all
        %i.ofn-i_009-close
      %span.filter-label
        = t :products_showing
        %span.applied-properties
          {{ appliedPropertiesList() }}
        %span.applied-taxons
          {{ appliedTaxonsList() }}
        %span{ ng: { hide: "!query"} }
          %span{ "ng-show" => "appliedPropertiesList() || appliedTaxonsList()" }
            = t :products_with
          %span.applied-search "{{ query }}"
