= cache_with_locale do
  .small-5.medium-3.large-3.columns.variant-quantity-column.text-right{"ng-if" => "::variant.product.group_buy"}

    %button.add-variant{type: "button", ng: {if: "!variant.line_item.quantity", click: "addBulk(1)", disabled: "!canAdd(1)"}}
      {{ "js.shopfront.variant.add_to_cart" | t }}
    %button.bulk-buy.variant-quantity{type: "button", ng: {if: "variant.line_item.quantity", click: "addBulk(0)"}}>
      {{ variant.line_item.quantity }}
    %button.bulk-buy.variant-quantity{type: "button", ng: {if: "variant.line_item.quantity", click: "addBulk(0)"}}
      {{ variant.line_item.max_quantity || "-" }}
    %br
    .variant-quantity-display{ng: {class: "{visible: variant.line_item.quantity}"}}
      {{ "js.shopfront.variant.in_cart" | t }}
    %input{type: :hidden,
           name: "variants[{{::variant.id}}]",
           ng: {model: "variant.line_item.quantity"}}
    %input{type: :hidden,
           name: "variants[{{::variant.id}}]",
           ng: {model: "variant.line_item.max_quantity"}}
