.product-thumb
  %a{"ng-click" => "triggerProductModal()"}
    %img{"ng-src" => "{{::product.primaryImageOrMissing}}"}

.row.summary
  .summary-header
    %h3
      %a{"ng-click" => "triggerProductModal()", href: 'javascript:void(0)'}
        %span{"ng-bind" => "::product.name"}
    %p.product-description{ng: {bind: "::product.description", click: "triggerProductModal()"}}
    .product-producer
      = t :products_from
      %span
        %enterprise-modal
          %span{"ng-bind" => "::enterprise.name"}

    .product-properties.filter-shopfront.property-selectors
      %filter-selector{ 'selector-set' => "productPropertySelectors", objects: "[product] | propertiesWithValuesOf" }
