.row.summary
  .small-1.columns
    %img{"bo-src" => "product.master.images[0].small_url"}

  .small-4.columns.summary-header
    %object.taxon{"data" => "{{primary_taxon.icon}}", type: "image/svg+xml",
    "ng-click" => "ordering.order = 'primary_taxon.name'"}
      {{taxon.name}}
    = render partial: "modals/product"

  .small-5.columns
    %i.ofn-i_036-producers
    = render partial: "modals/producer"

  .small-2.columns.summary-price.text-right.price
    %span{"ng-if" => "hasVariants"} 
      %em from
      {{ price() | currency }}
