.row.summary
  .small-1.columns
    %img{"bo-src" => "product.master.images[0].small_url", "ng-click" => "triggerProductModal()"}

  .small-4.columns.summary-header
    %render-svg{path: "{{product.primary_taxon.icon}}"}
    %a{"ng-click" => "triggerProductModal()"}{{ product.name }}

  .small-5.columns
    %i.ofn-i_036-producers
    %producer-modal {{ enterprise.name }}

  .small-2.columns.summary-price.text-right.price
    %span{"ng-if" => "hasVariants"} 
      %em from
      {{ product.price | currency }}
