.row.summary
  .small-1.column
    %img{"bo-src" => "product.master.images[0].small_url"}

  .small-4.columns.summary-header
    %img{"bo-src" => "product.primary_taxon.icon", 
    "ng-click" => "ordering.order = 'primary_taxon.name'",
    name: "{{product.primary_taxon.name}}"}
    = render partial: "modals/product"

  .small-5.columns.summary-header
    = render partial: "modals/producer"

  .small-2.columns.summary-price.text-right.price
    %span{"ng-if" => "hasVariants"} 
      %em from
      {{ price() | currency }}
