.product-thumb
  %a{"ng-click" => "triggerProductModal()"}
    %i.ofn-i_057-expand
    %img{"ng-src" => "{{::product.primaryImageOrMissing}}", "ng-click" => "triggerProductModal()"}

.row.summary
  .small-10.medium-10.large-11.columns.summary-header
    %h3
      %a{"ng-click" => "triggerProductModal()", href: 'javascript:void(0)'}
        %span{"ng-bind" => "::product.name"}
    %small
      %em
        = t :products_from
      %span
        %enterprise-modal
          %span{"ng-bind" => "::enterprise.name"}
