.row.summary
  .small-1.columns
    %product-modal
      %img{"bo-src" => "product.master.images[0].small_url"}

  .small-4.columns.summary-header
    %render-svg{path: "{{product.primary_taxon.icon}}"}
    %product-modal {{ product.name }}

  .small-5.columns
    %i.ofn-i_036-producers
    %producer-modal {{ enterprise.name }}

  .small-2.columns.summary-price.text-right.price
    %span{"ng-if" => "hasVariants"} 
      %em from
      {{ price() | currency }}
