.product-thumb
  %a{"ng-click" => "triggerProductModal()"}
    %img{"bo-src" => "product.master.images[0].small_url", "ng-click" => "triggerProductModal()"}

.row.summary
  .small-9.medium-10.large-11.columns.summary-header
    %a{"ng-click" => "triggerProductModal()"}
      %h3 {{ product.name }}

    %em from 
    %span
      %producer-modal 
        %i.ofn-i_036-producers
        {{ enterprise.name }}

  .small-3.medium-2.large-1.columns.text-center
    .taxon-flag
      %render-svg{path: "{{product.primary_taxon.icon}}"}
