.product-thumb
  %a{"ng-click" => "triggerProductModal()"}
    %span.product-thumb__bulk-label{"ng-if" => "::product.group_buy"}
      = t(".bulk")
    %img{"ng-src" => "{{::product.primaryImageOrMissing}}"}

.summary
  .summary-header
    %h3
      %a{"ng-click" => "triggerProductModal()", href: 'javascript:void(0)'}
        %span{"ng-bind" => "::product.name"}
    %p.product-description{ng: {"bind-html": "::product.description_html", click: "triggerProductModal()", show: "product.description_html.length"}}
    .product-producer
      = t :products_from
      %span
        %enterprise-modal
          %span{"ng-bind" => "::enterprise.name"}

    .product-properties.filter-shopfront.property-selectors
      %filter-selector{ 'selector-set' => "productPropertySelectors", objects: "[product] | propertiesWithValuesOf" }
