.row{bindonce: true}
  .small-1.column
    %img{"bo-src" => "product.master.images[0].small_url"}
    %img{name: "taxon icon here"}
  .small-5.columns
    = render partial: "shop/products/modal"

  .small-4.columns
    {{ product.supplier.name }}
  .small-1.columns
    %span{"ng-if" => "hasVariants"} from
    {{ price() | currency }}

