.row
  .small-1.column
    %img{"bo-src" => "product.master.images[0].small_url"}
    %img{"bo-src" => "product.primary_taxon.icon", 
    "ng-click" => "ordering.order = 'primary_taxon.name'",
    name: "{{product.primary_taxon.name}}"}

  .small-5.columns
    = render partial: "shop/products/modal"
  .small-4.columns
    {{ product.supplier.name }}
  .small-1.columns
    %span{"ng-if" => "hasVariants"} from
    {{ price() | currency }}
