.product-thumb
  %a{"ng-click" => "triggerProductModal()"}
    %i.ofn-i_057-expand
    %img{"ng-src" => "{{::product.primaryImageOrMissing}}", "ng-click" => "triggerProductModal()"}

.row.summary
  .small-10.medium-10.large-11.columns.summary-header
    %h3
      %a{"ng-click" => "triggerProductModal()", href: 'javascript:void(0)'}
        %span{"ng-bind" => "::product.name"}
        %i.ofn-i_057-expand
    %small
      %em
        = t :products_from
      %span
        %enterprise-modal
          %i.ofn-i_036-producers
          %span{"ng-bind" => "::enterprise.name"}
  .small-2.medium-2.large-1.columns.text-center
    .taxon-flag
      %render-svg{path: "{{::product.primary_taxon.icon}}"}
