.row.summary
  .small-10.large-11.columns.summary-header
    %h3 {{ product.name }}

    %em from 
    %span
      %producer-modal 
        %i.ofn-i_036-producers
        {{ enterprise.name }}

  .small-2.large-1.columns.text-center
    .taxon-flag
      %render-svg{path: "{{product.primary_taxon.icon}}"}