- content_for :page_title do
  #{t(".title")}

= render partial: 'spree/admin/shared/product_sub_menu'

%p= t(".imported_products", count: @count)

%p= t(".reset_products", count: @reset_count) if @reset_count.positive?
