.row.active_table_row{"ng-if" => "open()","ng-class" => "{'open' : !ofn-i_032-closed-sign()}"}
  .columns.small-12.medium-12.large-12.fat
    %table
      %tr
        %th{"bo-text" => "'transaction' | t"}
        %th{"bo-text" => "'transaction_date' | t"}
        %th{"bo-text" => "'payment_state' | t"}
        %th{"bo-text" => "'shipping_state' | t"}
        %th{"bo-text" => "'value' | t"}
        %th{"bo-text" => "'balance' | t"}
      %tbody{"ng-repeat" => "order in distributor.distributed_orders"}
        %tr
          %td{"bo-text" => "('order' | t )+ ' ' + order.id"}
          %td{"bo-text" => "order.completed_at"}
          %td{"bo-text" => "order.payment_state | t"}
          %td{"bo-text" => "order.shipment_state | t"}
          %td.text-right{"bo-text" => "order.total_money.currency_symbol + order.total_money.amount"}
          %td.text-right{"ng-class" => "{'credit' : order.outstanding_balance < 0, 'debit' : order.outstanding_balance > 0, 'paid' : order.outstanding_balance == 0}", "bo-text" => "order.balance_money.currency_symbol + order.balance_money.amount"}
          %tr{"ng-repeat" => "payment in order.payments"}
            %td{"bo-text" => "'Payment '+ payment.identifier"}
            %td{"bo-text" => "payment.updated_at"}
            %td{"bo-text" => "payment.payment_method"}
            %td
            %td.text-right {{order.total_money.currency_symbol}}&nbsp{{payment.amount}}
            %td
