.row.active_table_row{"ng-if" => "open()","ng-class" => "{'open' : !ofn-i_032-closed-sign()}"}
  .columns.small-12.medium-7.large-7.fat
    %table
      %tr
        %th Transaction
        %th Date
        %th Payment Status
        %th Shipping Status
        %th Value
        %th Balance
      %tr{"ng-repeat" => "order in distributor.distributed_orders"}
        %td{"bo-text" => "order.id"}
        %td{"bo-text" => "order.completed_at"}
        %td{"bo-text" => "order.payment_state"}
        %td{"bo-text" => "order.shipment_state"}
        %td {{order.total_money.currency_symbol}}&nbsp{{order.total_money.amount}}
        %td{"ng-class" => "{'credit' : order.outstanding_balance < 0, 'debit' : order.outstanding_balance > 0, 'paid' : order.outstanding_balance == 0}"} {{order.balance_money.currency_symbol}}&nbsp{{order.balance_money.amount}}
