.row.active_table_row{"ng-if" => "open()","ng-class" => "{'open' : !ofn-i_032-closed-sign()}"}
  .columns.small-12.medium-12.large-12.fat
    %table
      %tr
        %th.order1{"bo-text" => "'transaction' | t"}
        %th.order2{"bo-text" => "'transaction_date' | t"}
        %th.order3{"bo-text" => "'payment_state' | t"}
        %th.order4{"bo-text" => "'shipping_state' | t"}
        %th.order5{"bo-text" => "'value' | t"}
        %th.order6{"bo-text" => "'balance' | t"}
      %tbody.transaction-group{"ng-repeat" => "order in distributor.distributed_orders"}
        %tr.order-row
          %td.order1
            %a{"bo-href" => "order.path", "bo-text" => "('order' | t )+ ' ' + order.number"}
          %td.order2{"bo-text" => "order.completed_at"}
          %td.order3{"bo-text" => "order.payment_state | t"}
          %td.order4{"bo-text" => "order.shipment_state | t"}
          %td.order5.text-right{"bo-text" => "order.total | localizeCurrency"}
          %td.order6.text-right{"ng-class" => "{'credit' : order.outstanding_balance < 0, 'debit' : order.outstanding_balance > 0, 'paid' : order.outstanding_balance == 0}", "bo-text" => "order.outstanding_balance | localizeCurrency"}
          %tr.payment-row{"ng-repeat" => "payment in order.payments"}
            %td.order1{"bo-text" => "'Payment '+ payment.identifier"}
            %td.order2{"bo-text" => "payment.updated_at"}
            %td.order3{"bo-text" => "payment.payment_method"}
            %td.order4
            %td.order5.text-right{"bo-text" => "payment.amount | localizeCurrency"}
            %td.order6
