%script{ type: "text/ng-template", id: "account/orders.html" }
  .orders{"ng-controller" => "OrdersCtrl", "ng-cloak" => true}
    .my-open-orders{ ng: { show: 'Orders.changeable_orders.length > 0' } }
      %h3= t(:open_orders)
      = render 'open_orders'

    .past-orders
      %h3= t(:past_orders)
      -# = render 'past_orders'
    .message{"ng-if" => "Orders.changeable_orders.length == 0", "ng-bind" => "::'you_have_no_orders_yet' | t"}
