.row.active_table_row{"ng-click" => "toggle($event)", "ng-class" => "{'closed' : !open()}"}
  .skinny-head
    %span.margin-top
      .columns.medium-2.large-2
        %span.margin-top
          %img{"bo-src" => "distributor.logo"}
      .columns.small-10.medium-8.large-8
        %span.margin-top
          %strong{"bo-text" => "distributor.name"}
      .columns.small-2.medium-2.large-2.text-right
        %span.margin-top
          %i{"ng-class" => "{'ofn-i_005-caret-down' : !open(), 'ofn-i_006-caret-up' : open()}"}
  .columns.small-6.medium-3.large-3
    %span.margin-top{"bo-text" => "('balance' | t) + ': ' + Orders.currency_symbol + distributor.balance", "ng-class" => "{'credit' : order.outstanding_balance < 0, 'debit' : order.outstanding_balance > 0, 'paid' : order.outstanding_balance == 0}"}
