.row.active_table_row.skinny-head.margin-top{"ng-click" => "toggle($event)", "ng-class" => "{'closed' : !open()}"}
  .columns.small-2
    %span.margin-top
      %img.account-logo{"bo-src" => "distributor.logo"}
  .columns.small-10.medium-5
    %span.margin-top
      %strong{"bo-text" => "distributor.name"}
  .columns.small-8.small-offset-2.medium-3
    %span.margin-top.distributor-balance{"bo-text" => "distributor.balance | formatBalance", "ng-class" => "{'credit' : distributor.balance < 0, 'debit' : distributor.balance > 0, 'paid' : distributor.balance == 0}" }
    -#  %span.margin-top{"bo-text" => "('balance' | t) + ': ' + Orders.currency_symbol + distributor.balance", "ng-class" => "{'credit' : order.outstanding_balance < 0, 'debit' : order.outstanding_balance > 0, 'paid' : order.outstanding_balance == 0}"}
  .columns.small-2.medium-2.text-right
    %span.margin-top
      %i{"ng-class" => "{'ofn-i_005-caret-down' : !open(), 'ofn-i_006-caret-up' : open()}"}
