:javascript
  angular.module('ofn.admin').value('enterprise_relationships', #{render partial: "admin/json/enterprise_relationships", object: @enterprise_relationships});
  angular.module('ofn.admin').value('enterprises',              #{render partial: "admin/json/enterprises",              object: @enterprises});
