%tr{"ng-repeat" => "enterprise_relationship in EnterpriseRelationships.enterprise_relationships | filter:query"}
  %td {{ enterprise_relationship.parent_name }}
  %td permits
  %td {{ enterprise_relationship.child_name }}
  %td
    %ul
      %li{"ng-repeat" => "permission in enterprise_relationship.permissions"}
        {{ EnterpriseRelationships.permission_presentation(permission.name) }}
  %td.actions
    %a.delete-enterprise-relationship.icon-trash.no-text{'ng-click' => 'delete(enterprise_relationship)'}
