- content_for :page_title do
  Enterprise Relationships

= render 'admin/shared/enterprises_sub_menu'

%div{"ng-app" => "ofn.admin", "ng-controller" => "AdminEnterpriseRelationshipsCtrl"}
  = render 'data'

  %input.search{"ng-model" => "query", "placeholder" => "Search"}

  %table#enterprise-relationships
    %tbody
      = render 'form'
      = render 'enterprise_relationship'
