- content_for :page_title do
  Enterprise Relationships

= render 'admin/shared/enterprises_sub_menu'

%div{"ng-app" => "ofn.admin", "ng-controller" => "AdminEnterpriseRelationshipsCtrl"}
  %table#enterprise-relationships
    %thead
      %tr
        %th Parent
        %th Child
    %tbody
      %tr
        %td {{ hello }}
        %td {{ hello }}
