%h2 Food Hubs
%h5 Our food hubs are the point of contact between you and the people who make your food! 
%p You can search for a convenient hub by location or name. Some hubs have multiple points where you can pick-up your purchases, and some will also provide delivery options. 
%a.close-reveal-modal{"ng-click" => "cancel()"} &#215;