%h2
  %i.ofn-i_040-hub>
  = t :modal_hubs
%h5
  = t :modal_hubs_abstract
%p
  = t :modal_hubs_content1
%p
  = t :modal_hubs_content2
%a.close-reveal-modal{"ng-click" => "$close()"} 
  %i.ofn-i_009-close
