%h2 
  %i.ofn-i_035-groups
  Groups / Regions
%p These are the organisations and relationships between hubs which make up the Open Food Network. 
%p Some groups are clustered by location or council, others by non-geographic similarities. 
%a.close-reveal-modal{"ng-click" => "$close()"}
  %i.ofn-i_009-close