%h2 How it works
%h5 Shop the Open Food Network
%p Search for a food hub near you to start shopping! You can expand each food hub to see what kinds of goodies are available, and click through to start shopping.
%h5 Pick-ups, delivery &amp; shipping costs
%p Some food hubs deliver to your door, while others require you to pick-up your purchases. You can see which options are available on the homepage, and select which you'd like at the shopping and check-out pages. Delivery will cost more, and pricing differs from hub-to-hub. Each food hub is a sales point with independent business operations and logisitics - so variations between hubs are to be expected. 
%h5 Learn more
%p If you want to learn more about the Open Food Network, how it works, and get involved, check out: 
%a.button.neutral-btn.dark{:href => "http://www.openfoodnetwork.org" , :target => "_blank" } Open Food Network
%a.close-reveal-modal{"ng-click" => "cancel()"} &#215;
