%ofn-modal{title: "{{enterprise.name}}"}
  .highlight
    .highlight-row 
      %p.right
        {{ enterprise.address.city }} , {{enterprise.address.state}}
      %h3
        %i.ofn-i_036-producers
        {{ enterprise.name }}
      
    %img.producer-hero-img{"ng-src" => "{{enterprise.promo_image}}"} 
      
  .row.pad-top{bindonce: true} 
    .small-12.large-6.columns
      %img.producer-logo{"bo-src" => "enterprise.logo", "bo-if" => "enterprise.logo"} 
      %h5.modal-header About
      %p{"ng-bind-html" => "enterprise.long_description"}

    .small-12.large-6.columns
      %ng-include{src: "'partials/contact.html'"}
      %ng-include{src: "'partials/follow.html'"}

  %a.close-reveal-modal.outside{"ng-click" => "$close()"}
    %i.ofn-i_009-close
