%ofn-modal{title: "{{product.name}}"}
  .row
    .columns.small-12.large-6
      %img.product-img{"ng-src" => "{{product.master.images[0].large_url}}", "ng-if" => "product.master.images[0]"} 
    .columns.small-12.large-6
      %h2 
        %img{"ng-src" => "{{product.primary_taxon.icon}}"} 
        {{product.name}}
      %p {{product.description}}
  %a.close-reveal-modal{"ng-click" => "$close()"}
    %i.ofn-i_009-close
