%ofn-modal{title: "{{enterprise.name}}"}
  .highlight
    .highlight-top 
      %p.right
        {{ [enterprise.address.city, enterprise.address.state] | printArray}}
      %h3
        %i.ofn-i_036-producers
        {{ enterprise.name }}
    %img.hero-img{"ng-src" => "{{enterprise.promo_image}}"} 
      
  .row{bindonce: true} 
    .small-12.large-8.columns
      %div{"ng-show" => "enterprise.long_description.length > 0 || enterprise.logo"}
        %p.modal-header About
        .about-container
          %img.enterprise-logo{"bo-src" => "enterprise.logo", "bo-if" => "enterprise.logo"} 
          %p.text-small{"ng-bind-html" => "enterprise.long_description"}

    .small-12.large-4.columns  
      %div.modal-centered{"bo-if" => "enterprise.email || enterprise.website || enterprise.phone"}
        %p.modal-header Contact
        %p{"bo-if" => "enterprise.phone"}
          {{ enterprise.phone }}

        %p{"bo-if" => "enterprise.email"}
          %a{"ng-href" => "{{enterprise.email | stripUrl}}", target: "_blank", mailto: true }
            %span.email
              {{ enterprise.email | stripUrl }}

        %p{"bo-show" => "enterprise.website"}
          %a{"ng-href" => "http://{{enterprise.website}}", target: "_blank" }
            {{ enterprise.website | stripUrl }}

      %div.modal-centered{"bo-if" => "enterprise.twitter || enterprise.facebook || enterprise.linkedin || enterprise.instagram"}
        %p.modal-header Follow
        .follow-icons{bindonce: true}
          %span{"bo-show" => "enterprise.twitter"} 
            %a{"ng-href" => "http://twitter.com/{{enterprise.twitter}}", target: "_blank"}
              %i.ofn-i_041-twitter
          
          %span{"bo-show" => "enterprise.facebook"}
            %a{"ng-href" => "http://{{enterprise.facebook | stripUrl}}", target: "_blank"}
              %i.ofn-i_044-facebook
          
          %span{"bo-show" => "enterprise.linkedin"}
            %a{"ng-href" => "http://{{enterprise.linkedin | stripUrl}}", target: "_blank"}
              %i.ofn-i_042-linkedin
          
          %span{"bo-show" => "enterprise.instagram"}
            %a{"ng-href" => "http://instagram.com/{{enterprise.instagram}}", target: "_blank"}  
              %i.ofn-i_043-instagram

  %a.close-reveal-modal.outside{"ng-click" => "$close()"}
    %i.ofn-i_009-close


