%ofn-modal{title: "{{producer.name}}"}
  .row
    .columns.small-12.producer-hero
      %img.producer-hero-img{"ng-src" => "{{producer.promo_image}}"} 
      / Will - scale large images down to 1200px wide, crop in to img aspect ratio 60W:13H
      %h3.producer-name {{ producer.name }}
  .row  
    .columns.small-12.large-6{"inject-html" => "producer.long_description"}
    .columns.small-12.large-6
      / Will needs logic to add in following only if data is available for each type:
      / Will needs better formatting of URLs printed on-screen (minus http://www.)
      / Will needs formatting of URLs driving %a regardless of user input (plus http://www.)
      %img.producer-logo{"ng-src" => "{{producer.logo}}"} 
      %h4 Stay in touch with {{ producer.name }}
      %ul.small-block-grid-1{bindonce: true}
        %li{"ng-if" => "producer.website"}
          %a{"ng-href" => "{{producer.website}}", target: "_blank" }
            %i.fi-web
            {{ producer.website }}
        %li{"ng-if" => "producer.twitter"} 
          %a{"ng-href" => "http://twitter.com/{{producer.twitter}}", target: "_blank"}
            %i.fi-social-twitter
            {{ producer.twitter }}
        %li{"ng-if" => "producer.facebook"}
          %a{"ng-href" => "{{producer.facebook}}", target: "_blank"}
            %i.fi-social-facebook
            {{ producer.facebook }}
        %li{"ng-if" => "producer.linkedin"}
          %a{"ng-href" => "{{producer.linkedin}}", target: "_blank"}
            %i.fi-social-linkedin
            {{ producer.linkedin }}
        %li{"ng-if" => "producer.instagram"}
          %a{"ng-href" => "http://instagram.com/{{producer.instagram}}", target: "_blank"}  
            / Will needs logic to allow user to input @instagramhandle to drive a logical URL
            %i.fi-social-instagram
            {{ producer.instagram }}


  %a.close-reveal-modal{"ng-click" => "$close()"} &#215;
