%ofn-modal{title: "{{producer.name}}"}
  .row
    .small-12.columns.producer-hero
      %h3.producer-name 
        %i.ofn-i_036-producers
        {{ producer.name }}
      %img.producer-hero-img{"ng-src" => "{{producer.promo_image}}"} 
      
  .row  
    .small-12.large-6.columns
      %p{"ng-bind-html" => "producer.long_description"}
    .small-8.large-4.columns
      %a{"ng-href" => '/producers##{{producer.hash}}'}
        Find my products
      %img.producer-logo{"ng-src" => "{{producer.logo}}", "ng-if" => "producer.logo"} 
    .small-4.large-2.columns
      %ul.small-block-grid-1{bindonce: true}
        %li{"ng-if" => "producer.website"}
          %a{"ng-href" => "http://{{producer.website | stripUrl}}", target: "_blank" }
            %i.ofn-i_049-web
        
        %li{"ng-if" => "producer.email"}
          %a{"ng-href" => "mailto:{{producer.email | stripUrl}}", target: "_blank" }
            %i.ofn-i_050-mail-circle
        
        %li{"ng-if" => "producer.twitter"} 
          %a{"ng-href" => "http://twitter.com/{{producer.twitter}}", target: "_blank"}
            %i.ofn-i_041-twitter
        
        %li{"ng-if" => "producer.facebook"}
          %a{"ng-href" => "http://{{producer.facebook | stripUrl}}", target: "_blank"}
            %i.ofn-i_044-facebook
        
        %li{"ng-if" => "producer.linkedin"}
          %a{"ng-href" => "http://{{producer.linkedin | stripUrl}}", target: "_blank"}
            %i.ofn-i_042-linkedin
        
        %li{"ng-if" => "producer.instagram"}
          %a{"ng-href" => "http://instagram.com/{{producer.instagram}}", target: "_blank"}  
            %i.ofn-i_043-instagram
  
  %a.close-reveal-modal{"ng-click" => "$close()"}
    %i.ofn-i_009-close
