%form{ id: "filters", 'data-reflex-serialize-form': true, 'data-reflex': 'submit->products#filter' }
  .query
    .search-input
      = text_field_tag :search_term, search_term, placeholder: t('.search_products')
  .submit
    .search-button
      = submit_tag t(".search"), class: "secondary"
