- content_for :body_class do
  products_v3_page
- content_for :page_title do
  = t('spree.admin.products.index.header.title')

= render partial: 'spree/admin/shared/product_sub_menu'

#products_v3_page{"data-controller": "productsV3"}
  #loading-spinner.spinner-container{"data-productsV3-target": "loading"}
    .spinner
    = t('admin.products_v3.loading')
  #products-table
  
  Limited to first 50 rows
