- content_for :body_class do
  products_v3_page
- content_for :page_title do
  = t('.header.title')
- content_for :page_actions do
  %div{ :class => "toolbar" }
    %ul{ :class => "actions header-action-links inline-menu" }
      %li#new_product_link
        = button_link_to t(:new_product), "/admin/products/new", { :icon => 'icon-plus', :id => 'admin_new_product' }

= render partial: 'spree/admin/shared/product_sub_menu'

#products_v3_page{ "data-controller": "products" }
  #loading-spinner.spinner-container{ "data-controller": "loading", "data-products-target": "loading" }
    .spinner
    = t('.loading')
  #products-content
