---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=5200828282828210&card[exp_month]=12&card[exp_year]=2026&card[cvc]=314
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 9c40d91c-e2e6-442e-8df4-2fc8a547549a
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9c40d91c-e2e6-442e-8df4-2fc8a547549a
      Original-Request:
      - req_1cgkdUAFzM0ppx
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SHyb5KuuB1fWySnKJ4C5Tz6",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "mastercard",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "mastercard",
            "exp_month": 12,
            "exp_year": 2026,
            "fingerprint": "DpQ8VoC0Z3P9xrbi",
            "funding": "debit",
            "generated_from": null,
            "last4": "8210",
            "networks": {
              "available": [
                "mastercard"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1760411303,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 14 Oct 2025 03:08:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Apple+Customer&email=applecustomer%40example.com
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - faca3203-e272-4750-9c6b-710d72704e8a
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - faca3203-e272-4750-9c6b-710d72704e8a
      Original-Request:
      - req_ZGLPNpxU1MJV7E
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TERUw3kRd4CWCj",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1760411303,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "applecustomer@example.com",
          "invoice_prefix": "1KW9PWIV",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Apple Customer",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 14 Oct 2025 03:08:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_1SHyb5KuuB1fWySnKJ4C5Tz6&payment_method_types[0]=card&capture_method=manual&customer=cus_TERUw3kRd4CWCj&setup_future_usage=off_session
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - c6a5c004-afb1-4530-a3bd-6f7a840afd18
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c6a5c004-afb1-4530-a3bd-6f7a840afd18
      Original-Request:
      - req_QOBTxLh9sc9sKD
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SHyb6KuuB1fWySn2LyYYPet",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "<HIDDEN-CLIENT-SECRET>",
          "confirmation_method": "automatic",
          "created": 1760411304,
          "currency": "eur",
          "customer": "cus_TERUw3kRd4CWCj",
          "description": null,
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SHyb5KuuB1fWySnKJ4C5Tz6",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 14 Oct 2025 03:08:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SHyb6KuuB1fWySn2LyYYPet/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 2bb2692b-d39b-41fb-b294-f5964dcc2199
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Cont[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3SHyb6KuuB1fWySn2LyYYPet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - 2025-02-24.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SHyb6KuuB1fWySn2LyYYPet/capture
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 2161693d-c640-4529-9914-c095bca98fb0
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Cont[...]
[...]
