#custom-confirm.modal
  .modal-content
    .modal-title
      %i.icon-question-sign
    .message
      = t(:are_you_sure)
    .action-buttons
      %button.cancel
        = t(:cancel)
      %button.confirm.red
        = t(:ok)
