%li{ ng: { class: "{active: selector.active}" } }
  %a{ "tooltip" => "{{selector.object.value}}", "tooltip-placement" => "bottom",
    ng: { transclude: true, class: "{active: selector.active, 'has-tip': selector.object.value}" } }
