.highlight
  .highlight-row 
    %p.right
      {{ enterprise.address.city }} , {{enterprise.address.state}}
    %h3
      %i.ofn-i_036-producers
      {{ enterprise.name }}
    
  %img.producer-hero-img{"ng-src" => "{{enterprise.promo_image}}"} 
    
.row.pad-top{bindonce: true} 
  .small-12.large-6.columns
    %img.producer-logo{"bo-src" => "enterprise.logo", "bo-if" => "enterprise.logo"} 
    %h5.modal-header About
    %p{"ng-bind-html" => "enterprise.long_description"}

  .small-12.large-6.columns
    %ng-include{src: "'partials/contact.html'"}
    %ng-include{src: "'partials/follow.html'"}

.row{bindonce: true}
  .modal-hubs
    %h5
      %span{"active-table-hub-link" => "enterprise", change: "Change hub to:", shop: "Shop at:"}
      %ul.right
        %li.pickup{"bo-if" => "enterprise.pickup"} 
          %i.ofn-i_038-takeaway
          Pickup
        %li.delivery{"bo-if" => "enterprise.delivery"} 
          %i.ofn-i_039-delivery
          Delivery
        
    %a.button.hub{"bo-href" => "enterprise.path", 
    "bo-class" => "{primary: enterprise.active, grey: !enterprise.active}",
    "ofn-empties-cart" => "enterprise"}
      %i.ofn-i_033-open-sign{"bo-if" => "enterprise.active"}
      %i.ofn-i_032-closed-sign{"bo-if" => "!enterprise.active"}
      {{enterprise.name}}
      ( {{ enterprise.address.city }} , {{enterprise.address.state}} )

%a.close-reveal-modal.outside{"ng-click" => "$close()"}
  %i.ofn-i_009-close

