.row
  .small-12.columns.producer-hero
    %h3.producer-name 
      %i.ofn-i_036-producers
      {{ producer.name }}
    %img.producer-hero-img{"ng-src" => "{{producer.promo_image}}"} 
    
.row{bindonce: true} 
  .small-12.large-6.columns
    %img.producer-logo{"bo-src" => "producer.logo", "bo-if" => "producer.logo"} 
    %p{"ng-bind-html" => "producer.long_description"}

  .small-12.large-6.columns

    %ng-include{src: "'partials/contact.html'"}
    %ng-include{src: "'partials/follow.html'"}

.row{bindonce: true}
  .hubs
    %h4 Shop for {{producer.name}} products at:
    %a.hub{"ng-repeat" => "hub in producer.hubs", 
    "bo-href" => "hub.path", 
    "bo-class" => "{active: hub.active, inactive: !hub.active}",
    "ofn-empties-cart" => "hub"}
      %i.ofn-i_033-open-sign{"bo-if" => "hub.active"}
      %i.ofn-i_032-closed-sign{"bo-if" => "!hub.active"}
      {{hub.name}}
      ( {{ hub.address.city }} , {{hub.address.state}} )

%a.close-reveal-modal{"ng-click" => "$close()"}
  %i.ofn-i_009-close
