%a.close-reveal-modal{"ng-click" => "$close()"}
  %i.ofn-i_009-close

%h3 Reduced stock available

%p While you've been shopping, the stock levels for one or more of the products in your cart have reduced. Here's what's changed:

%p{'ng-repeat' => "v in variants"}
  %em {{ v.name_to_display }} - {{ v.unit_to_display }}
  %span{'ng-if' => "v.count_on_hand == 0"}
    is now out of stock.
  %span{'ng-if' => "v.count_on_hand > 0"}
    now only has {{ v.count_on_hand }} remaining.
