%a.close-reveal-modal{"ng-click" => "$close()"}
  %i.ofn-i_009-close

%h3
  {{ 'js.out_of_stock.reduced_stock_available' | t }}

%p
  {{ 'js.out_of_stock.out_of_stock_text' | t }}

%p{'ng-repeat' => "v in variants"}
  %em {{ v.name_to_display }} - {{ v.unit_to_display }}
  %span{'ng-if' => "v.on_hand == 0"}
    {{ 'js.out_of_stock.now_out_of_stock' | t }}
  %span{'ng-if' => "v.on_hand > 0"}
    {{ 'js.out_of_stock.only_n_remainging' | t:{ num: v.on_hand } }}
