.joyride-tip-guide.price_breakdown{ng: {class: "{ in: tt_isOpen, fade: tt_animation }", show: "tt_isOpen"}}
  %span.joyride-nub.top
  .background{ng: {click: "tt_isOpen = false"}}
  .joyride-content-wrapper
    %ul
      %li
        .right {{ ::variant.price | localizeCurrency }}
        %span{"ng-bind" => "::'item_cost' | t"}
      %li{"ng-if" => "::variant.fees.admin"}
        .right {{ ::variant.fees.admin | localizeCurrency }}
        %span{"ng-bind" => "::'admin_fee' | t"}
      %li{"ng-if" => "::variant.fees.sales"}
        .right {{ ::variant.fees.sales | localizeCurrency }}
        %span{"ng-bind" => "::'sales_fee' | t"}
      %li{"ng-if" => "::variant.fees.packing"}
        .right {{ ::variant.fees.packing | localizeCurrency }}
        %span{"ng-bind" => "::'packing_fee' | t"}
      %li{"ng-if" => "::variant.fees.transport"}
        .right {{ ::variant.fees.transport | localizeCurrency }}
        %span{"ng-bind" => "::'transport_fee' | t"}
      %li{"ng-if" => "::variant.fees.fundraising"}
        .right {{ ::variant.fees.fundraising | localizeCurrency }}
        %span{"ng-bind" => "::'fundraising_fee' | t"}
      %li
        %strong
          .right = {{ ::variant.price_with_fees | localizeCurrency }}
          &nbsp;
