.joyride-tip-guide{bindonce: true, "ng-class" => "{ in: tt_isOpen, fade: tt_animation }"}
  %span.joyride-nub.bottom
  .joyride-content-wrapper

    .collapsed{"ng-show" => "!expanded"}
      %price-percentage{percentage: 'variant.basePricePercentage'}
      %a{"ng-click" => "expanded = !expanded"} Full price breakdown

    .expanded{"ng-show" => "expanded"}
      %ul
        %li
          Cost
          %span {{ variant.base_price | currency }}
        %li{"bo-if" => "variant.fees.admin"}
          Admin fee
          %span {{ variant.fees.admin | currency }}
        %li{"bo-if" => "variant.fees.sales"}
          Sales fee
          %span {{ variant.fees.sales | currency }}
        %li{"bo-if" => "variant.fees.packing"}
          Packing fee
          %span {{ variant.fees.packing | currency }}
        %li{"bo-if" => "variant.fees.transport"}
          Transport fee
          %span {{ variant.fees.transport | currency }}
      %a{"ng-click" => "expanded = !expanded"} Price graph
      \= {{ variant.price | currency }}
