.joyride-tip-guide.price_breakdown{bindonce: true, "ng-class" => "{ in: tt_isOpen, fade: tt_animation }"}
  %span.joyride-nub.right
  .joyride-content-wrapper
    .collapsed{"ng-show" => "!expanded"}
      %price-percentage{percentage: 'variant.basePricePercentage'}
      %a{"ng-click" => "expanded = !expanded"} 
        Full price breakdown
        %i.ofn-i_005-caret-down

    .expanded{"ng-show" => "expanded"}
      %ul
        %li.cost
          .right {{ variant.price | localiseCurrency }}
          Item cost
        %li{"bo-if" => "variant.fees.admin"}
          .right {{ variant.fees.admin | localiseCurrency }}
          Admin fee
        %li{"bo-if" => "variant.fees.sales"}
          .right {{ variant.fees.sales | localiseCurrency }}
          Sales fee
        %li{"bo-if" => "variant.fees.packing"}
          .right {{ variant.fees.packing | localiseCurrency }}
          Packing fee
        %li{"bo-if" => "variant.fees.transport"}
          .right {{ variant.fees.transport | localiseCurrency }}
          Transport fee
        %li{"bo-if" => "variant.fees.fundraising"}
          .right {{ variant.fees.fundraising | localiseCurrency }}
          Fundraising fee
        %li
          %strong
            .right = {{ variant.price | localiseCurrency }}
            &nbsp;

      %a{"ng-click" => "expanded = !expanded"} 
        Price graph
        %i.ofn-i_006-caret-up
      
