.row
  .columns.small-12.medium-6.large-6.product-header
    %h3{"ng-bind" => "::product.name"}
    %span
      %em {{'products_from' | t}}
      %span{"ng-bind" => "::enterprise.name"}

    %br

    .filter-shopfront.property-selectors.inline-block
      %filter-selector{ 'selector-set' => "productPropertySelectors", objects: "[product] | propertiesWithValuesOf" }

    .product-description{"ng-if" => "product.description_html"}
      %p.text-small{"ng-bind-html" => "::product.description_html"}

  .columns.small-12.medium-6.large-6.product-img
    %img{"ng-src" => "{{::product.largeImage}}", "ng-if" => "::product.largeImage"}
    %img.placeholder{ src: Spree::Image.default_image_url(:large), "ng-if" => "::!product.largeImage"}

%ng-include{src: "'partials/close.html'"}
