.row
  
  .columns.small-12.large-6.product-header
    %h2 {{product.name}}
    %span 
      %em from
      %span.avenir {{ enterprise.name }}

    .filter-box.taxon-selectors
      %div{ objects: "[product] | taxonsOf"}

    %hr

    .filter-box.property-selectors
      %single-line-selectors{ objects: "[product] | propertiesOf"}


    / %render-svg{path: "{{product.primary_taxon.icon}}"}
      
    %div{"ng-if" => "product.description"}
      %hr
      .text-small {{product.description}}
      %hr

  .columns.small-12.large-6
    %img.product-img{"ng-src" => "{{product.largeImage}}", "ng-if" => "product.largeImage"}

%ng-include{src: "'partials/close.html'"}
