.row
  .columns.small-12.large-6
    %img.product-img{"ng-src" => "{{product.images[0].large_url}}", "ng-if" => "product.images[0]"} 
  .columns.small-12.large-6.product-header
    %h2 
      %render-svg{path: "{{product.primary_taxon.icon}}"}
      {{product.name}}
    %p {{product.description}}
%ng-include{src: "'partials/close.html'"}
