.row{bindonce: true}

  .columns.small-12.large-6.product-header
    %h3{"bo-text" => "product.name"}
    %span
      %em {{t('products_from')}}
      %span{"bo-text" => "enterprise.name"}

    %br

    .filter-shopfront.taxon-selectors.inline-block
      %filter-selector{ objects: "[product] | taxonsOf" }

    .filter-shopfront.property-selectors.inline-block
      %filter-selector{ objects: "[product] | propertiesWithValuesOf" }

    %div{"ng-if" => "product.description"}
      %hr
      %p.text-small{"bo-text" => "product.description"}
      %hr

  .columns.small-12.large-6
    %img.product-img{"bo-src" => "product.largeImage", "bo-if" => "product.largeImage"}
    %img.product-img.placeholder{"bo-src" => "'/assets/noimage/large.png'", "bo-if" => "!product.largeImage"}

%ng-include{src: "'partials/close.html'"}
