.joyride-tip-guide.question-mark-tooltip{ng: {class: "{ in: tt_isOpen, fade: tt_animation }", show: "tt_isOpen"}}
  .background{ng: {click: "tt_isOpen = false"}}
  .joyride-content-wrapper
    This is the unit price of this item. 
    %br/
    It allows you to compare the price of products across varying sizes and weights.
  %span.joyride-nub.bottom
  