.container
  .row.modal-centered
    %h2 {{t('welcome_to_ofn')}}
    %h5 {{t('signup_or_login')}}:
  %div{"ng-controller" => "AuthenticationCtrl"}
    %tabset
      %ng-include{src: "'signup.html'"}
      %ng-include{src: "'login.html'"}
      %ng-include{src: "'forgot.html'"}
    %div{ ng: { show: "active('/signup')"} }
      %hr
      {{t('have_an_account')}}
      %a{ href: "", ng: { click: "select('/login')"}}
        {{t('action_login')}}

%a.close-reveal-modal{"ng-click" => "$close()"}
  %i.ofn-i_009-close
