.variants.row
  .small-3.medium-4.large-6.columns.variant-name
    .inline{"ng-if" => "::variant.display_name"} {{ ::variant.display_name }}
    .variant-unit {{ ::variant.unit_to_display }}
    .inline{"ng-if" => "::variant.product.group_buy"}
      %i.ofn-i_056-bulk><
      %em><
        \ {{::'bulk' | t}}
  .small-4.medium-3.large-2.columns.variant-price
    %price-breakdown{"price-breakdown" => "_", variant: "variant",
      "price-breakdown-append-to-body" => "true",
      "price-breakdown-placement" => "left",
      "price-breakdown-animation" => true}
    {{ variant.price_with_fees | localizeCurrency }}
  .medium-2.large-1.columns.total-price
    %span{"ng-class" => "{filled: variant.line_item.total_price}"}
      {{ variant.line_item.total_price | localizeCurrency }}

  %ng-include{src: "'partials/shop_variant_no_group_buy.html'"}
  %ng-include{src: "'partials/shop_variant_with_group_buy.html'"}
