%tab#sign-up-content{ heading: "{{'label_signup' | t}}", active: 'tabs.signup.active', select: "select(path)"}
  %form{ ng: { controller: "SignupCtrl", submit: "submit()" } }
    .row
      .large-12.columns
        %label{for: "email"} {{'signup_email' | t}}
        %input.title.input-text{name: "email",
          type: "email",
          id: "email",
          tabindex: 1,
          "ng-model" => "spree_user.email"}
        %span.error{"ng-show" => "errors.email != null"}
          {{ errors.email.join(' ') }}
    .row
      .large-12.columns
        %label{for: "password"} {{'choose_password' | t}}
        %input.title.input-text{name: "password",
          type: "password",
          id: "password",
          autocomplete: "off",
          tabindex: 2,
          "ng-model" => "spree_user.password"}
        %span.error{"ng-show" => "errors.password != null"}
          {{ errors.password.join(' ') }}
    .row
      .large-12.columns
        %label{for: "password_confirmation"} {{'confirm_password' | t}}
        %input.title.input-text{name: "password_confirmation",
          type: "password",
          id: "password_confirmation",
          autocomplete: "off",
          tabindex: 2,
          "ng-model" => "spree_user.password_confirmation"}
    .row
      .large-12.columns
        %input.button.primary{name: "commit",
          tabindex: "3",
          type: "submit",
          value: "{{'action_signup' | t}}"}
