-# In order for the single-line-selector scope to have access to the available selectors,
%filter-selector{"selector-set" => "selectors", objects: "objects()", "active-selectors" => "activeSelectors", "all-selectors" => "allSelectors" }

%ul{ ng: { if: "overFlowSelectors().length > 0 || fitting" } }
  %li.more
    %a.dropdown{ data: { dropdown: "{{ 'show-more-' + selectorName }}" }, ng: { class: "{active: selectedOverFlowSelectors().length > 0}" } }
      %span
        = t('js.more_items', count: "{{ overFlowSelectors().length }}")
      %i.ofn-i_052-point-down
    .f-dropdown.text-right.content{ ng: { attr: { id: "{{ 'show-more-' + selectorName }}" } } }
      %ul
        %active-selector{ ng: { repeat: "selector in overFlowSelectors()", hide: "selector.fits" } }
          %render-svg{path: "{{selector.object.icon}}", ng: { if: "selector.object.icon"}}
          %span {{ selector.object.name }}
