%tr
  %td.products_column.title
    - if @image
      .image
        = image_tag @image.url(:mini)
    = @name
  - if @columns.include?("unit")
    %td.products_column.unit
      = @unit
  - if @columns.include?("price")
    %td.products_column.price
      = @price
