%tr
  %td.products_column.title
    - if @image
      .image
        = image_tag @image.url(:mini)
    = @name
  - @columns.each do |column|
    %td.products_column{class: column[:id]}
      = column[:value]
