---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=2026&card[cvc]=314
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 640650dc-3fdc-484c-8459-50faf9a296c0
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 640650dc-3fdc-484c-8459-50faf9a296c0
      Original-Request:
      - req_6qG82krfFjB9nE
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SHyc9KuuB1fWySneyk2iBYg",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2026,
            "fingerprint": "IKC2ubfpSLuZKsVs",
            "funding": "credit",
            "generated_from": null,
            "last4": "0002",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1760411369,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 14 Oct 2025 03:09:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Apple+Customer&email=applecustomer%40example.com
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 81e0daf2-18e1-48be-b681-5d6d79e50df6
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 81e0daf2-18e1-48be-b681-5d6d79e50df6
      Original-Request:
      - req_dmh1n5ArheCf7F
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TERVuihSRtrmQ8",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1760411369,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "applecustomer@example.com",
          "invoice_prefix": "WERLS9RB",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Apple Customer",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 14 Oct 2025 03:09:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_1SHyc9KuuB1fWySneyk2iBYg&payment_method_types[0]=card&capture_method=manual&customer=cus_TERVuihSRtrmQ8&setup_future_usage=off_session
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 58b028cc-bca1-445d-b66a-f74643b67407
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 58b028cc-bca1-445d-b66a-f74643b67407
      Original-Request:
      - req_vYO5q2XAjcYIpe
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SHyc9KuuB1fWySn16ITZLDH",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "<HIDDEN-CLIENT-SECRET>",
          "confirmation_method": "automatic",
          "created": 1760411369,
          "currency": "eur",
          "customer": "cus_TERVuihSRtrmQ8",
          "description": null,
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1SHyc9KuuB1fWySneyk2iBYg",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 14 Oct 2025 03:09:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3SHyc9KuuB1fWySn16ITZLDH/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - a3defbcf-8a57-4788-9135-239284a4b8f8
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a3defbcf-8a57-4788-9135-239284a4b8f8
      Original-Request:
      - req_xYGHRblNG3Pmks
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "advice_code": "try_again_later",
            "charge": "ch_3SHyc9KuuB1fWySn1gzZtFVH",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "network_decline_code": "01",
            "payment_intent": {
              "id": "pi_3SHyc9KuuB1fWySn16ITZLDH",
              "object": "payment_intent",
              "amount": 100,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "c[...]
