---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Apple+Customer&email=applecustomer%40example.com
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 9dcfeae8-d161-4559-b661-d71da0be62a3
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9dcfeae8-d161-4559-b661-d71da0be62a3
      Original-Request:
      - req_P8YGRLs0SK7xE9
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_VDILnQFuPYjDpC",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1788746048,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "applecustomer@example.com",
          "invoice_prefix": "HVITY6TL",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Apple Customer",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 07 Sep 2026 01:55:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_card_chargeDeclinedProcessingError&payment_method_types[0]=card&capture_method=manual&customer=cus_VDILnQFuPYjDpC&setup_future_usage=off_session
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 5695e4f3-7240-4af6-bd0a-f741235d2234
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5695e4f3-7240-4af6-bd0a-f741235d2234
      Original-Request:
      - req_Q25xofxqs8kpWO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3UCrl7KuuB1fWySn2k9p9Hpi",
          "object": "payment_intent",
          "allowed_payment_method_types": null,
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "<HIDDEN-CLIENT-SECRET>",
          "confirmation_method": "automatic",
          "created": 1788746049,
          "currency": "eur",
          "customer": "cus_VDILnQFuPYjDpC",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1UCrl6KuuB1fWySn5JleKx4l",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "payment_record": null,
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 07 Sep 2026 01:55:12 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3UCrl7KuuB1fWySn2k9p9Hpi/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - ecb57e45-dc12-4544-b2c5-04d1389c0a7b
      Stripe-Version:
      - 2026-08-26.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ecb57e45-dc12-4544-b2c5-04d1389c0a7b
      Original-Request:
      - req_NQOsAmicfc5nJL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-08-26.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "advice_code": "try_again_later",
            "charge": "ch_3UCrl7KuuB1fWySn2ErnPxNF",
            "code": "processing_error",
            "decline_code": "processing_error",
            "doc_url": "https://stripe.com/docs/error-codes/processing-error",
            "message": "An error occurred while processing your card. Try again in a little bit.",
            "network_decline_code": "06",
            "payment_intent": {
              "id": "pi_3UCrl7KuuB1fWySn2k9p9Hpi",
              "object": "payment_intent",
              "allowed_payment_method_types": null,
              "amount": 100,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
       [...]
