---
http_interactions:
- request:
    method: post
    uri: https://connect.stripe.com/oauth/deauthorize
    body:
      encoding: UTF-8
      string: stripe_user_id=<HIDDEN-STRIPE_ACCOUNT>&client_id=bogus_client_id
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Stripe-Kill-Route:
      - "[]"
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Wc:
      - ABCDEFGHIJ
      Stripe-Action-Id:
      - syd1DkFb6T06r6fIjvOLioi
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "invalid_client",
          "error_description": "No such application: 'bogus_client_id'"
        }
  recorded_at: Tue, 14 Oct 2025 01:57:09 GMT
recorded_with: VCR 6.2.0
