---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Apple+Customer&email=applecustomer%40example.com
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - d86e4768-396f-43cd-9f53-ca26b7cbd9b4
      Stripe-Version:
      - 2026-05-27.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d86e4768-396f-43cd-9f53-ca26b7cbd9b4
      Original-Request:
      - req_xFsZr5NtB2X0nv
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-05-27.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Ue4AbR0A3bqwYk",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1780620878,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "applecustomer@example.com",
          "invoice_prefix": "ACSM5BQD",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Apple Customer",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Fri, 05 Jun 2026 00:55:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_card_visa_chargeDeclined&payment_method_types[0]=card&capture_method=manual&customer=cus_Ue4AbR0A3bqwYk&setup_future_usage=off_session
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 819e65ee-aa0b-4710-9ebb-eaf38e728585
      Stripe-Version:
      - 2026-05-27.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 819e65ee-aa0b-4710-9ebb-eaf38e728585
      Original-Request:
      - req_FIc0vI9EwFZdXI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-05-27.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3Tem1yKuuB1fWySn2CEpkoyj",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "<HIDDEN-CLIENT-SECRET>",
          "confirmation_method": "automatic",
          "created": 1780620878,
          "currency": "eur",
          "customer": "cus_Ue4AbR0A3bqwYk",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1Tem1yKuuB1fWySnWByv7pOS",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": "off_session",
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Fri, 05 Jun 2026 00:55:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3Tem1yKuuB1fWySn2CEpkoyj/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - ae851fe2-2787-4b4c-be46-08abd74108a1
      Stripe-Version:
      - 2026-05-27.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ae851fe2-2787-4b4c-be46-08abd74108a1
      Original-Request:
      - req_60f3Ar6P043vnf
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-05-27.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "advice_code": "try_again_later",
            "charge": "ch_3Tem1yKuuB1fWySn2aL6dsMo",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "network_decline_code": "01",
            "payment_intent": {
              "id": "pi_3Tem1yKuuB1fWySn2CEpkoyj",
              "object": "payment_intent",
              "amount": 100,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "manual",
              "client_secret": "<HIDDEN-CLIENT-SECRET>",
              "confirmation_method": "automatic",
              "created": 1780620878,
              "currency": "eur",
              "customer": "cus_Ue4AbR0A3bqwYk",
              "customer_account": null,
              "description": null,
              "excluded_payment_method_types": null,
              "last_payment_error": {
                "advice_code": "try_again_later",
                "charge": "ch_3Tem1yKuuB1fWySn2aL6dsMo",
                "code": "card_declined",
                "decline_code": "generic_decline",
                "doc_url": "https://stripe.com/docs/error-codes/card-declined",
                "message": "Your card was declined.",
                "network_decline_code": "01",
                "payment_method": {
                  "id": "pm_1Tem1yKuuB1fWySnWByv7pOS",
                  "object": "payment_method",
                  "allow_redisplay": "unspecified",
                  "billing_details": {
                    "address": {
                      "city": null,
                      "country": null,
                      "line1": null,
                      "line2": null,
                      "postal_code": null,
                      "state": null
                    },
                    "email": null,
                    "name": null,
                    "phone": null,
                    "tax_id": null
                  },
                  "card": {
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": "pass"
                    },
                    "country": "US",
                    "display_brand": "visa",
                    "exp_month": 6,
                    "exp_year": 2027,
                    "fingerprint": "IKC2ubfpSLuZKsVs",
                    "funding": "credit",
                    "generated_from": null,
                    "last4": "0002",
                    "networks": {
                      "available": [
                        "visa"
                      ],
                      "preferred": null
                    },
                    "regulated_status": "unregulated",
                    "three_d_secure_usage": {
                      "supported": true
                    },
                    "wallet": null
                  },
                  "created": 1780620878,
                  "customer": null,
                  "customer_account": null,
                  "livemode": false,
                  "metadata": {},
                  "shared_payment_granted_token": null,
                  "type": "card"
                },
                "type": "card_error"
              },
              "latest_charge": "ch_3Tem1yKuuB1fWySn2aL6dsMo",
              "livemode": false,
              "managed_payments": {
                "enabled": false
              },
              "metadata": {},
              "next_action": null,
              "on_behalf_of": null,
              "payment_method": null,
              "payment_method_configuration_details": null,
              "payment_method_options":[...]
