.row
  .two.columns.alpha
    Hub
  .four.columns
    %select.select2.fullwidth#hub_id{ 'ng-model' => 'hub_id', name: 'hub_id', 'ng-options' => 'hub.id as hub.name for hub in Enterprises.my_enterprises' }
  .ten.columns.omega
    %input{ type: 'button', value: 'Go', 'ng-click' => 'selectHub()' }
