---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2024&card[cvc]=314
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fa85648c-254d-4bb1-aef1-675ede847193
      Original-Request:
      - req_kGMKWF3QnaSZ2J
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_1OtJPmKuuB1fWySn86nyAha9",
          "object": "token",
          "card": {
            "id": "card_1OtJPmKuuB1fWySnMwt9bUev",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 9,
            "exp_year": 2024,
            "fingerprint": "6E6tgVjx6U65iHFV",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "networks": {
              "preferred": null
            },
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": "124.188.129.192",
          "created": 1710204118,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 12 Mar 2024 00:41:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=evan%40farrell.com&source=tok_1OtJPmKuuB1fWySn86nyAha9
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a40c2507-9c3a-400e-ac2e-18728ecefa67
      Original-Request:
      - req_TbrtE7Sb3xxEgI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_PikvyOJAAyJOVc",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1710204119,
          "currency": null,
          "default_source": "card_1OtJPmKuuB1fWySnMwt9bUev",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "evan@farrell.com",
          "invoice_prefix": "D8AE504D",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 12 Mar 2024 00:41:59 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_PikvyOJAAyJOVc/sources?limit=1&object=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "card_1OtJPmKuuB1fWySnMwt9bUev",
              "object": "card",
              "address_city": null,
              "address_country": null,
              "address_line1": null,
              "address_line1_check": null,
              "address_line2": null,
              "address_state": null,
              "address_zip": null,
              "address_zip_check": null,
              "brand": "Visa",
              "country": "US",
              "customer": "cus_PikvyOJAAyJOVc",
              "cvc_check": "pass",
              "dynamic_last4": null,
              "exp_month": 9,
              "exp_year": 2024,
              "fingerprint": "6E6tgVjx6U65iHFV",
              "funding": "credit",
              "last4": "4242",
              "metadata": {},
              "name": null,
              "tokenization_method": null,
              "wallet": null
            }
          ],
          "has_more": false,
          "url": "/v1/customers/cus_PikvyOJAAyJOVc/sources"
        }
  recorded_at: Tue, 12 Mar 2024 00:42:00 GMT
recorded_with: VCR 6.2.0
