.side_menu{ ng: { controller: 'sideMenuCtrl' } }
  .menu_item{ ng: { repeat: '(index,item) in menu.items',
    show: "item.visible",
    click: 'select(index)',
    class: '{ selected: item.selected}',
    'class-odd' => "'odd'",
    'class-even' => "'even'" } }
    {{ item.name }}