.side_menu{ ng: { controller: 'sideMenuCtrl' } }
  %a.menu_item{ href: "", id: "{{ item.name.toLowerCase().replace(' ', '_') }}",
    ng: { repeat: '(index,item) in menu.items | filter:{visible:true}',
    click: 'select(index)',
    show: 'showItem(item)',
    class: '{ selected: item.selected}',
    'class-odd' => "'odd'",
    'class-even' => "'even'" } }
    %i{ class: "{{item.icon_class}}" }
    %span {{ item.name }}
