%fieldset
  %accordion-group{heading: "User"}
    .row
      %section#checkout_login
        .large-6.columns
          = render partial: "shop/checkout/login"
      %section#checkout_signup
        .large-6.columns
          = render partial: "shop/checkout/signup"
