- unless spree_current_user
  .row
    %section#checkout_login
      .large-4.columns
        = render partial: "shop/checkout/login"
    %section#checkout_signup
      .large-4.columns
        = render partial: "shop/checkout/signup"
    .large-2.columns
      Cart bitches!


.row
  = render partial: "shop/checkout/form"
