- unless spree_current_user
  %section#checkout_login
    = render partial: "shop/checkout/login"
  %section#checkout_signup
    = render partial: "shop/checkout/signup"


= render partial: "shop/checkout/form"

