---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2026&card[cvc]=314
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4f18dfab-4ac1-49a2-a38c-23dafa326a37
      Original-Request:
      - req_cV0dcnBfCpKsx0
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_1SHyITKuuB1fWySnTT1yxCK9",
          "object": "token",
          "card": {
            "id": "card_1SHyITKuuB1fWySnoBWasr7k",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "email": null,
            "exp_month": 9,
            "exp_year": 2026,
            "fingerprint": "6E6tgVjx6U65iHFV",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "networks": {
              "preferred": null
            },
            "phone": null,
            "regulated_status": "unregulated",
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": "121.200.4.224",
          "created": 1760410149,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 14 Oct 2025 02:49:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=cami.cronin%40franeckirunolfsdottir.biz&source=tok_1SHyITKuuB1fWySnTT1yxCK9
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - bb2e0c08-5c2d-4e51-9d4d-1bb04fdd2f6c
      Original-Request:
      - req_FieUN1giBMLf1c
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TERA77NSOqMkws",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1760410150,
          "currency": null,
          "default_source": "card_1SHyITKuuB1fWySnoBWasr7k",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "cami.cronin@franeckirunolfsdottir.biz",
          "invoice_prefix": "NLVCWE7R",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 14 Oct 2025 02:49:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_TERA77NSOqMkws/sources?limit=1&object=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "card_1SHyITKuuB1fWySnoBWasr7k",
              "object": "card",
              "address_city": null,
              "address_country": null,
              "address_line1": null,
              "address_line1_check": null,
              "address_line2": null,
              "address_state": null,
              "address_zip": null,
              "address_zip_check": null,
              "allow_redisplay": "unspecified",
              "brand": "Visa",
              "country": "US",
              "customer": "cus_TERA77NSOqMkws",
              "cvc_check": "pass",
              "dynamic_last4": null,
              "email": null,
              "exp_month": 9,
              "exp_year": 2026,
              "fingerprint": "6E6tgVjx6U65iHFV",
              "funding": "credit",
              "last4": "4242",
              "metadata": {},
              "name": null,
              "phone": null,
              "regulated_status": "unregulated",
              "tokenization_method": null,
              "wallet": null
            }
          ],
          "has_more": false,
          "url": "/v1/customers/cus_TERA77NSOqMkws/sources"
        }
  recorded_at: Tue, 14 Oct 2025 02:49:11 GMT
recorded_with: VCR 6.2.0
