---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2026&card[cvc]=314
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 3a86dee7-81ca-433d-8a5a-2579bef7f6ab
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3a86dee7-81ca-433d-8a5a-2579bef7f6ab
      Original-Request:
      - req_eaOnAoJjunxl40
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_1SHyYgKuuB1fWySndxuZemYf",
          "object": "token",
          "card": {
            "id": "card_1SHyYgKuuB1fWySnU7wvIdbg",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "email": null,
            "exp_month": 9,
            "exp_year": 2026,
            "fingerprint": "6E6tgVjx6U65iHFV",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "networks": {
              "preferred": null
            },
            "phone": null,
            "regulated_status": "unregulated",
            "tokenization_method": null,
            "wallet": null
          },
          "client_ip": "121.200.4.224",
          "created": 1760411154,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 14 Oct 2025 03:05:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=suzanne%40ritchiekautzer.info&source=tok_1SHyYgKuuB1fWySndxuZemYf
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - f68b68ed-9987-49f9-b616-2ed84e41d97b
      Stripe-Version:
      - 2025-02-24.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f68b68ed-9987-49f9-b616-2ed84e41d97b
      Original-Request:
      - req_uP3pKsJEYwyaZJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TERRPIBNJmV7wR",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1760411154,
          "currency": null,
          "default_source": "card_1SHyYgKuuB1fWySnU7wvIdbg",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "suzanne@ritchiekautzer.info",
          "invoice_prefix": "N8REKHQK",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 14 Oct 2025 03:05:55 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_TERRPIBNJmV7wR/sources?limit=1&object=card
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Stripe-Version:
      - 2025-02-24.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-02-24.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "card_1SHyYgKuuB1fWySnU7wvIdbg",
              "object": "card",
              "address_city": null,
              "address_country": null,
              "address_line1": null,
              "address_line1_check": null,
              "address_line2": null,
              "address_state": null,
              "address_zip": null,
              "address_zip_check": null,
              "allow_redisplay": "unspecified",
              "brand": "Visa",
              "country": "US",
              "customer": "cus_TERRPIBNJmV7wR",
              "cvc_check": "pass",
              "dynamic_last4": null,
              "email": null,
              "exp_month": 9,
              "exp_year": 2026,
              "fingerprint": "6E6tgVjx6U65iHFV",
              "funding": "credit",
              "last4": "4242",
              "metadata": {},
              "name": null,
              "phone": null,
              "regulated_status": "unregulated",
              "tokenization_method": null,
              "wallet": null
            }
          ],
          "has_more": false,
          "url": "/v1/customers/cus_TERRPIBNJmV7wR/sources"
        }
  recorded_at: Tue, 14 Oct 2025 03:05:55 GMT
recorded_with: VCR 6.2.0
