---
http_interactions:
- request:
    method: post
    uri: https://connect.stripe.com/oauth/deauthorize
    body:
      encoding: UTF-8
      string: stripe_user_id=<HIDDEN_ACCOUNT>&client_id=bogus_client_id
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Stripe-Kill-Route:
      - "[]"
      Stripe-Parent-Id:
      - '0000000000000000'
      Stripe-Span-Id:
      - 75bfa488ecc49d96
      Www-Authenticate:
      - Bearer realm="Stripe"
      X-Apiori-Intentional-Latency:
      - 0s
      X-Apiori-Reqid:
      - syd1DJ3kxEdygkWCDwGpyFC
      X-Apiori-Server-Duration-Ms:
      - '118'
      X-Apiori-Upstream-Duration:
      - 117.944244ms
      X-Apiori-Upstream-Name:
      - manage-srv
      X-Apiori-Upstream-Region:
      - northwest
    body:
      encoding: UTF-8
      string: |-
        {
          "error": "invalid_client",
          "error_description": "No such application: 'bogus_client_id'"
        }
  recorded_at: Wed, 03 Jan 2024 00:24:12 GMT
recorded_with: VCR 6.2.0
