= render 'admin/reports/date_range_form', f: f

.row
  .alpha.two.columns= label_tag nil, t(:report_distributor)
  .omega.fourteen.columns
    = f.collection_select(:distributor_id_eq, @data.distributors, :id, :name, {:include_blank => t(:report_all)}, {:class => "select2 fullwidth light"})
