---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=aud&payment_method=pm_card_mastercard&payment_method_types[0]=card&capture_method=automatic&confirm=true
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1OhZ9lQQeZbvfZRJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9f9ede9d-96ac-4441-b545-e1eb438336d2
      Original-Request:
      - req_lB6oA68zTMJrpJ
      Stripe-Account:
      - acct_1OhZ9lQQeZbvfZRJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3Oj8N5QQeZbvfZRJ0DWbfoMx",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": "<HIDDEN-STRIPE_CLIENT_ID>",
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3Oj8N5QQeZbvfZRJ0DWbfoMx_secret_nvjdOSvBf3LuhqkJsaRlmiouk",
          "confirmation_method": "automatic",
          "created": 1707778387,
          "currency": "aud",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3Oj8N5QQeZbvfZRJ0jNdFIT8",
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1Oj8N5QQeZbvfZRJQ6Qh4CtB",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 12 Feb 2024 22:53:09 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_card_mastercard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1Oj8N8KuuB1fWySnY2lqbAGk",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "mastercard",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 2,
            "exp_year": 2025,
            "fingerprint": "BL35fEFVcTTS5wpE",
            "funding": "credit",
            "generated_from": null,
            "last4": "4444",
            "networks": {
              "available": [
                "mastercard"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1707778390,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 12 Feb 2024 22:53:11 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3Oj8N5QQeZbvfZRJ0DWbfoMx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN-STRIPE_INSTANCE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
      Stripe-Account:
      - acct_1OhZ9lQQeZbvfZRJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - a[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3Oj8N5QQeZbvfZRJ0DWbfoMx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2tfdGVzdF94RmdKUU9sWHBNQUZzb3p0endGQlRGaFAwMEhHN0J1Q0ptOg==
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1OhZ9lQQeZbvfZRJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1OhZ9lQQeZbvfZRJ
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3Oj8N5QQeZbvfZRJ0DWbfoMx",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": "<HIDDEN-STRIPE_CLIENT_ID>",
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [
              {
                "id": "ch_3Oj8N5QQeZbvfZRJ0jNdFIT8",
                "object": "charge",
                "amount": 1000,
                "amount_captured": 1000,
                "amount_refunded": 0,
                "application": "<HIDDEN-STRIPE_CLIENT_ID>",
                "application_fee": null,
                "application_fee_amount": null,
                "balance_transaction": "txn_3Oj8N5QQeZbvfZRJ0VVf4rtO",
                "billing_details": {
                  "address": {
                    "city": null,
                    "country": null,
                    "line1": null,
                    "line2": null,
                    "postal_code": null,
                    "state": null
                  },
                  "email": null,
                  "name": null,
                  "phone": null
                },
                "calculated_statement_descriptor": "OFNOFNOFN",
                "captured": true,
                "created": 1707778388,
                "currency": "aud",
                "customer": null,
                "description": null,
                "destination": null,
                "dispute": null,
                "disputed": false,
                "failure_balance_transaction": null,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {},
                "invoice": null,
                "livemode": false,
                "metadata": {},
                "on_behalf_of": null,
                "order": null,
                "outcome": {
                  "network_status": "approved_by_network",
                  "reason": null,
                  "risk_level": "normal",
                  "risk_score": 0,
                  "seller_message": "Payment complete.",
                  "type": "authorized"
                },
                "paid": true,
                "payment_intent": "pi_3Oj8N5QQeZbvfZRJ0DWbfoMx",
                "payment_method": "pm_1Oj8N5QQeZbvfZRJQ6Qh4CtB",
                "payment_method_details": {
                  "card": {
                    "amount_authorized": 1000,
                    "brand": "mastercard",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": "pass"
                    },
                    "country": "US",
                    "exp_month": 2,
                    "exp_year": 2025,
                    "extended_authorization": {
                      "status": "disabled"
                    },
                    "fingerprint": "BL35fEFVcTTS5wpE",
                    "funding": "credit",
                    "incremental_authorization": {
                      "status": "unavailable"
                    },
                    "installments": null,
                    "last4": "4444",
                    "mandate": null,
                    "multicapture": {
                      "status": "unavailable"
                    },
                    "network": "mastercard",
                    "network_token": {
                      "used": false
                    },
                    "overcapture": {
                      "maximum_amount_capturable": 1000,
                      "status": "unavailable"
                    },
                    "three_d_secure": null,
                    "wallet": null
                  },
                  "type": "card"
                },
                "radar_options": {},
                "receipt_email": null,
                "receipt_number": null,
                "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xT2haOWxRUWVaYnZmWlJKKNjCqq4GMgZz3nu_-qs6LBbP4HIvOO9vohwzYRZA73lI9cjv8LnAaahU-8StFSQ0AW4v1eUKfrTSCc8c",
                "refunded": false,
                "refunds": {
                  "object": "list",
                  "data": [],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/charges/ch_3Oj8N5QQeZbvfZRJ0jNdFIT8/refunds"
                },
                "review": null,
                "shipping": null,
                "source": null,
                "source_transfer": null,
                "statement_descriptor": null,
                "statement_descriptor_suffix": null,
                "status": "succeeded",
                "transfer_data": null,
                "transfer_group": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges?payment_intent=pi_3Oj8N5QQeZbvfZRJ0DWbfoMx"
          },
          "client_secret": "pi_3Oj8N5QQeZbvfZRJ0DWbfoMx_secret_nvjdOSvBf3LuhqkJsaRlmiouk",
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_3Oj8N5QQeZbvfZRJ0jNdFIT8/refunds
    body:
      encoding: UTF-8
      string: amount=1000&expand[0]=charge
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic c2tfdGVzdF94RmdKUU9sWHBNQUZzb3p0endGQlRGaFAwMEhHN0J1Q0ptOg==
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - acct_1OhZ9lQQeZbvfZRJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cf4f970c-f6b3-4e76-b233-4eab0e385c71
      Original-Request:
      - req_38Iu12IYZJwYz3
      Stripe-Account:
      - acct_1OhZ9lQQeZbvfZRJ
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3Oj8N5QQeZbvfZRJ0x3xrJep",
          "object": "refund",
          "amount": 1000,
          "balance_transaction": "txn_3Oj8N5QQeZbvfZRJ0446g84e",
          "charge": {
            "id": "ch_3Oj8N5QQeZbvfZRJ0jNdFIT8",
            "object": "charge",
            "amount": 1000,
            "amount_captured": 1000,
            "amount_refunded": 1000,
            "application": "<HIDDEN-STRIPE_CLIENT_ID>",
            "application_fee": null,
            "application_fee_amount": null,
            "balance_transaction": "txn_3Oj8N5QQeZbvfZRJ0VVf4rtO",
            "billing_details": {
              "address": {
                "city": null,
                "cou[...]
