%li#home-link{'data-hook' => ''}
  = link_to t(:home), root_path

- if @cms_site
  - @cms_site.pages.root.children.published.each do |page|
    %li= link_to page.label, page.full_path

%li#link-to-cart{'data-hook' => ''}
  = link_to_cart

- if current_distributor
  %li#current-distributor{'data-hook' => ''}
    You are shopping at
    = link_to current_distributor.name, root_path
