%li#home-link{'data-hook' => ''}
  = link_to t(:home), root_path

%li#link-to-cart{'data-hook' => ''}
  = link_to_cart

- if current_distributor
  %li#current-distributor{'data-hook' => ''}
    = "You are shopping at #{current_distributor.name}"
