%hr.divider.sixteen.columns.alpha.omega{ ng: { show: 'shop_id && subscriptions.length > 0' } }
.controls.sixteen.columns.alpha.omega{ ng: { show: 'shop_id && subscriptions.length > 0' } }
  .twelve.columns.alpha
    &nbsp;
  .four.columns.omega
    %columns-dropdown{ action: "#{controller_name}_#{action_name}" }
