.row.filters
  .sixteen.columns.alpha.omega
    .filter_select.five.columns.alpha
      %label{ :for => 'query', ng: {class: '{disabled: !shop_id}'} }=t('admin.quick_search')
      %br
      %input.fullwidth{ :type => "text", :id => 'query', ng: { model: 'query', disabled: '!shop_id'}, :placeholder => "Search by email..." }
    .filter_select.four.columns
      %label{ :for => 'shop_id', ng: { bind: "shop_id ? '#{t('admin.shop')}' : '#{t('admin.variant_overrides.index.select_a_shop')}'" } }
      %br
      %input.ofn-select2.fullwidth#shop_id{ 'ng-model' => 'shop_id', name: 'shop_id', data: 'shops' }
    .seven.columns.omega &nbsp;
