- content_for :page_title do
  =t('.title')

-# - content_for :page_actions do
-#   %li= button_link_to "Back to subscriptions list", main_app.admin_subscriptions_path, icon: 'icon-arrow-left'

%div{ ng: { app: 'admin.subscriptions', controller: 'SubscriptionController', cloak: true } }
  = render 'data'
  = render 'order_update_issues_dialog'
  = render 'form'
