- if flash[:error]
  = turbo_stream.append "flashes" do
    = render(partial: 'admin/shared/flashes', locals: { flashes: flash })
- else
  = turbo_stream.append "default-tag-rule" do
    = render TagRuleFormComponent.new(rule: @default_rule, rule_data: rule_data(@default_rule), index: @index)
