
= render :partial => 'spree/shared/error_messages', :locals => { :target => @supplier }
= form_for [:admin, @supplier] do |f|
  = render :partial => 'form', :locals => { :f => f }
  = render :partial => 'spree/admin/shared/edit_resource_links'
