---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242424242424242&card[exp_month]=8&card[exp_year]=2026&card[cvc]=314
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2f0f3cd6-209c-4558-b849-19af8cf1a226
      Original-Request:
      - req_RkUwid5tDZcNtK
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1SHxPWKuuB1fWySnKz0VUK4B",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 8,
            "exp_year": 2026,
            "fingerprint": "6E6tgVjx6U65iHFV",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1760406742,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 14 Oct 2025 01:52:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Apple+Customer&email=applecustomer%40example.com
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fa6e7cd8-e924-4de6-8752-22810a9e551d
      Original-Request:
      - req_PHCSz5M1HI09T3
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TEQG1hf04RsiCK",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1760406743,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "applecustomer@example.com",
          "invoice_prefix": "BV16GKM4",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Apple Customer",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 14 Oct 2025 01:52:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1SHxPWKuuB1fWySnKz0VUK4B/attach
    body:
      encoding: UTF-8
      string: customer=cus_TEQG1hf04RsiCK
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_TEQG1hf04RsiCK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TEQG1hf04RsiCK",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1760406743,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "applecustomer@example.com",
          "invoice_prefix": "BV16GKM4",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Apple Customer",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 14 Oct 2025 01:52:24 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/customers/cus_TEQG1hf04RsiCK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TEQG1hf04RsiCK",
          "object": "customer",
          "deleted": true
        }
  recorded_at: Tue, 14 Oct 2025 01:52:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=standard&country=AU&email=apple.producer%40example.com
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3fc5f888-fa8e-490f-9dc1-97fb29bb71ca
      Original-Request:
      - req_DYb8C2wufqdWek
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1SHxPZQPh5rDimTv",
          "object": "account",
          "business_profile": {
            "annual_revenue": null,
            "estimated_worker_count": null,
            "mcc": null,
            "minority_owned_business_designation": null,
            "name": null,
            "product_description": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": null
          },
          "business_type": null,
          "capabilities": {},
          "charges_enabled": false,
          "controller": {
            "fees": {
              "payer": "account"
            },
            "is_controller": true,
            "losses": {
              "payments": "stripe"
            },
            "requirement_collection": "stripe",
            "stripe_dashboard": {
              "type": "full"
            },
            "type": "application"
          },
          "country": "AU",
          "created": 1760406746,
          "default_currency": "aud",
          "details_submitted": false,
          "email": "apple.producer@example.com",
          "external_accounts": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1SHxPZQPh5rDimTv/external_accounts"
          },
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "metadata": {},
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [],
            "eventually_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "past_due": [
              "business_profile.product_description",
              "business_profile.support_phone",
              "business_profile.url",
              "external_account",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {
              "display_name": null,
              "service_user_number": null
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": null,
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": null,
              "timezone": "Etc/UTC"
            },
            "invoices": {
              "default_account_tax_ids": null,
              "hosted_payment_method_save": "offer"
            },
            "payments": {
              "statement_descriptor": null,
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 2,
                "interval": "daily"
              },
              "statement_descriptor": null
            },
            "sepa_debit_payments": {}
          },
          "tos_acceptance": {
            "date": null,
            "ip": null,
            "user_agent": null
          },
          "type": "standard"
        }
  recorded_at: Tue, 14 Oct 2025 01:52:27 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/accounts/acct_1SHxPZQPh5rDimTv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-06-20'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1SHxPZQPh5rDimTv
      Stripe-Version:
      - '2024-06-20'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1SHxPZQPh5rDimTv",
          "object": "account",
          "deleted": true
        }
  recorded_at: Tue, 14 Oct 2025 01:52:30 GMT
recorded_with: VCR 6.2.0
