= turbo_frame_tag "shop-products" do
  .products-container
    - @products.each do |product|
      .product-item
        - image = product.image&.url(:small) || Spree::Image.default_image_url(:small)
        %p
          = image_tag(image)
          = product.name
