#active-table-search.row
  .small-12.columns
    %input{inputmode: "search",
    type: "search",
    "ng-model" => "query",
    placeholder: t(:search_by_name),
    "ng-debounce" => "500",
    "ofn-disable-enter" => true}
