#active-table-search.row
  .small-12.columns
    %input{type: "search",
    "ng-model" => "query",
    placeholder: t('search_by_name'),
    inputmode: "search",
    "ng-debounce" => "500",
    "ofn-disable-enter" => true}
