#active-table-search.row
  .small-12.columns
    %input{type: :text,
    "ng-model" => "query",
    placeholder: "Search by name or suburb...",
    "ng-debounce" => "150",
    "ofn-disable-enter" => true}
