.row.filter-box.animate-show{"ng-show" => "filtersActive && totalActive() > 0"}
  .small-12.columns
    %a.button.secondary.small.expand{"ng-click" => "clearAll()"} 
      %i.ofn-i_009-close
      Clear all filters
