.row.filter-box.clear-filters.animate-show{"ng-show" => "filtersActive && filterSelectors.totalActive() > 0"}
  .small-12.columns
    %a.button.secondary.small.expand{"ng-click" => "filterSelectors.clearAll()"}
      %i.ofn-i_009-close
      = t :components_filters_clearfilters
