.row
  .small-12.medium-6.columns
    %a.button.success.tiny.filterbtn{"ng-click" => "filtersActive = !filtersActive",
    "ng-show" => "FilterSelectorsService.selectors.length > 0"}
      {{ filterText(filtersActive) }}
      %i.ofn-i_005-caret-down{"ng-show" => "!filtersActive"}
      %i.ofn-i_006-caret-up{"ng-show" => "filtersActive"}

    %a.button.secondary.tiny.filterbtn.disabled{"ng-show" => "FilterSelectorsService.selectors.length == 0"}
      No filters
  .small-12.medium-6.columns.text-right
    .profile-checkbox
    
    / Hide until we're ready to work on this:

    /   %input{type: "checkbox", name: "profile"}><
    /   %label Show profiles
    / %button.button.secondary.tiny.help-btn.ng-scope{:popover => "Profiles do not have a shopfront on the Open Food Network,  but they may have their own physical or online shop elsewhere", "popover-placement" => "left"}><
    /   %i.ofn-i_013-help
