.small-12.medium-6.columns.text-right
  .profile-checkbox
    %button.button.secondary.tiny.right.help-btn.ng-scope{:popover => t(:components_profiles_popover, sitename: Spree::Config[:site_name]), "popover-placement" => "left"}><
      %i.ofn-i_013-help
    %label
      %input{"ng-model" => "show_profiles", type: "checkbox", name: "profile"}
      = t :components_profiles_show
