.small-12.medium-6.columns.text-right
  .profile-checkbox
    %button.button.secondary.tiny.help-btn.ng-scope{:popover => "Profiles do not have a shopfront on the Open Food Network, but may have their own physical or online shop elsewhere", "popover-placement" => "left"}><
      %i.ofn-i_013-help
    %label
      %input{"ng-model" => "show_profiles", type: "checkbox", name: "profile"}
      Show profiles
