- content_for :sidebar do
  %div{'data-hook' => "homepage_sidebar_navigation"}
    = render 'spree/sidebar'


%h1 Suppliers

= cms_page_content(:content, Cms::Page.find_by_full_path('/suppliers'))

%ul.suppliers
  - @suppliers.each do |supplier|
    %li= link_to supplier.name, supplier
