---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=6205500000000000004&card[exp_month]=12&card[exp_year]=2024&card[cvc]=314
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - '08a2b487-4548-44e6-a162-957e6a867957'
      Original-Request:
      - req_oeD0kQklE96e0a
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1OJj2wKuuB1fWySnW5e0E3Pm",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "unionpay",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "exp_month": 12,
            "exp_year": 2024,
            "fingerprint": "F9o1vzLUnyEJBPXi",
            "funding": "debit",
            "generated_from": null,
            "last4": "0004",
            "networks": {
              "available": [
                "unionpay"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1701722838,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Mon, 04 Dec 2023 20:47:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_1OJj2wKuuB1fWySnW5e0E3Pm&payment_method_types[0]=card&capture_method=manual
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7015bf78-4049-4048-bef7-aa4d1d1301ae
      Original-Request:
      - req_iYmEFfw4ajYKgU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3OJj2xKuuB1fWySn2nhpzbdQ",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "pi_3OJj2xKuuB1fWySn2nhpzbdQ_secret_HUnUvPOu030pxIzeGPTZpl1EQ",
          "confirmation_method": "automatic",
          "created": 1701722839,
          "currency": "eur",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1OJj2wKuuB1fWySnW5e0E3Pm",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 04 Dec 2023 20:47:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3OJj2xKuuB1fWySn2nhpzbdQ/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c79031cb-7c54-401c-[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3OJj2xKuuB1fWySn2nhpzbdQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <HIDDEN_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
    body:
      [...]
