---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=eur&payment_method=pm_card_visa_chargeDeclinedVelocityLimitExceeded&payment_method_types[0]=card&capture_method=manual
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - 902af35e-d67e-451c-8a49-2e06beab6216
      Stripe-Version:
      - 2026-05-27.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 902af35e-d67e-451c-8a49-2e06beab6216
      Original-Request:
      - req_slDWdK8xqU5pHK
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-05-27.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3Tem0xKuuB1fWySn01Uxz6DG",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "<HIDDEN-CLIENT-SECRET>",
          "confirmation_method": "automatic",
          "created": 1780620815,
          "currency": "eur",
          "customer": null,
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1Tem0xKuuB1fWySnslNXNkop",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Fri, 05 Jun 2026 00:54:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_3Tem0xKuuB1fWySn01Uxz6DG/confirm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Idempotency-Key:
      - a1545478-acdc-4893-a24b-463ef1787e94
      Stripe-Version:
      - 2026-05-27.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a1545478-acdc-4893-a24b-463ef1787e94
      Original-Request:
      - req_qp5gYgkSjI5FH5
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-05-27.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "advice_code": "try_again_later",
            "charge": "ch_3Tem0xKuuB1fWySn05Lxjvmc",
            "code": "card_declined",
            "decline_code": "card_velocity_exceeded",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined for making repeated attempts too frequently or exceeding its amount limit.",
            "network_advice_code": "02",
            "network_decline_code": "61",
            "payment_intent": {
              "id": "pi_3Tem0xKuuB1fWySn01Uxz6DG",
              "object": "payment_intent",
              "amount": 100,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "c[...]
