%div.flex
  %div.columns.three.text-center.checkout-tab.selected
    %span
      = t("split_checkout.your_details")
  %div.columns.three.text-center.checkout-tab
    %span
      = t("split_checkout.payment_method")
  %div.columns.three.text-center.checkout-tab
    %span
      = t("split_checkout.order_summary")      
