%div.flex
  %div.columns.three.text-center.checkout-tab{"class": ("selected" if @checkout_step == "details")}
    %span
      = t("split_checkout.your_details")
  %div.columns.three.text-center.checkout-tab{"class": ("selected" if @checkout_step == "payment")}
    %span
      = t("split_checkout.payment_method")
  %div.columns.three.text-center.checkout-tab{"class": ("selected" if @checkout_step == "summary")}
    %span
      = t("split_checkout.order_summary")      
