.side_menu
  - side_menu_items(@enterprise).each do |item|
  - next unless item[:show]
    %a.menu_item{ href: item[:href] || "#", id: item[:name], data: { action: "side-menu#changeActiveTab" }, class: item[:selected] }
      %i{ class: item[:icon_class] }
      %span= t("#{item[:name] }")
