- link = pagy_anchor(pagy)

%nav{ "aria-label": t('.navigation'), "data-controller": "search" }
  %ul.pagination
    - if pagy.prev
      %li
        %a.page.prev{ data: { action: 'click->search#changePage', page: pagy.prev } }
          %i.icon-chevron-left{ data: { action: 'click->search#changePage', page: pagy.prev } }
    - else
      %li
        %a.page.disabled{disabled: "disabled"}!= pagy_t('pagy.prev')

    - pagy.series.each do |item|                      # series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36]
      - if item.is_a?(Integer)                        # page link
        %li
          %a.page{ data: { action: 'click->search#changePage', page: item } }= item

      - elsif item.is_a?(String)                      # current page
        %li
          %a.page.current.active{"aria-current": "page"}= item

      - elsif item == :gap                            # page gap
        %li
          %span.page.gap.pagination-ellipsis!= pagy_t('pagy.gap')

    - if pagy.next
      %li
        %a.page.next{ data: { action: 'click->search#changePage', page: pagy.next } }
          %i.icon-chevron-right{ data: { action: 'click->search#changePage', page: pagy.next } }
    - else
      %li
        %a.page.disabled.pagination-next{disabled: "disabled"}!= pagy_t('pagy.next')