%div{"data-controller": "tooltip"}
  %a{"data-tooltip-target": "element", href: link, class: link_class}
    = link_text 
  .tooltip-container
    .tooltip{"data-tooltip-target": "tooltip"}
      = sanitize tooltip_text
      .arrow{"data-tooltip-target": "arrow"}
