%div{"data-controller": "tooltip"}
  %a{"data-tooltip-target": "element"}
    = t('admin.whats_this')
  .tooltip-container
    .tooltip{"data-tooltip-target": "tooltip"}
      = sanitize tooltip_text
      .arrow{"data-tooltip-target": "arrow"}
