---
http_interactions:
- request:
    method: post
    uri: https://connect.stripe.com/oauth/deauthorize
    body:
      encoding: UTF-8
      string: stripe_user_id=<HIDDEN-STRIPE_ACCOUNT>&client_id=bogus_client_id
    headers:
      Authorization:
      - "<HIDDEN-AUTHORIZATION-HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Stripe-Kill-Route:
      - "[]"
      Stripe-Version:
      - '2024-04-10'
      Www-Authenticate:
      - Bearer realm="Stripe"
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client","error_description":"No such application:
        ''bogus_client_id''","stripe_user_id":null}

        '
  recorded_at: Wed, 17 Apr 2024 22:41:00 GMT
recorded_with: VCR 6.2.0
