#info-dialog {
  .message {
    .text, .icon {
      position: relative;
      float:left;
      display: inline;
    }

    .text {
      padding-top: 10px;
      width: 80%;
      font-size: 1rem;
    }

    .icon {
      width: 20%;
      font-size: 2rem;
    }
  }

  &.error {
    .message {
      .icon {
        color: #da5354;
      }
    }
  }
}
