.state {
  @extend .state;

  &.active {
    background-color: #9fc820;
    &, a { color: #ffffff; }
  }

  &.paused {
    background-color: #ff9300;
    &, a { color: #ffffff; }
  }

  &.canceled {
    background-color: #c60f13;
    &, a { color: #ffffff; }
  }

  &.ended {
    background-color: #7a7a7a;
    &, a { color: #ffffff; }
  }

  &.pending {
    background-color: #7a7a7a;
    &, a { color: #ffffff; }
  }
}
