@import '../variables';

.row-loading {
  opacity: .5;
}

.row-loading-icons {
  margin-left: 3em;
  position: absolute;

  .spinner {
    border: 0;
    width: 2.3em;
  }

  i {
    font-size: 2.3em;
    opacity: .75;

    &::before {
      vertical-align: top;
    }

    &.success {
      color: $spree-green;
    }

    &.error {
      color: $warning-red;
    }
  }
}
