- greeting_key = ".greeting"
- intro_key = ".message"

= render partial: 'shared/mailers/greeting_and_intro',
         locals: { greeting: t(greeting_key),
                   intro: t(intro_key) }

= render 'shared/mailers/signoff_instance'
