= inject_json "enterprisesForMap" , "enterprises_for_map", collection: @enterprises

.map-container{"fill-vertical" => true}
  %map{"ng-controller" => "MapCtrl"}
    %google-map{options: "map.additional_options", center: "map.center", zoom: "map.zoom", styles: "map.styles", draggable: "true"}
      %markers{models: "OfnMap.enterprises", fit: "true", 
      coords: "'self'", icon: "'icon'", click: "'reveal'"} 
