%label{:for => "card-element"}
    Credit or debit card
    / a Stripe Element will be inserted here.
    #card-element{"ng-init" => " mountElements() "}
    / Used to display Element errors
    #card-errors.error
