
.super-selector {
  position: relative;

  .selector-main {
    .super-selector-label {
      padding-left: 5px;
      padding-right: 5px;
      margin-left: 10px;
      position: absolute;
      top: -1em;
      background-color: white;
    }
  }

  .super-selector-selected-items {
    margin-left: 5px;
    margin-right: 2em;
    margin-top: 7px;
    display: flex;

    .super-selector-selected-item {
      border: 1px solid $pale-blue;
      background-color: $spree-light-blue;
      border-radius: 20px;
      height: 2em;
      padding-left: 10px;
      padding-right: 10px;
      display: inline-block;
      margin-right: 5px;
      padding-top: 2px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .selector-wrapper {
    .super-selector-search {
      border-bottom: 1px solid $light-grey;
      padding: 10px 5px;

      input {
        border: 1px solid $light-grey;
        box-sizing: border-box;
        border-radius: 4px;
        width: 100%;
      }
    }
  }
}
