@import 'darkswarm/base/colors';

.cookies-policy-modal {
  background: $cookies-policy-modal-background-color;
  border-bottom-color: $cookies-policy-modal-border-bottom-color;

  @media only screen and (max-width: 640px) {
    padding: .9rem;
  }

  table {
    width: 100%;

    tr:nth-of-type(even) {
      background-color: $cookies-policy-modal-table-tr-even-background-color;
    }

    p {
      margin-bottom: .25rem;
    }
  }

  iframe {
    border: 0;
    width: 100%;
  }

  &.fade {
    -ms-transform: translate(0, 0) !important;
    -webkit-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
  }
}
