.alert-box{ class: "#{type}" }
  = message
  - if local_assigns[:unconfirmed]
    - params = { spree_user: { email: email }, tab: local_assigns[:tab] }
    = link_to spree_user_confirmation_path(params), params:, data: { turbo_method: :post } do
      = t('devise.confirmations.resend_confirmation_email')
