.alert-box{ class: "#{type}" }
  = message
  - if local_assigns[:unconfirmed]
    %a{ "data-action": "login-modal#resend_confirmation", "data-tab": local_assigns[:tab] }
      = t('devise.confirmations.resend_confirmation_email')
