.alert-box{ class: "#{type}" }
  = message
  - if local_assigns[:unconfirmed]
    = link_to spree_user_confirmation_path(spree_user: { email: }, tab: local_assigns[:tab]), data: { turbo_method: :post } do
      = t('devise.confirmations.resend_confirmation_email')
