#become-distributor.reveal-modal
  .row
    .small-12.columns
      %h2 Become our distributor
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

  .row
    .small-12.columns
      = form_tag do
        = text_area_tag :email_body, "", :input_html => { :rows => 10 }
        = submit_tag "Submit", class: "button"

  = link_to "&#215;".html_safe, "#", class: "close-reveal-modal"