- if Rails.env.staging? or Rails.env.production?
  :javascript
    (function (d, t) {
      var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
      bh.type = 'text/javascript';
      bh.src = '//www.bugherd.com/sidebarv2.js?apikey=4ftxjbgwx7y6ssykayr04w';
      s.parentNode.insertBefore(bh, s);
    })(document, 'script');
