-# Render only the calculator settings and not the surrounding form
- enterprise_fee_set = Sets::ModelSet.new(EnterpriseFee, EnterpriseFee.where(:id => enterprise_fee.id))
- calculator_form_string = nil
- form_for enterprise_fee_set, :as => :sets_enterprise_fee_set, :url => '' do |form|
  - form.fields_for :collection do |f|
    - calculator_form_string = capture do
      - if !enterprise_fee.new_record?
        .calculator-settings
          = f.fields_for :calculator do |calculator_form|
            - preference_fields(enterprise_fee.calculator, calculator_form).each do |field|
              %span.field
                = field[:label]
              %p.field
                = field[:field]

= calculator_form_string
