= admin_inject_enterprise

= form_for @enterprise, url: main_app.set_sells_admin_enterprise_path(@enterprise),
  html: { name: "change_type", id: "change_type", novalidate: true, "ng-app" => "admin.enterprises", "ng-controller"=> 'changeTypeFormCtrl' } do |change_type_form|
  -# Have to use hidden:'true' on this input rather than type:'hidden' as the latter seems to break ngPattern and therefore validation
  %input{ hidden: "true", name: "sells", ng: { required: true, pattern: "/^(none|own)$/", model: 'sells', value: "sells"} }

  .row
    .options.sixteen.columns.alpha
      - if @enterprise.is_primary_producer
        %input{ type: 'checkbox', hidden: true, name: "producer_profile_only", ng: { required: true, model: 'producer_profile_only', value: "producer_profile_only"} }
        .basic_producer.option.one-third.column.alpha
          %a.full-width.button.selector{ ng: { click: "sells='none';producer_profile_only=true;", class: "{selected: sells=='none' && producer_profile_only==true}" } }
            .top
              %h3 Producer Profile
              %p Connect through OFN
            .bottom ALWAYS FREE
          %p.description
            You want to use Open Food Network as a place for people to find and contact you.

        .producer_shop.option.one-third.column
          %a.full-width.button.selector{ ng: { click: "sells='none';producer_profile_only=false;", class: "{selected: sells=='none' && producer_profile_only==false}" } }
            .top
              %h3 Sell products
              %p As a supplier
            .bottom ALWAYS FREE
          %p.description
            Add your products to Open Food Network, allowing customers to see your product range, and allowing you to act as a supplier to other shopfronts.

        .full_hub.option.one-third.column.omega.disabled
          %a.full-width.button.selector{ ng: { click: "sells='own';producer_profile_only=false;", class: "{selected: sells=='own' && producer_profile_only==false}" } }
            .top
              %h3 Sell products
              %p Through an OFN shopfront
            .bottom 30 DAY TRIAL
          %p.description
            Test out having your own shopfront with full access to all Shopfront features for 30 days.
            %br
            %br
            At the end of your trial, there is a one-off $200 fee to fully activate your account. Then you will be billed for 2% of your actual transactions, capped at $50 a month (so if you don’t sell anything you don’t pay anything, but you never pay more than $50 a month).

      - else
        .shop_profile.option.one-third.column.alpha
          %a.full-width.button.selector{ ng: { click: "sells='none'", class: "{selected: sells=='none'}" } }
            .top
              %h3 Shop Profile
              %p Get a listing
            .bottom ALWAYS FREE
          %p.description
            You want to use OFN as a place for people to find and contact you.
  .row
    .sixteen.columns.alpha
      %span.error{ ng: { show: "(change_type.sells.$error.required || change_type.sells.$error.pattern) && submitted" } }
        Please choose one of the options above.
      - if @enterprise.sells == 'unspecified'
        %input.button.big{ type: 'submit', value: 'Select and continue', ng: { click: "submit(change_type)" } }
      - else
        %input.button.big{ type: 'submit', value: 'Change now', ng: { click: "submit(change_type)" } }
      %br &nbsp;
      %hr
