%div.sixteen.columns.alpha.list-item.red
  %span.text.fifteen.columns.alpha
    = t "spree_admin_enterprises_none_text"
  %span.one.columns.omega
    %span.icon-remove-sign
%a.sixteen.columns.alpha.button.bottom.red{ href: "#{main_app.new_admin_enterprise_path}" }
  = t "spree_admin_enterprises_none_create_a_new_enterprise"
  %span.icon-arrow-right
