%div.sixteen.columns.alpha.tabs
  %div.dashboard_tab.eight.columns.alpha.blue{ ng: { class: "{selected: activeTab == 'hubs'}", click: "activeTab = 'hubs'" } }
    = t "spree_admin_enterprises_tabs_hubs"
