%div.sixteen.columns.alpha.list-item.red
  %span.text.fifteen.columns.alpha You don't have any enterprises yet.
  %span.one.columns.omega
    %span.icon-remove-sign
%a.sixteen.columns.alpha.button.bottom.red{ href: "#{main_app.new_admin_enterprise_path}" }
  CREATE A NEW ENTERPRISE
  %span.icon-arrow-right
