%div.sixteen.columns.alpha.tabs
  %div.dashboard_tab.eight.columns.alpha.blue{ ng: { class: "{selected: activeTab == 'hubs'}", click: "activeTab = 'hubs'" } }
    = t "spree_admin_enterprises_tabs_hubs"
  %div.dashboard_tab.eight.columns.omega.blue{ ng: { class: "{selected: activeTab == 'producers'}", click: "activeTab = 'producers'" } }
    = t "spree_admin_enterprises_tabs_producers"
