-# - if @enterprise.sells == "unconfirmed"
-#   %h1 Welcome to the Open Food Network


- if @enterprise.is_primary_producer
  // Basic Producer

  // Producer with Shopfront

  // Coming soon - Full Hub
  // Email us if you want this option

- else
  // Shop Profile

  // Coming soon - Full Hub
  // Email us if you want this option
