#welcome_page.sixteen.columns.alpha{ ng: { app: "admin.welcome", controller: 'welcomeCtrl' } }
  %header
    %h1 Welcome to the Open Food Network!
    %p
      You have successfully created a
      %strong
        = "#{"producer " if @enterprise.is_primary_producer}profile"

    %section
      %h2 Next step
      %p Choose your starting point:

  = render partial: "change_type_form"
