#welcome_page.sixteen.columns.alpha{ ng: { app: "admin.welcome", controller: 'welcomeCtrl' } }
  %header
    %h1 Welcome to the Open Food Network!
    %p
      You have successfully created a
      %strong
        = "#{"producer " if @enterprise.is_primary_producer}profile"

    %section
      %h2 Next step
      %p Choose one:

  = form_for @enterprise, url: main_app.set_sells_admin_enterprise_path(@enterprise), html: { name: "enterprise", novalidate: true } do |enterprise_form|
    -# Have to use hidden:'true' on this input rather than type:'hidden' as the latter seems to break ngPattern and therefore validation
    %input{ hidden: "true", id: "sells", name: "sells", ng: { required: true, pattern: "/^(none|own)$/", model: 'sells', value: "sells"} }
    .options.sixteen.columns.alpha
      - if @enterprise.is_primary_producer
        .basic_producer.option.one-third.column.alpha
          %a.full-width.button.selector{ ng: { click: "sells='none'", class: "{selected: sells=='none'}" } }
            .top
              %h3 Producer Profile
              %p Connect through OFN
            .bottom ALWAYS FREE
          %p.description
            You want to use Open Food Network as a place for people to find and contact you.

        .producer_shop.option.one-third.column
          %a.full-width.button.selector{ ng: { click: "sells='own'", class: "{selected: sells=='own'}" } }
            .top
              %h3 Sell products
              %p As a supplier
            .bottom ALWAYS FREE
          %p.description
            Add your products to Open Food Network, allowing customers to see your product range, and allowing you to act as a supplier to other shopfronts.

        .full_hub.option.one-third.column.omega.disabled
          %a.full-width.button.selector
            .top
              %h3 Sell products
              %p Through an OFN shopfront
            .bottom 30 DAY TRIAL
          %p.description
            Test out having your own shopfront with full access to all Shopfront features for 30 days. After your trial expires you can keep your Shopfront for a subscription cost of $50 per month.

      - else
        .shop_profile.option.one-third.column.alpha
          %a.selector{ ng: { class: "{selected: sells=='none'}" } }
            .top
              %h3 Shop Profile
              %p Get a listing
            .bottom ALWAYS FREE
          .description
            You want to use OFN as a place for people to find and contact you.

    .sixteen.columns.alpha
      %span.error{ ng: { show: "(enterprise.sells.$error.pattern || enterprise.sells.$error.pattern) && submitted" } }
        Please select an option
    %input{ type: 'submit', ng: { click: "submit(enterprise)" } }